@charset "UTF-8";
/* MINDsLab. NBR. 20200522 */

/* ------------------------------ common ------------------------------ */
.fl {
    float: left;
}

.fr {
    float: right;
}

/* lyr_info -> mrs CSS 추가함 */
.lyr_info {
    display: none;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1000;
}

.lyr_info .lyr_plan_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #101113;
    opacity: 0.4;
    z-index: -10;
}

.lyr_info .lyrWrap {
    position: relative;
    width: 660px;
    border-radius: 5px;
    margin: 250px auto 0;
    background: #fff;
    border: 1px solid #c2d3e7;
    -webkit-animation: lyr_popshow 0.3s 0s ease-out;
    animation: lyr_popshow 0.3s 0s ease-out;
}

.lyr_info .lyrWrap .btn_lyrWrap_close {
    overflow: hidden;
    position: absolute;
    top: 25px;
    right: 15px;
    width: 22px;
    height: 22px;
    margin: -11px 0 0 0;
    line-height: 100px;
    border: none;
    background: none;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.lyr_info .lyrWrap .btn_lyrWrap_close:hover,
.lyrWrap .btn_lyrWrap_close:focus {
    opacity: 1;
    transition: all 0.3s ease-out;
}

.lyr_info .lyrWrap .btn_lyrWrap_close:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 50%;
    width: 22px;
    height: 2px;
    margin: -1px 0 0 -11px;
    background: #6e7275;
    transform: rotate(45deg);
}

.lyr_info .lyrWrap .btn_lyrWrap_close:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 50%;
    width: 22px;
    height: 2px;
    margin: -1px 0 0 -11px;
    background: #6e7275;
    transform: rotate(-45deg);
}

.inquiry_box {
    width: 570px;
    padding: 45px;
    margin: auto;
}

/* keyframes */
.pageldg_hide {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: pageldg_hide;
    animation-name: pageldg_hide;
}

/* ------------------------------ layout ------------------------------ */
#wrap {
    width: 100%;
    min-width: 1800px;
    height: 100%;
}

.header_box {
    width: 1720px;
    height: 100%;
    margin: 0 auto;
}

.cont_box {
    position: relative;
    width: 1220px;
    height: 100%;
    margin: 0 auto;
}

/* ------------------------------ header ------------------------------ */
#header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 104px;
    background: #fff;
    z-index: 100;

    border-bottom: solid 1px #cfd5eb;
}

#header h1 {
    width: 154px;
    padding: 19px 0 0;
}

#header h1 a {
    display: inline-block;
}

#header .gnb {
    padding: 30px 0 0;
    line-height: 35px;
    display: flex;
    align-content: center;
}

#header .gnb li {
    float: left;
    padding: 0 24px;
    height: 50px;
    line-height: 50px;
}

#header .gnb li.brd_btn {
    padding: 0;
}

#header .gnb li.brd_btn a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0px 24px;
    box-sizing: border-box;
    border: 3px solid #f5f5f5;
    border-radius: 7px;
    display: flex;
    align-items: center;
}

#header .gnb a {
    color: #000;
    font-size: 22px;
}

/*20200702 MRS 추가*/
#header .gnb .user_info {
    padding: 0;
}

#header .gnb .user_info .userBox {
}

#header .gnb .user_info .userBox > ul {
    float: left;
    border-radius: 7px;
    border: 1px solid transparent;
    box-sizing: border-box;
    letter-spacing: -0.31px;
}

#header .gnb .user_info .userBox > ul li {
    padding: 0;
}

#header .gnb .user_info .userBox > ul p.ico_user {
    position: relative;
    padding: 0 15px;
    height: 44px;
    border: 2px solid #000;
    border-radius: 7px;
    line-height: 44px;
    font-size: 17px;
    cursor: pointer;
}

#header .gnb .user_info .userBox > ul p.ico_user em.fa-user {
    float: left;
    height: 44px;
    line-height: 44px;
    margin: 0 5px 0 0;
    color: #000;
}

#header .gnb .user_info .userBox > ul p.ico_user em.fa-angle-up, .user_info .userBox ul p.ico_user em.fa-angle-down {
    float: right;
    height: 44px;
    color: #000;
    line-height: 44px;
    margin: 0 0 0 8px;
}

#header .gnb .user_info .userBox > ul p.ico_user em.fa-angle-up {
    display: none;
}

#header .gnb .user_info .userBox > ul p.ico_user span {
    display: inline-block;
    color: #000;
    max-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
}

#header .gnb .user_info .userBox > ul p:hover {
    background: rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease-out;
}

#header .gnb .user_info .userBox > ul ul.lst {
    display: none;
    width: 100%;
    background: #fff;
    height: auto;
    box-sizing: border-box;
    border-radius: 0 0 7px 7px;
    padding: 4px 0 8px;
    border: 2px solid #000;
    border-top: 1px dotted #000;
}

#header .gnb .user_info .userBox > ul ul.lst li {
    display: block;
    padding: 0;
    width: 100%;
    height: 32px;
    float: unset;
    line-height: 32px;
}

#header .gnb .user_info .userBox > ul ul.lst li a {
    display: block;
    position: relative;
    text-align: center;
    color: #1f2e3b;
    letter-spacing: -0.31px;
    font-size: 14px;
}

#header .gnb .user_info .userBox > ul ul.lst li a:hover, .user_info .userBox ul ul.lst li a:focus {
    color: #14b6cb;
    transition: all 0.3s ease-out;
}

#header .gnb .user_info .userBox > ul.active {
}

#header .gnb .user_info .userBox > ul.active li {
    padding: 0;
}

#header .gnb .user_info .userBox > ul.active p.ico_user {
    background-color: #fff;
    color: #1f2e3b;
    border-radius: 7px 7px 0 0;
    border: 2px solid #000;
    border-bottom: none;
}

#header .gnb .user_info .userBox > ul.active p.ico_user span {
    color: #1f2e3b;
}

#header .gnb .user_info .userBox > ul.active p.ico_user em, .user_info .userBox ul.active p.ico_user span {
    color: #1f2e3b;
}

#header .gnb .user_info .userBox > ul.active p.ico_user em.fa-angle-down {
    display: none;
}

#header .gnb .user_info .userBox > ul.active p.ico_user em.fa-angle-up {
    display: inline-block;
}

#header .gnb .user_info .userBox > ul.active p.ico_user ul.lst {
    display: block;
    clear: both;
    overflow: hidden;
    margin: 35px 0 0 0;
    border-radius: 0 0 3px 3px;
    background: #fff;
    border-top: dotted 1px #cfd5eb;
}

#header .gnb .user_info .userBox > ul.active p.ico_user ul.lst > li {
    display: block;
    padding: 0;
}

#header .lang {
    vertical-align: bottom;
}

#header .lang_box {
    height: 49px;
}

#header .lang_box span {
    display: block;
    height: 14px;
    line-height: 14px;
    padding: 6px 0;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.2px;
    color: #000;
    opacity: 0.9;
}

#header .lang_box span a {
    opacity: 0.4;
    color: #000;
    font-weight: 400;
    font-size: 16px;
}


/* ------------------------------ contents ------------------------------ */
#contents {
    width: 100%;
    background: #f5f5f5;
    padding: 0px;
}

/* Pricing(리뉴얼) MINDsLab. UX/UI 2020.04.22 mrs */
.pricingWrap {
    height: 100%;
}

.priceBox {
    height: calc(100% - 342px);
    box-sizing: border-box;
    padding: 62px 0 152px;
    text-align: center;
}

.priceBox h1 {
    margin: 0 0 7px 0;
    font-size: 50px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: -0.78px;
    text-align: center;
    color: #003261;
}

.priceBox span {
    display: block;
    margin: 0 0 30px 0;
    font-size: 22px;
    font-weight: normal;
    line-height: 31px;
    letter-spacing: 1.4px;
    text-align: center;
    color: #5e5e5e;
}

.priceBox span em {
    color: #124472;
    font-weight: 700;
}

.priceBox .price_stn {
    position: relative;
    display: inline-block;
    margin: 0 auto;
}

.priceBox .price_stn .cardBox {
    overflow: hidden;
    float: left;
    height: 596px;
    border-radius: 7px;
    border: solid 1px #cfd5eb;
    background-color: #ffffff;
}

.priceBox .price_stn .cardBox.business {
    width: 457px;
    margin: 0 15px 0 0;
}

.priceBox .price_stn .cardBox h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 55px;
    text-align: center;
    color: #fff;
    background: #14b6cb;
}

.priceBox .price_stn .cardBox .inner_area {
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
}

.priceBox .price_stn .cardBox .inner_area p {
    height: 62px;
    font-size: 28px;
    font-weight: bold;
    line-height: 62px;
    letter-spacing: -0.69px;
    color: #14b6cb;
    border-bottom: 1px solid #b5b5b5;
    box-sizing: border-box;
}

.priceBox .price_stn .cardBox .inner_area p small {
    font-size: 24px;
    font-weight: normal;
    letter-spacing: -0.47px;
}

.priceBox .price_stn .cardBox .inner_area p strong {
    display: inline-block;
    vertical-align: middle;
    width: 117px;
    height: 24px;
    border-radius: 12px;
    background-color: #14b6cb;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.38px;
    text-align: center;
    color: #ffffff;
}

.priceBox .price_stn .cardBox .inner_area p strong em {
    font-size: 10px;
}

.priceBox .price_stn .cardBox .inner_area div {
    text-align: center;
    padding: 16px 0;
    border-bottom: 1px solid #b5b5b5;
}

.priceBox .price_stn .cardBox .inner_area div span {
    display: inline-block;
    height: 50px;
    margin: 0 56px 0 0;
    font-size: 16px;
    font-weight: normal;
    line-height: 25px;
    letter-spacing: -0.44px;
    color: #000;
    text-align: left;
}

.priceBox .price_stn .cardBox .inner_area div span:last-child {
    margin: 0;
}

.priceBox .price_stn .cardBox .inner_area ul {
    padding: 15px 0 16px 45px;
    text-align: left;
}

.priceBox .price_stn .cardBox .inner_area ul li {
    font-size: 16px;
    font-weight: normal;
    line-height: 2.14;
    letter-spacing: -0.44px;
    color: #000;
}

.priceBox .price_stn .cardBox .inner_area ul li em {
    margin: 0 13px 0 0;
    color: #14b6cb;
}

.priceBox .price_stn .cardBox .inner_area ul li small {
    display: block;
    padding: 0 0 7px 28px;
    font-size: 16px;
    letter-spacing: -0.41px;
    line-height: 15px;
}

.priceBox .price_stn .cardBox .inner_area button {
    width: 153px;
    margin: 17px 8px 16px 0;
    height: 30px;
    border-radius: 3px;
    border: solid 1px #14b6cb;
    font-size: 13px;
    font-weight: normal;
    line-height: 30px;
    letter-spacing: -0.41px;
    color: #14b6cb;
}

.priceBox .price_stn .cardBox .inner_area button.minutes {
    width: 165px;
    margin: 0 0 25px 0;
}

.priceBox .price_stn .cardBox .inner_area a {
    clear: both;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: solid 1px #14b6cb;
    background-color: #14b6cb;
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -0.56px;
    text-align: center;
    color: #ffffff;
}

.priceBox .price_stn .cardBox.enterprise {
    width: 742px;
}

.priceBox .price_stn .cardBox.enterprise h4 {
    background: #2575f9;
}

.priceBox .price_stn .cardBox.enterprise .inner_area p {
    color: #2575f9;
    font-weight: 500;
}

.priceBox .price_stn .cardBox.enterprise .inner_area div span {
    line-height: 50px;
}

.priceBox .price_stn .cardBox.enterprise .inner_area ul {
    display: inline-block;
    padding: 15px 0 79px 10px;
    vertical-align: top;
}

.priceBox .price_stn .cardBox.enterprise .inner_area ul.list {
    padding: 15px 0 0 37px;
}

.priceBox .price_stn .cardBox.enterprise .inner_area ul li em {
    color: #2575f9;
}

.priceBox .price_stn .cardBox.enterprise .inner_area a {
    background: #2575f9;
    border: solid 1px #2575f9;
}

/*!* 팝업 API *!*/
/*.price_detail {display: none; overflow:hidden; position:fixed; bottom:0; left:0; width:100%; height:100%; text-align:center; z-index:1000;}*/
/*.price_detail .lyr_bg {display: none; position:absolute; top:0; left:0; width:100%; height:100%; background:#101113; opacity:0.4; z-index:-10;}*/
/*.price_detail .lyrBox {position: absolute; top: 50%; left: 50%; width: 630px;height: 606px; letter-spacing: -0.5px;font-weight: 500;border-radius: 7px;box-shadow: 0 2px 20px 0 rgba(0, 43, 73, 0.2);border: solid 1px #b5b5b5;background-color: #ffffff;-webkit-animation:lyr_show 0.3s 0s ease-out; animation:lyr_show 0.3s 0s ease-out; transform: translate(-50%, -50%);}*/
/*.price_detail .lyrBox .lyr_top {position:relative; display:block; text-align: center;}*/
/*.price_detail .lyrBox .lyr_top h3 {font-size: 20px;font-weight: 500;line-height: 42px;letter-spacing: -0.47px;color: #151515;border-bottom: solid 1px #cfd5eb;}*/
/*.price_detail .lyrBox .lyr_top em {position:absolute;top:12px;right:15px; color: #b5b5b5; font-size: 18px;cursor: pointer;}*/
/*.price_detail .lyrBox .lyr_mid {height: 563px; padding: 15px; box-sizing: border-box;}*/
/*.price_detail .lyrBox .lyr_mid .tbl_view {width:100%;}*/
/*.price_detail .lyrBox .lyr_mid .tbl_view tr {border-bottom: solid 1px #b5b5b5;}*/
/*.price_detail .lyrBox .lyr_mid .tbl_view thead tr {border-bottom: 2px solid #b5b5b5;}*/
/*.price_detail .lyrBox .lyr_mid .tbl_view th {text-align: left;font-size:16px;padding: 11px 16px;box-sizing: border-box;height: 30px;font-weight: 500; letter-spacing: -0.41px;color: #000;}*/
/*.price_detail .lyrBox .lyr_mid .tbl_view td {height:41px;padding: 0 16px;box-sizing: border-box;font-size: 16px;text-align: left;font-weight: 500; letter-spacing: -0.41px;color: #6a6a6a;}*/
/*.price_detail .lyrBox .lyr_mid .tbl_view tbody tr {border-bottom: solid 1px #b5b5b5;}*/
/*.price_detail .lyrBox .lyr_mid .tbl_view tbody tr .col_1 {width:140px; padding: 0}*/
/*.price_detail .lyrBox .lyr_mid .tbl_view tbody tr .col_2 {width:266px;}*/
/*.price_detail .lyrBox .lyr_mid .tbl_view tbody td span {font-size: 10px;}*/

/* 팝업 API*/
.price_detail {
    display: none;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1000;
}

.price_detail .lyr_bg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #101113;
    opacity: 0.4;
    z-index: -10;
}

.price_detail .lyrBox {
    width: 584px;
    height: 539px;
    margin: 200px auto 0;
    letter-spacing: -0.5px;
    font-weight: 500;
    border-radius: 5px;
    box-shadow: 0 2px 20px 0 rgba(0, 43, 73, 0.2);
    border: solid 1px #cfd5eb;
    background-color: #ffffff;
    -webkit-animation: lyr_show 0.3s 0s ease-out;
    animation: lyr_show 0.3s 0s ease-out;
}

.price_detail .lyrBox .lyr_top {
    position: relative;
    display: block;
    text-align: center;
}

.price_detail .lyrBox .lyr_top h3 {
    font-size: 15px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: -0.47px;
    color: #002b49;
    border-bottom: solid 1px #cfd5eb;
}

.price_detail .lyrBox .lyr_top em {
    position: absolute;
    top: 12px;
    right: 15px;
    color: #97a2bc;
    font-size: 15px;
    cursor: pointer;
}

.price_detail .lyrBox .lyr_mid {
    height: 476px;
    overflow: auto;
    padding: 0 10px 0 13px;
    box-sizing: border-box;
    margin: 10px 7px;
}

.price_detail .lyrBox .lyr_mid .tbl_view {
    width: 100%;
}

.price_detail .lyrBox .lyr_mid .tbl_view tr {
    border-bottom: solid 1px #cfd5eb;
}

.price_detail .lyrBox .lyr_mid .tbl_view th {
    text-align: left;
    font-size: 13px;
    padding: 0 16px;
    box-sizing: border-box;
    height: 30px;
    font-weight: 500;
    letter-spacing: -0.41px;
    color: #002b49;
}

.price_detail .lyrBox .lyr_mid .tbl_view td {
    height: 22px;
    padding: 0 16px;
    box-sizing: border-box;
    font-size: 13px;
    text-align: left;
    font-weight: 400;
    letter-spacing: -0.41px;
    color: rgba(0, 43, 73, 0.7);
}

.price_detail .lyrBox .lyr_mid .tbl_view tbody th {
    font-size: 14px;
    padding: 0 0 0 10px;
}

.price_detail .lyrBox .lyr_mid .tbl_view tbody tr {
    border-bottom: dotted 1px #cfd5eb;
}

.price_detail .lyrBox .lyr_mid .tbl_view tbody tr .col_1 {
    width: 160px;
}

.price_detail .lyrBox .lyr_mid .tbl_view tbody tr .col_2 {
    width: 110px;
}

.price_detail .lyrBox .lyr_mid .tbl_view .cat-column {
    width: 106px;
    padding: 0 0 0 10px;
}


/* ------------------------------ footer ------------------------------ */
#footer {
    width: 100%;
    background: #fff;
    color: #001c2e;
    font-size: 14px;
    height: 0;
}

#footer a {
    color: #041c2f;
    font-size: 14px;
}

#footer .btm_menu {
    width: 100%;
    height: 198px;
}

#footer .cont_box {
    position: relative;
    width: 1220px;
    height: 100%;
    margin: 0 auto;
}

#footer .btm_menu .cont_box > a {
    display: inline-block;
    float: left;
    width: 154px;
    margin: 60px 95px 0 136px;
    color: #001c2e;
}

#footer .btm_menu img {
    width: 100%;
}

#footer .btm_menu .menu_area {
    display: inline-block;
    width: 824px;
    margin: 60px 0 0;
    border-radius: 4px;
    clear: both;
}

#footer .btm_menu .menu_area > div {
    float: left;
    padding: 0 40px 0 70px;
    text-align: left;
}

#footer .btm_menu .menu_area p {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.4px;
}

#footer .btm_menu .menu_area .contact {
    border-left: 1px dotted rgba(207, 213, 235, 0.7);
}

#footer .btm_menu .menu_area .contact > a {
    display: inline-block;
    margin: 13px 0;
}

#footer .btm_menu .menu_area .contact > a:nth-child(2) {
    margin-right: 10px;
}

#footer .btm_menu .menu_area .contact > a span {
    margin: 0 4px 0 0;
}

#footer .btm_menu .menu_area .contact .info_box a {
    position: relative;
    color: #61747c;
    font-size: 13px;
    opacity: 0.7;
}

#footer .btm_menu .menu_area .contact .info_box a:hover {
    text-decoration: underline;
}

#footer .btm_menu .menu_area .contact .info_box a + a {
    margin: 0 0 0 27px;
}

#footer .btm_menu .menu_area .service {
    padding: 0 0 0 80px;
    font-size: 13px;
    letter-spacing: -0.4px;
}

#footer .btm_menu .menu_area .service > div {
    clear: both;
}

#footer .btm_menu .menu_area .service > div + div {
    margin: 10px 0 0 0;
}

#footer .btm_menu .menu_area .service p {
    float: left;
    position: relative;
    width: 63px;
    font-size: 12px;
    font-weight: 700;
}

#footer .btm_menu .menu_area .service p:after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    right: -14px;
    width: 1px;
    height: 12px;
    background: #61747c;
}

#footer .btm_menu .menu_area .service a {
    margin: 0 0 0 32px;
    font-size: 13px;
}

#footer .btm_menu .menu_area .service a:hover {
    text-decoration: underline;
}

#footer .btm_menu .menu_area .contact .info_box a + a:before {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: -14px;
    width: 1px;
    height: 13px;
    background: #001c2e;
    opacity: 0.7;
}

#footer .copyright {
    width: 100%;
    height: 40px;
    background-color: #f2f3f6;
    text-align: center;
}

#footer .copyright span {
    position: relative;
    padding: 0 2px;
    font-size: 12px;
    line-height: 40px;
    letter-spacing: -0.4px;
    color: #001c2e;
    opacity: 0.8;
}

.fa, .fas {
    margin-right: 10px;
}

/* ------------------------------ mobile ------------------------------ */
.aside {
    display: block;
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 3px 0 7px #000;
}

.aside .aside_top {
    display: block;
    height: 145px;
    box-sizing: border-box;
    padding: 0px 44px 0;
    background: #fff;
}

.aside .aside_top h1 {
    padding: 14px 0 0;
}

.aside .aside_mid .m_nav li:nth-child(1) > h2 {
    margin: 0 0 10px;
    font-size: 20px;
    font-weight: 500;
}

/*.aside .aside_mid .m_nav li:last-child h2 a {
    padding: 8px 30px;
    border: 4px;
    border: 2px solid #000;
    border-radius: 7px;
}*/

.aside .aside_top h1 {
    display: block;
    width: 100px;
    text-align: center;
}

.aside .aside_top h1 img {
    height: 100%;
}

.aside .aside_top a.btn_sign {
    display: block;
    width: 100%;
    margin: 20px auto;
    box-sizing: border-box;
    height: 42px;
    border: 1px solid #002b49;
    border-radius: 3px;
    text-align: center;
    line-height: 42px;
    font-size: 20px;
    color: #002b49;
}

.aside .aside_mid {
    display: block;
    padding: 30px 44px;
    height: calc(100% - 265px);
    overflow: auto;
}

.aside .aside_mid .m_nav {
    clear: both;
    overflow: hidden;
    text-align: center;
}

.aside .aside_mid .m_nav li {
    clear: both;
}

.aside .aside_mid .m_nav > li {
    margin: 0 0 30px;
    color: #000;
}

.aside .aside_mid .m_nav a {
    display: inline-block;;
    font-size: 20px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.35px;
    text-align: center;
    color: #002b49;
}

.aside .aside_mid .m_nav li ul.m_lst {
    display: none;
    border: solid 1px #000000;
    padding: 20px 0;
    background: #fff;
}

.aside .aside_mid .m_nav li ul.m_lst li {
    display: block;
    text-align: center;
}

.aside .aside_mid .m_nav li ul.m_lst li h3 {
    clear: both;
    overflow: hidden;
}

.aside .aside_mid .m_nav li ul.m_lst li h3 a {
    display: block;
    height: 40px;
    padding: 0 18px;
    font-size: 17px;
    font-weight: normal;
    background-color: #fff;
    line-height: 40px;
    letter-spacing: -0.3px;
    text-align: center;
    color: #000;
}

.aside .aside_mid .m_nav li ul.m_lst li h3 a.depth3 {
    background: #eef1fa url(../images/ico_plus.png) right 18px center no-repeat;
    background-size: 10px;
}

.aside .aside_mid .m_nav li ul.m_lst li h3 a.depth3.active {
    background: url(../images/ico_minus.png) right 18px center no-repeat;
    background-color: #fff;
    background-size: 10px;
}

.aside .aside_mid .m_nav li ul.m_lst li h3 a span {
    display: inline-block;
    padding: 0 0 0 30px;
    background-size: 20px !important;
}

.aside .aside_mid .m_nav li ul.m_lst li ul.m_lst_sub {
    display: none;
    padding: 5px 18px;
    background: #f8f9fe;
}

.aside .aside_mid .m_nav li ul.m_lst li ul.m_lst_sub li {
    display: block;
}

.aside .aside_mid .m_nav li ul.m_lst li ul.m_lst_sub li a {
    display: block;
    min-height: 30px;
    color: #161d2f;
    font-size: 13px;
    line-height: 18px;
}

.aside .aside_mid .m_nav li ul.m_lst li ul.m_lst_sub li a b {
    font-weight: normal;
    margin: 0 5px 0 0;
}

.aside .aside_mid .m_nav li ul.m_lst li ul.m_lst_sub li a.active {
    color: #3375fa;
}

.aside .aside_mid .m_nav li ul.m_lst li ul.m_lst_sub li a em.new {
    display: inline-block;
    padding: 3px 5px;
    color: #fff;
    font-size: 10px;
    line-height: 10px;
    border-radius: 3px;
    background: #23c5de;
}

.aside .aside_mid .m_nav li ul.m_lst li ul.m_lst_sub li b {
    display: block;
    min-height: 30px;
    color: #999;
    font-size: 13px;
    line-height: 22px;
    font-weight: normal;
}

.aside .aside_btm {
    display: block;
    padding: 0 0 28px 0;
    text-align: center;
}

.aside .aside_btm span {
    display: inline-block;
    height: 14px;
    line-height: 14px;
    padding: 6px 0;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.2px;
    color: #000;
    opacity: 0.9;
    margin: 0 12px;
}

.aside .aside_btm span a {
    opacity: 0.4;
    color: #000;
    font-weight: 400;
    font-size: 18px;
}

.bg_aside {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1.0);
    opacity: 1.0;
    z-index: 100;
}

/* header_햄버거버튼 */
.btn_header_ham {
    display: none;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2000;
    border: none;
    box-sizing: border-box;
    background: none;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.btn_header_ham.active {
    position: fixed;
    right: 0;
    opacity: 1.0;
}

.hamburger_icon {
    position: relative;
    top: 50%;
    left: 50%;
    margin: -1px 0 0 -13px;
    width: 33px;
    height: 3px;
    background: #000;
    border-radius: 2px;
}

.hamburger_icon, .hamburger_icon:before {
    display: block;
    width: 33px;
    height: 3px;
    border-radius: 2px;
    background-color: #000;
}

.hamburger_icon:after {
    display: block;
    top: 9px;
    right: 0;
    width: 33px;
    height: 3px;
    border-radius: 2px;
    background-color: #000;
}

.hamburger_icon:before, .hamburger_icon:after {
    position: absolute;
    content: "";
}

.hamburger_icon:before {
    top: -9px;
    background-color: #000;
}

.btn_header_ham.fixed_ham .hamburger_icon,
.btn_header_ham.fixed_ham .hamburger_icon:before,
.btn_header_ham.fixed_ham .hamburger_icon:after {
    background-color: #002b49;
}

@media all and (max-width: 1620px) {
    img {
        width: 85%;
    }

    .header_box {
        width: 100%;
    }

    #header .gnb {
        padding: 28px 60px 0 0;
    }


    #wrap {
        min-width: 1509px;
    }

    #contents {
        width: 100%;
    }

    #contents > div {
        width: 100%;
    }

    .footer_box {
        width: 1380px;
    }

    .inquiry_box {
        width: 520px;
    }
}

@media all and (max-width: 1350px){
    .btn_header_ham {
        position: fixed;
        display: block;
        height: 70px;
    }

    /* ---------- header ---------- */
    #header {
        height: 70px;
    }

    #header h1 {
        width: 100px;
        padding: 14px 0 0;
    }

    #header h1 a img {
        width: 100%;
    }


    .header_box {
        width: 100%;
        padding: 0 20px;
    }

    .btn_header_ham {
        height: 50px;
        position: fixed;
        display: block;
    }

    #header .gnb {
        display: none;
    }

    .btn_header_ham.active .hamburger_icon{
        background: #000;
    }

    .btn_header_ham.active .hamburger_icon:after{
        background: #000;
    }
}


/* Mobile Layout */
@media all and (max-width: 768px) {
    /* ---------- pricing ---------- */
    #wrap {
        min-width: 320px;
    }

    #header {
        height: 70px;
    }

    #header h1 {
        width: 100px;
        padding: 0;
        margin-top: 15px;
    }

    .header_box {
        width: 100%;
    }

    .btn_header_ham {
        margin: 12px 20px 0;
        height: 50px;
        transition: all 0.3s ease-out;
    }

    /*20200211 mrs 모바일 메뉴바 추가*/
    .btn_header_ham.active .hamburger_icon {
        background: #002b49;
        transform: rotate(45deg);
        opacity: 0.7;
        transition: all 0.3s ease-out;
    }

    .btn_header_ham.active .hamburger_icon:before {
        display: none;
    }

    .btn_header_ham.active .hamburger_icon:after {
        width: 33px;
        background: #002b49;
        transform: rotate(90deg) translate(-9px, 0px);
    }

    .aside .aside_top h1 img {
        width: 100%;
    }

    #header .gnb {
        display: none;
    }

    .cont_box {
        width: 100%;
        margin: 0;
    }

    .priceBox {
        height: auto;
        padding: 22px 0;
    }

    .priceBox h1 {
        font-size: 30px;
        line-height: 42px;
    }

    .priceBox span {
        margin: 0 0 22px;
        font-size: 16px;
        line-height: 21px;
    }

    .priceBox span em {
        display: block;
    }

    .priceBox .price_stn {
        display: block;
        overflow: hidden;
    }

    .priceBox .price_stn .cardBox.business, .priceBox .price_stn .cardBox.enterprise {
        width: 90%;
        margin: 0 auto 10px;
        float: unset;
        height: auto;
    }

    .priceBox .price_stn .cardBox .inner_area {
        padding: 0 15px 20px;
    }

    .priceBox .price_stn .cardBox .inner_area ul {
        padding: 15px 0 15px 15px;
    }

    .priceBox .price_stn .cardBox .inner_area p {
        font-size: 18px;
    }

    .priceBox .price_stn .cardBox .inner_area p small {
        font-size: 13px;
    }

    .priceBox .price_stn .cardBox .inner_area p strong {
        margin: 0 0 0 5px;
    }

    .priceBox .price_stn .cardBox .inner_area div span {
        margin: 0 50px 0 0;
    }

    .priceBox .price_stn .cardBox .inner_area ul li small {
        line-height: 18px;
    }

    .priceBox .price_stn .cardBox .inner_area button {
        width: 100%;
        margin: 0 0 10px 0;
    }

    .priceBox .price_stn .cardBox .inner_area button.minutes {
        width: 100%;
    }

    .priceBox .price_stn .cardBox.enterprise .inner_area ul {
        float: unset;
        width: 100%;
        padding: 15px 0 0 10px;
    }

    .priceBox .price_stn .cardBox.enterprise .inner_area ul.list {
        float: unset;
        width: 100%;
        padding: 0 0 30px 10px;
    }

    .lyr_info .lyrWrap{
        width: 460px;
        margin: 120px auto 0;

    }

    .inquiry_box {
        width: 370px;
    }

    .inquiry_box .ipt_box:nth-child(1-2){
        width: 100%;
        margin: 10px 0;
    }

    #footer .cont_box {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }

    #footer .btm_menu {
        height: auto;
    }

    #footer .btm_menu .cont_box > a {
        width: 120px;
        margin: 60px 15px 0 0;
    }

    #footer .btm_menu .menu_area {
        width: auto;
        margin: 30px 0 40px;
    }

    #footer .btm_menu .menu_area > div {
        padding: 0 15px;
    }

    #footer .btm_menu .menu_area .service {
        padding: 0 0 0 15px;
    }

    #footer .btm_menu .menu_area .service a {
        margin: 0 0 0 20px;
    }

    #footer .btm_menu .menu_area .service p:after {
        right: -8px;
    }

    #footer .copyright {
        height: auto;
        padding: 0 0 20px;
        background: #fff;
    }

    #footer .copyright span {
        line-height: 20px;
    }

    /* ---------- popup ---------- */
    .price_detail .lyrBox {
        position: absolute;
        margin: 100px 0 0 0;
        top: 50px;
        left: 50%;
        width: calc(100% - 40px);
        min-width: 290px;
        max-height: 400px;
        transform: translate(-50%, 0);

    }

    .price_detail .lyrBox .lyr_mid {
        overflow: auto;
        height: calc(100% - 53px);
        padding: 15px 15px 0 15px;
        box-sizing: border-box;
    }

    .price_detail .lyrBox .lyr_mid > table:nth-child(7) th {
        min-width: 142px;
    }

    /* .price_detail .lyrBox .lyr_mid .tbl_view {min-width: 480px;} */
    .price_detail .lyrBox .lyr_mid .tbl_view th {
        min-width: 90px;
        padding: 0 10px;
        font-size: 12px;
        word-break: break-word;
    }

    .price_detail .lyrBox .lyr_mid .tbl_view td {
        width: 50px;
        padding: 0;
        font-size: 12px;
        word-break: keep-all;
        min-width: 85px;
    }

    .price_detail .lyrBox .lyr_mid .tbl_view td span {
        display: block;
    }

    .price_detail .lyrBox .lyr_mid .tbl_view thead th:nth-child(2) {
        min-width: 50px;
    }

    .price_detail .lyrBox .lyr_mid .tbl_view thead th:nth-child(3) {
        width: auto;
    }

    .price_detail .lyrBox .lyr_mid .tbl_view tbody tr .col_1 {
        padding: 0 10px 0 0;
    }
}


@media all and (max-width: 602px) {
    .lyr_info .lyrWrap{
        width: 360px;
    }

    .inquiry_box {
        width: 300px;
        padding: 45px 20px 10px;
    }

    #footer .btm_menu .menu_area .service {
        margin: 20px 0 0;
        padding: 0;
    }

    #footer .btm_menu .menu_area .service a {
        margin: 0 0 0 10px;
    }

    #footer .btm_menu .menu_area .service p:after {
        right: -4px;
    }
}