@charset "UTF-8";
/* MINDsLab. NBR. 20200108 */

/* -------------------- common -------------------- */
.contents .cont_box h3,
dt {font-weight: 700; letter-spacing: -0.3px;}
dd {letter-spacing: -0.3px;}

/* -------------------- contents -------------------- */
/* stn_title */
.stn_title {height: 379px; border-top: solid 1px #d7ddf5;}
.stn_title .cont_box .txt_box {float: left; padding: 72px 0 80px 0; text-align: left;}
.stn_title .cont_box .txt_box h2 {color: #506DF5; font-size: 40px; font-weight: 400; letter-spacing: -2px; line-height: 59px;}
.stn_title .cont_box .txt_box h2.m_title {display: none;}
.stn_title .cont_box .txt_box h2 span {font-weight: 700;}
.stn_title .cont_box .txt_box h3 {margin: 0; font-size: 25px; line-height: 37px;}
.stn_title .cont_box .txt_box p {margin: 21px 0 0 0; color: #5c688c; font-size: 15px; letter-spacing: -0.3px; line-height: 22px;}
.stn_title .cont_box .txt_box .btn_inquiry {margin: 26px 0 0 0;}
.stn_title .cont_box .img_box {float: right; width: 473px;}
.stn_title .cont_box .img_box img{width: 100%;}

/* stn_service */
.stn_service {background: #ecf1fc;}
.stn_service .cont_box h3 {line-height: 33px;}
.stn_service .cont_box .cont_lst {float: left; width: 330px;}
.stn_service .cont_box .cont_lst + .cont_lst {margin: 0 0 0 20px;}
.stn_service .cont_box .cont_lst .img_box {height: 56px; margin: 0 0 21px 0;}
.stn_service .cont_box .cont_lst .img_box img {width: 59px; vertical-align: bottom;} 
.stn_service .cont_box .cont_lst:nth-child(2) img {width: 55px;}
.stn_service .cont_box .cont_lst:nth-child(3) img {width: 40px;}
.stn_service .cont_box .cont_lst dd {margin: 8px 0 50px 0;}

/* stn_process */
.stn_process .cont_box .process_lst {display: flex; flex-flow: wrap; justify-content: space-between; width: 1030px;}
.stn_process .cont_box .process_lst > li {position: relative; width: 263px; height: 105px; margin: 0 0 68px 0; border-radius: 5px; border: solid 1px #d7ddf5; background: #fff; z-index: 10;}
.stn_process .cont_box .process_lst > li:last-child:before {display: none;}
.stn_process .cont_box .process_lst > li:after {content: ''; display: block; position: absolute; top: 50%; left: 100%; width: 120px; height:2px; background:url(../../common/images/aidata/img_dott.png) 0 0 repeat-x; background-size:auto 2px; transform: translate(0, -50%); z-index: 5;}
.stn_process .cont_box .process_lst > li:nth-child(3):after {top: calc(100% + 34px); left: 98px; width: 68px; transform: rotate(90deg);}
.stn_process .cont_box .process_lst > li:last-child:after {display: none;}
.stn_process .cont_box .process_lst > li.change_lst_num > em:nth-child(2) {display: none;}
.stn_process .cont_box .process_lst > li em {position: absolute; top: -10px; left: 50%; width: 28px; height: 28px; color: #f5508b; font-size: 13px; font-weight: 500; transform: translate(-50%, 0);}
.stn_process .cont_box .process_lst > li em:before {content: ''; display: block; position: absolute; top: -5px; width: 28px; height: 28px; border-radius: 50%; border: 1px solid #f5508b; box-sizing: border-box; background: #fff; z-index: -5;}
.stn_process .cont_box .process_lst > li span.txt,
.stn_process .cont_box .process_lst > li span.txt_m {position: absolute; top: 50%; left: 50%; width: 100%; color: #404a92; font-size: 15px; font-weight: 500; letter-spacing: -0.3px; transform: translate(-50%, -50%);}
.stn_process .cont_box .process_lst > li span.txt_m {display: none;}
.stn_process .cont_box .process_lst > li span.fas {position: absolute; top: 50%; left: calc(100% + 53px); color: #f5508b; font-size: 14px; transform: translate(0, -50%);}
.stn_process .cont_box .process_lst > li:nth-child(3) span.fas {top: calc(100% + 25px); left: calc(50% - 6px); transform: rotate(90deg);}

/* stn_case */
.stn_case {height: 492px; background: #ecf1fc;}
.stn_case .cont_box .cont_lst {float: left; width: 320px; margin: 0 0 50px 0;}
.stn_case .cont_box .cont_lst + .cont_lst {margin: 0 0 50px 35px;}
.stn_case .cont_box .cont_lst .img_box {width: 100%; margin: 0 0 21px 0;}
.stn_case .cont_box .cont_lst .img_box img {width: 100%;}
.stn_case .cont_box .cont_lst:nth-child(4) dt {height: 36px;}
.stn_case .cont_box .cont_lst dd {margin: 8px 0 0 0;}

/* stn_inquiry */
.stn_inquiry .cont_box {padding: 50px 20px;}
.stn_inquiry .cont_box .info_box {float: left;}
.stn_inquiry .cont_box .info_box h3 {margin: 0 0 10px 0; line-height: 33px;}
.stn_inquiry .cont_box .info_box {text-align: left;}
.stn_inquiry .cont_box .info_box .detail {margin: 0 0 76px 0; color: #4d5699; font-size: 15px; line-height: 22px;}
.stn_inquiry .cont_box .info_box .m_detail {display: none; color: #4d5699; font-size: 15px; line-height: 22px;}
.stn_inquiry .cont_box .info_box .number {margin: 0 0 13px 0; letter-spacing: 1px;}
.stn_inquiry .cont_box .info_box .number, .stn_inquiry .cont_box .info_box .mail {color: #252f72; font-size: 15px; font-weight: 500;}
.stn_inquiry .cont_box .info_box img {width: 20px; margin: 0 15px 0 0;}

.stn_inquiry .cont_box .inquiry_box {overflow: hidden; float: right; width: 500px; }
.stn_inquiry .cont_box .inquiry_box > div {position: relative; text-align: left;}
.stn_inquiry .cont_box .inquiry_box input, 
.stn_inquiry .cont_box .inquiry_box textarea {display: block; float: left; width: 100%; height: 38px; padding: 0 10px; border-radius: 3px; border: solid 1px #cfd5eb; box-sizing: border-box; color: #252f72; background: #fff; font-size: 14px;}
.stn_inquiry .cont_box .inquiry_box label {display: block; position: absolute; left: 10px; color: #697992; font-size: 12px; opacity: 0.8;}
.stn_inquiry .cont_box .inquiry_box label span {margin: 0 5px 0 0;}
.stn_inquiry .cont_box .inquiry_box input:focus + label {visibility: hidden;}
.stn_inquiry .cont_box .inquiry_box .my_info {float: left; width: calc(50% - 4px); height: 38px; margin: 0 0 8px 0;}
.stn_inquiry .cont_box .inquiry_box .my_info label {top: 10px;}
.stn_inquiry .cont_box .inquiry_box .my_info + .my_info {margin: 0 0 8px 8px;}
.stn_inquiry .cont_box .inquiry_box .my_info:nth-child(3) {margin: 0 0 8px 0;}
.stn_inquiry .cont_box .inquiry_box .my_txt {clear: both; width: 100%; height: 98px;}
.stn_inquiry .cont_box .inquiry_box .my_txt textarea {display: block; width: 100%; height: 100%; padding: 12px 10px 10px 10px;}
.stn_inquiry .cont_box .inquiry_box .my_txt label {top: 12px;}
.stn_inquiry .cont_box .inquiry_box .my_txt textarea:focus + label {visibility: hidden;}
.stn_inquiry .cont_box .inquiry_box .btn_inquiry {margin: 15px 0 0 0;}

/* -------------------- media query -------------------- */
@media all and (max-width:768px) {
    #container{padding:70px 0 0 0;}
    .contents {min-width: 320px;}
    .contents .stn {height: auto;}
    .contents .cont_box {min-width: calc(100% - 40px); padding: 30px 20px;}
    .contents .cont_box h3 {width: 100%; margin: 0; font-size: 17px; line-height: 25px; text-align: left;}
    
    .stn_title .cont_box {padding: 0 20px 30px 20px;}
    .stn_title .cont_box .txt_box {width: 10%; padding: 149px 0 0 0;}
    .stn_title .cont_box .txt_box h2.title {display: none;}
    .stn_title .cont_box .txt_box h2.m_title {display: block; width: 200px; font-size: 28px; line-height: 35px; margin: 0 0 12px 0;}
    .stn_title .cont_box .txt_box h3 {min-width: 257px; font-size: 17px; line-height: 25px;}
    .stn_title .cont_box .txt_box p {min-width: 245px; margin: 0; font-size: 12px; line-height: 1.5;}
    .stn_title .cont_box .txt_box .btn_inquiry {margin: 12px 0 0 0;}
    .stn_title .cont_box .img_box {width: 70%; min-width: 236px; }
    
    .stn_service .cont_box h3 {margin: 0 0 25px 0;}
    .stn_service .cont_box h3 br {display: none;}
    .stn_service .cont_box .cont_lst {width: 100%;}
    .stn_service .cont_box .cont_lst + .cont_lst {margin: 0;}
    .stn_service .cont_box .cont_lst:last-child dd{margin: 8px 0 0 0;}
    .stn_service .cont_box .cont_lst dd {margin: 8px 0 30px 0;}
    
    .stn_process .cont_box {min-width: calc(100% - 46px); padding: 30px 23px;}
    .stn_process .cont_box h3 {margin: 0 0 28px 0;}
    .stn_process .cont_box .process_lst {width: calc(100% - 18px); padding: 0 9px;}
    .stn_process .cont_box .process_lst > li {width: 100%; margin: 0;}
    .stn_process .cont_box .process_lst > li + li {margin: 47px 0 0 0;}
    .stn_process .cont_box .process_lst > li:after {top: calc(100% + 34px); left: calc(50% - 33px); width: 68px; transform: rotate(90deg);}
    .stn_process .cont_box .process_lst > li:nth-child(3):after {left: calc(50% - 33px);}
    .stn_process .cont_box .process_lst > li.change_lst_num > em:nth-child(1) {display: none;}
    .stn_process .cont_box .process_lst > li.change_lst_num > em:nth-child(2) {display: block;}
    .stn_process .cont_box .process_lst > li.change_lst_num span.txt {display: none;}
    .stn_process .cont_box .process_lst > li span.txt_m {display: block;}
    .stn_process .cont_box .process_lst > li span.fas {top: calc(100% + 13px); left: calc(50% - 5px); transform: rotate(90deg);}
    .stn_process .cont_box .process_lst > li:nth-child(3) span.fas {top: calc(100% + 14px); left: calc(50% - 5px);}
    .stn_process .cont_box .process_lst > li span.fa-angle-double-left {transform: rotate(-90deg);}
    
    .stn_case .cont_box {padding: 30px 20px 32px 20px;}
    .stn_case .cont_box h3 {padding: 0 3px;}
    .stn_case .cont_box .cont_lst {float: none; width: 100%; margin: 20px 0 0 0;}
    .stn_case .cont_box .cont_lst + .cont_lst {margin: 20px 0 0 0;}
    .stn_case .cont_box .cont_lst:nth-child(4) dt {height: auto;}
    
    .stn_inquiry .cont_box {padding: 30px 20px 40px 20px;}
    .stn_inquiry .cont_box .info_box h3 {font-size: 16px;}
    .stn_inquiry .cont_box .info_box .detail {display: none;}
    .stn_inquiry .cont_box .info_box .m_detail {display: block; margin: 0 0 24px 0; letter-spacing: -0.3px;}
    .stn_inquiry .cont_box .info_box .number {margin: 0 0 7px 0;}
    .stn_inquiry .cont_box .inquiry_box {float: none; width: 100%; margin: 24px 0 0 0;}
    .stn_inquiry .cont_box .inquiry_box input,
    .stn_inquiry .cont_box .inquiry_box textarea {padding: 0 6px;box-shadow: none;}
    .stn_inquiry .cont_box .inquiry_box label {left: 6px;}
    .stn_inquiry .cont_box .inquiry_box label span {margin: 0 3px 0 0;}
    .stn_inquiry .cont_box .info_box .mail {margin: 0 0 24px 0;}
    .stn_inquiry .cont_box .inquiry_box .btn_inquiry {margin: 12px 0 0 0;}
}
