.dataAnalysis_box {padding:0 35px ;text-align: center;}
.dataAnalysis_box > p {  letter-spacing: -0.2px; color: #2c3f51;font-size:15px; font-weight:500;margin:27px 0 10px 0;}

.dataAnalysis_box .csv_box {width:100%; box-sizing: border-box;;margin:0 0 20px 0; border: solid 1px #cfd5eb; background-color: #f3f5fb;}
.dataAnalysis_box .csv_box strong{ float:left;height: 32px;line-height: 32px;margin:0 0 0 10px;letter-spacing: -0.2px; color: #2c3f51;font-size:15px;}
.dataAnalysis_box .csv_box a {float:right; padding:0 10px; height: 25px;line-height: 25px;margin:3px 10px 0 0 ; color: #5E77FF;font-size:12px;font-weight: 500;border-radius: 5px; box-shadow: 1px 1px 2px 0 rgba(110, 110, 110, 0.5); border: solid 1px #5E77FF; background-color: #ffffff;}
.dataAnalysis_box .csv_box .csv_file {height:260px; border-top: solid 1px #cfd5eb;clear: both;width: 100%;background: #fff;}
.dataAnalysis_box .csv_box .csv_file iframe {width:100%; height:100%; box-sizing: border-box; border: none;}
.dataAnalysis_box .algorithm {box-sizing: border-box;padding:21px 40px; width:100%;height: 143px;border: solid 1px #cfd5eb; background-color: #f3f5fb;}
.dataAnalysis_box .algorithm ul li { letter-spacing: -0.2px;color: #1f2e3b;font-size:14px;text-align: left;margin:0 0 20px 0;height:20px;line-height: 20px;}
.dataAnalysis_box .algorithm ul li em {font-size:15px;font-weight: bold; color: #5E77FF;margin:0 12px 0 0;}
.dataAnalysis_box .algorithm ul li span{font-weight: bold; color: #5E77FF;}
.dataAnalysis_box .btn_area button {background-color: #5E77FF;border:1px solid #5E77FF;}

.dataAnalysis_box .data_2 {display: none; }
.dataAnalysis_box .data_2 .loding_box { height: 246px;border: solid 1px #cfd5eb; background-color: #f3f5fb;}
.dataAnalysis_box .data_2 .loding_box svg {margin:100px auto 0;}
.dataAnalysis_box .data_2 .loding_box svg + p {margin:0;letter-spacing: -0.2px;font-size:14px;color: #7d7d7d;}

.dataAnalysis_box .data_3 {display: none;}
.dataAnalysis_box .data_3 .data_result {width: 100%;padding:12px 7px 7px 15px; height: 410px;border: solid 1px #cfd5eb;background-color: #f3f5fb;box-sizing: border-box;}
.dataAnalysis_box .data_3 .data_result textarea {width:100%;height:100%;overflow: auto; color: #2c3f51;font-size:14px; line-height: 1.57;border:none;background: transparent;}
.dataAnalysis_box .data_3 .data_result textarea::placeholder {color: #2c3f51;}

.analy_lst li.active button{background:#5E77FF;color:#fff; transition:all 0.3s ease-out;}
.analy_lst li.active button:hover {color:#fff;}
.analy_lst li:hover button, .analy_lst li a:hover {color:#5E77FF;}