@charset "UTF-8";
/* MINDsLab. NBR. 20200108 */

/* -------------------- common -------------------- */
/* layout */
#container {width: 100%; min-width: 300px;}
.contents {width: 100%; min-width: 1070px; background: #f7f8fc; text-align: center;}
.contents .stn {width: 100%;}
.contents .cont_box {display: inline-block; min-width: 1030px; padding: 0 20px;}

/* h3 */
.contents .cont_box h3 {margin: 50px 0 40px 0; color: #1e286d; font-size: 22px; font-weight: 500; letter-spacing: -1px;}

/* btn_inquiry */
.btn_inquiry {width: 139px; height: 40px; border-radius: 5px;border: none; background: #506DF5; color: #fff; font-size: 14px; font-weight: 500;cursor: pointer;}

/* dl */
dt {color: #404a92; font-size: 15px; font-weight: 500;}
dd {color: #5c688c; font-size: 14px; line-height: 20px; word-break: keep-all;}
