@charset "utf-8";
/* CSS Document */
#gitple-loader-frame {display: none;}
#gitple-launcher {display: none !important;}
#gitple-launcher-tooltip {display: none !important; }
/* ---------- footer ---------- */
#footer {width: 100%;height:127px;background: #f5f6fa; color: #001c2e;box-sizing:border-box;font-size: 15px;border-top: solid 1px #cfd5eb;}
#footer a {color: #001c2e; font-size: 15px;}
#footer .btm_menu {width: 100%;}
#footer .cont_box {position: relative;  height: 100%; margin: 0 auto;}
#footer .btm_menu img {width: 100%;}
#footer .btm_menu .menu_area {display: inline-block; width: 100%;margin: 20px 0 0; border-radius: 4px; text-align: center; clear: both;}
#footer .btm_menu .menu_area p {display: inline-block;margin: 0 20px 0 0;font-weight: 700; letter-spacing: -0.4px;}
#footer .btm_menu .menu_area .contact > a {display: inline-block; margin: 10px 0 10px 0;}
#footer .btm_menu .menu_area .contact > a:nth-child(2) {margin-right: 10px;}
#footer .btm_menu .menu_area .contact > a span {margin: 0 4px 0 0;}

#footer .copyright {width: 100%; height: 36px; text-align: center;}
#footer .copyright span {position: relative; padding: 0 2px; font-size: 13px; line-height:36px; letter-spacing: -0.4px;color: #001c2e;opacity: 0.8;}
#footer .copyright span:nth-child(4), #footer .copyright span:nth-child(5), #footer .copyright p a{padding: 0 0 0 16px;}
#footer .copyright span:nth-child(4):before,#footer .copyright span:nth-child(5):before, #footer .copyright p a:before {content: ''; display: block; position: absolute; top: 4px; left: 6px; width: 1px; height: 13px; background: #001c2e; opacity: 0.8;}
#footer .copyright p {display: inline;}
#footer .copyright p a {position:relative; font-size: 13px; line-height:36px; letter-spacing: -0.4px;color: #001c2e;opacity: 0.8;}
/* Mobile Layout */
@media screen and (max-width:768px) {
    #footer {background: #fff;}
    #footer .cont_box {width:100%; padding: 0 10px;box-sizing: border-box;}
    #footer .btm_menu {height:auto;}
    #footer .btm_menu .cont_box > a {display: none;}
    #footer .btm_menu .menu_area {width:100%;margin: 10px 0 0;}
    #footer .btm_menu .menu_area > div {float:unset;}
    #footer .btm_menu .menu_area .contact {padding:0;border-left:none;font-size:1rem;}
    #footer .btm_menu .menu_area .contact > a {font-size:1rem;}
    #footer .copyright {height:auto;}
    #footer .copyright span {font-size:10px;line-height: 23px;}
    #footer .copyright p {display: block;}
    #footer .copyright p a{font-size:10px;}

}

