.faceR_box .demo_layout {margin: 7px auto 50px;}
.faceR_box {border: none; margin: 34px auto;}
.faceR_box p{color: #2c3f51; font-size: 15px; font-weight: normal; margin: 0 0 10px 0;}
.faceR_box p strong {color: #f7778a;font-weight:500;}
.faceR_box p em {font-size: 17px;color: #576068;margin: 0 8px 0 0;}
.faceR_box .btn_area .btn_start {margin:20px auto 30px;font-weight: 500;}

.small_layout {padding:38px 20px 0 24px;width:375px;float:left;}
.small_layout ul {width:100%; height: 382px;border: solid 1px #cfd5eb;background-color: #f3f5fb; padding: 23px 0 0 23px; box-sizing: border-box;}
.small_layout ul li {float:left;width:160px;height:160px;box-sizing: border-box;background: #fff;text-align: center;letter-spacing: -0.4px; margin: 0 15px 20px 0;border: solid 1px #cfd5eb; overflow: hidden;}
.small_layout ul li:nth-child(2n){margin: 0 0 20px 0;}
.small_layout ul li .img_area {display: block;width:160px;height:115px;border-bottom: solid 1px #cfd5eb;position: relative;overflow: hidden;box-sizing: border-box;}
.small_layout ul li .img_area img {width:160px;position: absolute; left: -1px;top: -1px;}
.small_layout ul li p {color:#2c3f51;font-size:12px;margin: 1px 0 8px 0;}
.small_layout ul li p span {display:block;color: #f7778a;}

.fr_face{padding:38px 0 0;}
.fr_face ul li .img_area {cursor:pointer;}
.fr_face .radio + .radio {margin: 0 15px 20px 0;}
.fr_face .radio label {padding:0;}
.fr_face .radio label:before {width:20px; height:20px;border:1px solid #f7778a;}
.fr_face .radio label:before, .radio label:after {top:128px;left: 70px;transition:all 0.3s ease-out;}
.fr_face .radio input[type="radio"] + label:after {top: 133px;left: 75px;border-radius:10px;}
.fr_face .radio input[type="radio"]:checked + label:after {width:10px; height:10px; top: 133px;left: 75px;background: #f7778a;transition:all 0.3s ease-out;}

.myfile_box {position:relative;}
.myfile_box:after{content:'or'; position:absolute;top:-35px;font-size:15px;letter-spacing: -0.2px; color: #2c3f51; height: 22px; line-height: 22px;}
.myfile_box .small_layout {width: 521px; padding: 38px 12px 17px 30px;}
.myfile_box .small_layout .data_regist{position:relative;width:521px;height:370px; padding:20px 0 0 10px;border: solid 1px #cfd5eb;background-color: #f3f5fb; box-sizing: border-box; }
.myfile_box .small_layout .data_regist:before {content:'Example)';position:absolute;left:120px;top:22px; letter-spacing: -0.47px;color: #2c3f51;opacity:0.7;font-size:14px;}
.myfile_box .small_layout .data_regist .example_box {width:160px;height:160px;margin:0 auto 13px;border: solid 1px #cfd5eb;box-sizing:border-box;background: #fff;overflow: hidden;}
.myfile_box .small_layout .data_regist .example_box .img_area {width:160px;height:115px;border-bottom: solid 1px #cfd5eb;position: relative;overflow: hidden;box-sizing: border-box;}
.myfile_box .small_layout .data_regist .example_box img {width:160px;position: absolute; left: -1px;top: -1px;}
.myfile_box .small_layout .data_regist .example_box p {color:#2c3f51;font-size:12px;margin: 1px 0 8px 0;}
.myfile_box .small_layout .data_regist .example_box span {display:block;color: #f7778a;}
.myfile_box .small_layout .data_regist .example_desc {position:absolute; left:345px;top:74px;width:150px;}
.myfile_box .small_layout .data_regist .example_desc p {background: url(../images/img_fr_arrow.png) 0 5px no-repeat; letter-spacing: -0.47px;font-size:14px; color: #2c3f51;opacity:0.7;text-align: left; text-indent: 55px;background-size: 48px;}
.myfile_box .small_layout .data_regist .example_desc p.faceid_input{position:absolute; top:70px;}
.myfile_box .small_layout .data_regist .data_upload {overflow: hidden;}
.myfile_box .small_layout .data_regist .data_upload .uplode_box {width:160px;height:160px; background: #fff;float: left; margin: 0 10px 0 0;box-sizing: border-box;}
.myfile_box .small_layout .data_regist .data_upload .uplode_box:last-child{margin:0;}
.myfile_box .small_layout .data_regist .data_upload .uplode_box .btn {margin:40px auto 35px;}
.myfile_box .small_layout .data_regist .data_upload .uplode_box .btn img {display:none;}
.myfile_box .small_layout .data_regist .data_upload .uplode_box .btn_change {margin:0; border:none;height: 115px;width: 100%; box-sizing: border-box;box-shadow: none;border-radius: 0; padding: 0; max-width: none; display: block;}
.myfile_box .small_layout .data_regist .data_upload .uplode_box .btn_change em.close { top: 5px; right: 7px; margin: 0;}
.myfile_box .small_layout .data_regist .data_upload .uplode_box .btn_change img {height:100%;width:auto;}
.myfile_box .small_layout .data_regist .data_upload .input_id {border-top: solid 1px #cfd5eb;position: relative;}
.myfile_box .small_layout .data_regist .data_upload .input_id p{color: #2c3f51; font-size: 12px; margin:0;}
.myfile_box .small_layout .data_regist .data_upload .input_id .input_level1 {display: block;overflow: hidden;}
.myfile_box .small_layout .data_regist .data_upload .input_id .input_level1 input{float:left;  height: 20px; box-sizing:border-box; border-radius: 2px; border: solid 1px #cfd5eb; background-color: #f3f5fb;margin:0 0 0 6px;width: 114px;letter-spacing: -0.4px; color: #2c3f51;padding: 0 4px;}
.myfile_box .small_layout .data_regist .data_upload .input_id .input_level1 input::placeholder{opacity: 0.2;}
.myfile_box .small_layout .data_regist .data_upload .input_id .input_level1 button {position:absolute;left:118px;padding: 0; font-size: 12px;width:35px; height: 20px; border-radius: 2px; background-color: #f7778a;color:#fff;border:1px solid #cfd5eb;cursor:pointer;}
.myfile_box .small_layout .data_regist .data_upload .input_id .input_level2 {display: none;}
.myfile_box .small_layout .data_regist .data_upload .input_id .input_level2 span {font-size:12px;letter-spacing: -0.4px;text-align: center;color: #f7778a;}
.myfile_box .fr_face {width:224px; padding: 38px 0 17px 0;}
.myfile_box .fr_face .uplode_box {width:100%;height:370px; border: solid 1px #cfd5eb;background-color: #f3f5fb;box-sizing: border-box; }
.myfile_box .fr_face .uplode_box .btn {margin:120px auto 103px;}
.myfile_box .fr_face .uplode_box .btn img, .myfile_box .fr_face .uplode_box .btn p {display:none;}
.myfile_box .fr_face .uplode_box .btn_change { margin: 60px auto 37px; width: 160px; height: 160px;padding: 0; border-radius: 0;}
.myfile_box .fr_face .uplode_box .btn_change img {height:115px;width:auto;}
.myfile_box .fr_face .uplode_box .btn_change .input_label {height:45px;letter-spacing: -0.4px;text-align: center; color: #576068;font-size:12px;display: block; line-height: 45px;    border-top: solid 1px #cfd5eb;
    box-sizing: border-box;}


.myfile_box .fr_face .upload_desc{padding:12px 0;margin:0 11px;text-align: left; letter-spacing: -0.17px; color: #2c3f51; font-size: 12px;border-top: dotted 1px #cfd5eb;}
.fr_desc {position:relative; clear:both; width:757px;border:1px dotted #cfd5eb;margin:0 0 0 30px;padding:12px 0;color: #2c3f51;font-size:12px; letter-spacing: -0.4px;}
.fr_desc em {position:absolute; top:-10px;font-size:17px; color:#9da4b4;left: 363px;}
.fr_2 {display: none; width:820px;margin: 30px auto 10px; border-radius: 5px;border: solid 1px #cfd5eb; box-sizing: border-box; padding: 38px 0 160px 0;}
.fr_2 > p { color: #2c3f51; font-size: 15px; font-weight: normal; margin: 0 0 10px 0;}
.fr_2 > p em {font-size: 17px;color: #576068;margin: 0 8px 0 0;}
.fr_2 .loding_box { width: 750px;height: 246px;margin: 0 auto;border: solid 1px #cfd5eb;background-color: #f3f5fb;border-radius: 4px; box-sizing: border-box;}
.fr_2 .loding_box svg {margin:100px auto 0;}
.fr_2 .loding_box p {color:#7d7d7d;font-size:14px;}

.fr_3 {display: none; width:820px; height: 575px;margin:30px auto; border-radius: 5px; border: solid 1px #cfd5eb; background-color: #f5f6fa;padding:38px 34px;box-sizing:border-box;}
.fr_3 .result_box {width:360px; float:left; }
.fr_3 .result_box:first-child {margin:0 30px 0 0;}
.fr_3 .result_box p{color: #2c3f51; font-size: 15px; font-weight: 500; margin: 0 0 10px 0; letter-spacing: -0.2px;}
.fr_3 .result_box p em {font-size:17px; color: #576068;}
.fr_3 .result_box .img_file, .fr_3 .result_box .code_value{height: 325px; border: solid 1px #cfd5eb;box-sizing: border-box;background: #fff; padding: 15px 17px;}
.fr_3 .result_box .img_file .input_img {width:250px;height:250px;margin:20px auto;overflow:hidden;}
.fr_3 .result_box .img_file .input_img img {width:100%;height:100%;object-fit: contain}
.fr_3 .result_box .code_value > p.result_t {text-align: left; font-size: 14px;}
.fr_3 .result_box .code_value > p.face_id {text-align: left; padding:0 0 10px 0; border-bottom: dotted 1px #cfd5eb;}
.fr_3 .result_box .code_value > p.face_id span#faceId {color:#2c3f51;font-size: 14px;}
.fr_3 .result_box .code_value > p.face_id span {color:#f7778a;font-size: 14px;}
.fr_3 .result_box .code_value textarea {width:100%;height:230px;overflow: auto;border:none;letter-spacing: -0.2px; color: #2c3f51;font-size:15px;}
.fr_3 .btn_area button.reset_btn { background: #2c3f51}

/*이미지 업로드 실패 팝업*/
.pop_simple .pop_sr_noti {width:400px;margin: 270px auto !important;}
.pop_simple .pop_sr_noti .pop_bd {padding:0 40px;}
.pop_simple .pop_sr_noti .pop_bd em {color:#9cafd2; padding: 17px 0 8px;}
.pop_simple .pop_sr_noti .pop_bd h5{font-size: 20px; font-weight: 500; letter-spacing: -0.16px; color: #2c3f51; height: 30px;line-height: 30px;}
.pop_simple .pop_sr_noti .pop_bd p {font-size:14px;letter-spacing: -0.11px; text-align: center; color: #576068;line-height: 1.57;}
.pop_simple .pop_sr_noti .pop_bd span {display: block; text-align: left;background: #f3f5fb;padding:13px 20px; font-size:14px;letter-spacing: -0.11px; color: #2c3f51;line-height: normal;}
.pop_simple .pop_sr_noti .btn a {margin:20px 0 30px 0;width:72px; height:40px; background:#2575f9;color:#fff; padding: 0;}

@media screen and (max-height: 965px){
    .superR_box .pop_confirm .popWrap {width: 90%;max-height: calc(90% - 30px)}
    .superR_box .pop_confirm .pop_bd {width:calc(100% - 28px);}
}

/*@media screen and (max-width:1600px) {*/
/*    .menu_lst {float:right;}*/
/*    .content .demobox{ clear:both;}*/

/*}*/