@charset "utf-8";
/* MINDsLab. UX/UI 2019.07.09 mrs */ 

/* Loading */ 
.page_loading {position:fixed; top:0; left:0; width:100%; height:100%; background:#192a39; z-index:9999;}
.loading_itemBox {display:block; position:absolute; top:50%; left:50%; width:80px; height:80px; margin:-40px 0 0 -40px;}
.loading_itemBox span {position:absolute; top:33px; width:13px; height:13px; border-radius:50%; background:#fff;opacity: 0.2; animation-timing-function:cubic-bezier(0, 1, 1, 0);}
.loading_itemBox span {position:absolute; top:33px; width:13px; height:13px; border-radius:50%; background:#fff;opacity: 0.2; animation-timing-function:cubic-bezier(0, 1, 1, 0);}
.loading_itemBox span:nth-child(1) {left:8px;  animation:loading_item1 0.6s infinite;}
.loading_itemBox span:nth-child(2) {left:8px;  animation:loading_item2 0.6s infinite;}
.loading_itemBox span:nth-child(3) {left:32px; animation:loading_item2 0.6s infinite;}
.loading_itemBox span:nth-child(4) {left:56px; animation:loading_item3 0.6s infinite;}

@keyframes loading_item1 {
  0% {transform:scale(0);}
100% {transform:scale(1);}
}
@keyframes loading_item3 {
  0% {transform:scale(1);}
100% {transform:scale(0);}
}
@keyframes loading_item2 {
  0% {transform:translate(0, 0);}
100% {transform:translate(24px, 0);}
}
.pageldg_hide {-webkit-animation-duration:1s; animation-duration:1s; -webkit-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-name:pageldg_hide; animation-name:pageldg_hide;}

@-webkit-keyframes pageldg_hide {
0% {opacity:1;}
100% {opacity:0;}
}

@keyframes pageldg_hide {
0% {opacity:1;}
100% {opacity:0;}
}

/* ==================== [추가] YMJ. 20200325  ==================== */
/* page loading */
#pageldg{display:block; position:fixed; top:0px; left:0px; width:100%; height:100%; text-align:center; background-color:#fff; z-index:9999; opacity:1.0;}
#pageldg:before{content:''; position:absolute; top:50%; left:50%; margin:0 0 0 -30px; border-radius:100%; background:radial-gradient(#e9edf3, #fff); opacity:0; width:60px; height:60px; -webkit-animation:pageldg_wave 1.7s 2.5s linear infinite; animation:pageldg_wave 1.7s 2.5s linear infinite; z-index:444;}
#pageldg span.out_bg{position:absolute; top:50%; width:180px; height:180px; margin:-90px 0 0 -90px; border-radius:300px; background:#fff; animation:out_bg 1s 0s ease-in-out both; z-index:555;}
#pageldg span em{overflow:hidden; position:absolute; top:50%; left:50%; width:200px; height:200px; margin:-100px 0 0 -100px; border-radius:300px; background:#fff; animation:em_opacity 3s 0.1s ease-in-out both;}
#pageldg span em strong:nth-child(1){content:''; position:absolute; bottom:38%; left:12%; width:0%; height:30%; background:#00aebc; animation:st_move_01 1.5s 0.1s ease-in-out both;}
#pageldg span em strong:nth-child(2){content:''; position:absolute; top:52%; left:28%; width:60%; height:18%; background:#fff; animation:st_move_02 1.5s 1.2s ease-in-out both;}
#pageldg span em strong:nth-child(3){content:''; position:absolute; bottom:48%; right:15%; width:20px; height:0%; background:#00aebc; animation:st_move_03 0.5s 2.0s ease-in-out both;}
#pageldg span em b{content:''; position:absolute; top:50%; left:50%; width:160px; height:160px; margin:-80px 0 0 -80px; background:url("../../common/images/ico_pageldg_trans.png") 50% 50% no-repeat; background-size:cover; z-index:999;}
.pageldg_hide2{-webkit-animation-duration:1s; animation-duration:1s; -webkit-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-name:pageldg_hide2; animation-name:pageldg_hide2;}
/* -------------------- keyframes -------------------- */
/* page loading */
@-webkit-keyframes pageldg_wave{
	0%  {-webkit-transform:scale(0); transform:scale(0); opacity:0;}
	5%  {opacity:1;}
	100%{-webkit-transform:scale(1); transform:scale(50); opacity:0;}
}
@keyframes pageldg_wave{
	0%  {-webkit-transform:scale(0); transform:scale(0); opacity:0;}
	5%  {opacity:1;}
	100%{-webkit-transform:scale(1); transform:scale(50); opacity:0;}
}
@-webkit-keyframes out_bg{
	0%  {opacity:0; transform:scale(0);}
	80% {opacity:0.3; transform:scale(1.2);}
	100%{opacity:1; transform:scale(1);}
}
@keyframes out_bg{
	0%  {opacity:0; transform:scale(0);}
	80% {opacity:0.2; transform:scale(1.2);}
	100%{opacity:1; transform:scale(1);}
}
@-webkit-keyframes st_move_01{
	0%  {width:0%;}
	100%{width:50%;}
}
@keyframes st_move_01{
	0%  {width:0%;}
	100%{width:50%;}
}
@-webkit-keyframes st_move_02{
	0%  {background:#fff;}
	0%  {background:#fff;}
	100%{background:#35384d;}
}
@keyframes st_move_02{
	0%  {background:#fff;}
	100%{background:#35384d;}
}
@-webkit-keyframes st_move_03{
	0%  {height:0%;}
	100%{height:6%;}
}
@keyframes st_move_03{
	0%  {height:0%;}
	100%{height:6%;}
}
@-webkit-keyframes pageldg_hide2{
	0%  {opacity:1;}
	100%{opacity:0;}
}
@keyframes pageldg_hide2{
	0%  {opacity:1;}
	100%{opacity:0;}
}

#gitple-launcher-tooltip {background-color: #fff !important;color:#000 !important;}
#wrap {min-width:1280px; height:100%;}


/* Login */
.loginWrap {/* overflow:hidden; */ width:100%; height:100%;background:#fff;}
.header_box{width:1220px; margin:0 auto; height:100%;}
.common_header {height:80px; box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.5); background-color:rgba(254, 254, 255, 0);}
.common_header h1 {display:inline-block; margin:12px 0 0 0;}
.common_header h1 > a {height:100%; display:inline-block;}
.common_header h1 span {font-size:12px; color:#002b49; font-weight:normal; float:right; margin:0 0 0 8px;}
.common_header a.go_price {float:left; height: 19px;line-height: 19px;margin:27px 24px 0 0 ; text-align:center;  border-radius:28px; color:#002b49; font-weight:bold;font-size:13px;}
.common_header a.btn_sign {float:left; color: #002b49;;font-size:14px;font-weight: bold; text-align:center;margin:21px 10px 0 0; padding: 0 20px;height:32px;line-height: 32px;  border-radius: 28px;border: solid 1px #002b49;}

.common_header .sta {float: right;}
.common_header .sta .etcMenu {float:right;width:80px;}
.common_header .sta .etcMenu ul {}
.common_header .sta .etcMenu ul li {float:left; margin:23px 10px 0 10px;}
/* Language  */
.common_header .sta .etcMenu ul li.lang {position:relative; width:80px; height:32px; padding:0 0 0 10px; box-sizing:border-box;color: #002b49; font-size:12px; font-weight:500; text-align:left;line-height:32px; border-radius:5px; cursor:pointer; transition:all 0.3s ease-out;}
.common_header .sta .etcMenu ul li.lang p.lang_select {}
.common_header .sta .etcMenu ul li.lang p em{ margin: 0 0 0 8px;font-size: 12px;}
.common_header .sta .etcMenu ul li.lang p.lang_select img {display:inline-block; width:16px; margin:0 7px 0 0; vertical-align:middle;}
.common_header .sta .etcMenu ul li.lang ul.lst {display:none;position:absolute; top:32px; left:0; width:80px; border-radius:0 0 5px 5px; background:#fff ;z-index: 100;}
.common_header .sta .etcMenu ul li.lang ul.lst li {display:block; float:none; position:relative;margin:0;}
.common_header .sta .etcMenu ul li.lang ul.lst li:before {content:''; position:absolute; width:100%; height:1px; background:rgba(0,0,0,1); opacity:0.1; }
.common_header .sta .etcMenu ul li.lang ul.lst li a {display: block;padding: 0 10px;color: #002b49;border: 1px solid #002b49;border-radius: 0 0 5px 5px;box-sizing: border-box;}
.common_header .sta .etcMenu ul li.lang ul.lst li a img {display:inline-block; width:16px; margin:0 7px 0 0; vertical-align:middle;}
.common_header .sta .etcMenu ul li.lang.active {border-radius:5px 5px 0 0;color: #fff;  opacity:1;background: #002b49;}
.common_header .sta .etcMenu ul li.lang.active ul.lst {display:block;}

.login_box { text-align:center;}
.login_box .txt_box {position:relative;}
.login_box .txt_box > p{font-size:28px; color:#002b49; height:34px; line-height:37px; animation-fill-mode:unset; font-weight:bold; letter-spacing:-1px;}
.login_box .txt_box .signup_desc {color:#0080df; font-size:18px; font-weight:300; margin:30px 0;line-height:24px;}
.login_box .txt_box .signup_desc strong {font-weight:bold; display:block;}
.login_box .txt_box .btn_sign {display:none; width:398px; height:48px; border-radius:44px; background:#fff url(../images/logo_google.png) 65px 50% no-repeat; background-size:25px; line-height:46px; font-size:20px; font-weight:bold; color:#002b49; border:1px solid #002b49; margin:17px auto 19px; text-align:left; text-indent:117px; transition:all 0.3s ease-out;}
.login_box .txt_box .btn_sign:hover {box-shadow:0 3px 8px 0 rgba(0,0,0,0.1), 0 5px 20px 0 rgba(0,0,0,0.1); transition:all 0.3s ease-out;}
.login_box .txt_box > span {display:block; font-size:21px; font-weight:300; color:#0080df; margin:0 0 40px 0;}

.signup_box {height: calc(100% - 291px);}
.signup_box .txt_box > p {padding:70px 0 0 0;}
.signup_box .txt_box > p em {color: gray;font-size: 40px;} /* 수신거부 페이지 아이콘 */
.signup_box .txt_box > span{ }
.signup_box .txt_box > span.signup_complete{padding: 45px 0 0 0;line-height: 25px;}


.login_box .txt_box .login_area {text-align: center;margin: 65px 0 0;}
.login_box .txt_box .login_area p{ line-height: 1.26;font-size: 34px;font-weight: bold;color: #002b49;padding:84px 0 62px 0;}
.login_box .txt_box .login_area p.main_txt {padding:52px 0 69px; font-size: 28px;font-weight: bold;line-height: 1.43;color: #002b49;}
.login_box .txt_box .login_area p.main_txt em {display: block; font-weight: 300; line-height: normal;}
.login_box .txt_box .login_area p.main_txt strong {display: inline-block;margin:16px auto;padding: 0 20px;height: 34px;border-radius: 16px;border: solid 1px #e66f83;font-size: 18px;font-weight: bold;line-height: 34px; color: #e66f83;}
.login_box .txt_box .login_area span {display:block; font-size:21px; font-weight:400; color:#0080df;clear: both;}
.login_box .txt_box .login_area img {width:256px;}
.delay-1 {animation-delay:0.5s}
.delay-2 {animation-delay:1s}

.login_box .enroll_noti {position:relative; width: 700px; margin:63px auto 0;overflow: hidden;}
.login_box .noti_icon {float:left;height:140px; }
.signup_box .enroll_noti ul {float:left;margin:0 0 0 16px;}
.signup_box .enroll_noti ul li {text-align: left; font-size: 12px; color: #000;list-style: disc;line-height: 1.7;}
.signup_box .enroll_noti img {width:40px; float: left; padding: 16px 16px; margin: 16px 0 0 0;}

.txt_box .notice_box {position: absolute;right: 0;z-index: 10;top:-58px;}
.txt_box .notice_box .boxarea {width:250px;float: right; box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);border-radius: 5px;}
.txt_box .notice_box .boxarea .box_top{height:18px;border-radius: 5px 5px 0 0;position:relative;background: #fff;}
.txt_box .notice_box .boxarea .box_close {overflow:hidden; position:absolute; top:18px; right:5px; width:22px; height:22px; margin:-11px 0 0 0;line-height: 100px; border:none; background:none; opacity:0.5; cursor:pointer; transition:all 0.3s ease-out; z-index: 1000;}
.txt_box .notice_box .boxarea .box_close:hover, .boxarea .box_close:focus {opacity:1.0; transition:all 0.3s ease-out;}
.txt_box .notice_box .boxarea .box_close:before {content:'';  position:absolute; top:10px; left:50%; width:16px; height:2px; margin:-1px 0 0 -11px; background:#eee; transform:rotate(45deg);}
.txt_box .notice_box .boxarea .box_close:after {content:'';  position:absolute; top:10px; left:50%; width:16px; height:2px; margin:-1px 0 0 -11px; background:#eee; transform:rotate(-45deg);}
.txt_box .notice_box .boxarea .box_close.close3:before, .txt_box .notice_box .boxarea .box_close.close3:after {background: #20296d;}
.txt_box .notice_box .boxarea .box_body{ text-align: center;border-radius: 0 0 5px 5px;}
.txt_box .notice_box .boxarea .box_body .pop_cont {background: url("../../common/images/logo_voicealbum.svg") 50% 0 no-repeat;background-size: 70px;}
.txt_box .notice_box .boxarea .box_body .pop_cont h1 { padding:60px 0 0 0;font-weight: 500;font-size:28px;  letter-spacing: -0.56px;color: #fff;}
.txt_box .notice_box .boxarea .box_body .pop_cont h1 span {font-family: 'Lato', sans-serif; font-style:italic;}
.txt_box .notice_box .boxarea .box_body .pop_cont span.subtitle{display: block;margin:10px auto; width:118px;height:22px;line-height:22px;background: rgba(255,255,255,0.2);color:#fff;font-size:14px;border-radius: 2.8px; font-weight:300;font-family: Georgia,Times,Times New Roman,serif; font-style:italic;letter-spacing: -0.1px;}
.txt_box .notice_box .boxarea .box_body .pop_bottom {border-radius: 5px; background: rgba(20,21,49,0.4);position: absolute;bottom: 0;width: 100%;}
.txt_box .notice_box .boxarea .box_body .pop_bottom p {box-sizing: border-box;height: 108px;letter-spacing: -1px;font-size:14px; font-weight: 400; padding: 6px 0 0 0;color: #fff;line-height: normal;}
.txt_box .notice_box .boxarea .box_body p{color:#343f4f;font-size:17px;line-height: 24.5px; padding: 88px 0 0 0;}
.txt_box .notice_box .boxarea .box_body button{width:100px; height:35px; margin:15px auto 0;color:#fff;border:1px solid #2575f9; border-radius: 17.5px;background: #2575f9; font-weight: 500;cursor:pointer; font-size: 14px;}
.txt_box .notice_box .left_box {background:#fff url("../../common/images/pop_voicealbum.png") 50% 0 no-repeat; height: 250px;background-size: contain;position:relative; float: right; margin: 0 10px 0 10px;box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);}
.txt_box .notice_box .left_box .box_top{background:none;}
.txt_box .notice_box .left_box .box_body a{position: absolute;height:35px;line-height: 35px;width:101px; display: block; left: 50%;bottom: 20px;border-radius: 17.5px;margin: 0 0 0 -50px;background: #7d71d1; color: #fff; border: none; font-weight: 400; font-size: 14px;}
.txt_box .notice_box .aca_box{float:right;background: url(../../common/images/aidata/bg_popdata.png) 50% 0 no-repeat; height: 250px; background-size: contain;position: relative; margin: 0;box-shadow: none;}
.txt_box .notice_box .aca_box .box_top{background:none;}
.txt_box .notice_box .aca_box .box_body {background: none;}
.txt_box .notice_box .aca_box a{position: absolute;width:100px; height:35px;line-height: 35px; display: block; left: 50%;bottom: 20px;border-radius: 17.5px;margin: 0 0 0 -50px;background: #5e77ff;; color:#fff; border: none;font-weight: 500; font-size: 14px;}
.txt_box .notice_box .boxarea .box_body .pop_cont h5 {padding: 62px 0 0 20px;text-align: left;line-height: 1.27;font-weight:normal;letter-spacing: -0.83px;color: #5e77ff;font-size:22px;}
.txt_box .notice_box .boxarea .box_body .data_bottom {background: transparent;}
.txt_box .notice_box .boxarea .box_body .data_bottom p {letter-spacing: -1px;color: #404a92;text-align: left;padding: 0 20px;font-weight: 500;}


.login_box .txt_box .img_box {position:relative; width:260px; height:145px; margin:0 auto;}
.login_box .txt_box .img_box img {position:absolute;left:60px; width:260px; animation:3s linear 0s infinite alternate cloud; -webkit-animation:3s linear 0s infinite alternate cloud;}


@-webkit-keyframes cloud {from{left:20px;}
	to{left:100px;
	}
}
@keyframes cloud {from{left:20px;}
	to{left:100px;
	}
}
.form_box {width:690px; margin:0 auto;}
.form_box span {float:right;font-size:12px; color:#43494a;font-weight:400;  margin:0 0 5px 0;}
.form_box form {border-top:2px solid #979797;border-bottom:2px solid #979797;clear:both;margin:0 0 20px 0;}
.form_box .input_box .txtfield {height:50px;text-align:left;border-bottom:1px solid #979797;clear:both;}
/*.form_box .input_box .txtfield:last-child {height:54px;border-bottom:none;}*/
.form_box .input_box .txtfield label {width:165px;float:left;line-height:50px;font-size:18px;font-weight:bold; color:#43494a; }
.form_box .input_box .txtfield label em {min-width:10px;margin:0 0 0 10px;display:inline-block;}
.form_box .input_box .txtfield input {height:40px;float:left; margin:5px 0 0 0; padding:0 10px;border:1px solid #979797;width:190px;transition:all 0.3s ease-out;font-size:16px;}
.form_box .input_box .txtfield input:focus {border:1px solid #0080df; box-shadow:none; background-color:#fff !important; transition:all 0.3s ease-out;}
.form_box .input_box .txtfield input.input_long {width:355px;}
.form_box .input_box .txtfield a {width:247px; height:38px; border:1px solid #0080df; text-align:center; line-height:38px; font-weight:bold;font-size:18px;border-radius:28px;color:#0080df; float:left;    margin:8px 0 0 0; box-sizing:border-box;}

.checkBox {font-size:16px;width: 513px; margin: 0 auto;text-align: left;height: 30px;line-height: 30px; }
.checkBox input[type="checkbox"] {position:absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:0}
.checkBox input[type="checkbox"] + label:before {content:''; float:left; margin: 5px 10px 0 0 ;overflow:hidden; width:20px; height:20px; line-height:14px; text-align:center; vertical-align:middle; background:#fff; transition:all 0.3s ease-out;border:1px solid #0080df; cursor: pointer;}
.checkBox input[type="checkbox"]:checked + label:before {content:'\2714\fe0e'; color:#0080df; font-size:15px; box-shadow:inset 2px 2px 3px rgba(0,0,0,0);  background:#fff; transition:all 0.3s ease-out;line-height: 20px; border: 1px solid #0080df;}
.checkBox label em {color:#0080df;}
.checkBox label a {color:#0080df;font-weight: bold; letter-spacing: -0.5px;}

.select_form .join_path {width:135px;float: left;line-height: 50px;font-size: 18px;font-weight: bold; color: #43494a;text-align: left;text-indent: 21px;}
.selectarea {position:relative; z-index:1; float: left;height:50px;line-height: 50px;}
.selectarea .radio {margin: 15px 45px 0 0; line-height: 1;float: left;}
.selectarea .last_radio {margin: 15px 0 0 0;}
.selectarea input[type="radio"] {position:absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:0}
.selectarea input[type="radio"] + label {display:inline-block; overflow:hidden; position:relative; color:#43494a; font-size:16px; cursor:pointer; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none;}
.selectarea input[type="radio"] + label:before {content:''; float:left; overflow:hidden; width:18px; height:18px; line-height:18px; margin:0 8px 0 0; text-align:center; vertical-align:middle;  border-radius:18px;border: solid 1px #979797; transition:all 0.3s ease-out;}
.selectarea input[type="radio"]:checked + label:before {content:'\2714\fe0e'; color:#fff; font-size:10px; box-shadow:inset 2px 2px 3px rgba(0,0,0,0); background: #0180df;border:1px solid #0180df; transition:all 0.3s ease-out;}
.selectarea .input_area {float:left;width: 418px;}
.selectarea .input_area input {width: calc(100% - 20px);height:40px;line-height: 40px;padding:0 10px;font-size:16px;}
.selectarea .input_area input::placeholder {font-size:16px;color: #43494a;line-height: 42px;}
.login_box .txt_box .input_done {display:block;width:150px; height:38px; background:#0080df; color:#fff; font-size:18px; text-align:center;border-radius:28px;border:none;font-weight:bold;margin:37px auto;cursor:pointer;}


.common_footer {width:100%;margin:70px auto 20px;text-align:center;}
.common_footer p {color:#002b49;line-height:19px; font-size:11px;}
.common_footer p a.footerlogo {display:block; width:170px;	margin:0 auto;}
.common_footer p img {display:none; margin:10px auto;}
.common_footer p a {color:#002b49;}
.common_footer p strong {margin:0 10px 0 0;}


.signup_box + .common_footer {position: absolute;bottom:0; }


/* ---------- footer ---------- */
#academy_footer {width: 100%; background: #fff;color: #001c2e; font-size: 14px;}
#academy_footer a {color: #001c2e; font-size: 14px;}
#academy_footer .btm_menu {width: 100%; height: 141px;}
#academy_footer .cont_box {position: relative; width: 1220px; height: 100%; margin: 0 auto;}
#academy_footer .btm_menu .cont_box > a {display: inline-block; float: left; width: 125px; margin: 45px 70px 0 102px;color: #001c2e; }
#academy_footer .btm_menu img {width: 100%;}
#academy_footer .btm_menu .menu_area {display: inline-block; width: 824px;margin: 32px 0 0; border-radius: 4px;  clear: both;}
#academy_footer .btm_menu .menu_area > div {float: left; padding: 0 40px 0 70px; text-align: left;}
#academy_footer .btm_menu .menu_area p {font-weight: 700; letter-spacing: -0.4px;}
#academy_footer .btm_menu .menu_area .contact {border-left: 1px dotted rgba(207,213,235,0.7);}
#academy_footer .btm_menu .menu_area .contact > a {display: inline-block; margin: 10px 0 10px 0;}
#academy_footer .btm_menu .menu_area .contact > a:nth-child(2) {margin-right: 10px;}
#academy_footer .btm_menu .menu_area .contact > a span {margin: 0 4px 0 0;}
#academy_footer .btm_menu .menu_area .contact .info_box a {position: relative; font-size: 13px; opacity: 0.7;}
#academy_footer .btm_menu .menu_area .contact .info_box a:hover {text-decoration: underline;}
#academy_footer .btm_menu .menu_area .contact .info_box a + a {margin: 0 0 0 27px;}
#academy_footer .btm_menu .menu_area .service { padding: 0 0 0 60px;font-size: 13px; letter-spacing: -0.4px;}
#academy_footer .btm_menu .menu_area .service > div {clear: both;}
#academy_footer .btm_menu .menu_area .service > div + div {margin: 10px 0 0 0;}
#academy_footer .btm_menu .menu_area .service p {float: left; position: relative; width: 63px; font-weight: 700;}
#academy_footer .btm_menu .menu_area .service p:after {content: ''; display: block; position: absolute; top: 4px; right: 0; width: 1px; height: 12px; background: rgba(128, 138, 171,0.6);}
#academy_footer .btm_menu .menu_area .service a {margin: 0 0 0 15px; font-size: 13px;}
#academy_footer .btm_menu .menu_area .service a:hover {text-decoration: underline;}
#academy_footer .btm_menu .menu_area .contact .info_box a + a:before {content: ''; display: block; position: absolute; top: 4px; left: -14px; width: 1px; height: 13px; background: #001c2e; opacity: 0.7;}

#academy_footer .copyright {width: 100%; height: 36px;background-color: #f2f3f6; text-align: center;}
#academy_footer .copyright span {position: relative; padding: 0 2px; font-size: 13px; line-height:36px; letter-spacing: -0.4px;color: #001c2e;opacity: 0.8;}
#academy_footer .copyright span:last-child {padding: 0 0 0 16px;}
#academy_footer .copyright span:last-child:before {content: ''; display: block; position: absolute; top: 4px; left: 6px; width: 1px; height: 13px; background: #001c2e; opacity: 0.8;}

/*lyr_term*/
.lyr_term {display:none; overflow:hidden; position:fixed; bottom:0; left:0; width:100%; height:100%; text-align:center; z-index:1000;}
.lyr_term .lyr_bg_sign {position:absolute; top:0; left:0; width:100%; height:100%; background: #101113; opacity: 0.4; z-index: -10;}
.lyr_term .lyrWrap {position:relative; width:818px; height:700px; border-radius:5px; margin:65px auto 0 auto;background: #fff;}
.lyr_term .lyr_hd .btn_lyrWrap_close {overflow:hidden; position:absolute; top:25px; right:15px; width:22px; height:22px; margin:-11px 0 0 0;line-height: 100px; border:none; background:none; opacity:0.5; cursor:pointer; transition:all 0.3s ease-out;}
.lyr_term .lyr_hd .btn_lyrWrap_close:hover, .lyrWrap .btn_lyrWrap_close:focus {opacity:1.0; transition:all 0.3s ease-out;}
.lyr_term .lyr_hd .btn_lyrWrap_close:before {content:'';  position:absolute; top:10px; left:50%; width:22px; height:2px; margin:-1px 0 0 -11px; background:#6e7275; transform:rotate(45deg);}
.lyr_term .lyr_hd .btn_lyrWrap_close:after {content:'';  position:absolute; top:10px; left:50%; width:22px; height:2px; margin:-1px 0 0 -11px; background:#6e7275; transform:rotate(-45deg);}
.lyr_term .lyr_hd{display:block; height:50px;  text-align: center; background:#192a39;border-radius: 5px 5px 0 0;}
.lyr_term .lyr_hd h3 {color:#fff; font-size:20px;line-height: 50px;font-weight:400;}
.lyr_term .lyr_bd {background:rgba(255,255,255,1.0);height: 100%;clear: both;border-radius: 5px;padding: 20px 30px 10px; font-size: 13px;line-height: 22px; overflow: auto;text-align: left;color:#000;}
.lyr_term .lyr_bd table {width:100%;border:1px solid #e7e7e7;border-collapse: collapse;}
.lyr_term .lyr_bd table tr {height:35px;}
.lyr_term .lyr_bd table th {text-align: center;background: #f8f7f8;border:1px solid #e7e7e7;}
.lyr_term .lyr_bd table td {border:1px solid #e7e7e7;  text-indent: 10px;}
.lyr_term .lyr_bd dl {width:350px; margin: 0 auto;overflow: hidden;}
.lyr_term .lyr_bd dl dt {width:100px;height: 30px;  float: left;background: #fff; line-height: 30px;}
.lyr_term .lyr_bd dl dd {height: 30px;  background: #f4f9ff;width: 250px;  margin: 0 0 10px 0;float: left; border-radius: 5px; }
.lyr_term .lyr_bd dl dd .agree_check {display: inline-block; margin: 3px 0 0 30px;}
.lyr_term .lyr_bd dl dd input[type="checkbox"] {position:absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:0}
.lyr_term .lyr_bd dl dd input[type="checkbox"] + label { overflow:hidden; position:relative;font-size:14px; color:#697784; cursor:pointer; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; line-height: 15px;}
.lyr_term .lyr_bd dl dd input[type="checkbox"] + label:before {content:''; float:left; overflow:hidden; width:16px; height:16px; line-height:14px; margin:3px 5px 0 0; text-align:center; vertical-align:middle; background:#fff; border-radius:5px;transition:all 0.3s ease-out;border:1px solid #2575f9;}
.lyr_term .lyr_bd dl dd input[type="checkbox"]:checked + label:before {content:'\2714\fe0e'; color:#fff; font-size:10px; box-shadow:inset 2px 2px 3px rgba(0,0,0,0);  background:#2575f9; transition:all 0.3s ease-out;line-height: 13px;}
.lyr_term .lyr_bd strong {clear: both; display: block; width:100%;text-align: left;}
.lyr_term .lyr_bd a {display: block; width:104px; height:40px; color:#8a9aa8; border:1px solid #cfd5eb; border-radius: 25px; line-height: 40px;font-size:14px;font-weight: 500; margin: 20px auto;text-align: center; background: #f5f6fa; }
.lyr_term .lyr_bd a.btn_ok{background: #2575f9;color:#fff; } 

/*lyr_policy*/
.lyr_policy {display:none; overflow:hidden; position:fixed; bottom:0; left:0; width:100%; height:100%; text-align:center; z-index:1000;}
.lyr_policy .lyr_bg_sign {position:absolute; top:0; left:0; width:100%; height:100%; background: #101113; opacity: 0.4; z-index: -10;}
.lyr_policy .lyrWrap {position:relative; width:820px; height:720px; border-radius:5px; margin:65px auto 0 auto;background: #fff; overflow-x: unset;}
.lyr_policy .lyr_hd .btn_lyrWrap_close {overflow:hidden; position:absolute; top:25px; right:15px; width:22px; height:22px; margin:-11px 0 0 0;line-height: 100px; border:none; background:none; opacity:0.5; cursor:pointer; transition:all 0.3s ease-out;}
.lyr_policy .lyr_hd .btn_lyrWrap_close:hover, .lyrWrap .btn_lyrWrap_close:focus {opacity:1.0; transition:all 0.3s ease-out;}
.lyr_policy .lyr_hd .btn_lyrWrap_close:before {content:'';  position:absolute; top:10px; left:50%; width:22px; height:2px; margin:-1px 0 0 -11px; background:#6e7275; transform:rotate(45deg);}
.lyr_policy .lyr_hd .btn_lyrWrap_close:after {content:'';  position:absolute; top:10px; left:50%; width:22px; height:2px; margin:-1px 0 0 -11px; background:#6e7275; transform:rotate(-45deg);}
.lyr_policy .lyr_hd{display:block; height:50px;  text-align: center; background:#192a39;border-radius: 5px 5px 0 0;}
.lyr_policy .lyr_hd h3 {color:#fff; font-size:20px;line-height: 50px;font-weight:400;}
.lyr_policy .lyr_bd {height:100%; background:rgba(255,255,255,1.0);clear: both;border-radius: 5px;padding: 20px 30px ; font-size: 13px;line-height: 22px; overflow: auto; text-align: left;color: #000;}
.lyr_policy .lyr_bd strong {font-size:14px;}
.lyr_policy .lyr_bd h4 {height:80px;background:url(../images/ico_event.png) 50% 90% no-repeat;}
.lyr_policy .lyr_bd p.notice { margin: 20px 0 0 0;font-size:20px; color:#192a39; line-height: 25px;font-weight: 600;letter-spacing: -1px;}
.lyr_policy .lyr_bd p.notice_desc { font-size:16px; color:#5a7288; line-height: 20px; width:100%; padding:10px 0 ;letter-spacing: -1px;}
.lyr_policy .lyr_bd p.notice_desc span {color:#2575f9;}
.lyr_policy .lyr_bd a {display: inline-block; width:104px; height:40px; color:#8a9aa8; border:1px solid #cfd5eb; border-radius: 5px; line-height: 40px;font-size:14px;font-weight: 500; margin: 10px 10px 36px 0;text-align: center; background: #f5f6fa; }
.lyr_policy .lyr_bd a.btn_close{background: #2575f9;color:#fff; margin-right:0;} 


.form_box .input_pay {border-top:2px solid #979797;border-bottom:2px solid #979797;clear:both;margin:0 0 10px 0;padding:0 80px;height:62px;}
.form_box .input_pay .txtfield {border-bottom: none;}
.form_box .input_pay .txtfield label {width:165px !important;height:62px;line-height: 62px;}
.form_box .input_pay .txtfield a {margin:12px 0 0 0;}

.paypal_box {width:530px;}
.form_box .paypal_area {height:auto;border:none;padding:0;}
.form_box .paypal_area .txtfield {height:auto;overflow: hidden;}
.form_box .paypal_area .txtfield label {width:100% !important; text-align: center;border-top: 2px solid #979797;border-bottom: 2px solid #979797;}
.form_box .paypal_area + p {font-size:14px;color: #002b49;}
#paypal-button-container{display: block;margin: 20px 20px 0; clear: both; padding: 20px 50px 0;}

/*Scroll Bar Style*/
::-webkit-scrollbar{width:5px;border-radius:3px;height:6px;}/* 스크롤바의 width */
::-webkit-scrollbar-track{background-color:transparent;}/* 스크롤바의 전체 배경색 */
::-webkit-scrollbar-thumb{background-color:rgba(25, 42, 57, 0.3);border-radius:3px;}/* 스크롤바 색 */
::-webkit-scrollbar-button{display:none;}/* 위 아래 버튼 (버튼 없애기를 함) */


/* Pricing(리뉴얼) */

.pricingWrap  { width:100%; height:100%;background: #fff;}
.pricingWrap .common_header {position:fixed; width:100%;top:0;left:0;z-index: 100;background: #fff;}
.price_cont {background: #fff;}
.priceBox { margin: 0 auto 175px;}
.priceBox .btn_try  {display: block;margin: 0 auto 30px; width: 196px; height: 50px; border-radius: 50px; border: 2px solid #0080df;background: #fff; color:#0080df; line-height: 50px;font-size: 20px; text-align: center;font-weight: bold; font-family: 'Roboto', sans-serif;}
.price_stn {position:relative; max-width: 1200px;margin: 0 auto;}
.priceBox h1 {font-size:28px; text-align: center;color: #000;line-height:54px;max-width: 1200px; padding: 170px 0 60px 0; margin:0 auto;}
.priceBox h1 span {display: block; font-size: 1.3rem; color:#0080df; height: 20px;line-height: 22px;font-weight:400;margin: 5px 0 0 0;}
.priceBox table.tbl_lst { margin: 0 auto; color:#000;}
.priceBox table th { height:80px;min-height: 120px; font-size:20px;color:#000;font-weight:bold;}
.priceBox table th:nth-child(4), .priceBox table td:nth-child(4) {background: #eff6fb;}
.priceBox table td {height:30px;font-size:16px;text-align: center;}
.priceBox table td:first-child{text-align: left;}
.priceBox table th .buybtn, .priceBox table .buybtn {display: block; margin: 30px auto 5px;background: #0080df;border: none; height: 48px; color: rgb(255, 255, 255); letter-spacing: -0.4px; font-size: 18px; width: 160px;border-radius: 28px; cursor: pointer;line-height: 48px;}
.priceBox table a.buylink {height:48px;line-height: 48px; border:1px solid #0080df; background: #fff; color: #0080df;font-weight: bold; box-sizing: border-box;}
.priceBox table th .requestbtn {background: #fff;color:#0080df; border:1px solid #0080df; font-weight: 400;box-sizing: border-box;}
.priceBox table tr.row_1 {text-align: center;line-height: 30px; border-bottom: 2px solid #979797;}
.priceBox table td.price {padding: 0 35px;font-size:14px; text-align: left; vertical-align: middle; position: relative;height: 170px;}
.priceBox table td.price p {position:absolute; top:0;left:0;}
.priceBox table td.price_1 button {height: 28px;line-height: 25px;width: 120px; border-radius: 24px;display: block; background: #0080df;color:#fff; border: 1px solid #0080df;font-size: 14px; margin: 10px auto 0; box-sizing: border-box;}
.priceBox table td.price_1 {font-size:20px;position: relative;}
.priceBox table td.price_1 p {display: block; position: absolute; top: 0;left: 0;width: 100%; height: 30px;}
.priceBox table td.price_1 .em, .priceBox table td.price .em {height: 40px; font-size: 13px; line-height: normal;display: block;position: absolute; width: 100%;top: 50px;left: 0;}
.priceBox table td.price_1 .em strong {display: block;text-indent: 27px;font-weight: 400;}
.priceBox table td.price_1 span {font-size:28px;display: inline-block;}
.priceBox table td.price_1 a {width:143px; margin: 0 auto;border-radius: 50px;text-align: center; display: block;font-size:18px;color:#000; font-weight: 500; line-height: 23px;}
.priceBox table td span .em em{color:#000; margin:0 0 0 15px;}
.priceBox table td em em {color:#0080df;margin:0 7px 0 0;}
.priceBox table td div { position: absolute; bottom: 30px; height: 30px; width: 100%;line-height:30px; }
.priceBox table td div a.more {font-size: 13px;color: #0080df;  font-weight: 500; transition: all 0.3s ease-out;border:1px solid transparent;}
.priceBox table td div a.more:hover {border:1px solid #0080df;border-radius: 30px;}
.priceBox table td div a small{font-size:10px; height:10px;display: block;color: #0080df; line-height: 10px;font-weight: 300;}
.priceBox table td div a.email{color: #0080df;font-size:15px;font-weight: 500;}
.priceBox table td.center_txt {text-align: center; padding: 0 20px;}
.priceBox table td.td_border {border-bottom: 1px solid #979797; }
.priceBox table td span.span_border {border-bottom: 1px solid #979797;width: 100%; display: block;height: 51px;line-height: 51px;}
.priceBox table td ul {width: 125px; margin: 0 auto;}
.priceBox table td ul.ul_txt  {width:175px; padding:0 0 0 25px;}
.priceBox table td ul li {position:relative; border-bottom:1px solid #979797;height:50px ;line-height: 50px; text-align: center; font-size: 13px;}
.priceBox table td ul li a{color:#0080df;}
.priceBox table td ul li img {vertical-align: middle;}
.priceBox table td ul.ul_txt li{ text-align: left;}
.priceBox table td ul .li_df {height:60px;}
.priceBox table td ul .li_df span {display: block;position: absolute; top: 28px;}
.priceBox table td ul.ul_txt li span {margin: 0;font-weight: 400;line-height: 28px;}
.priceBox table td ul.or_txt li {border:none;}
.priceBox table td ul.or_txt li:after {content: 'or'; position:absolute; bottom: -10px;left:60px;color:#2575f9;height: 25px;line-height: 25px;}
.priceBox table td ul.or_txt li:last-child:after {display: none;}
.priceBox table td ul li:last-child{border:none;}
.priceBox table td ul li img{vertical-align: middle; width: 26px;}
.priceBox table td ul li span.plus {position:absolute; right:0; color:#2575f9; font-size:16px; width: 80px;top: 10px;height: 43px;}
.priceBox table td ul li span.span {line-height: 17px;margin: 0;font-weight: 400;width: 100%;text-align: center;position: absolute; bottom: 0;}
.priceBox table .border_add {border-bottom:2px solid #979797;}
.priceBox table tr.one_row { height:50px;line-height: 50px; border-bottom: 2px solid #979797;}
.priceBox table tr.one_row td span{line-height: 20px; font-size: 13px; display: block;height: 20px;text-align: left; font-weight: bold; cursor: pointer;}
.priceBox table tr.one_row td:nth-child(4){background: #fff;}
.priceBox table tr.lst_row {border-bottom:2px solid #979797;}
.priceBox table tr.btn_row td{background: #fff;}
.priceBox table tr.lst_row td {height:130px; }
.priceBox table tr.lst_row td span{line-height: 20px; font-size: 13px; display: block;height: 20px;text-align: left; margin: 20px 0 0 0; font-weight: bold;}
.priceBox table tr:last-child{text-align: center;}
.priceBox table .form {display: inline-block;vertical-align: middle;margin:20px auto ;}


.failure_box {max-width: calc(955px - 120px); margin: 0 auto 20px; padding: 0 60px;}
.failure_box h1 {color:#2c3f51; font-size:20px; padding:30px;border-top:1px solid rgba(61, 70, 92, 0.1); border-bottom:1px solid rgba(61, 70, 92, 0.1); text-align: center;}
.failure_box .failure_tb {margin:50px 0 0 0;border-top:3px solid #697992;font-size:14px;color:#576068;}
.failure_box .failure_tb tr { min-height: 55px;border-bottom: 1px solid rgba(61, 70, 92, 0.1);}
.failure_box .failure_tb tr th {width:20%;background: #f5f6fa;clear: both; line-height: 50px;text-align: center;padding: 10px 0;font-size: 16px;font-weight: 500; border: none;color:#33516b;}
.failure_box .failure_tb tr td {width:calc(80% - 40px);padding: 8px 20px;color:#33516b;text-align: left;}
.failure_box .failure_tb tr td span {display: block; font-size:14px; margin: 5px 0 0 0;color:#89929a;}
.failure_box a {clear: both;  display: block;background: #2575f9; margin: 10px auto 5px;width: 104px; height: 40px;line-height: 40px;color: rgb(255, 255, 255);letter-spacing: -0.4px;font-size: 14px; border-radius: 5px; text-align: center;}

.pricingBox_m {display: none;}

.payresult p {text-align:center; font-size:18px; margin:20px 0 10px;color:#33516b;}
.payresult a.linkto {color:#2575f9;background: #fff; width:auto;height:30px; line-height:30px; margin:0 0 80px 0;font-size:18px;}

/*더알아보기 팝업 basic*/
.lyrmore {display:none; position: absolute; top:0; left:0; width:100%; height:100%; z-index:200;}
.lyrmore .lyr_bg {position:absolute; top:0; left:0; width:100%; height:100%; }
.lyrmore .lyrBox {overflow:hidden; position:absolute; top:125px; left:50%; width: 450px; margin:0 0 0 -340px; border-radius:10px; background:#f0f4fb; box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.5);}
.lyrmore .lyr_top {display:block; padding:7px 20px;text-align: center;}
.lyrmore .lyr_top h3 {margin:15px 0 9px 0;  color: #000; font-size: 23px;}
.lyrmore .lyr_mid {padding: 0 32px;}
.lyrmore .lyr_mid .tbl_view {width:100%;}
.lyrmore .lyr_mid .tbl_view tr {border-bottom:1px solid #979797;}
.lyrmore .lyr_mid .tbl_view tr:first-child {border-bottom: 3px solid #979797; border-top: 3px solid #979797;}
.lyrmore .lyr_mid .tbl_view th {text-align: left;font-size:14px;height: 50px;}
.lyrmore .lyr_mid .tbl_view td {height:40px;font-size: 14px;text-align: left; font-weight: 400;}
.lyrmore .lyr_btm {text-align: center;}
.lyrmore .lyr_btm  li {display: inline-block; width: 30px; height: 30px; border: 1px solid #4a8dfc;border-radius: 32px; margin: 20px 0;}
.lyrmore .lyr_btm .btn_lyr_close {overflow:hidden;width: 31px;height: 31px; text-indent:-99px; border:none;  background:url(../images/btn_legacy_close_p.png) 50% 50% no-repeat; background-size: 13px;  cursor:pointer; transition:all 0.3s ease-out;}
.lyrmore .lyr_btm .btn_lyr_close:hover, .lyrWrap .lyrBox .lyr_top .btn_lyr_close:focus {opacity:1.0; transition:all 0.3s ease-out;transform: rotate(180deg);}
.delay-1 {animation-delay: 0.5s;}

#lyr_more_premium {display: none; margin: 0 0 0 -225px;letter-spacing: -0.5px;font-weight: 500;}

.pricingWrap .common_footer{position:unset;}

/* [추가] 20190726 YMJ */
.login_box .txt_box span em {display:block; clear:both; overflow:hidden; padding:8px 0 0 0; font-size:13px; font-weight:normal;}
.login_box .txt_box span em.em_noti {font-weight:300; font-size:18px; display:inline;}
.login_box .txt_box span em.em_noti span {font-weight:300;}
.login_box .txt_box span em.extra_desc {font-weight:normal; font-size:18px;}

.stn_landing_m.mobile {display: none;}
.stn_landing{clear:both; position:relative; width:100%; margin:0 auto;}
.stn_landing_m {clear:both; position:relative; width:100%; margin:0 auto 60px auto;}

.stn_landing .stn_landing_tit {width: 1220px;margin: 0 auto;display:block; position:relative ;height:43px; text-align: center;}
.stn_landing .stn_landing_tit:before {content:''; position:absolute; top:50%; left:0; width:100%; height:1px; border-top: 1px dashed #979797;}
.stn_landing .stn_landing_tit span {display:inline-block; position:relative; padding: 0px 40px; color:#5e5b5b; font-size:21px; font-weight:normal; line-height:40px; text-align:center; letter-spacing:-1px;  background:#fff;}

.stn_landing .landing_layers {padding:0 0 90px 0;width:1220px;margin:0 auto;}
.stn_landing_cont {margin: 40px 0px 0px 0px;}
.stn_landing_cont .item_set {position: relative; text-align: left;}
.stn_landing_cont .item_set + .item_set {margin: 44px 0px 0px 0px;}
.stn_landing_cont .item_set .item_title {float:left;position: relative; width: 15%; height: 100%; padding: 10px 0px 0px 10px; vertical-align: top; border-radius: 6px; text-align: left;}
.stn_landing_cont .item_set .item_title:after {content: ''; display: block; position: absolute; top: 26px; left: calc(100% - 3px); width: 4px; height: 4px; border-radius: 4px; border: 1px solid #89969f; background: #fff;}
.stn_landing_cont .item_set .item_title > div span {position: relative; padding: 0px 0px 4px 0px; font-size: 11px; color: rgba(255, 255, 255, 0.8);}
.stn_landing_cont .item_set .item_title > div span::before {content: ''; display: block; position: absolute; bottom: 0px; left: 0px; width: 28px; height: 1px; background: rgba(255, 255, 255, 0.8);}
.stn_landing_cont .item_set .item_title > div em {display: block; line-height: 54px; font-size: 42px; color: rgba(255, 255, 255, 0.8);}
.stn_landing_cont .item_set .item_title h3 {width: 71%; margin: 15px 0px 0px 0px; font-size: 18px; font-weight: bold; line-height: 24px; color: #fff; word-break: keep-all;}
.stn_landing_cont .item_set .item_title h3 span {font-size: 14px; white-space: nowrap;}
.stn_landing_cont .item_set .item_cont {display: inline-block; width: calc(85% - 20px); margin: 0px 0px 0px 20px;}
.stn_landing_cont .item_set .item_lst {width: 100%;font-size:0;}
.stn_landing_cont .item_set .item_lst > li {display: inline-block; position: relative;width: calc(16% - 20px); vertical-align: top; border: 1px solid #ded9d9; border-radius: 8px; background: #fff; box-sizing: border-box;}
.stn_landing_cont .item_set .item_lst > li:before {content: ''; display: block; position: absolute; top: 25px; left: -3px; width: 4px; height: 4px; border-radius: 4px; border: 1px solid #89969f; background: #fff; z-index: 20;}
.stn_landing_cont .item_set .item_lst > li:after {content: ''; display: block; position: absolute; top: 25px; left: calc(100% - 3px); width: 4px; height: 4px; border-radius: 4px; border: 1px solid #89969f; background: #fff; z-index: 20;}
.stn_landing_cont .item_set .item_lst > li > .inner_box {position:relative; display: block; height: 100%; border-radius: 4px;}
.stn_landing_cont .item_set .item_lst > li > .inner_box:before {content: ''; display: block; position: absolute; top: 28px; right: 100%; width: 16px; border: 0.5px dashed #89969f; z-index: 10;}
.stn_landing_cont .item_set .item_lst > li > .inner_box strong {position:absolute;top:47px;right:100px; font-size: 13px; letter-spacing: -0.17px;text-align: center;color: #1e2438; }
.stn_landing_cont .item_set .item_lst > li > .inner_box strong span {position:absolute;top: 1px;right: -49px; text-align: center;letter-spacing: normal;width: 40px;height: 17px;line-height: 17px;border-radius: 15px;border: solid 1px #f50a2f;font-size: 11px;background-color: #ffffff;color: #f50a2f;vertical-align: text-top;}
.stn_landing_cont .item_set .item_lst > li > .inner_box strong img{display: block; width:56px;margin: 7px 0 0 0;}
.stn_landing_cont .item_set .item_lst > li dl dt {border-radius: 6px 6px 0px 0px; padding: 5px 0px; text-align: center;font-size:12px;}
.stn_landing_cont .item_set .item_lst > li dl dt em {color: #fff;}

.stn_landing_cont .item_set .item_lst > li dl dd {padding: 4px 10px; text-align: center;}

.stn_landing_cont .item_set .item_lst > li dl .tile_txt {position: relative; top: 0px; left: calc(50% - 132px);width: 184px;padding: 0px;}
.stn_landing_cont .item_set .item_lst > li dl .tile_txt em {display: block; overflow: hidden;}
.stn_landing_cont .item_set .item_lst > li dl .tile_txt em span {display: inline-block; width: 80px;margin:0 7px 0 0; padding: 4px 0px; line-height: 15px; border: 1px solid #7056d4; border-radius: 4px; font-size: 12px; font-weight: bold; color: #333e48; text-align: center;box-sizing: border-box;}
.stn_landing_cont .item_set .item_lst > li dl .tile_txt em:nth-child(2) {margin: 5px 0px 0px 0px;}
.stn_landing_cont .item_set .item_lst > li.stn_landing_cont .item_set.bg_purple .item_lst > li:first-child dl .tile_txt em:nth-child(2) span {height: 34px; padding:1px 0;vertical-align: middle;box-sizing: border-box;}
.stn_landing_cont .item_set .item_lst > li dl .tile_txt em:nth-child(2) span {height: 34px;vertical-align: middle;box-sizing: border-box;padding: 1px 0;}
.stn_landing_cont .item_set .item_lst > li dl .tile_txt em:nth-child(2) span:nth-child(2) {vertical-align: top;padding: 8px 0px 0px 0px;height: 34px;font-size: 14px;}

.stn_landing_cont .item_set .item_lst > li:nth-child(2) {width: 17%;}
.stn_landing_cont .item_set .item_lst > li:nth-child(5), .stn_landing_cont .item_set .item_lst > li:nth-child(6) {width: 15.5%;}
.stn_landing_cont .item_set .item_lst > li:last-child:after {display: none;}
.stn_landing_cont .item_set .item_lst > li + li {margin: 0px 0px 0px 20px;}
.stn_landing_cont .item_set .link_mvp_maker {display: block; box-sizing:border-box; width:100%; height: 30px;line-height: 28px; margin:13px 0 0 0;border-radius: 8px;border: solid 1px #5e4df8;text-align: center;font-size: 14px;font-weight: bold;letter-spacing: -0.19px;color: #1e2438;}
.stn_landing_cont .item_set .em_enter > li dl dt > em {position: absolute; top: 26px; left: 50%; -webkit-transform: translate(-50%, 0%); transform: translate(-50%, 0%); width: 100%; font-size: 13px; font-weight: bold; color: #1e2438;}
.stn_landing_cont .item_set .em_enter > li dl dt > em span.open  {display: inline-block;letter-spacing: normal;width: 40px;height: 17px;line-height: 17px;border-radius: 15px;border: solid 1px #f50a2f;font-size: 11px;background-color: #ffffff;color: #f50a2f;vertical-align: text-top;}
.stn_landing_cont .item_set .em_enter_down > li dl dt > em {position: absolute; top: 50px; left: 50%; -webkit-transform: translate(-50%, 0%); transform: translate(-50%, 0%); width: 100%; font-size: 12px; font-weight: bold; color: #1e2438;}
.stn_landing_cont .item_set .em_enter_down > li dl dd img {margin: 12px 0px 0px 0px; width: 16px;}
.stn_landing_cont .item_set .go_editTool {width: 100%; margin: 10px 0px 0px 0px; padding: 3px 0px; border-radius: 8px; border: 1px solid #9ac646;box-sizing: border-box; }
.stn_landing_cont .item_set .go_editTool a {display: block; text-align: center; font-size: 12px; font-weight: bold; color: #1e2438;}
.stn_landing_cont .item_set:nth-child(1) .item_title h3 {width: 120px;}
.stn_landing_cont .item_set.bg_purple .item_title, .stn_landing_cont .item_set.bg_purple dt {background: #7056d4 !important;}
.stn_landing_cont .item_set.bg_purple .item_title{height: 176px;box-sizing: border-box;}
.stn_landing_cont .item_set.bg_purple ul.item_lst > li {height:133px;border-color: #7056d4;}
.stn_landing_cont .item_set.bg_purple .item_lst > li {width: calc(28% - 20px);}
.stn_landing_cont .item_set.bg_purple .item_lst > li:first-child {width: 44%;}
.stn_landing_cont .item_set.bg_purple .item_lst > li a {}
.stn_landing_cont .item_set.bg_purple .item_lst > li dl dd {margin: 45px 0px 0px 0px;}
.stn_landing_cont .item_set.bg_purple .item_lst > li dl dd img {margin: 6px 0px 0px 0px; height: 45px;}
.stn_landing_cont .item_set.bg_purple .item_lst > li:nth-child(2) dd img, .stn_landing_cont .item_set.bg_purple .item_lst > li:nth-child(5) dd img {margin: 4px 0px 0px 0px; height: 52px;}

.stn_landing_cont .item_set.bg_blue .item_title, .stn_landing_cont .item_set.bg_blue dt {background: #20aade !important;}
.stn_landing_cont .item_set.bg_blue ul.item_lst > li {border-color: #20aade;}
.stn_landing_cont .item_set.bg_blue .item_title, .stn_landing_cont .item_set.bg_blue ul.item_lst > li {height: 210px;box-sizing: border-box;}
.stn_landing_cont .item_set.bg_blue .item_lst > li:nth-child(2) {height: 306px;}
.stn_landing_cont .item_set.bg_bgreen .item_title, .stn_landing_cont .item_set.bg_bgreen dt {background: #25ceb9 !important;}
.stn_landing_cont .item_set.bg_bgreen ul.item_lst > li {border-color: #25ceb9;}
.stn_landing_cont .item_set.bg_bgreen ul.item_lst > li dl {position: relative;}
.stn_landing_cont .item_set.bg_bgreen ul.item_lst > li dl:before {content: ''; display: block; position: absolute; bottom: 100%; left: calc(50% - 1px); width: 2px; height: 144px; background: -webkit-gradient(linear, left top, left bottom, from(#20aade), to(#25ceb9)); background: linear-gradient(to bottom, #20aade, #25ceb9);}
.stn_landing_cont .item_set.bg_bgreen ul.item_lst > li dl dt:before {content: ''; display: block; position: absolute; top: -150px; left: calc(50% - 4px); border-bottom: 6px solid #20aade; border-top: 4px solid transparent; border-right: 4px solid transparent; border-left: 4px solid transparent;}
.stn_landing_cont .item_set.bg_bgreen ul.item_lst > li dl dt:after {content: ''; display: block; position: absolute; bottom: calc(100% - 3px); left: calc(50% - 4px); border-top: 6px solid #25ceb9; border-bottom: 4px solid transparent; border-right: 4px solid transparent; border-left: 4px solid transparent;}
.stn_landing_cont .item_set.bg_bgreen ul.item_lst > li:nth-child(2) dl:before {height: 48px;}
.stn_landing_cont .item_set.bg_bgreen ul.item_lst > li:nth-child(2) dl dt:before {content: ''; display: block; position: absolute; top: -55px; left: calc(50% - 4px); border-bottom: 6px solid #20aade; border-top: 4px solid transparent; border-right: 4px solid transparent; border-left: 4px solid transparent;}
.stn_landing_cont .item_set.bg_bgreen .item_title, .stn_landing_cont .item_set.bg_bgreen ul.item_lst > li {height: 84px;box-sizing: border-box;}
.stn_landing_cont .item_set.bg_green .item_title, .stn_landing_cont .item_set.bg_green dt {background: #9ac646 !important;}
.stn_landing_cont .item_set.bg_green ul.item_lst > li {border-color: #9ac646;}
.stn_landing_cont .item_set.bg_green ul.item_lst > li dl {position: relative;}
.stn_landing_cont .item_set.bg_green ul.item_lst > li dl:before {content: ''; display: block; position: absolute; bottom: 100%; left: calc(50% - 1px); width: 2px; height: 46px; background: -webkit-gradient(linear, left top, left bottom, from(#25ceb9), to(#9ac646)); background: linear-gradient(to bottom, #25ceb9, #9ac646);}
.stn_landing_cont .item_set.bg_green ul.item_lst > li dl dt:before {content: ''; display: block; position: absolute; top: -50px; left: calc(50% - 4px); border-bottom: 6px solid #25ceb9; border-top: 4px solid transparent; border-right: 4px solid transparent; border-left: 4px solid transparent;}
.stn_landing_cont .item_set.bg_green ul.item_lst > li dl dt:after {content: ''; display: block; position: absolute; bottom: calc(100% - 3px); left: calc(50% - 4px); border-top: 6px solid #9ac646; border-bottom: 4px solid transparent; border-right: 4px solid transparent; border-left: 4px solid transparent;}
.stn_landing_cont .item_set.bg_green .item_title {height: 104px;box-sizing: border-box;}
.stn_landing_cont .item_set.bg_green ul.item_lst > li {height: 68px;}
.stn_landing_cont .item_set.bg_green .em_enter_down > li dl dt > em {top: 42px;}
.stn_landing_cont .item_set.bg_green .em_enter_down > li dl dd img {margin: 6px 0px 0px 0px;}
.stn_landing_cont .item_set.bg_bgreen .item_title > div, .stn_landing_cont .item_set.bg_bgreen .item_title h3, .stn_landing_cont .item_set.bg_green .item_title > div, .stn_landing_cont .item_set.bg_green .item_title h3 {display: inline-block;}
.stn_landing_cont .item_set.bg_bgreen .item_title h3{font-size:16px;}
.stn_landing_cont .item_set.bg_green .item_title h3 {font-size:14px; line-height: 1.64;}
.stn_landing_cont .item_set.bg_bgreen .ico_plus {background-color: #25ceb9;}

.stn_landing_m.mobile {width: auto;}
.stn_landing_m.mobile .stn_landing_cont {padding: 0px 0px 30px 0px;}
.stn_landing_m.mobile .stn_landing_cont .item_set:before {width: calc(100% - 300px); top: 76px; left: 150px;}
.stn_landing_m.mobile .stn_landing_cont .item_set .item_title {display: block; width: calc(100% - 32px); height: auto !important; margin: 0px 0px 0px 16px; padding: 6px 10px 7px;}
.stn_landing_m.mobile .stn_landing_cont .item_set .item_title:after {display: none;}
.stn_landing_m.mobile .stn_landing_cont .item_set .item_title > div {display: inline-block; vertical-align: bottom;}
.stn_landing_m.mobile .stn_landing_cont .item_set .item_title > div span {display: inline-block; padding: 0px; vertical-align: middle;}
.stn_landing_m.mobile .stn_landing_cont .item_set .item_title > div span:before {display: none;}
.stn_landing_m.mobile .stn_landing_cont .item_set .item_title > div em {display: inline-block; padding: 0px 0px 0px 4px; line-height: 22px; font-size: 20px; vertical-align: middle;}
.stn_landing_m.mobile .stn_landing_cont .item_set .item_title h3 {display: inline-block; width: auto; vertical-align: bottom; margin: 0px 0px 0px 12px; font-size: 16px; font-weight: normal;}
.stn_landing_m.mobile .stn_landing_cont .item_set ul.item_lst {display: block; margin: 10px 0px 0px 0px; padding:0px 16px; width:auto;}
.stn_landing_m.mobile .stn_landing_cont .item_set ul.item_lst > li {width: auto;}
.stn_landing_m.mobile .stn_landing_cont .item_set ul.item_lst > li a {-webkit-box-shadow: none; box-shadow: none;}
.stn_landing_m.mobile .stn_landing_cont .item_set ul.item_lst > li .inner_box:before {width: 20px;}
.stn_landing_m.mobile .stn_landing_cont .item_set ul.item_lst > li:first-child:before {display: none;}
.stn_landing_m.mobile .stn_landing_cont .item_set ul.item_lst > li:first-child .inner_box:before {display: none;}
.stn_landing_m.mobile .stn_landing_cont .item_set ul.item_lst > li + li {margin: 0px;}
.stn_landing_m.mobile .stn_landing_cont .item_set .go_editTool {width: calc(100% - 32px); margin: 8px 0px 0px 16px;}
.stn_landing_m.mobile .stn_landing_cont .item_set:nth-child(1) .item_title h3 {width: auto;}
.stn_landing_m.mobile .stn_landing_cont .item_set.bg_bgreen ul.item_lst > li dl:before, .stn_landing.mobile .stn_landing_cont .item_set.bg_green ul.item_lst > li dl:before {display: none;}
.stn_landing_m.mobile .stn_landing_cont .item_set.bg_bgreen ul.item_lst > li dl dt:before, .stn_landing.mobile .stn_landing_cont .item_set.bg_green ul.item_lst > li dl dt:before {display: none;}
.stn_landing_m.mobile .stn_landing_cont .item_set.bg_bgreen ul.item_lst > li dl dt:after, .stn_landing.mobile .stn_landing_cont .item_set.bg_green ul.item_lst > li dl dt:after {display: none;}

/* swiper */
.swiper-container {overflow: hidden; display: block; width: 100%; height: auto; white-space: nowrap; padding: 0px 0px 10px 0px;}
.swiper-pagination {width: 100%; height: 8px; margin: 16px 0px 0px 0px; text-align: center;}
.swiper-pagination-bullet {display: inline-block; width: 8px; height: 8px; border-radius: 8px; background-color: #ece9e9;}
.swiper-pagination-bullet + .swiper-pagination-bullet {margin: 0px 0px 0px 10px;}
.swiper-pagination-bullet-active {width: 24px; background-color: #9e9e9e;}

.landing_ico {text-align: left; padding: 3px 0px 3px 0;}
.landing_ico .img {display: inline-block; width: 22px; height: 22px; vertical-align: middle; text-align: center;}
.landing_ico .img img {width: 22px; text-align: center; vertical-align: middle;}
.landing_ico .img .img_m {width: 20px;}
.landing_ico .img .img_s {width: 18px;}
.landing_ico .img .img_xs {width: 16px;}
.landing_ico em {display: inline-block; width: calc(100% - 32px);vertical-align: middle;margin: 0px 0px 0px 5px;font-size: 12px;font-weight: bold;letter-spacing: -0.16px;line-height: 13px;}
.ico_plus {display: inline-block; position: relative; width: 9px; height: 9px; border-radius: 50%;}
.ico_plus:before {content: ''; display: block; position: absolute; top: 4px; left: 2px; width: 5px; height: 1px; background-color: rgba(255,255,255,0.8);}
.ico_plus:after {content: ''; display: block; position: absolute; top: 2px; left: 4px; width: 1px; height: 5px; background-color: rgba(255,255,255,0.8);}

/*2020.02.11. mrs renew */
.stn_landing .landing_box {height:497px;background:url("../../common/images/img_landing_album.png") 50% 50% no-repeat;background-size: cover;}
.stn_landing .landing_box .area_box {width:1220px; margin:0 auto;}
.stn_landing .landing_box .layer_desc {float:right;width:475px;text-align: left;padding: 136px 0 0;}
.stn_landing .landing_box .layer_desc h4 {margin:0 0 14px 0; font-size:26px;font-weight: bold; line-height: 1.34;color: #ffffff;}
.stn_landing .landing_box .layer_desc h4 em {display: inline-block; text-align:center;letter-spacing: normal;width: 48px;height: 20px;line-height: 20px; border-radius: 15px;border: solid 1px #f50a2f;  font-size: 14px;background-color: #ffffff;color: #f50a2f;vertical-align: middle;margin: 0 0 0 7px;}
.stn_landing .landing_box .layer_desc p {margin:0 0 48px 0; font-size:22px; font-weight: 300;line-height: 1.5; color: #ffffff;}
.stn_landing .landing_box .layer_desc a.try_link{display: inline-block;height: 40px;line-height: 40px;margin:0 64px 0 0; padding:0 35px; border-radius: 4px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); border: solid 1px #002b49; background: #fff; color: #002b49; font-size: 18px;font-weight: bold; letter-spacing: -0.1px;}
.stn_landing .landing_box .layer_desc a.down_link {color:#fff; font-size: 17px;font-weight: bold;line-height: 1.35;letter-spacing: -0.09px;}
.stn_landing .landing_box .layer_desc a img {margin:11px 0 0 6px;}

.stn_landing .landing_box.voicealbum .album_logo { float:left;margin: 0 auto 23px; overflow: hidden;padding: 72px 0 0;width:auto;opacity: 0.7;}
.stn_landing .landing_box.voicealbum .album_logo img{float: left;margin:0 10px 0 30px;width:97px;}
.stn_landing .landing_box.voicealbum .album_logo .title {float:left;}
.stn_landing .landing_box.voicealbum .album_logo .title h1{height: 30px;line-height: 25px; font-size:30px;font-weight: 500;letter-spacing: -1.4px;color:#fff; margin:10px 0 7px 0;}
.stn_landing .landing_box.voicealbum .album_logo .title h1 span {font-family: 'Lato';font-weight:700;font-style: italic;}
.stn_landing .landing_box.voicealbum .album_logo .title strong {display:block;font-family: Georgia,Times,Times New Roman,serif; font-style:italic;letter-spacing: -0.5px;color:#fff;font-weight:300; font-size:14px; background: rgba(255,255,255,0.2);height: 22px; padding: 0 14px; border-radius: 7px; line-height: 22px; text-align: center;}
.stn_landing .landing_box.voicealbum .album_logo p { letter-spacing: -1.17px;font-size:35px;display: block;width:300px;background: rgba(255,255,255,0.2);color:#fff;}


.stn_landing .landing_box.minutes {background:url("../../common/images/img_landing_record.png") 50% 50% no-repeat;background-size: cover;}
.stn_landing .landing_box.minutes .area_box {width:1220px;margin:0 auto;color: #002b49;}
.stn_landing .landing_box.minutes .layer_desc h4, .stn_landing .landing_box.minutes .layer_desc p, .stn_landing .landing_box.minutes .layer_desc a {color: #002b49;}
.stn_landing .landing_box.voiceBot {background:url("../../common/images/img_landing_voicebot.png") 50% 50% no-repeat;background-size: cover; background-position: left;}
.stn_landing .landing_box.voiceBot .layer_desc {padding:85px 0 0;}
.stn_landing .landing_box.voiceBot strong { display: block; width: 137px;height: 40px;margin: 0 0 10px 0;border-radius: 3px;border: solid 1px #99d6ff; font-size: 16px; font-weight: normal;line-height: 40px;letter-spacing: -0.13px;text-align: center;color: #99d6ff;}
.stn_landing .landing_box.cloudapi {background: #f1fbff;}
.stn_landing .landing_box.cloudapi .area_box{width:1220px; height: 100%; margin:0 auto;background-size: cover;background: url("../../common/images/ico_landing_maumai.png") 86px 97px no-repeat;color: #002b49;}
.stn_landing .landing_box.cloudapi .layer_desc h4, .stn_landing .landing_box.cloudapi .layer_desc p, .stn_landing .landing_box.cloudapi .layer_desc a {color: #002b49;}
.stn_landing .landing_box.workspace {background:url("../../common/images/img_landing_data.png") 50% 50% no-repeat;background-size: cover;box-sizing: border-box;}
.stn_landing .landing_box.datatool {position:relative;color: #002b49;padding:28px; background: #fff;box-sizing: border-box;}
.stn_landing .landing_box.datatool .layer_box {position:absolute; top:28px; left:28px; width: calc(100% - 56px);height: 439px;border: solid 4px #506df5;z-index: 0;}
.stn_landing .landing_box.datatool .layer_box span {float:right;padding: 11px 15px;font-size: 15px;font-weight: normal;line-height: 1.53;letter-spacing: -0.08px;color: #506df5;}
.stn_landing .landing_box.datatool .area_box {position:relative; height: 439px;overflow: hidden;background-size: cover;background:url("../../common/images/img_landing_datatool.png") 60px 43px no-repeat;z-index: 1;}
.stn_landing .landing_box.datatool img {margin:0 0 12px 0;}
.stn_landing .landing_box.datatool img.data_img {display: none;}
.stn_landing .landing_box.datatool .layer_desc {padding:108px 0 0;}
.stn_landing .landing_box.datatool .layer_desc h4 {margin:0 0 50px 0;color: #002b49;}
.stn_landing .landing_box.datatool .layer_desc a { display:block; width: 264px;height: 40px;line-height: 40px;border-radius: 4px;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);background-color: #506df5;color:#fff; text-align: center; font-size: 20px;font-weight: bold;letter-spacing: -0.1px;}
.stn_landing .landing_box.ecominds {position:relative; height: 160px;background-image: linear-gradient(95deg, #69d5bf 1%, #3a9b97 20%, #4c69a1 51%, #20b55d 94%);color:#fff;text-align: left;}
.stn_landing .landing_box.ecominds h3 {float:left; padding:43px 0 0 100px;font-size: 28px;font-weight: 500;line-height: 1.54;color: #ffffff;}
.stn_landing .landing_box.ecominds h3 small { display:block;font-size: 18px;font-weight: normal;line-height: 1.33;color: #ffffff;}
.stn_landing .landing_box.ecominds a.eco_link { float:right;margin:60px 107px 0 0; width: 367px;height: 40px;display: block; color:#fff; border-radius: 4px;border: solid 1px #ffffff;text-align: center;line-height: 40px; font-size: 17px;letter-spacing: -0.09px;}
.stn_landing .landing_box.ecominds a.eco_link img {margin:11px 0 0 6px;}
/* stn_inquiry */
.stn_inquiry.main_footer {overflow: hidden; height:405px;  background-color: #edf8fd;}
.stn_inquiry .cont_box {padding: 52px 98px 27px 27px;width:1220px;margin:0 auto;box-sizing: border-box;overflow: hidden;height: 100%;}
.stn_inquiry .cont_box .info_box {float: left;position:relative; width: 50%;height: 100%;}
.stn_inquiry .cont_box .info_box > img {width: 160px; margin: 0 0 50px 0;}
.stn_inquiry .cont_box .info_box h3 {margin: 0 0 11px 0; line-height: 33px;}
.stn_inquiry .cont_box .info_box {text-align: left;}
.stn_inquiry .cont_box .info_box .social_box a { float: left;margin:0 50px 50px 0; font-size: 14px;text-align: center;color: #002b49;}
.stn_inquiry .cont_box .info_box .social_box a img {display: block; width:40px; margin: 0 auto 7px;}
.stn_inquiry .cont_box .info_box .detail {margin: 0 0 76px 0; color: #4d5699; font-size: 15px; line-height: 22px;}
.stn_inquiry .cont_box .info_box .m_detail {display: none; color: #4d5699; font-size: 15px; line-height: 22px;}
.stn_inquiry .cont_box .info_box ul {clear:both;height:17px; margin:0 0 24px 0;}
.stn_inquiry .cont_box .info_box ul li {float: left;margin:0 28px 0 0; }
.stn_inquiry .cont_box .info_box ul li .info{ font-size: 14px;font-weight:bold;color: #002b49;}
.stn_inquiry .cont_box .info_box ul li .info.mail > span{font-weight: normal;}

.stn_inquiry .cont_box .info_box .info_desc{ font-size: 11px;  color: #002b49;  line-height: 1.73;}
.stn_inquiry .cont_box .info_box .info_desc em {display: block;font-weight:bold;}

.stn_inquiry .cont_box .inquiry_box {position: relative;float: right; width: 376px;}
.stn_inquiry .cont_box .inquiry_box > span {display: block; margin:20px 0 12px 0;font-size:16px;color:#002b49;font-weight: bold; }
.stn_inquiry .cont_box .inquiry_box > div {position: relative; text-align: left;}
.stn_inquiry .cont_box .inquiry_box input,
.stn_inquiry .cont_box .inquiry_box textarea {display: block; float: left; width: 100%; height: 40px; padding: 0 16px;border-radius: 4px;border: solid 1px rgba(0,43,73,0.5);box-sizing: border-box; color: #252f72; background: #fff; font-size: 14px;}
.stn_inquiry .cont_box .inquiry_box label {display: block; position: absolute; left: 16px; color: #9e9e9e; font-size: 14px; opacity: 0.8;font-weight: 400;}
.stn_inquiry .cont_box .inquiry_box label span {margin: 0 5px 0 0;}
.stn_inquiry .cont_box .inquiry_box input:focus + label {visibility: hidden;}
.stn_inquiry .cont_box .inquiry_box .my_info {float: left; width: calc(50% - 4px); height: 40px; margin: 0 0 10px 0;}
.stn_inquiry .cont_box .inquiry_box .my_info label {top: 10px;}
.stn_inquiry .cont_box .inquiry_box .my_info + .my_info {margin: 0 0 10px 8px;}
.stn_inquiry .cont_box .inquiry_box .my_info.email_info {margin: 0 0 10px 0; width: 100%;}
.stn_inquiry .cont_box .inquiry_box .my_txt {clear: both; width: 100%; height: 110px;}
.stn_inquiry .cont_box .inquiry_box .my_txt textarea {display: block; width: 100%; height: 100%; padding: 12px 16px 10px}
.stn_inquiry .cont_box .inquiry_box .my_txt label {top: 12px;}
.stn_inquiry .cont_box .inquiry_box .my_txt textarea:focus + label {visibility: hidden;}
.stn_inquiry .cont_box .inquiry_box .btn_send {width:100%; height: 40px; margin: 20px 0 0 0;border-radius: 5px;border: none;  background-color: #002b49; color: #fff; font-size: 14px; font-weight: 300;cursor: pointer;}

#mail_success {}
#mail_success .popWrap {width:296px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);margin: 25% 0;}
#mail_success .pop_bd p{  color: #002b49;font-size:15px;  line-height: 1.47;margin: 30px 0;}
#mail_success .btn {padding:0 20px;}
#mail_success .btn button {width:100%; background-color: #002b49; font-size: 14px;border-radius: 4px;height: 40px;color: #fff;margin: 0 0 20px 0;}

/*이용약관*/
.cont_term {background: #fff;}
.terms_box {width:955px; margin:60px auto 40px; font-size: 14px; line-height: 24px;text-align: left;}
.terms_box h1 { background: #192a39; color: #fff; font-size: 20px; padding: 10px;text-align: center;}
.terms_box span{font-size: 20px; color: #192a39; display: block; border-bottom: 1px solid #eee; padding: 20px 0;font-weight:500;}
.terms_box strong {background: #eceeef;color: #192a39;display: inline-block;padding: 0 10px;margin: 0 0 5px 0;}

/* 높이값이 작을 때*/
@media screen and (max-height:700px){

	.signup_box {height:auto;}
	.signup_box + .common_footer {position:relative;}
	.pay_footer {position:relative !important;}
}
@media screen and (max-height: 500px){
	.pay_footer {
		position:relative !important;
	}

}

/* Mobile Layout */ 
@media screen and (max-width:767px) {
	
	#wrap {width:100%; min-width: 100%;}
	.loginWrap {overflow: auto;}
	.header_box {width:100%;}
	.common_header {height: 70px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);position: fixed;width: 100%; background: #fff;z-index: 100;}
	.common_header h1 { margin: 17px 10px 0 14px;}
	.common_header h1 > a {width:100%;height:100%;display:block;}
	.common_header h1 > a img {width:100px;}
	.common_header h1 span {display:none;}
	.common_header .sta {width:auto;}
	.common_header a.go_price {width:75px;height: 22px;line-height: 22px;border: 1px solid; border-radius: 6px;background: #ffffff; margin: 37px 5px 0 0; font-size: 11px; text-align: center;}
	.common_header a span {display: none;}
	.common_header .sta .etcMenu {float:unset;position:absolute;top:5px;right: 6px; }
	.common_header .sta .etcMenu ul li{margin:0;}
	.common_header .sta .etcMenu ul li.lang {width:70px;}
	.common_header .sta .etcMenu ul li.lang ul.lst {width:70px;}
	.common_header .sta .etcMenu ul li.lang ul.lst li a {width:70px;}
	.common_header .sta .etcMenu ul li.lang p.lang_select {font-size:10px;}

	.login_box {width:100%; margin:90px auto 0;}
	.login_box .txt_box p {font-size:20px; width: 90%;height:auto;margin:0 auto;}
	.login_box .txt_box .btn_sign{display: block; position: absolute;top: 40px;left: 50%;width: 160px;height: 32px;background: none;text-indent: 0;text-align: center;box-sizing: border-box;margin: 0 0 0 -80px;border-radius: 16px;font-size: 15px;line-height: 31px;font-weight: normal;letter-spacing: -0.55px;}
	.login_box .txt_box > span {font-size:16px; margin:0 0 40px 0;width:100%;}
	.login_box .txt_box .img_box {width:100%; height:200px;padding:100px 0 0 0;}
	.login_box .txt_box .img_box img {width:80%; left:50%; margin:0 0 0 -130px; animation:3s linear 0s infinite alternate cloud_m; -webkit-animation:3s linear 0s infinite alternate cloud_m;}

	.login_box .txt_box .signup_desc{font-size:11px; padding:10px 20px 20px;margin:0; line-height: 16px;}
	.login_box .txt_box .signup_desc strong{display:block;}

	.login_box .txt_box .login_area {width:100%; margin: 90px 0 0;}
	.login_box .txt_box .login_area p {width:100%; padding: 50px 0;}
	.login_box .txt_box .login_area img {width:160px;}

	.login_box .enroll_noti{width:100%;margin:0;}
	.signup_box .txt_box > span.signup_complete {padding:0;line-height:16px;}
	.signup_box .txt_box > p {padding:0;}
	.signup_box .enroll_noti img {float:unset; margin:0 auto;}
	.signup_box .enroll_noti ul {padding: 0 20px;margin: 0 0 0 10px;}
	.signup_box .enroll_noti ul li {font-size:10px;line-height:1.4;}

	.form_box {width:100%;}
	.form_box span { font-size: 12px; float: left; margin: 0 0 0 20px;height:28px; line-height: 28px;}
	.form_box form {margin: 0 20px 20px 20px;}
	.form_box .input_box .txtfield label {width:44%;font-size: 12px;}
	.form_box .input_box .txtfield input {width: 55%; margin: 6px 0 0 0;font-size: 12px;}
	.form_box .input_box .txtfield input.input_long {width:55%;}
	.form_box .input_box .txtfield a{ width:60%;font-size: 14px;}
	.checkBox { font-size: 11px; width: 90%; text-align: left;line-height: 14px;}
	.checkBox input[type="checkbox"] + label:before {margin: 0 10px;width: 17px; height: 17px; border: 1px solid #0080df;font-size: 12px;line-height: 17px;}
	.checkBox input[type="checkbox"]:checked + label:before {font-size:12px;line-height: 17px;}
	.checkBox label span {display: block; padding: 0 0 0 43px;}
	.login_box .txt_box .input_done {margin:20px auto;font-size: 15px;font-weight: 400;}

	#paypal-button-container{width: 88%;padding: 20px 0;margin: 0 auto;}

	/*팝업 추가*/
	.txt_box .notice_box {top:-70px;width: 100%;}
	.txt_box .notice_box .left_box {float:unset;margin:0 auto 10px;}
	.txt_box .notice_box .aca_box {float:unset;margin:0 auto 10px;}

	/*팝업 추가*/
	.form_box .input_pay {width:95%;padding:0;margin:0 auto;}
	.form_box .input_pay .txtfield label {font-size:15px;}
	.form_box .input_pay + p {font-size:12px; margin: 10px;width:calc(100% - 20px);}
	.pay_footer {position:absolute !important;}

/*	popup*/
	.lyr_policy .lyrWrap {width:95%; height: 350px;}
	.lyr_term_kr .lyrWrap {width:95%; height: 350px;}
	
/*	footer*/
	.common_footer {margin: 0 auto; position: unset;}
	.common_footer p {padding:10px 10px 16px; font-size: 10px;}	
	.common_footer p strong{display: block;}
	.common_footer p span{display: block;}

	.signup_box + .common_footer {margin: 0 auto;position:unset;}
	.signup_box + .signup_footer {position:absolute;bottom:0;}

	#academy_footer .cont_box {width:100%; padding: 0 10px;box-sizing: border-box;}
	#academy_footer .btm_menu {height:auto;}
	#academy_footer .btm_menu .cont_box > a {display: none;}
	#academy_footer .btm_menu .menu_area {width:100%;margin: 20px 0 0;}
	#academy_footer .btm_menu .menu_area > div {float:unset;}
	#academy_footer .btm_menu .menu_area .contact {padding:0;border-left:none;}
	#academy_footer .btm_menu .menu_area .contact .info_box a {font-size:10px;}
	#academy_footer .btm_menu .menu_area .service {padding:20px 0;}
	#academy_footer .copyright {height:auto;}
	#academy_footer .copyright span {font-size:10px;line-height: 23px;}
/*	pricing*/
	.priceBox {display: none;}
	.pricingBox_m {display: block; clear: both;overflow: hidden; position: relative; background: #fff;width: 90%; margin: 70px auto;}	
	.pricingBox_m h1 {font-size:20px; text-align: center;color: #000;line-height:38px;max-width: 1200px; margin: 20px auto 30px;}
	.pricingBox_m h1 span {display: block; font-size: 11px; color:#2575f9; height: 20px;line-height: 22px;font-weight:400;}
	.pricingBox_m h1 span strong{display: block;}
	.price_cont .sub_titleArea {height:250px; padding:0 15px;}
	/* Style the tab */
	.pricingBox_m .price_tab .tab {overflow: hidden; background-color: #fff;}
	/* Style the buttons inside the tab */
	.pricingBox_m .price_tab .tab button {position: relative; background-color: inherit;width: 50%; height: 50px;float: left;border: none;outline: none;cursor: pointer; padding: 14px 5px; transition: 0.3s; font-size: 12px;font-weight: 600;border-bottom: 3px solid #eee;}
	.pricingBox_m .price_tab .tab button.enterprise {font-size:12px; line-height: 12px; height: 50px;}
	/* Create an active/current tablink class */
	.pricingBox_m .price_tab .tab button.active {border-bottom: 3px solid #4a8dfc; color: #4a8dfc;}
	.pricingBox_m .price_tab .tab button.active:after {content: ''; width:100%; position:absolute;left:50%; bottom:0; height:3px ;color:pink;animation: lineEffect 1s; }

	.pricingBox_m .price_tab .tbl_lst_m {width:100%; color: #000;}
	.pricingBox_m .price_tab .tbl_lst_m tr {border-bottom:1px solid #979797;height: 60px;}
	.pricingBox_m .price_tab .tbl_lst_m tr:first-child {height:40px;border: none;}
	.pricingBox_m .price_tab .tbl_lst_m tr:nth-child(6) {border:none;}
	.pricingBox_m .price_tab .tbl_lst_m td {width:63%;height: 40px;font-size: 13px;}
	.pricingBox_m .price_tab .tbl_lst_m td .em {font-size: 11px;}
	.pricingBox_m .price_tab .tbl_lst_m td .em i {color:#2575f9;margin: 0 5px 0 0;}
	.pricingBox_m .price_tab .tbl_lst_m td div {margin:5px 0 0 0;}
	.pricingBox_m .price_tab .tbl_lst_m td div a {color:#2575f9;}
	.pricingBox_m .price_tab .tbl_lst_m td ul li { position: relative; height:40px;line-height: 40px;font-size:12px; border-bottom: 1px solid #979797;}
	.pricingBox_m .price_tab .tbl_lst_m td ul li:last-child {border-bottom:none;}
	.pricingBox_m .price_tab .tbl_lst_m td ul li a {color:#2575f9;font-weight: 600;}
	.pricingBox_m .price_tab .tbl_lst_m td ul li span.brtxt { display: block; text-align: center;line-height: 12px; font-size: 10px;position: absolute;top: 27px;
    width: 100%;}
	.pricingBox_m .price_tab .tbl_lst_m td ul .li_df { height: 45px; line-height: 30px;}
	.pricingBox_m .price_tab .tbl_lst_m td ul .li_df span {display: block;position: absolute; top: 12px;font-size: 12px;font-weight: 400;}
	.pricingBox_m .price_tab .tbl_lst_m td ul.or_txt li {border:none;}
	.pricingBox_m .price_tab .tbl_lst_m td ul.or_txt li:after {content: 'or'; position:absolute; bottom: -10px;left:55px;color:#2575f9;height: 25px;line-height: 25px;}
	.pricingBox_m .price_tab .tbl_lst_m td ul.or_txt li:last-child:after {display: none;}
	.pricingBox_m .price_tab .tbl_lst_m td ul li img{vertical-align: middle;width: 20px;}
	.pricingBox_m .price_tab .tbl_lst_m td ul li span.plus {position: absolute; right: 10px;top: 0;color:#4a8dfc; font-size:13px;}
	.pricingBox_m .price_tab .tbl_lst_m td ul li span.span {position: absolute;bottom: -12px;width: 100%; text-align: center; font-weight: 400;}
	.pricingBox_m .price_tab .tbl_lst_m td.price_1 {position: relative; text-align: center;font-size: 10px; font-weight: bold;}
	.pricingBox_m .price_tab .tbl_lst_m td.price_1 a {width:100%;display: block; margin: 0 auto; border-radius: 20px; padding: 5px;color:#4a8dfc;font-weight: 500;}
	.pricingBox_m .price_tab .tbl_lst_m td.price_1 a small {display: block;font-weight: 300;}
	.pricingBox_m .price_tab .tbl_lst_m td.price_1 a.more{border:none;position:absolute; font-size:12px;left: 10px;bottom: -2px;}
	.pricingBox_m .price_tab .tbl_lst_m td.price_1 span {font-size:16px;}
	.pricingBox_m .price_tab .tbl_lst_m td.center_txt {text-align: center;}
	.pricingBox_m .price_tab .tbl_lst_m td.center_txt a {color:#4a8dfc;}
	.pricingBox_m .price_tab .tbl_lst_m td.point_txt {font-size:17px;}
	.pricingBox_m .price_tab .tbl_lst_m tr.lst_row span {font-size: 12px;font-weight: 600; display: block;height: 40px;line-height: 40px;text-align: left;}
	.lst_row  {text-align: center;}
	.lst_row ul { padding: 0 10px;}
	.lst_row .ul_txt li {text-align: left;}
	
	.pricingBox_m table .form_td{text-align: center;}
	.pricingBox_m table .form {display: inline-block;vertical-align: middle;margin: 20px auto 0;}
	.pricingBox_m table .form input {width:140px;}
	.pricingBox_m table label{display:inline-block; overflow:hidden;height:35px; position:relative; padding-left:20px; color:#576068; line-height:21px; cursor:pointer; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; vertical-align: middle;margin: 0 0 0 20px;}
	.pricingBox_m table label:before{position:absolute;top:0;left:0;content:''; float:left; overflow:hidden; width:20px; height:21px; line-height:21px; text-align:center; vertical-align:middle; background:#fff; border:1px solid #b1bed5; border-radius:50%; box-sizing:border-box; transition:all 0.3s ease-out;}
	.pricingBox_m table label:after{position:absolute;top:5px;left:5px;content:''; overflow:hidden; width:10px; height:11px; line-height:21px; text-align:center; vertical-align:middle; background:#fff; border:none; border-radius:50%; box-sizing:border-box; transition:all 0.3s ease-out;}
	.pricingBox_m table .form_td .buybtn {display: block; margin: 10px auto 5px;background: #2575f9;border: none; color: #fff; height: 35px; line-height: 35px; letter-spacing: -0.4px; font-size: 14px;border-radius: 5px; width: 104px;cursor: pointer;}
	.failure_box {width:100%;padding: 0;}
	.failure_box .failure_tb tr th {font-size:13px;}
	.failure_box .failure_tb {margin:30px 0 0 0;}
	.failure_box a {margin:20px auto;}

	/*더알아보기 팝업 basic*/
	.lyrmore {display:none; position: absolute; top:0; left:0; width:100%; height:100%; z-index:200;}
	.lyrmore .lyr_bg {position:absolute; top:0; left:0; width:100%; height:100%; }
	.lyrmore .lyrBox { overflow: hidden; position: absolute; top: 0; width: 99%;  margin: 0 0 0 -50%;border-radius: 10px;background: #f0f4fb;box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.4);}
	.lyrmore .lyr_top {display:block; padding:7px 20px;text-align: center;}
	.lyrmore .lyr_top h3 {margin:10px 0 9px 0;  color: #000; font-size: 20px;}
	.lyrmore .lyr_mid {padding: 0 15px;}
	.lyrmore .lyr_mid .tbl_view {width:100%; color: #000;}
	.lyrmore .lyr_mid .tbl_view tr {border-bottom:1px solid #979797;}
	.lyrmore .lyr_mid .tbl_view tr:first-child {border-bottom: 3px solid #979797; border-top: 3px solid #979797;}	
	.lyrmore .lyr_mid .tbl_view th {text-align: left;font-size:12px;height: 50px;}
	.lyrmore .lyr_mid .tbl_view td {height:40px;font-size: 12px;}
	.lyrmore .lyr_btm {text-align: center;}
	.lyrmore .lyr_btm  li {display: inline-block; width: 30px; height: 30px; border: 1px solid #4a8dfc;border-radius: 32px; margin: 10px 0;}
	.lyrmore .lyr_btm .btn_lyr_close {overflow:hidden;width: 31px;height: 31px; text-indent:-99px; border:none;  background:url(../images/btn_legacy_close_p.png) 50% 50% no-repeat; background-size: 13px;  cursor:pointer; transition:all 0.3s ease-out;}
	.lyrmore .lyr_btm .btn_lyr_close:hover, .lyrWrap .lyrBox .lyr_top .btn_lyr_close:focus {opacity:1.0; transition:all 0.3s ease-out;transform: rotate(180deg);}

	#lyr_more_premium {display: none; margin: 0 0 0 130px;}

	/* [추가] 20190726 YMJ */
	.stn_landing {width:auto;padding:0 15px; }
	.login_box .txt_box span em {padding:8px 10px 0 10px;}
	.login_box .txt_box span em.extra_desc {font-size:11px; padding: 0;}
	.login_box .txt_box span em.em_noti{font-size:11px; padding: 0;}
	.login_box .txt_box span em.em_noti span {display:block;}
	.login_box .txt_box .login_area p.main_txt { font-size: 18px;font-weight: bold; line-height: 27px;letter-spacing: -0.78px;color: #002b49; padding: 130px 0 50px}
	.login_box .txt_box .login_area p.main_txt span.span_block {display: block;font-size: 18px;font-weight: bold;line-height: 29px;letter-spacing: -0.78px;color: #002b49; }
	.login_box .txt_box .login_area p.main_txt em {font-size: 18px;font-weight: 300;letter-spacing: -0.71px;}
	.login_box .txt_box .login_area p.main_txt em > span.span_hide {display: none;}
	.login_box .txt_box .login_area p.main_txt strong {position: absolute;top: 82px;width: 210px;left: 50%;height: 32px;margin: 0 0 0 -125px;border-radius: 16px;border: none;font-size: 14px;font-weight: normal;line-height: 32px;text-align: center;color: #e66f83;}
	.stn_landing .landing_layers {width:100%;padding:0;}
	.stn_landing .stn_landing_tit {height:20px;}
	.stn_landing .stn_landing_tit span {width:auto !important; height:auto !important; padding:0 10px;  font-size: 14px;font-weight: normal;line-height: 3.07;letter-spacing: -0.44px;color: #000000; }

	.stn_landing_cont .item_set ul.item_lst li dl.ico_tti dd.txt {display:block; float: none; width:auto;}
	.stn_landing_cont .item_set ul.item_lst li dl.ico_tti dd.img img {top:12px; width: 50px;}
	.stn_landing_cont .item_set ul.item_lst li dl.ico_tr dd.txt {display:block; float: none; width:auto;}
	.stn_landing_cont .item_set ul.item_lst li dl.ico_tr dd.img img {top:12px; width: 100px;}
	.stn_landing_cont .item_set ul.item_lst li dl dd.ytb_link {display: block; position: relative; top:0; right:0; width: auto; height:16px;}
	.stn_landing_cont .item_set ul.item_lst li dl dd.ytb_link a { float: right; width:auto; color: #777; background: url("../images/ico_youtube_red.png") 0 0 no-repeat; background-size:16px auto; opacity:1.0;}
	.stn_landing_cont .item_set ul.item_lst li dl dd.ytb_link a:hover {color: #777; }
	.stn_landing_cont .item_set .item_lst > li > .inner_box strong { top: 54px; right: 30px;font-size:12px;}
	.stn_landing_cont .item_set .item_lst > li > .inner_box strong img {width:45px;}
	.stn_landing_cont .item_set .item_lst > li dl .tile_txt{ width: 146px;left: calc(50% - 115px);}
	.stn_landing_cont .item_set .item_lst > li dl .tile_txt em span {width:65px;}
	.stn_landing_cont {padding:45px 0 0 0;}
	.stn_landing_m.mobile .stn_landing_cont {margin-top:14px;}
	.stn_landing_cont .item_set {float:none;}
	.stn_landing_cont .item_set .link_mvp_maker {margin: 8px auto 0;width: calc(100% - 32px); font-size: 12px;font-weight: bold;letter-spacing: -0.16px;color: #1e2438;}

	.stn_landing_cont .item_set:nth-child(1), .stn_landing_cont .item_set:nth-child(2) {margin:0 0 20px 0;}
	.stn_landing_cont .item_set:nth-child(1), .stn_landing_cont .item_set:nth-child(2), .stn_landing_cont .item_set:nth-child(3) {margin:0 0 20px 0;}
	.stn_landing_cont .item_set ul.item_lst li {width:auto; height:auto;}
	.login_box .txt_box .img_box {padding:0;}
	.signup_box {margin: 70px auto 40px;height: auto;padding:30px 0 0 0;}

	/* [추가] 200213 AMR landing */

	.landing_layers .stn_landing_m {display: block; margin: 0;}
	.landing_layers > .stn_landing_cont {display: none;}

	/* [수정] 20정200211 mrs */
	.common_header a.btn_sign {display: none;}
	.stn_landing_new {padding:0; margin:0;}
	.stn_landing_new .landing_box .area_box {width:100%;}
	.stn_landing_new .landing_box .layer_desc {width:100%; padding: 105px 0 0 20px;box-sizing: border-box;}
	.stn_landing_new .landing_box .layer_desc span { margin: 75px 0 40px 0;}
	.stn_landing_new .landing_box .layer_desc h4 {font-size:22px;}
	.stn_landing_new .landing_box .layer_desc h4 > span{display: block;margin: 0;}
	.stn_landing_new .landing_box .layer_desc p {font-size:16px; margin: 0 0 42px 0;}
	.stn_landing_new .landing_box .layer_desc a{font-size:18px;padding: 0; min-width: 200px;text-align: center;box-sizing: border-box;}
	.stn_landing_new .landing_box .layer_desc a.try_link {display: block;width:224px; margin:0 0 32px 0;}
	.stn_landing .landing_box .layer_desc a img {margin:0 0 0 6px;}
	.stn_landing_new .landing_box{background: url("../../common/images/img_m_landing_album.png") 0 0 no-repeat; background-size: cover;}
	.stn_landing_new .landing_box.voicealbum .album_logo {display: none;}
	.stn_landing_new .landing_box.minutes {width:100%;background: none;}
	.stn_landing_new .landing_box.minutes .area_box {width:100%;}
	.stn_landing_new .landing_box.voiceBot {background: url("../../common/images/img_m_landing_voicebot.png") 0 0 no-repeat; background-size: cover;}
	.stn_landing_new .landing_box.voiceBot .layer_desc {padding:65px 0 0 20px;}
	.stn_landing_new .landing_box.cloudapi {width:100%;}
	.stn_landing_new .landing_box.cloudapi .area_box {width:100%;background:#f1fbff url("../../common/images/ico_landing_maumai.png") no-repeat; background-size: 144px;background-position: right top 36px;}
	.stn_landing_new .landing_box.workspace {background: url("../../common/images/img_m_landing_data.png") 0 0 no-repeat;    background-size: cover;}
	.stn_landing_new .landing_box.datatool {width:100%;background: none;}
	.stn_landing_new .landing_box.datatool .area_box {background: none;overflow: inherit;}
	.stn_landing_new .landing_box.datatool .layer_box { top: 16px;left: 8px;width: calc(100% - 24px); height: 464px;}
	.stn_landing_new .landing_box.datatool .layer_box span {font-size: 14px;padding: 7px 0 0 7px;float: left;letter-spacing: -0.37px;}
	.stn_landing_new .landing_box.datatool .layer_desc {padding:105px 0 0 0;}
	.stn_landing_new .landing_box.datatool .layer_desc h4 {margin:0 0 37px 0;}
	.stn_landing_new .landing_box.datatool .layer_desc img{display: none;}
	.stn_landing_new .landing_box.datatool .layer_desc a {width:226px; }
	.stn_landing_new .landing_box.datatool img.data_img {display: block;width:160px; float:right;position: absolute;right: -5px;bottom: -43px;z-index: 1;}
	.stn_landing_new .landing_box.datatool .layer_desc h4 br {display: none;}
	.stn_landing .landing_box.ecominds {height: 496px;background-image: linear-gradient(143deg, #69d5bf 5%, #3a9b97 26%, #4c69a1 62%, #20b55d 112%);}
	.stn_landing .landing_box.ecominds h3 {padding:105px 0 0 16px; line-height: 42px;font-size: 32px;letter-spacing: -1.3px;}
	.stn_landing .landing_box.ecominds h3 span {display: block;}
	.stn_landing .landing_box.ecominds h3 small {font-size:20px; font-weight:300; line-height: 1.4;padding: 9px 0 0 0;}
	.stn_landing .landing_box.ecominds a.eco_link {float: left;display: block;margin: 48px 16px;padding: 7px 0 0;width: calc(100% - 32px);height: 56px;line-height: 1.28;}
	.stn_landing .landing_box.ecominds a.eco_link span {display: block; line-height: 1.8;}
	.stn_landing .landing_box.ecominds a.eco_link img { vertical-align: middle; margin: 0; width: 20px;}
	.stn_inquiry {height:auto;}
	.stn_inquiry .cont_box {padding: 30px 16px 45px 16px;width:100%;position:relative;height: auto;}
	.stn_inquiry .cont_box .info_box {width:100%;float: unset;padding:404px 0 0 0;text-align: center;height: auto;}
	.stn_inquiry .cont_box .info_box img {width: 142px;margin: 0 auto 30px;}
	.stn_inquiry .cont_box .info_box .social_box {text-align: center;}
	.stn_inquiry .cont_box .info_box .social_box a {float:unset;display: inline-block; margin: 0 50px 33px 0;}
	.stn_inquiry .cont_box .info_box .social_box a:last-child {margin:0;}
	.stn_inquiry .cont_box .info_box ul { margin: 0 0 5px 0;height: auto;}
	.stn_inquiry .cont_box .info_box ul li { margin: 0 0 20px 0;width: 50%;padding:0 16px; box-sizing: border-box;text-align: left;}
	.stn_inquiry .cont_box .info_box ul li:first-child {text-align: right;border-right:1px solid #002b49;}
	.stn_inquiry .cont_box .info_box ul li:nth-child(3){text-align: right;border-right:1px solid #002b49;}
	.stn_inquiry .cont_box .info_box .m_detail {display: block; margin: 0 0 24px 0;}
	.stn_inquiry .cont_box .info_box .info_desc {position:unset; margin: 0;}
	.stn_inquiry .cont_box .inquiry_box {float: none; width: 100%; margin: 27px 0 0 0;padding: 0 16px 0 16px;position:absolute;top:0;left:0;box-sizing: border-box;}
	.stn_inquiry .cont_box .inquiry_box:before {left: 16px;top: 0;}
	.stn_inquiry .cont_box .inquiry_box .my_info {width:100%;}
	.stn_inquiry .cont_box .inquiry_box .my_info + .my_info { margin: 0 0 10px 0;}
	.stn_inquiry .cont_box .inquiry_box input,
	.stn_inquiry .cont_box .inquiry_box textarea {padding: 0 16px;}
	.stn_inquiry .cont_box .inquiry_box label {left: 16px; font-size:14px;}
	.stn_inquiry .cont_box .inquiry_box label span {margin: 0 3px 0 0;}
	.stn_inquiry .cont_box .inquiry_box .btn_send {margin:15px 0 0 0;}
	.stn_inquiry.main_footer {height:auto;}

	/*이용약관*/
	.terms_box { width: calc(100% - 20px);margin: 0;padding: 70px 10px 0;}

}


/* [IE hack] 20190729 YMJ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.stn_landing_cont .item_set ul.item_lst li dl dd {letter-spacing:-1px;}
}

/* [keyframes위치 오류 수정] 20190726 YMJ */
@-webkit-keyframes cloud_m {from {left:30px;
	margin:0 0 0 30px;
}

	to {left:-20px;
		margin:0 0 0 30px;
	}
}

@keyframes cloud_m {from{left:30px;
	margin:0 0 0 30px;
}
	to{left:-20px;
		margin:0 0 0 30px;
	}
}
/* Go from zero to full opacity */
@keyframes lineEffect {from {width:0;}
	to {width:100%;}
}
/* Style the tab content */
/* Go from zero to full opacity */
@keyframes fadeEffect {from {opacity:0;}
	to {opacity:1;}
}
