/* Side navigation Bar */
.snb {display:table-cell; position: fixed; width: 184px; height: calc(100% - 125px);min-width: 240px;background: #ffffff; overflow: auto;padding: 65px 0 60px 0;z-index: 101;border:1px solid #CFD5EB;box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.1)}
.snb .sub_tit {font-size:15px; color:#002b49;margin:0 17px; font-weight: bold;height: 32px;line-height: 32px; border-bottom: 0.5px solid #002b49;}
.snb .sub_tit.sub_list {margin: 32px 17px 0;}
.snb ul {padding:0 7px;}
.snb ul.api_list {margin:15px auto 20px;}
.snb ul .collapsible {position:relative;color: #002b49; cursor: pointer;margin: 0 10px;border: none; text-align: left; outline: none; font-size: 14px;font-weight:500; line-height: 27px; overflow: hidden;transition:all 0.3s ease-out;}
.snb ul .collapsible > span {display: inline-block;height:30px;box-sizing:border-box;width:100%;border-bottom:0.5px solid #B0BFD5;}
.snb ul .collapsible:hover  { transition:all 0.3s ease-out;}
.snb ul .sublist { max-height: 0; margin:0 0 20px 0;overflow: hidden; transition: max-height 0.3s ease-out; }
.snb ul .sublist a {width:100%;}
.snb ul .sublist a:first-child {margin:5px 0 0;}
.snb ul .sublist a:last-child {padding:0 0 5px 0;}
.snb ul .collapsible.list1 {color:#675fb0;}
.snb ul .collapsible.list2 {color:#e66f83;}
.snb ul .collapsible.list3 {color:#27c1c1;}
.snb ul .collapsible.list4 {color:#2cace5;}
.snb ul .collapsible.list5 {color:#fb9223;}
.snb ul .collapsible.list6 {color:#5E77FF;}

.snb ul .collapsible .ico_menu {min-height:34px;opacity: 1;transition:all 0.3s ease-out;}
.snb ul .collapsible .ico_menu span {width:20%;float:left;height: 30px;}
.snb ul .collapsible .ico_menu span:hover img {transition:all 0.2s ease-out;}
.snb ul .collapsible .ico_menu span img {vertical-align: middle; margin: 0 0 0 3px;transition:all 0.2s ease-out;}
.snb ul .collapsible.active {height:30px;}
.snb ul .collapsible.active > .ico_menu {opacity: 0; transition:all 0.3s ease-out;}

/* 음성 */
.snb ul .list1_sub a:nth-child(1) {background:url('../images/menu/ico_spe_1_fold.svg') 13px 50% no-repeat;transition:all 0.2s ease-out;}
.snb ul .list1_sub a:nth-child(2) {background:url('../images/menu/ico_spe_2_fold.svg') 13px 50% no-repeat;transition:all 0.2s ease-out;}
.snb ul .list1_sub a:nth-child(3) {background:url('../images/menu/ico_spe_3_fold.svg') 13px 50% no-repeat;transition:all 0.2s ease-out;}
.snb ul .list1_sub a:nth-child(4) {background:url('../images/menu/ico_spe_5_fold.svg') 13px 50% no-repeat;transition:all 0.2s ease-out;background-size: 22px;}
/*.snb ul .list1_sub a:nth-child(5) {background:url('../images/menu/ico_spe_6_fold.svg') 13px 50% no-repeat;transition:all 0.2s ease-out;background-size: 20px;}*/

/* 시각 */
.snb ul .list2_sub a:nth-child(1) {background:url('../images/menu/ico_vis_lipSyncAvatar.svg') 14px 50% no-repeat;background-size: 17px;transition:all 0.2s ease-out;}
.snb ul .list2_sub a:nth-child(2) {background:url('../images/menu/ico_vis_avatar.svg') 14px 50% no-repeat;background-size: 17px;transition:all 0.2s ease-out;}
/*.snb ul .list2_sub a:nth-child(3) {background:url('../images/menu/ico_vis_6_fold_.svg') 13px 50% no-repeat;background-size: 19px;transition:all 0.2s ease-out;}*/
.snb ul .list2_sub a:nth-child(3) {background:url('../images/menu/ico_vis_5_fold.svg') 13px 50% no-repeat;transition:all 0.2s ease-out;}
/*.snb ul .list2_sub a:nth-child(5) {background:url('../images/menu/ico_vis_vsr.svg') 13px 50% no-repeat;transition:all 0.2s ease-out;}*/
/*.snb ul .list2_sub a:nth-child(6) {background:url('../images/menu/ico_vis_hlst3D.svg') 11px 50% no-repeat;transition:all 0.2s ease-out; background-size:24px auto;}*/
.snb ul .list2_sub a:nth-child(4) {background:url('../images/menu/ico_vis_2_fold.svg') 13px 50% no-repeat;transition:all 0.2s ease-out;}
/*.snb ul .list2_sub a:nth-child(4) {background:url('../images/menu/ico_vis_1_fold.svg') 13px 50% no-repeat;transition:all 0.2s ease-out;}*/
.snb ul .list2_sub a:nth-child(5) {background:url('../images/menu/ico_vis_10_fold_.svg') 13px 50% no-repeat;transition:all 0.2s ease-out;}
.snb ul .list2_sub a:nth-child(6) {background:url('../images/menu/ico_vis_7_fold_.svg') 13px 50% no-repeat;transition:all 0.2s ease-out;}
.snb ul .list2_sub a:nth-child(7) {background:url('../images/menu/ico_vis_8_fold_.svg') 13px 50% no-repeat;background-size: 18px;transition:all 0.2s ease-out;}
.snb ul .list2_sub a:nth-child(8) {background:url('../images/menu/ico_vis_face.svg') 13px 50% no-repeat;background-size: 20px;transition:all 0.2s ease-out;}
/*.snb ul .list2_sub a:nth-child(13) {background:url('../images/menu/ico_vis_animeFace.svg') 13px 50% no-repeat;background-size: 20px;transition:all 0.2s ease-out;}*/
.snb ul .list2_sub a:nth-child(9) {background:url('../images/menu/ico_vis_hair.svg') 13px 50% no-repeat;background-size: 18px;transition:all 0.2s ease-out;}
.snb ul .list2_sub a:nth-child(10) {background:url('../images/menu/ico_vis_clothes.svg') 13px 50% no-repeat;background-size: 19px;transition:all 0.2s ease-out;}
.snb ul .list2_sub a:nth-child(11) {background:url('../images/menu/ico_vis_4_fold.svg') 13px 50% no-repeat;background-size: 23px;transition:all 0.2s ease-out;}
.snb ul .list2_sub a:nth-child(12) {background:url('../images/menu/ico_vis_windshield.svg') 12px 50% no-repeat;background-size: 21px;transition:all 0.2s ease-out;}
.snb ul .list2_sub a:nth-child(13) {background:url('../images/menu/ico_vis_9_fold_.svg') 13px 50% no-repeat;background-size: 17px;transition:all 0.2s ease-out;}
.snb ul .list2_sub a:nth-child(14){background:url('../images/menu/ico_vis_loiteringDetect.svg') 13px 50% no-repeat;background-size: 18px;transition:all 0.2s ease-out;}
.snb ul .list2_sub a:nth-child(15){background:url('../images/menu/ico_vis_fallDownDetect.svg') 13px 50% no-repeat;background-size: 18px;transition:all 0.2s ease-out;}
.snb ul .list2_sub a:nth-child(16){background:url('../images/menu/ico_vis_IntrusionDetect.svg') 13px 50% no-repeat;background-size: 18px;transition:all 0.2s ease-out;}
/*.snb ul .list2_sub a:nth-child(21){background:url('../images/menu/ico_vis_positioning.svg') 13px 50% no-repeat;background-size: 18px;transition:all 0.2s ease-out;}*/

/* 언어 */
.snb ul .list3_sub a:nth-child(1) {background:url('../images/menu/ico_lan_correct.svg') 13px 50% no-repeat;transition:all 0.2s ease-out;}
.snb ul .list3_sub a:nth-child(2) {background:url('../images/menu/ico_lan_convers.svg') 13px 50% no-repeat;transition:all 0.2s ease-out;}
.snb ul .list3_sub a:nth-child(3) {background:url('../images/menu/ico_lan_1_fold.svg') 13px 50% no-repeat;transition:all 0.2s ease-out;}
.snb ul .list3_sub a:nth-child(4) {background:url('../images/menu/ico_lan_2_fold.svg') 13px 50% no-repeat;transition:all 0.2s ease-out;}
.snb ul .list3_sub a:nth-child(5) {background:url('../images/menu/ico_lan_3_fold.svg') 13px 50% no-repeat;transition:all 0.2s ease-out;}
.snb ul .list3_sub a:nth-child(6) {background:url('../images/menu/ico_lan_clickbait.svg') 13px 50% no-repeat;transition:all 0.2s ease-out;}
.snb ul .list3_sub a:nth-child(7) {background:url('../images/menu/ico_lan_5_fold.svg') 13px 50% no-repeat;transition:all 0.2s ease-out;}
.snb ul .list3_sub a:nth-child(8) {background:url('../images/menu/ico_lan_6_fold.svg') 13px 50% no-repeat;transition:all 0.2s ease-out;}
.snb ul .list3_sub a:nth-child(9) {background:url('../images/menu/ico_lan_itf.svg') 13px 50% no-repeat;transition:all 0.2s ease-out;}
.snb ul .list3_sub a:nth-child(10) {background:url('../images/menu/ico_lan_txtStyTrans.svg') 13px 50% no-repeat;transition:all 0.2s ease-out;}

/* 대화 */
/*.snb ul .list4_sub a:nth-child(1) {background:url('../images/menu/ico_bot_1_fold.svg') 13px 50% no-repeat;transition:all 0.2s ease-out;}*/
.snb ul .list4_sub a:nth-child(1) {background:url('../images/menu/ico_bot_2_fold.svg') 13px 50% no-repeat;transition:all 0.2s ease-out;}
/*.snb ul .list4_sub a:nth-child(2) {background:url('../images/menu/ico_bot_2_fold.svg') 13px 50% no-repeat;transition:all 0.2s ease-out;}*/
.snb ul .list4_sub a:nth-child(2) {background:url('../images/menu/ico_bot_3_fold.svg') 13px 50% no-repeat; background-size:17px; transition:all 0.2s ease-out;}

/* 영어교육 */
.snb ul .list5_sub a:nth-child(1) {background:url('../images/menu/ico_eng_1.svg') 13px 50% no-repeat;transition:all 0.2s ease-out;}
.snb ul .list5_sub a:nth-child(2) {background:url('../images/menu/ico_eng_2.svg') 13px 50% no-repeat;transition:all 0.2s ease-out;}
.snb ul .list5_sub a:nth-child(3) {background:url('../images/menu/ico_eng_3.svg') 13px 50% no-repeat;transition:all 0.2s ease-out;}

/* 분석 */
.snb ul .list6_sub a:nth-child(1) {background:url('../images/menu/ico_data_analysis.svg') 13px 50% no-repeat;background-size: 19px;transition:all 0.2s ease-out;}

.snb ul .app_manu a:nth-child(1) {background:url('../images/menu/ico_myvoice.svg') 13px 50% no-repeat;transition:all 0.2s ease-out;}
.snb ul .app_manu a:nth-child(2) {background:url('../images/menu/ico_minutes.svg') 13px 50% no-repeat;transition:all 0.2s ease-out;}
.snb ul .app_manu a:nth-child(3) {background:url('../images/menu/ico_voice_bot.svg') 13px 50% no-repeat;transition:all 0.2s ease-out;}

.snb ul .data_manu a:nth-child(1) {background:url('../images/menu/ico_data_list.svg') 16px 50% no-repeat;transition:all 0.2s ease-out;}
.snb ul .data_manu a:nth-child(2) {background:url('../images/menu/ico_data_service.svg') 13px 50% no-repeat;transition:all 0.2s ease-out;}
.snb ul .data_manu a:nth-child(3) {background:url('../images/menu/ico_data_analysis.svg') 13px 50% no-repeat;background-size: 19px;transition:all 0.2s ease-out;}

.snb .twodepth {height:30px;display: inline-block; text-indent: 40px; color: #002b49;font-weight:500; letter-spacing: -0.3px;font-size: 14px; line-height: 30px; width: 100%;transition:all 0.3s ease-out;}
.snb .twodepth:after { margin-right: 20px;}
.snb .twodepth:hover { transition:all 0.3s ease-out;opacity: 1;}
.snb .twodepth.active {}
.snb .list1_sub .twodepth:hover, .snb .list1_sub .twodepth.active {color:#675fb0;}
.snb .list2_sub .twodepth:hover, .snb .list2_sub .twodepth.active {color:#f7778a;}
.snb .list3_sub .twodepth:hover, .snb .list3_sub .twodepth.active {color:#27c1c1;}
.snb .list4_sub .twodepth:hover, .snb .list4_sub .twodepth.active {color:#2cace5;}
.snb .list5_sub .twodepth:hover, .snb .list5_sub .twodepth.active {color:#fb9223;}
.snb .list6_sub .twodepth:hover, .snb .list6_sub .twodepth.active {color:#5E77FF;}

.snb ul .app_manu .twodepth:hover, .snb ul .app_manu .twodepth.active {color:#2575f9;}
.snb ul .data_manu .twodepth:hover, .snb ul .data_manu .twodepth.active {color:#2575f9;}

/*화살표*/
.snb .dropdwn:after {content: ''; color: white;position: absolute; top: 0;right: 0;width: 20px; height: 26px;transition:all 0.2s ease-out;}
.snb .dropdwn.active:after {content: "";transition:all 0.2s ease-out;}
.snb ul .collapsible.list1:after {background:url(../images/ico_sub_dw_1.png) 50% 50% no-repeat; }
.snb ul .collapsible.list1.active:after{background:url(../images/ico_sub_up_1.png) 50% 50% no-repeat; }
.snb ul .collapsible.list2:after {background:url(../images/ico_sub_dw_2.png) 50% 50% no-repeat; }
.snb ul .collapsible.list2.active:after{background:url(../images/ico_sub_up_2.png) 50% 50% no-repeat; }
.snb ul .collapsible.list3:after {background:url(../images/ico_sub_dw_3.png) 50% 50% no-repeat; }
.snb ul .collapsible.list3.active:after{background:url(../images/ico_sub_up_3.png) 50% 50% no-repeat; }
.snb ul .collapsible.list4:after {background:url(../images/ico_sub_dw_4.png) 50% 50% no-repeat; }
.snb ul .collapsible.list4.active:after{background:url(../images/ico_sub_up_4.png) 50% 50% no-repeat; }
.snb ul .collapsible.list5:after {background:url(../images/ico_sub_dw_5.png) 50% 50% no-repeat; }
.snb ul .collapsible.list5.active:after{background:url(../images/ico_sub_up_5.png) 50% 50% no-repeat; }
.snb ul .collapsible.list6:after {background:url(../images/ico_sub_dw_6.png) 50% 50% no-repeat; }
.snb ul .collapsible.list6.active:after{background:url(../images/ico_sub_up_6.png) 50% 50% no-repeat; }

/* 모바일 */
@media screen and (max-width:760px){
	.snb {display: none;}
	.btn_header_ham {display:block;position:fixed;}


}