/* Mobile Layout */
@media screen and (max-width:760px) {
	#wrap {width:100%;min-width: auto;}
	#header {height:50px;}
	#header h1 { width: 120px;height:50px;border-bottom:none;box-shadow:none;}
	#header h1 a {padding:15px 0 0 0;}
	#header .etcmenu {display: none;}
	#header .sta { display: none;;}
	.titArea {display: none;}
	.snb {display: none;}
	.btn_header_ham {display:block;position:fixed;}

	/*	progress */
	.demobox .progress li {margin:20px 0 0 0;font-size: 13px;}
	.demobox .progress li:before {width: calc(100% - 20px);left: -39%;}
	.demobox .progress_txt > li p {font-size:10px; line-height: 17px;}

	.content .intro {width:100%; height: auto; margin: 0 0 30px 0;}
	.content .intro .fl_video {width: 95%;float: unset;height: 215px;margin: 0 auto;}
	.content .intro .fr_txt {width: 95%;padding: 16px;display: block;float: unset;height: 300px;margin: 0 auto;}
	.content .intro .fr_txt p {width:100%; margin: 0 0 30px 0;}
	.content .intro .fr_txt .main_tit {font-size:18px;}
	.content .intro .fr_txt a.btn {width:100%;}
	.content .wel_subTit {float: unset; margin: 8px 16px;font-size: 22px; text-align: center;}
	.content .btn_consol {display: block; width:95%; margin: 0 auto 10px;}
	.content .ul_lst {width:100%;}
	.content .ul_lst li {display: block; float: unset; width: 95%; margin: 0 auto 10px;}
	.content .ul_lst li:nth-child(3),.content .ul_lst li:nth-child(6) {margin: 0 auto 10px;}

	#container {margin: 0 ;width: 100%; height: 100%;}
	.contents {width:100%; display: block; position: relative;height: auto; min-height: 100%;}
	.content { padding: 66px 0 30px;}
	.content > h1 {font-size:20px; text-indent: 10px; margin: 10px 0 10px 0;}
	
	.processArea {width:100%;}
	.processArea h3 {width:100%; margin:20px 0 ;}
	.processArea .web_img {display:none;}
	.processArea .mobile_img {display:block;margin: 0 auto 20px;background: url(../images/img_process.png) 50% 50% no-repeat;height: 30px; background-size: 90%;}
	.processArea .processBox li {width: calc(20% - 10px); margin: 5px;box-sizing: border-box; height: 130px;}
	.processArea .processBox li:first-child {margin:5px 0 0 7px;}
	.processArea .processBox li p {padding: 80px 0 0 0;font-size: 0.8rem;line-height: 1rem;}
	.processArea .process_select { width: calc(95% - 20px); height: auto;padding: 10px; margin: 0 auto;}
	.processArea .process_select ul {margin-left:0;}
	.processArea .process_select ul li {font-size: 0.8rem; margin: 0;}
	.content .demobox {width: calc(100% - 50px); padding: 15px;margin: 0 auto 20px;}
	.content .demobox > p:first-child  {font-size:16px;line-height: 25px;}
	.content .demobox span.sub {font-size:14px; line-height: 20px;}
	.content .demobox > p.temp_txt {font-size: 16px;padding:20px 0 0 0;}
	.selectarea {padding:10px; overflow: hidden; margin: 0;}
	.ttsdemo .radio {width:49%; }
	.ttsdemo .radio + .radio {margin-left:0;}
	.ttsdemo .radio label {padding-left:25px; font-size:13px;}
	.ttsdemo .radio label img {width:30px;}
	.tts_demo .demoBox {margin: 0 auto;width: calc(100% - 32px); height: 335px; padding: 16px;}
	.tts_demo .demoBox .textArea {width:calc(100% - 20px); height: 170px; padding: 10px;}
	.tts_demo .demoBox .textArea::placeholder {font-size:16px;}
	.tts_demo .demoBox .btnBox {margin:20px 0 0 0;}
	.tts_demo .remark {width:100%;margin:10px auto; font-size:13px;}

	.recordingArea {width:100%; margin: 15px 0 30px;}
	.recordingArea h3 {margin-bottom: 10px; font-size: 20px;}
	.recordingArea b {font-size:22px; margin: 0 0 10px 0;}
	.recordingArea .graph_long {width:95%; margin: 0 auto;}
	.recordingArea .start_desc {width: calc(95% - 30px); margin: 20px auto; padding: 15px;background: #fff url(../images/ico_start.png) 50% 20px no-repeat; background-size: 30px;}
	.recordingArea .start_desc p {font-size:20px; padding: 50px 0 0 0;}
	.recordingArea .start_desc .guide {width:100%;padding: 0;}
	.recordingArea .start_desc .guide:first-child {padding:10px 0 0 0;}
	.recordingArea .start_desc .guide li {font-size:13px;}
	.recordingArea .btn_start {padding:0;}
	.recordingArea .btn_start a {width:95%; margin: 0 auto;}
	.recordingArea .start_note {width: calc(95% - 30px); margin: 20px auto; padding: 15px;}
	.recordingArea .start_note span {width:100%; text-align: center; padding-left: 0; height: 30px;}
	.recordingArea .start_note ul {width:90%;}
	.recordingArea .start_note ul li {font-size:13px;}

	.recordingArea .chapterbox .chapter1 {width: calc(95% - 30px); margin: 20px auto; padding: 15px;}
	.recordingArea .demo_box {width: calc(95% - 30px); min-height: 285px;margin: 20px auto; padding: 15px;}
	.recordingArea .demo_box .demo_txt {font-size:15px; line-height: 25px; margin: 40px 0 0;}
	.recordingArea .demo_box .step03 button {margin:20px;}
	.recordingArea .btn_prev {margin: 0 0 0 10px; background: #f5f6fa url(../images/ico_prev.png) 50% 15px no-repeat; border: none;}
	.recordingArea .btn_close {margin: 0 10px 0 0; background: #f5f6fa url(../images/ico_close.png) 50% 15px no-repeat;border: none;}

	.recordingArea .complete {width:90%; height: auto;background: url(../images/bg_last.png) 50% 14% no-repeat; background-size: contain; }
	.recordingArea .complete p.tit { padding: 80px 0 0 0;}
	.recordingArea .complete p.txt { margin: 5px 0 50px 0;}

	.card_lst {width:100%;}
	.card_lst ul li {display: block; width: 95%; float: unset; margin: 10px auto; box-shadow: 0 0 5px #d9dde6;}

	.lyr_my .lyrWrap {width:95%;height: 365px;}
	.lyr_my .lyr_bd {padding:0 20px;}

	.lyr_my .lyr_bd textarea {width:100%; height: 165px;}
	.voice_lst {width:100%; padding-left:30px;}
	.lyr_my .lyr_bd a {width:115px; margin: 20px 10px 0 0; text-indent: 38px; background: #6757d4 url(../images/ico_play.png) 26% 50% no-repeat;}

	.lyr_popup .lyrWrap {width: calc(95% - 40px); margin: 130px auto 0 auto; padding: 0 20px;}
	.lyr_popup .lyr_bd {padding:0;}
	.lyr_popup .lyr_bd a {width:120px;}

	.demobox .rightBox {width: calc(95% - 20px); height: 360px; margin: 20px auto 10px;padding: 15px;}
	.rightBox .selectarea {padding:0;margin:0;}
	.stt_demo .rightBox .select_box {margin: 0 10px 0 0; width: 104px; }
	.demobox .rightBox .demo_fileTxt {padding:10px 0 20px; font-size: 15px;line-height: 24px;}
	.stt_demo .remark {width:100%;font-size: 13px;}
	.demobox .rightBox .demo_recordTxt {padding:20px 0;}
	.demobox .rightBox .demo_infoTxt {padding:20px 0;margin: 10px 0 0 0;}
	.demobox .rightBox .demo_result .resultTxt {padding:20px 0;margin:0; height: 154px;}
	.demobox .rightBox .demo_result .resultTxt:before {display: none;}
	.demobox .rightBox .demo_result .resultTxt:after {display: none;}
	.demobox .rightBox .demo_result .btnBox {left:27%;}
	.demobox .rightBox .demo_result .btndwn {left:73%;}
	.recording {top: 190px;}

	.api_content .api_tit {position: relative; left: 0; margin: 0 0 10px 0;}
	.menu_lst { width: 95%; margin: 0 auto 5px;}
	.menu_lst li {width:23%; margin: 0 5px 0 0;float: left;}
	.menu_lst li:last-child{margin:0;}
	.apittsdemo .radio {margin:0;}
	.ttsdemo .radio label span{text-align: center;}

	.guide_box {width:100%;}
	.guide_box .guide_common {margin:0;}
	.guide_box .guide_common .sub_txt {padding:0 0 10px 20px;}
	.guide_box .guide_group .title { padding: 20px 0 15px 0;}
	.guide_box .guide_group .title small {font-size:12px;}
	.guide_box .guide_group .sub_txt { padding: 10px 0 0 0;}
	.guide_box .guide_group .sub_title {margin:10px 0 0 0;}
	.guide_box .guide_group ul {width:calc(100% - 40px); margin: 10px 0 10px 0;}
	.guide_box .guide_group .table_tit {margin: 8px 0 0 0;}
	.guide_box .guide_group table {width:100%; margin: 10px 0 10px 0;}
	.guide_box .guide_group table th {padding: 0 0 0 5px;}
	.guide_box .guide_group table th:first-child {width:12%}
	.guide_box .guide_group table th:nth-child(2) {width:30%}
	.guide_box .guide_group table td { padding: 0 0 0 4px;}
	.guide_box .guide_group .code_box {margin:10px 0; width:calc(100% - 30px);}
	.guide_box .guide_group .code_box audio {width:100%;}

	.stt_demo .rightBox .selectarea {width:100%;position: relative; overflow: visible; height: 85px;}
	.apisttdemo .rightBox .btnBox {left:27%;}
	.apisttdemo .rightBox .btnupload { left: 57%;}
	.apisttdemo .radio { float: left;width: 48%; margin: 0;}
	.apisttdemo .radio + .radio {margin-left:0;}
	.apisttdemo .radio label {padding-left:0;}
	.apisttdemo .radio label:before, .apisttdemo .radio label:after {margin: 0 0 0 10px;}
	.apisttdemo .radio span {font-size:14px;}
	.apisttdemo .radio label span b {display: block;}
	.minipopbtn {display: none;height: 30px;line-height: 30px;}
	.minipopbtn span {padding: 0 0 0 10px;    float: left;}
	.apisttdemo .radio em {margin: 8px 0 0 12px;float: left;}
	.minipop { top: 36px;left: -54px;line-height: 20px; width: 196px;}

	.demobox_xdc .xdc_box {width:100%; padding: 30px 10px 20px 10px; margin: 30px auto 0;}
	.demobox_xdc .xdc_box .demo_top p {margin:0;}
	.demobox_xdc .text_area {height:200px;}
	.demobox_xdc .text_area textarea {font-size:14px; width: calc(100% - 20px);padding:0 10px; margin:0;line-height: 21px;}
	.demobox_xdc .text_area textarea::placeholder {font-size:14px;}
	.demobox_xdc .modal {padding-top:100px;}
	.demobox_xdc .modal_content { width: calc(95% - 20px);}
	.demobox_xdc .search_modal {padding:10px;position: relative;}
	.demobox_xdc .naver_search_box {width:82%;padding: 5px;font-size: 12px; margin-bottom: 10px;}
	.demobox_xdc .naver_search_tit {margin:10px; text-indent: 10%; background: url(../images/ico_xdc.png) 2px 50% no-repeat;}
	.demobox_xdc .close_naver {margin: -45px -8px 0 0;position: absolute; right: 19px; top: 50px;}
	.search_modal_wrap .search_btn {width: 18%;font-size: 14px;}
	.demobox_xdc .naver_search_desc {padding:0;}
	.demobox_xdc .xdc_box .resultBoxTop .tit {background: url(../images/ico_xdc_result.png) 183px 50% no-repeat; text-indent: 43px;}
	.demobox_xdc .xdc_box .resultBoxTop #xdc_result_classification {padding:10px 0;}
	.demobox_xdc ol.xdc_lst li{display: block; margin: 0 0 5px 0;}
	.demobox_xdc ol.xdc_lst li span.rank b {font-size:22px;}
	.demobox_xdc ol.xdc_lst li span.label { margin: 0 3px 0 0;width: 31%;font-size: 13px; overflow: hidden;}
	.demobox_xdc ol.xdc_lst li span.probability em {font-size:13px;}
	.demobox_xdc .xdc_box .resultBoxBottom .txt {padding:10px;font-size: 13px;line-height: 21px; width: calc(100% - 20px);}
	.demobox_xdc .xdc_box .result_desc span {font-size:12px;}

	.demobox_mrc .mrc_box {width:100%; padding: 10px; margin: 20px auto 0;}
    .demobox_mrc .mrc_box .demo_top {margin: 0 0 10px 0;}
    .demobox_mrc .mrc_box .demo_top button {width:64px;font-size: 12px;}
    .demobox_mrc .mrc_box .mrclang_select {width:100%;}
    .searchType {width:100%;}
    .searchType .input_textType {height:35px;}
    .searchType .btn .btn_search {height:37px; line-height: 37px;}
    .demobox_mrc .mrc_box .step01 .tab{width:100%;}
    .demobox_mrc .mrc_box .step01 .tab button {width: calc(50% - 2px);}
    .demobox_mrc .mrc_box .step01 .tab button:nth-child(2) {margin:0;}
    .demobox_mrc .mrc_box .article_lst {width:100%;}
    .demobox_mrc .mrc_box .article_lst li {white-space: nowrap; overflow: hidden;text-overflow: ellipsis;padding: 0 0 0 3px; }
    .demobox_mrc .mrc_box .article_lst li .radio label {font-size:12px;}
    .demobox_mrc .text_area {height:auto;}
    .demobox_mrc .text_area textarea {width:calc(100% - 20px);padding: 10px; margin: 0;font-size:14px;line-height: 21px; }
    .demobox_mrc .text_area textarea::placeholder {font-size:13px;}
    .demobox_mrc .mrc_box .step02 .text_area {height:120px;}
    .demobox_mrc .mrc_box .step03 .result_txt {padding:10px;}

	.lyr_wrap .lyr_box {width:95%; margin: 30px 0 0 0;}
	.lyr_wrap .lyr_box .lyr_cont{padding:0 10px;}
	.lyr_wrap .lyr_box .lyr_cont .lyr_srch .ipt_txt {width: 82%; font-size: 13px;padding: 5px; margin-bottom: 10px;}
	.lyr_wrap .lyr_box .lyr_cont .lyr_srch .btnType01 {width:50px;font-size: 12px;}
	.lyr_wrap .lyr_box .lyr_tit { width: 88%; padding: 20px 0;}
	.lyr_wrap .lyr_box .lyr_tit h4 {text-indent: 60px; width: 100%; background: url(../images/ico_xdc.png) 30px 50% no-repeat;}
	#lyr_sample .lyr_tit h4 {text-indent:73px;background: url(../images/ico_xdc.png) 40px 50% no-repeat;}
	.demobox_mrc .mrc_box .step03 .result_txt {}

	.demobox_hmd .hmd_box {width:100%;padding: 10px;margin: 20px auto 0;}
	.demobox_hmd .text_area textarea {margin:0 ;padding:0 10px;font-size:14px; width: calc(100% - 20px);}
	.demobox_hmd .text_area textarea::placeholder {font-size:14px;}
	.demobox_hmd .text_area {height:210px;}
	.demobox_hmd .text_info p {text-align:left;}
	.demobox_hmd .step_1btn {width:auto;}
	.demobox_hmd .btn_area_815{width:100%;}
	.demobox_hmd .btn_blue {float: right;    margin: 10px 0 0 0;}
	.demobox_hmd .step_1btn .disBox{right:0; left: unset;}
	.demobox_hmd .posi_nega_area {width:calc(100% - 20px);    margin: 20px auto 0;}
	.demobox_hmd .posi_box {width:100%;}
	.demobox_hmd .posi_nega_list{width:25%;float: left;}
	.demobox_hmd .posi_nega_list li {padding:0 5px; width: 100%;}
	.demobox_hmd .nega_box {width:100%;margin: 30px 0 0 10px;}
	.posi_nega_area .btn_area .btn_blue {margin: 20px auto;}

	.demobox_nlu .nlu_box {width:100%;padding: 10px;margin: 20px auto 0;}
	.demobox_nlu .text_area textarea {padding:10px; font-size:14px;}
	.demobox_nlu .text_area textarea::placeholder {font-size:14px;}
	.demobox_nlu .step02 {padding: 10px; width: calc(100% - 20px);}

	.pattern_box .img_box {width: calc(100% - 20px); height: 300px;padding: 10px;margin: 20px auto 0; background: #f5f8fb url(../images/bg_img.png) 50% 80px no-repeat;}
	.pattern_box .pattern_1 p {font-size:14px;padding: 120px 0 30px 0;}
	.pattern_box .pattern_2{width:100%; }
	.pattern_box .pattern_2 p.desc {left:13px; top:18px;}

	.voc_box {min-height: inherit;}
	.voc_box .voc_step1 {width: calc(100% - 20px); height: 335px;padding: 10px;margin: 20px auto 0;}
	.voc_box .voc_step1 .btn_box {margin: 0 auto;width: 200px;}
	.voc_box .voc_step1 .btn_box button {margin: 10px 5px 0 5px}
	.voc_box .voc_step1 .btn_box .las_btn:before {display: none;}
	.voc_box .voc_step1 .btn_box .las_btn {margin:10px 0 0 5px;}
	.voc_box .voc_step1 .file_desc span {display: none;}
	.voc_box .voc_step1 .file_desc b {display: none;}
	.voc_box .voc_step2 {width:100%;}
	.voc_box .voc_step4 .playerbox {width:100%;}
	.voc_box .voc_step4 .result_boxs {width:100%;}
	.voc_box .voc_step4 .result_boxs ul li p {margin: 0;}
	.voc_box .voc_step4 .result_boxs ul li span {margin: 0 0 20px 5px;}

	.maibox {padding: 20px 0 0;}
	.maibox .tab{width:100%;}
	.maibox .tab li{width:20%; height: 35px;box-shadow: none;border:none; border-radius: 0; border-right:1px solid #c9d2e6;margin:0;}
	.maibox .tab li:last-child{border:none;}
	.maibox .tab li a {font-size:13px;line-height: 35px;}
	.maibox .tabcontent.current {width:100%;}
	.maibox .tab_nav li a { width: 125px;}
	.maibox .tab_nav li:first-child.active {background: #fff url(../images/bg_step1.png) 10px 50% no-repeat;}
	.maibox .tab_nav li {background: none;}
	.progressbar li {width:13%;}
	.progressbar li:before { width: 20px;height: 20px;}

	.chatbot_box {width:100%;}
	.chatbot_tab .tablinks {width:48%;}
	.chatbot_tab .tablinks:nth-child(2) {margin:0;}
	.chatbot_tab .tablinks img {margin:10px 0 0 10px;}
	.chatbot_tab .tablinks span {font-size:13px;}
	.bot_infoBox {padding:100px 0 0 0;}
	/*	login_box */
	.login_box {margin:150px auto 0;}
	.login_box .txt_box {padding: 0 10px;}
	.login_box .txt_box p {font-size:15px;line-height: 25px; margin: 20px 0 0 0;}
	.login_box .txt_box .btn_sign {width: 80%;height: 50px;line-height: 50px; background: #fff url(../images/logo_google.png) 20px 50% no-repeat;     font-size: 15px;text-indent: 25px; background-size: 25px;text-align: center;}
	.login_box .txt_box .link_box p{font-size:15px;}
	.loginWrap .link_box ul {width:100%;margin: 30px auto;}
	.loginWrap .link_box ul li input[type="checkbox"] + label:before {width:20px; height:20px; vertical-align: middle;}
	.loginWrap .link_box ul li input[type="checkbox"] + label {font-size:13px; font-weight:400; line-height: 20px;}
	.lyr_term_kr .lyr_bd dl dd input[type="checkbox"] + label {font-size:12px;}
	.loginWrap .link_box ul li input[type="checkbox"]:checked + label:before {font-size:12px; line-height: 14px;}
	.lyr_term_kr .lyrWrap {width:90%;height: 340px;}
	.lyr_term_kr .lyr_hd{height:40px;}
	.lyr_term_kr .lyr_hd h3{line-height: 40px;font-size:15px;}
	.lyr_term_kr .lyr_hd .btn_lyrWrap_close {top:22px;}
	.lyr_term_kr .lyr_bd {padding: 10px 10px 20px; font-size: 12px;}
	.lyr_term_kr .lyr_bd table th {width:20%;}
	.lyr_term_kr .lyr_bd dl {width:100%;}
	.lyr_term_kr .lyr_bd dl dd{width:100%;}

	/*	pricing*/
	.priceBox {display: none;}
	.pricingBox_m {display: block; clear: both;overflow: hidden; position: relative; background: #fff;width: 90%; margin: 0 auto;}
	.pricingBox_m h1 {font-size:20px; text-align: center;color: #000;line-height:38px;max-width: 1200px; margin: 20px auto 30px;}
	.pricingBox_m h1 span {display: block; font-size: 11px; color:#2575f9; height: 20px;line-height: 22px;font-weight:400;}
	.pricingBox_m h1 span strong{display: block;}
	.price_cont .sub_titleArea {height:250px; padding:0 15px;}
	/* Style the tab */
	.pricingBox_m .price_tab .tab {overflow: hidden; background-color: #fff;}
	/* Style the buttons inside the tab */
	.pricingBox_m .price_tab .tab button {position: relative; background-color: inherit;width: 50%; height: 50px;float: left;border: none;outline: none;cursor: pointer; padding: 14px 5px; transition: 0.3s; font-size: 12px;font-weight: 600;border-bottom: 3px solid #eee;}
	.pricingBox_m .price_tab .tab button.enterprise {font-size:12px; line-height: 12px; height: 50px;}
	/* Create an active/current tablink class */
	.pricingBox_m .price_tab .tab button.active {border-bottom: 3px solid #4a8dfc; color: #4a8dfc;}
	.pricingBox_m .price_tab .tab button.active:after {content: ''; width:100%; position:absolute;left:50%; bottom:0; height:3px ;color:pink;animation: lineEffect 1s; }
	/* Go from zero to full opacity */
	@keyframes lineEffect {
		from {width: 0;}
		to {width: 100%;}
	}
	/* Style the tab content */
	.pricingBox_m .price_tab .tabcontent { display: none; padding: 0 0 60px; border-top: none;animation: fadeEffect 1s;}
	/* Go from zero to full opacity */
	@keyframes fadeEffect {
		from {opacity: 0;}
		to {opacity: 1;}
	}
	.pricingBox_m .price_tab .tbl_lst_m {width:100%; color: #000;}
	.pricingBox_m .price_tab .tbl_lst_m tr {border-bottom:1px solid #979797;height: 60px;}
	.pricingBox_m .price_tab .tbl_lst_m tr:first-child {height:40px;border: none;}
	.pricingBox_m .price_tab .tbl_lst_m tr:nth-child(6) {border:none;}
	.pricingBox_m .price_tab .tbl_lst_m td {width:63%;height: 40px;font-size: 13px;}
	.pricingBox_m .price_tab .tbl_lst_m td em {font-size: 11px;}
	.pricingBox_m .price_tab .tbl_lst_m td em i {color:#2575f9;margin: 0 5px 0 0;}
	.pricingBox_m .price_tab .tbl_lst_m td div {margin:5px 0 0 0;}
	.pricingBox_m .price_tab .tbl_lst_m td div a {color:#2575f9;}
	.pricingBox_m .price_tab .tbl_lst_m td ul li { position: relative; height:40px;line-height: 40px;font-size:12px; border-bottom: 1px solid #979797;}
	.pricingBox_m .price_tab .tbl_lst_m td ul li:last-child {border-bottom:none;}
	.pricingBox_m .price_tab .tbl_lst_m td ul li a {color:#2575f9;font-weight: 600;}
	.pricingBox_m .price_tab .tbl_lst_m td ul li span.brtxt { display: block; text-align: center;line-height: 12px; font-size: 10px;position: absolute;top: 27px;
		width: 100%;}
	.pricingBox_m .price_tab .tbl_lst_m td ul .li_df { height: 45px; line-height: 30px;}
	.pricingBox_m .price_tab .tbl_lst_m td ul .li_df span {display: block;position: absolute; top: 12px;font-size: 12px;font-weight: 400;}
	.pricingBox_m .price_tab .tbl_lst_m td ul.or_txt li {border:none;}
	.pricingBox_m .price_tab .tbl_lst_m td ul.or_txt li:after {content: 'or'; position:absolute; bottom: -10px;left:55px;color:#2575f9;height: 25px;line-height: 25px;}
	.pricingBox_m .price_tab .tbl_lst_m td ul.or_txt li:last-child:after {display: none;}
	.pricingBox_m .price_tab .tbl_lst_m td ul li img{vertical-align: middle;width: 20px;}
	.pricingBox_m .price_tab .tbl_lst_m td ul li span.plus {position: absolute; right: 10px;top: 0;color:#4a8dfc; font-size:13px;}
	.pricingBox_m .price_tab .tbl_lst_m td ul li span.span {position: absolute;bottom: -12px;width: 100%; text-align: center; font-weight: 400;}
	.pricingBox_m .price_tab .tbl_lst_m td.price_1 {position: relative; text-align: center;font-size: 10px; font-weight: bold;}
	.pricingBox_m .price_tab .tbl_lst_m td.price_1 a {width:100%;display: block; margin: 0 auto; border-radius: 20px; padding: 5px;color:#4a8dfc;font-weight: 500;}
	.pricingBox_m .price_tab .tbl_lst_m td.price_1 a small {display: block;font-weight: 300;}
	.pricingBox_m .price_tab .tbl_lst_m td.price_1 a.more{border:none;position:absolute; font-size:12px;left: 10px;bottom: -2px;}
	.pricingBox_m .price_tab .tbl_lst_m td.price_1 span {font-size:16px;}
	.pricingBox_m .price_tab .tbl_lst_m td.center_txt {text-align: center;}
	.pricingBox_m .price_tab .tbl_lst_m td.center_txt a {color:#4a8dfc;}
	.pricingBox_m .price_tab .tbl_lst_m td.point_txt {font-size:17px;}
	.pricingBox_m .price_tab .tbl_lst_m tr.lst_row span {font-size: 12px;font-weight: 600; display: block;height: 40px;line-height: 40px;text-align: left;}
	.lst_row  {text-align: center;}
	.lst_row ul { padding: 0 10px;}
	.lst_row .ul_txt li {text-align: left;}

	.pricingBox_m table .form_td{text-align: center;}
	.pricingBox_m table .form {display: inline-block;vertical-align: middle;margin: 20px auto 0;}
	.pricingBox_m table .form input {width:140px;}
	.pricingBox_m table label{display:inline-block; overflow:hidden;height:35px; position:relative; padding-left:20px; color:#576068; line-height:21px; cursor:pointer; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; vertical-align: middle;margin: 0 0 0 20px;}
	.pricingBox_m table label:before{position:absolute;top:0;left:0;content:''; float:left; overflow:hidden; width:20px; height:21px; line-height:21px; text-align:center; vertical-align:middle; background:#fff; border:1px solid #b1bed5; border-radius:50%; box-sizing:border-box; transition:all 0.3s ease-out;}
	.pricingBox_m table label:after{position:absolute;top:5px;left:5px;content:''; overflow:hidden; width:10px; height:11px; line-height:21px; text-align:center; vertical-align:middle; background:#fff; border:none; border-radius:50%; box-sizing:border-box; transition:all 0.3s ease-out;}
	.pricingBox_m table .form_td .buybtn {display: block; margin: 10px auto 5px;background: #2575f9;border: none; height: 35px; line-height: 35px; color: rgb(255, 255, 255); letter-spacing: -0.4px; font-size: 14px;border-radius: 5px; width: 104px;cursor: pointer;}
	.failure_box {width:100%;padding: 0;}
	.failure_box .failure_tb tr th {font-size:13px;}
	.failure_box .failure_tb {margin:30px 0 0 0;}
	.failure_box a {margin:20px auto;}

	/*더알아보기 팝업 basic*/
	.lyrmore {display:none; position: absolute; top:0; left:0; width:100%; height:100%; z-index:200;}
	.lyrmore .lyr_bg {position:absolute; top:0; left:0; width:100%; height:100%; }
	.lyrmore .lyrBox { overflow: hidden; position: absolute; top: 0; width: 99%;  margin: 0 0 0 -50%;border-radius: 10px;background: #f0f4fb;box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.4);}
	.lyrmore .lyr_top {display:block; padding:7px 20px;text-align: center;}
	.lyrmore .lyr_top h3 {margin:10px 0 9px 0;  color: #000; font-size: 20px;}
	.lyrmore .lyr_mid {padding: 0 15px;}
	.lyrmore .lyr_mid .tbl_view {width:100%; color: #000;}
	.lyrmore .lyr_mid .tbl_view tr {border-bottom:1px solid #979797;}
	.lyrmore .lyr_mid .tbl_view tr:first-child {border-bottom: 3px solid #979797; border-top: 3px solid #979797;}
	.lyrmore .lyr_mid .tbl_view th {text-align: left;font-size:12px;height: 50px;}
	.lyrmore .lyr_mid .tbl_view td {height:40px;font-size: 12px;}
	.lyrmore .lyr_btm {text-align: center;}
	.lyrmore .lyr_btm  li {display: inline-block; width: 30px; height: 30px; border: 1px solid #4a8dfc;border-radius: 32px; margin: 10px 0;}
	.lyrmore .lyr_btm .btn_lyr_close {overflow:hidden;width: 31px;height: 31px; text-indent:-99px; border:none;  background:url(../images/btn_legacy_close_p.png) 50% 50% no-repeat; background-size: 13px;  cursor:pointer; transition:all 0.3s ease-out;}
	.lyrmore .lyr_btm .btn_lyr_close:hover, .lyrWrap .lyrBox .lyr_top .btn_lyr_close:focus {opacity:1.0; transition:all 0.3s ease-out;transform: rotate(180deg);}

	#lyr_more_premium {display: none;    margin: 0 0 0 130px;}
	
/*	profile*/
	.mypageBox {width:95%; margin: 0 auto 20px; padding: 28px 0 10px 0;}
	.mypageBox .basic_tit {width:100%;margin: 0 0 20px 0;}
	.contentarea{ width: calc(100% - 20px); padding: 10px;}
	.mypageBox .basic_info {float: unset;}
	.mypageBox .basic_info h5 {font-size:18px;padding: 0 10px;}
	.mypageBox .basic_info ul {width:100%;}
	.mypageBox .basic_info ul:last-child {margin: 5px 0 10px 0;}

	.account {width:100%;padding: 0;}
	.account > p {margin:0 0 20px 0;}
	.stn_1 {margin: 0 0 40px 0;}
	.stn_1 button {margin:10px 0 0 0;}
	.stn_1 span{font-size:12px;margin:10px 0 0 0;}
	.stn_2 table thead tr {	position: absolute;top: -9999px;left: -9999px;}
	.stn_2 table tr {border-bottom: 1px solid #cacfd8;}
	.stn_2 table tr:first-child{border-top: 1px solid #cacfd8;}
	.stn_2 table tr td {display: block;border: none;border-bottom: 1px solid #eee;position: relative;padding-left: 45%; text-align: left;font-size:12px;}
/*	.stn_2 table tr:nth-child(odd) { background:#f5f6fa; }*/
	.stn_2 table tr td:before{	/* Now like a table header */position: absolute;/* Top/left values mimic padding */top: 0;left: 0;width: 40%; height: 100%;padding-left: 10px;white-space: nowrap;font-size:12px;background:#f5f6fa;} 
	.stn_2 table tr td:first-child {text-align: left; padding: 0 0 0 45%;}
	.stn_2 table tr td:nth-child(2) {text-align: left; padding: 0 0 0 45%;}
	.stn_2 table tr td:nth-child(3) {text-align: left; padding-left: 45%}
	.stn_2 table tr td:nth-of-type(1):before { content: "No."; }
	.stn_2 table tr td:nth-of-type(2):before { content: "Name of Service"; }
	.stn_2 table tr td:nth-of-type(3):before { content: "Used / Purchased"; }
	.stn_2 table tr td:nth-of-type(4):before { content: "Period"; }
	.stn_2 table tr td:nth-of-type(5):before { content: "Remarks"; }
	.stn_2 table tr td span {width:20px; height:20px;display: block; margin: 0 0 3px 0;}
	.stn_2 table tr td span em {font-size: 11px; vertical-align: top; padding: 5px;}
	.lyr_detail_amount .lyrWrap {margin: 100px auto;}
	
	.stn_1 ul li {height:auto;overflow: hidden;}
	.stn_1 ul li span {width:80px;font-size:16px;}
	.stn_1 ul li button {width:80px; height:30px;float: right;margin: 20px 0 0 0; }
	.stn_1 ul li button.changeMethod {margin:0 0 20px 0;}
	.stn_2 .payment_tbl thead th:nth-child(4), .stn_2 .payment_tbl thead th:nth-child(5), .stn_2 .payment_tbl thead th:last-child {padding:0;}
	.lyr_receipt .lyrWrap {margin: 120px auto;}
	.lyr_plan .lyrWrap {margin:120px auto;}
	.lyr_method .lyrWrap {margin:120px auto; width: 95%;}
	.lyr_method .lyr_bd {padding:0 10px;}
	.lyr_method .lyr_bd ul li b {clear:both;}
	.lyr_method .lyr_bd button {margin: 10px 0;}

/*	NOTICE*/
	#noticeBox {width: 95%; margin: 0 auto 20px;}
	#noticeBox .lst_stn {padding:20px 10px;}
	.noticetit {padding:18px; font-size: 16px; }
	.noticetxt .txt_area {margin:0;}
	.noticetit:after {right:45px;}
/*	faq*/
	.searchType_wrap02 {width:95%;margin:0 auto;}
	.searchType_wrap02 .input_textType {width:82%;}
	.qa_lst {width:95%; margin:10px auto;}
	.qa_lst li {    width: calc(25% - 10px); margin: 0 5px 0 5px;}
	.qa_lst li:last-child {margin: 0 5px 0 5px;}
	.faqBox {width:95%; margin: 0 auto 20px;}
	.faqBox .lst_stn {padding:10px;}

	.btn_fltBox {display: none;}
	.request .noticetit {margin: 0 ; width:100%; font-size: 13px;position: relative; }

	.request .noticetit .tag {position:absolute;top:0; font-size: 13px;}
	.request .noticetxt .imgarea .img {display: block;}
	.request .noticetxt .attach_file_tit {font-size:12px;}
	.request .noticetxt .attach_file {padding: 0 0 0 20px;}
	.request .noticetxt .answer_area textarea {width: calc(100% - 22px);}
	.request .noticetxt .answer_area button {margin:10px 0 0 0;float: right;}
	.notice_write {padding: 30px 20px;}
	.notice_write .ipt_txt {width:73%;}
	.notice_write label {width:20%;}
	.notice_write .short_box {width:100%; float: unset; margin: 0 0 10px 0;overflow: hidden;}
	.notice_write .short_box:nth-child(3) {margin: 0 0 10px 0;}
	.writebox .selectbox {width:73%; box-sizing: border-box;}
	.writebox .writeArea {width:90%; margin: 0 auto;}

/*	contactus*/
	.api_contact {width:100%;}
	.api_contact .contact_lst> li {display: block;width:95%; margin:0 auto;}
	.api_contact .contact_lst> li:last-child { width: 95%; margin: 10px auto;}
	.contactBox {width:95%; margin:0 auto;}
	.contactBox .formBox {padding:20px 10px;}
	.api_contact .contact .txtfield > label {width:40%;}
	.api_contact .contact .txtfield .input_txt {width: 59%;}
	.api_contact .contact .txtfield .textArea {width:100%;box-sizing: border-box;}
	.file_box .upload-name {width:60%;}
	.file_box .srchbox label.file_label {width:40%;}
	
	.terms_box {width:100%;}
	/* 0613 새로추가 */
 	
	.lyr_lack .lyrWrap {width:95%;margin:150px auto;}
	.lyr_lack .lyr_bd a {min-width:unset;}
	.lyr_lack .lyr_bd a.btn_cancel {width: calc(50% - 30px); margin: 0 10px 0 0;}
	.lyr_lack .lyr_bd a.btn_upgrade {margin: 0 0 30px 0; width: calc(50% - 30px);}


	/* [추가] 20190730 YMJ */
	#wrap {min-width:320px;}
	.useCasesBox { width:auto; padding:40px 0;}
	.useCasesBox ul.lst_useCases > li {padding:0; border:none;}
	.useCasesBox ul.lst_useCases li dl dt {float:none; width:auto;}
	.useCasesBox ul.lst_useCases li dl dt span strong {display:inline-block;}
	.useCasesBox ul.lst_useCases li dl dd {float:none; width:auto; padding:10px 0;}
	.useCasesBox ul.lst_useCases li dl dd.txt {width:auto; line-height:20px;}
	.useCasesBox ul.lst_useCases li dl dd.api_itemBox {float:none; padding:10px; text-align:left; border-radius:5px; background:#f5f6fa;}
	.useCasesBox ul.lst_useCases li dl dd.api_itemBox ul {float:none;}
	.useCasesBox ul.lst_useCases li dl dd.api_itemBox ul li { margin:0 10px 0 0;}
}
