@charset "UTF-8";
/* MINDsLab. MRS. 20200304 */
/* -------------------- header -------------------- */
#header {position:relative; width:100%; height:80px; text-align:center; border-bottom:1px solid #cfd5eb; box-sizing:border-box; background:#fff; z-index:99;}
#header .group_flex {display:inline-block; clear:both; width:1220px; padding:0 59px; text-align:right; box-sizing:border-box;}
#header  h1 {float:left; margin:17px 0 0 0;}
#header  h1 a {display:block; width:114px; height:46px;}
#header  h1 a img {width:100%; height:100%;}
#header .sta {float:right; height:80px;}
.gnb {display:inline-block; height:100%; vertical-align:top;}
.gnb ul.nav {}
.gnb ul.nav li {}
.gnb ul.nav li a {float:left; height:24px; margin:27px 25px 0 0; color:#002b49; font-size: 16px; font-weight: 500; line-height:24px;}

/* service menu  */
#menu {display:inline-block;float:none; position:relative; width:170px; margin:19px 10px 0 0; vertical-align:top;}
#menu > ul {height:auto;border: 1px solid #002b49;border-radius: 3px;}
#menu > ul li p{line-height: 44px;font-size:14px;font-weight:500;color:#002c49;display: block;border-radius: 3px 3px 0 0; text-align: center;box-sizing: border-box;cursor: pointer;}
#menu > ul li p em.fa-angle-up {display: none;}
#menu > ul.active {height:auto ;border: 1px solid #002c49; }
#menu > ul.active li p {background: #fff;color:#1f2e3b; }
#menu > ul.active li p em.fa-angle-down {display: none;}
#menu > ul.active li p em.fa-angle-up {display: inline-block;}
#menu > ul.active li.active a {color:#14b6cb;}
#menu ul.dropdown-menu {display: none;width: 100%;box-sizing:border-box; border-radius: 0 0 3px 3px;background:#fff;padding:4px 0 8px;border-top: 1px dotted #cfd5eb;}
#menu ul.dropdown-menu li{display: block;text-align: center;color:#1f2e3b;font-size:14px;height:30px;line-height: 30px; transition: all 0.3s ease-in-out;}
#menu ul.dropdown-menu li:hover a {display: block;color:#14b6cb;transition: all 0.3s ease-out;}
#menu ul.dropdown-menu a {width:100%;color:#1f2e3b;font-size:14px; letter-spacing: -0.31px; border: none;height:30px;line-height: 30px;}

/* Language  */
.sta .lang_box {display:inline-block; margin:23px 0 0 ;}
.sta .lang_box span {display: block;height:14px;line-height: 14px;margin:0 0 9px 0; font-size: 14px;font-weight: 500;letter-spacing: -0.2px;color: #1f2e3b; opacity: 0.9;}
.sta .lang_box span a{opacity: 0.4;color:#1f2e3b;font-weight: 400;}

#container {height: calc(100% - 80px);}
/* -------------------- contents -------------------- */
.contents {position: relative;height: 100%;min-width: 1220px;box-sizing: border-box; padding:80px 0 125px; background-color: #f5f6fa;overflow: hidden;text-align: center;}
.contents > h1 {margin:0 0 6px 0;font-size: 30px;font-weight: 500;line-height: 0.97; text-align: center;color: #002b49;}
.contents > h1 + h5 {font-size: 25px;font-weight: 300;line-height: 1.65; text-align: center;color: #002b49;}
.contents > h1 + h5 em { color: #5f76ff;}
/* -------------------- maum 회의록 -------------------- */
.contents .stn {position: relative;height:100%;}
.contents .stn .cont_box {display: inline-block;min-width: 1220px;position: absolute;left: 50%;top: 50px;transform: translate(-50%, 0);}
.contents .stn .cont_box .fl_box{position:relative; float:left; width:670px;height:410px; background: url("../../common/images/labtop.png") center center no-repeat;background-size: contain; }
.contents .stn .cont_box .fl_box .intro_box {position:absolute; top: 34px;left: 89px; width: 459px;height: 292px;border-radius: 4px;background-color: #e9e7fb;overflow: hidden;padding: 5px ;box-sizing: border-box;}
.contents .stn .cont_box .fl_box .intro_box p {height:28px;margin:0 0 3px 0; font-size:15px;line-height:28px;letter-spacing: 0.05px;text-align: center;color: #ffffff;border-radius: 4px;background-color: #5e4df8;}
.contents .stn .cont_box .fl_box .intro_box ul {width:448px;}
.contents .stn .cont_box .fl_box .intro_box ul li{ opacity:0;position: relative;height: 47px; margin:0 0 6px 0; padding: 5px 13px 5px 53px;box-sizing: border-box; border-radius: 4px;box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);background-color: #ffffff; font-weight: 300; text-align: left;line-height: 1.38;letter-spacing: -0.6px;color: #002b49;font-size:13px;}
.contents .stn .cont_box .fl_box .intro_box ul li.chat_line{-webkit-animation:fadeUp 1s 0s alternate;-webkit-animation-fill-mode: forwards; -webkit-animation-timing-function: ease-out;animation:fadeUp 1s 0s alternate;animation-fill-mode: forwards; animation-timing-function: ease-out;}
.contents .stn .cont_box .fl_box .intro_box ul li.chat_line:first-child {height:34px;animation-delay:0.2s;}
.contents .stn .cont_box .fl_box .intro_box ul li.chat_line:nth-child(2) {animation-delay:0.6s;}
.contents .stn .cont_box .fl_box .intro_box ul li.chat_line:nth-child(3) {animation-delay:1.0s;}
.contents .stn .cont_box .fl_box .intro_box ul li.chat_line:nth-child(4) {animation-delay:1.4s;}
.contents .stn .cont_box .fl_box .intro_box ul li.chat_line:nth-child(5) {animation-delay:1.8s;}

.contents .stn .cont_box .fl_box .intro_box ul li.chat_line span { position:absolute; left: 7px; top: 7px;display: inline-block;text-align: center;font-size: 8px;width: 40px;height:100%;color:#fff;z-index: 0;}
.contents .stn .cont_box .fl_box .intro_box ul li.chat_line span:before{content: '';position:absolute; top:-1px; left:0; width: 40px;height: 16px;border-radius: 4px;background-color: #5e4df8;z-index: -1}
.contents .stn .cont_box .fl_box .intro_box ul li.chat_line strong{font-weight: bold;letter-spacing: -0.64px;}

/* keyframes */
@-webkit-keyframes fadeUp{
    0%  {transform: translate(0,20px);opacity:0;}
    100%{transform: translate(0);opacity:1;}
}
@keyframes fadeUp{
    0%  {transform: translate(0,20px);opacity:0;}
    100%{transform: translate(0);opacity:1;}
}

.contents .stn .cont_box .fr_box{float:left;width:460px;padding:10px 0 0 54px;text-align: left;}
.contents .stn .cont_box .fr_box ul {padding:0 0 40px 60px;}
.contents .stn .cont_box .fr_box ul li{ height:56px;line-height: 56px;font-size: 18px;font-weight: normal;color: #002b49;}
.contents .stn .cont_box .fr_box ul li:first-child { line-height: 67px;color: #5e4df8;font-size:18px;}
.contents .stn .cont_box .fr_box ul li span{display: inline-block;position:relative; margin:0 17px 0 0;text-align: center; width: 24px;height: 24px;line-height:24px;border-radius: 24px;color:#fff;font-size:16px;z-index:0;}
.contents .stn .cont_box .fr_box ul li span:before {content: '';position:absolute; left: 1px;top: 1px; background-color: #5e4df8;width: 24px;height: 24px;border-radius: 24px;z-index: -1;}
.contents .stn .cont_box .fr_box ul li small {display: inline-block; margin:0 10px 0 0; line-height: 1.11;letter-spacing: -1.3px;color: #5e4df8;font-size:18px;}
.contents .stn .cont_box .fr_box a {display: block;float: right;margin: 0 45px 0 0; padding:20px 0 0 0;box-sizing: border-box;width: 352px;height: 80px;border-radius: 4px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);border: solid 1px #5e4df8;background-color: #ffffff; line-height: 0.89;font-size:18px;font-weight: bold;letter-spacing: -0.3px;text-align: center;color: #5e4df8;}
.contents .stn .cont_box .fr_box a span {display: block;height: 16px;margin: 11px 0 0 0; font-size: 14px;font-weight: normal;}


/* -------------------- Cloud API -------------------- */
.contents .stn .cont_box .fl_box.cloud_box {background-image: url("../../common/images/ico-landing-maumai.svg"), url("../../common/images/ico_01.svg"), url("../../common/images/ico_02.svg"), url("../../common/images/ico_03.svg"), url("../../common/images/ico_04.svg"), url("../../common/images/ico_05.svg");background-size: 356px, 64px, 80px, 72px, 56px, 64px; background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat; background-position: center 16px, 80px 264px, 170px 315px, 288px 293px, 420px 305px, 510px 255px; }
.contents .stn .cont_box .fl_box.cloud_box .arrow_01 {position:absolute;left:168px;top:230px;}
.contents .stn .cont_box .fl_box.cloud_box .arrow_02 {position:absolute;left:232px;top:230px;}
.contents .stn .cont_box .fl_box.cloud_box .arrow_03 {position:absolute;left:305px;top:230px;}
.contents .stn .cont_box .fl_box.cloud_box .arrow_04 {position:absolute;left:330px;top:230px;}
.contents .stn .cont_box .fl_box.cloud_box .arrow_05 {position:absolute;left:400px;top:230px;}
.contents .stn .cont_box .fl_box.cloud_box .arrow_06 {position:absolute;left:455px;top:230px;}


/* 모바일 메뉴 */
.aside {display:block; overflow:auto; position:fixed; top:0; right:0; width:0; height:100%; z-index:1000;background-color: #f5f6fa; box-shadow:3px 0 7px #000;}
.aside .aside_top {display:block;height:145px;box-sizing: border-box; padding:20px 44px 0;background: #fff;}
.aside .aside_top h1 {float:left;text-align:center;margin: 8px 0 0 10px;}
.aside .aside_top h1 a{display: block;}
.aside .aside_top h1 img {height:100%;}
.aside .aside_top a.btn_sign { display: block;width:100%;margin:20px auto;box-sizing: border-box; height:42px; border:1px solid #002b49;border-radius: 3px;text-align: center;line-height: 42px;font-size: 14px;color: #002b49;}
.aside .aside_mid {display:block; padding:50px 44px; height: calc(100% - 212px);overflow: auto;}
.aside .aside_mid .m_nav {clear:both; overflow:hidden;}
.aside .aside_mid .m_nav li {clear:both; overflow:hidden;}
.aside .aside_mid .m_nav li h2, .aside .aside_mid .m_nav li h2 a {display:block; font-size:1.4rem; font-weight: 500;line-height: 2.67;letter-spacing: -0.35px;text-align: center;color: #002b49;}
.aside .aside_mid .m_nav li h2 em {font-size:13px;}
.aside .aside_mid .m_nav li h2 span {display:block; color:#999; font-size:15px; font-weight:500; line-height:45px; text-align:center;}
.aside .aside_mid .m_nav li ul.m_lst {display:block;  border: solid 1px #d2dde4;padding:8px 0; background: #fff;}
.aside .aside_mid .m_nav li ul.m_lst li {display:block;text-align: center;}
.aside .aside_mid .m_nav li ul.m_lst li h3 {clear:both; overflow:hidden;}
.aside .aside_mid .m_nav li ul.m_lst li h3 a {display:block; height:32px; padding:0 18px; font-size:1.2rem; font-weight:normal;background-color:#fff; line-height:32px;letter-spacing: -0.3px;text-align: center;color: #002b49;}
.aside .aside_mid .m_nav li ul.m_lst li h3 a span {display:inline-block; padding:0 0 0 30px; background-size:20px !important;}
.aside .aside_mid .m_nav li ul.m_lst li.active a {color: #14b6cb;}
.aside .aside_btm {display:block; padding: 0 25px 28px 0;}
.aside .aside_btm ul {clear:both; text-align: center;overflow:hidden;}
.aside .aside_btm ul li {display:inline-block; margin-right:32px; text-align:center;}
.aside .aside_btm ul li:last-child{margin:0;}
.aside .aside_btm ul li span {font-size: 14px;font-weight: 500;font-stretch: normal;letter-spacing: -0.31px;text-align: center;color: #002b49;}
.aside .aside_btm ul li span a {  color: #002b49;opacity: 0.3;}

.bg_aside {display:none; position:fixed; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,1.0); opacity:1.0; z-index:100;}

/* header_햄버거버튼 */
.btn_header_ham {display:none; width:50px; height:50px; position:absolute; top:0; right:0; z-index:1000; border:none; box-sizing:border-box; background:none; opacity:0.6; cursor:pointer;transition: all 0.3s ease-out; }
.btn_header_ham.active {position:fixed;right:0; opacity:1.0; }
.hamburger_icon {position:relative; top:50%; left:50%; margin:-1px 0 0 -13px; width:25px; height:3px; background:#fff; border-radius:3px; }
.hamburger_icon, .hamburger_icon:before {display:block; width:25px; height:3px; border-radius:3px; background-color:rgb(0, 44, 73);}
.hamburger_icon:after {display:block; top:9px; right:0; width:15px; height:3px; border-radius:3px; background-color:rgb(0, 44, 73);}
.hamburger_icon:before, .hamburger_icon:after {position:absolute; content:"";}
.hamburger_icon:before {top:-9px;background-color:rgb(0, 44, 73);}

.btn_header_ham.fixed_ham .hamburger_icon,
.btn_header_ham.fixed_ham .hamburger_icon:before,
.btn_header_ham.fixed_ham .hamburger_icon:after {background-color:#002b49;}


#footerFrame {position:absolute;width:100%;height:127px;bottom:0;border:none;}


@media all and (max-height:850px) {
    #container {height: 100%;}
    #footerFrame {position:relative;}
}
@media screen and (max-width:768px){
    #header {position:fixed;}
    #header .group_flex {width:100%; padding: 0 10px;}
    #header .sta {display: none;}
    .aside {overflow: hidden;}
    .aside .aside_top {height:80px;padding: 10px 0;border-bottom: 1px solid #cfd5eb;}
    .btn_header_ham.active {transition: all 0.3s ease-out; }
    .btn_header_ham.active .hamburger_icon {background:#002b49;transform:rotate(45deg);opacity:0.7;transition: all 0.3s ease-out; }
    .btn_header_ham.active .hamburger_icon:before {display: none;}
    .btn_header_ham.active .hamburger_icon:after {width: 25px;background:#002b49; transform:rotate(90deg) translate(-9px, 0px);}
    .btn_header_ham {display:block;position:fixed;margin: 10px 0 0;transition: all 0.3s ease-out; }

    #container {height: auto;}
    .contents{height:100%;min-width: unset;padding: 120px 0 100px;}
    .contents > h1 {font-size:1.6rem;letter-spacing: -1px;margin: 0 0 10px 0;}
    .contents > h1 + h5 {font-size:1.2rem;letter-spacing: -0.5px;}
    .contents > h1 + h5 span {display: block;}
    .contents .stn{position:relative;top:0;left:0; transform: unset;}
    .contents .stn .cont_box {width:100%;min-width:unset;position: relative; left: unset;top: unset;transform: unset;}
    .contents .stn .cont_box .fl_box {width: 300px;float: unset;margin: 0 auto; height: 320px;}
    .contents .stn .cont_box .fr_box {width:100%;max-width: 300px;margin: 0 auto;float: unset;padding: 0 20px;box-sizing: border-box;}
    .contents .stn .cont_box .fl_box.cloud_box {max-width:300px;background-size: 90%, 40px, 40px, 40px, 35px, 40px;background-position: center 0, 0 194px, 58px 239px, center 216px, 208px 227px, 262px 190px;}
    .contents .stn .cont_box .fl_box.cloud_box .arrow_01 {left: 37px;top: 156px;}
    .contents .stn .cont_box .fl_box.cloud_box .arrow_02 {left: 83px;top: 162px;}
    .contents .stn .cont_box .fl_box.cloud_box .arrow_03 {left: 46%;top: 156px;}
    .contents .stn .cont_box .fl_box.cloud_box .arrow_04 {left: 153px;top: 159px;}
    .contents .stn .cont_box .fl_box.cloud_box .arrow_05 {left: 194px;top: 158px;}
    .contents .stn .cont_box .fl_box.cloud_box .arrow_06 {left: 220px;top: 157px;}
    .contents .stn .cont_box .fr_box ul {padding:0;}
    .contents .stn .cont_box .fr_box ul li{height: 30px;line-height: 30px;font-size: 1rem;font-weight: normal;letter-spacing: -0.5px;}
    .contents .stn .cont_box .fr_box ul li:first-child {line-height: unset;}
    .contents .stn .cont_box .fr_box ul li span {float: left;font-size: 11px;margin: 3px 17px 0 0;}
    .contents .stn .cont_box .fr_box a {float:unset; margin:20px auto 0;width:100%;padding: 15px 0 0 0;font-size: 16px;height: 70px;}
    #footerFrame {position:relative;height:auto;}
}