.superR_box .sample_box {width:465px;height:307px;}
.superR_box .sample_box .radio input[type="radio"] + label {margin:23px 0 0 17px; width: 200px; height: auto;}
.superR_box .sample_box .radio input[type="radio"] + label .img_area {width:200px;height:200px;overflow: hidden;border: solid 1px #cfd5eb; background-color: #ffffff;}
.superR_box .sample_box .sample_1:after {left: 232px; top: 25px;height: 200px;}

.superR_box .sample_box .radio input[type="radio"] + label:before {top: 244px; left: 89px;}
.superR_box .sample_box .radio input[type="radio"] + label:after {top: 249px; left: 94px;}
.superR_box .sample_box .radio input[type="radio"] + label img {height:100%;width:auto;}
.superR_box .sample_box:after {right: -27px;top: 127px;}
.superR_box .uplode_box {width:255px;height:307px;}
.superR_box .uplode_box .btn {margin:120px auto 60px;}
.superR_box .uplode_box .btn_change{margin:85px auto 63px;}
.superR_box .uplode_box ul {padding: 10px 0; margin: 0 0 0 20px;}
.superR_box .tr_1 .btn_area {position:relative;}
.superR_box .tr_1 .btn_area .disBox {position:absolute;top:0;left:0; width:100%; height:100%; z-index:1000;}

.superR_box .tr_3{padding: 38px 200px 0;background-color: #f5f6fa;}
.superR_box .tr_3 > p {margin: 0 0 12px 0;}
.superR_box .tr_3 .origin_file {width:auto;margin:0 17px 0 0 ;}
.superR_box .tr_3 .result_file{width:auto;}
.superR_box .tr_3 .imgBox {width:200px;height:200px; border: solid 1px #cfd5eb; background-color: #ffffff;box-sizing: border-box;}
.superR_box .tr_3 .imgBox img {height:100%; width: 100%;object-fit: contain;}
.superR_box .tr_3 .noti {  font-size: 14px; font-weight: normal; letter-spacing: -0.19px; color: #2c3f51;margin: 10px 0 8px 0; display: inline-block;}
.superR_box .tr_3 .result_check {display: inline-block; margin: 10px auto 0; padding: 10px 20px; border-radius: 5px; box-shadow: 1px 1px 2px 0 rgba(154, 154, 154, 0.5); border: solid 1px #f7778a; background-color: #ffffff; color: #f7778a; font-size: 14px;}
.superR_box .tr_3 .result_check em {margin:0 5px 0 0;}
.superR_box .pop_confirm .pop_bd em {font-size:22px; margin: 33px 5px 0 0;}
.superR_box .btn_area button.reset_btn {background: #2c3f51; color:#fff;}

.superR_box .pop_confirm em.close {position:absolute;top:15px;right:15px;font-size: 15px;  color: #97a2bc;transition: all 0.3s ease-out;cursor:pointer;}
.superR_box .pop_confirm em.close:hover {color:#002b49;}
.superR_box .pop_confirm .pop_bd {overflow: hidden;background: #f5f6fa;padding: 0 14px; width: 1280px;}
.superR_box .pop_confirm .pop_bd em {font-size:14px; margin: 15px 5px 0 0;}
.superR_box .pop_confirm .pop_bd p {font-size:14px;}
.superR_box .pop_confirm .popWrap {width:auto;max-width: 1680px;}
.superR_box .pop_bd .img {font-size:14px; color: #2c3f51;float:left;margin:0 13px 0 0;width: calc(50% - 7px); height: 800px;}
.superR_box .pop_bd .img:last-child {margin: 0;}
.superR_box .pop_bd .img .origin_img, .superR_box .pop_bd .img .result_img {background: #fff;border: solid 1px #cfd5eb;width: 100%;height: 84%; overflow: auto;}
.superR_box .pop_bd .img img{height:100%;width:100%;object-fit: contain;}
.superR_box .pop_bd .img a.btn_dwn {display: inline-block;margin: 10px 0; padding:10px 20px; border-radius: 5px;box-shadow: 1px 1px 2px 0 rgba(154, 154, 154, 0.5);border: solid 1px #f7778a; background-color: #ffffff;color: #f7778a;font-size: 14px;}
.superR_box .pop_bd .img a.btn_dwn em {margin:0;color: #f7778a;}


.useCasesBox ul.lst_useCases li dl dd.api_itemBox ul li.ico_esr {background: url(../images/menu/ico_vis_5_fold.svg) center top no-repeat; background-size: 90% auto;}

/*이미지 업로드 실패 팝업*/
.pop_simple .pop_sr_noti {width:400px;margin: 270px auto !important;}
.pop_simple .pop_sr_noti .pop_bd {padding:0 40px;}
.pop_simple .pop_sr_noti .pop_bd em {color:#9cafd2; padding: 17px 0 0;}
.pop_simple .pop_sr_noti .pop_bd h5{font-size: 20px; font-weight: 500; letter-spacing: -0.16px; color: #2c3f51; height: 30px;line-height: 30px;}
.pop_simple .pop_sr_noti .pop_bd p {font-size:14px;letter-spacing: -0.11px; text-align: center; color: #576068;line-height: 1.57;}
.pop_simple .pop_sr_noti .pop_bd span {display: block; text-align: left;background: #f3f5fb;padding:13px 20px; font-size:14px;letter-spacing: -0.11px; color: #2c3f51;line-height: normal;}
.pop_simple .pop_sr_noti .btn a {margin:20px 0 30px 0;width:72px; height:40px; background:#2575f9;color:#fff; padding: 0;}


@media screen and (max-height: 965px){
    .superR_box .pop_confirm .popWrap {width: 90%;height: 80%;}
    .superR_box .pop_confirm .pop_bd {width:calc(100% - 28px); height: 100%;}
    .superR_box .pop_bd .img {height:100%;}
    .superR_box .pop_bd .img .origin_img, .superR_box .pop_bd .img .result_img {height: 80%;}
}

/*@media screen and (max-width:1600px) {*/
/*    .menu_lst {float:right;}*/
/*    .content .demobox{ clear:both;}*/

/*}*/