#vrdemo p span {color: #7d71d1;}
.voiceR_box .demo_layout {margin: 7px auto 50px;}
.voiceR_box {border: none; margin: 34px auto;}
.voiceR_box p{color: #2c3f51; font-size: 15px; font-weight: normal; margin: 0 0 10px 0;}
.voiceR_box p strong {color: #7d71d1;font-weight:500;}
.voiceR_box p em {font-size: 17px;color: #576068;margin: 0 8px 0 0;}
.voiceR_box .btn_area .btn_start {margin:30px auto;font-weight: 500; border: 1px solid #7d71d1; background-color: #7d71d1;}

.small_layout {padding:38px 20px 0 24px;width:430px;float:left;}
.small_layout ul {width:100%;height: 486px;overflow: hidden;border: solid 1px #cfd5eb;background-color: #f3f5fb; padding: 23px 0 10px 37px; box-sizing: border-box;}
.small_layout ul li {float:left;width: 170px; height: 207px;padding: 0 10px;box-sizing: border-box;background: #fff;text-align: center;letter-spacing: -0.4px; margin: 0 15px 20px 0;border: solid 1px #cfd5eb; overflow: hidden;}
.small_layout ul li:nth-child(2n){margin: 0 0 20px 0;}
.small_layout ul li .img_area {width:100%;height:60px;position: relative;overflow: hidden;box-sizing: border-box;}
.small_layout ul li .img_area img {margin:20px;}
.small_layout ul li p {color:#2c3f51;font-size:12px;padding: 0 0 8px 0;margin: 0 0 15px 0;border-bottom: dashed 1px #cfd5eb;}
.small_layout ul li p span {display:block;color: #7d71d1;}
.voiceR_box .player, .vr_3 .player {width:100%;margin:0;box-sizing: border-box;}
.voiceR_box .slider, .vr_3 .slider { width: 100%;}
.voiceR_box .play, .voiceR_box .pause, .vr_3 .play, .vr_3 .pause  {box-sizing:border-box;}
.voiceR_box p.timer{float:left; color: #576068;font-size: 10px;border-bottom:none;}
.voiceR_box p.timer_fr{float:right;color: #576068; font-size: 10px;border-bottom:none;}

.fr_voice{padding:38px 0 0;width:320px;}
.fr_voice ul li, .fr_voice ul li:nth-child(2n) {width:200px;height:100px;float:right;margin:0 35px 15px 0;overflow: unset;}
.fr_voice .radio label {padding:0; position: absolute;left: -55px;top: 25px;letter-spacing: -0.17px; color: #2c3f51;font-size:12px;  font-weight: 500;}
.fr_voice .radio label:before {width:20px; height:20px;border:1px solid #7d71d1;}
.fr_voice .radio label:before, .radio label:after {top: 28px;left: 10px;transition:all 0.3s ease-out;}
.fr_voice .radio input[type="radio"] + label:after {top: 33px;left: 15px;border-radius:10px;}
.fr_voice .radio input[type="radio"]:checked + label:after {width:10px; height:10px; top: 33px;left: 15px;background: #7d71d1;transition:all 0.3s ease-out;}
.fr_voice .player {position: absolute;width: 137px; float: left;right: -182px;z-index: 1;margin: 0;top: -10px;}

.myfile_box {position:relative;}
.myfile_box:after{content:'or'; position:absolute;top:-35px;font-size:15px;letter-spacing: -0.2px; color: #2c3f51; height: 22px; line-height: 22px;}
.myfile_box .small_layout {width: 582px; padding: 38px 0 17px 30px; box-sizing: border-box;margin: 0 10px 0 0;float: left;}
.myfile_box .small_layout .data_regist{position:relative;width:100%;height:403px; padding:20px 10px 0 10px;border: solid 1px #cfd5eb;background-color: #f3f5fb; box-sizing: border-box; }
.myfile_box .small_layout .data_regist:before {content:'Example)';position:absolute;left:125px;top:22px; letter-spacing: -0.47px;color: #2c3f51;opacity:0.7;font-size:14px;}
.myfile_box .small_layout .data_regist .example_box {width:170px;height:170px;margin:0 auto 13px;padding: 0 10px;border: solid 1px #cfd5eb;box-sizing:border-box;background: #fff;overflow: hidden;}
.myfile_box .small_layout .data_regist .example_box .img_area {width:160px;height:115px;border-bottom: solid 1px #cfd5eb;position: relative;overflow: hidden;box-sizing: border-box;}
.myfile_box .small_layout .data_regist .example_box img {width:160px;position: absolute; left: -1px;top: -1px;}
.myfile_box .small_layout .data_regist .example_box p {color:#2c3f51;font-size:12px;padding:12px 0 10px 0; border-bottom: dashed 1px #cfd5eb;margin: 0 0 20px 0;}
.myfile_box .small_layout .data_regist .example_box span {display:block;color: #7d71d1;}
.myfile_box .small_layout .data_regist .example_box .player p {border-bottom:none; padding: 0;font-size: 10px;}
.myfile_box .small_layout .data_regist .example_desc {position:absolute; left:359px;top:45px;width:165px;}
.myfile_box .small_layout .data_regist .example_desc p {background: url(../images/img_fr_arrow.png) 0 5px no-repeat; letter-spacing: -0.47px;font-size:14px; color: #2c3f51;opacity:0.7;text-align: left; text-indent: 55px;background-size: 48px;}
.myfile_box .small_layout .data_regist .example_desc p.faceid_input{position:absolute; top:80px;}
.myfile_box .small_layout .data_regist .data_upload {overflow: hidden;}
.myfile_box .small_layout .data_regist .data_upload .uplode_box { position: relative;width:170px;height:170px; background: #fff;float: left; margin: 0 10px 0 0;padding: 0 10px;box-sizing: border-box;}
.myfile_box .small_layout .data_regist .data_upload .uplode_box:last-child{margin:0;}
.myfile_box .small_layout .data_regist .data_upload .uplode_box .btn { margin: 27px auto 30px;}
.myfile_box .small_layout .uplode_box .btn label {border: solid 1px #7d71d1; color:#7d71d1;}
.myfile_box .small_layout .uplode_box .btn_change {margin:24px auto 20px;}
.myfile_box .small_layout .uplode_box .player {margin:18px 0 0 0;}
.myfile_box .small_layout .data_regist .data_upload .input_id {border-bottom: dashed 1px #cfd5eb;position: relative;padding: 14px 0 12px 0;}
.myfile_box .small_layout .data_regist .data_upload .input_id p{color: #2c3f51; font-size: 12px; margin: 0 0 2px 0;}
.myfile_box .small_layout .data_regist .data_upload .input_id .input_level1 {display: block;overflow: hidden;}
.myfile_box .small_layout .data_regist .data_upload .input_id .input_level1 input{float:left;  height: 20px; box-sizing:border-box; border-radius: 2px; border: solid 1px #cfd5eb; background-color: #f3f5fb;width: 114px;letter-spacing: -0.4px; color: #2c3f51;padding: 0 4px;}
.myfile_box .small_layout .data_regist .data_upload .input_id .input_level1 input::placeholder{opacity: 0.2;}
.myfile_box .small_layout .data_regist .data_upload .input_id .input_level1 button {position:absolute;left:113px;padding: 0; font-size: 12px;width:35px; height: 20px; border-radius: 2px; background-color: #7d71d1;color:#fff;border:1px solid #cfd5eb;cursor:pointer;}
.myfile_box .small_layout .data_regist .data_upload .input_id .input_level2 {display: none;}
.myfile_box .small_layout .data_regist .data_upload em.close {display:none;position: absolute; right: 10px;top: 10px;opacity: 0.5;cursor: pointer;z-index: 100;}
.myfile_box .small_layout .data_regist .data_upload em.close:hover {opacity:1;}
.myfile_box .small_layout .data_regist .data_upload .input_id .input_level2 span {font-size:12px;letter-spacing: -0.4px;text-align: center;color: #7d71d1;height:20px;line-height: 20px;}

.myfile_box .vr_voice {width:197px; padding: 38px 0 17px 0;}
.myfile_box .vr_voice .uplode_box {width:100%;height:403px; border: solid 1px #cfd5eb;background-color: #f3f5fb;box-sizing: border-box; }
.myfile_box .vr_voice .uplode_box .btn {margin:120px auto 93px;}
.myfile_box .vr_voice .uplode_box .btn_change {width:150px; height:114px; margin:82px auto 57px; padding: 0 7px; box-sizing: border-box; max-width: unset;display: block;}
.myfile_box .vr_voice .upload_desc{padding:12px 0;margin:0 11px;text-align: left; letter-spacing: -0.17px; color: #2c3f51; font-size: 12px;border-top: dotted 1px #cfd5eb;}
.myfile_box .vr_voice .uplode_box .btn .player {display: none;}
.myfile_box .vr_voice .uplode_box .btn_change .player {display: block; margin: 30px 0 0 0;}
.vr_desc {position:relative; clear:both; width:757px;border:1px dotted #cfd5eb;margin:0 0 0 30px;padding:12px 0;color: #2c3f51;font-size:12px; letter-spacing: -0.4px;}
.vr_desc em {position:absolute; top:-10px;font-size:17px; color:#9da4b4;left: 363px;}

.vr_2 {display: none; width:820px;margin: 30px auto 10px; border-radius: 5px;border: solid 1px #cfd5eb; box-sizing: border-box; padding: 38px 0 160px 0;}
.vr_2 > p { color: #2c3f51; font-size: 15px; font-weight: normal; margin: 0 0 10px 0;}
.vr_2 > p em {font-size: 17px;color: #576068;margin: 0 8px 0 0;}
.vr_2 .loding_box { width: 750px;height: 246px;margin: 0 auto;border: solid 1px #cfd5eb;background-color: #f3f5fb;border-radius: 4px; box-sizing: border-box;}
.vr_2 .loding_box svg {margin:100px auto 0;}
.vr_2 .loding_box p {color:#7d7d7d;font-size:14px;}

.vr_3 {display: none; width:820px; height: 575px;margin:30px auto; border-radius: 5px; border: solid 1px #cfd5eb; background-color: #f5f6fa;padding:38px 34px;box-sizing:border-box;}
.vr_3 .result_box {width:360px; float:left; }
.vr_3 .result_box:first-child {margin:0 30px 0 0;}
.vr_3 .result_box p{color: #2c3f51; font-size: 15px; font-weight: 500; margin: 0 0 10px 0; letter-spacing: -0.2px;}
.vr_3 .result_box p.input_tit { letter-spacing: -0.17px;color: #2c3f51; font-size: 12px; font-weight: 500;margin: 85px 0 10px 0;}
.vr_3 .result_box p em {font-size:17px; color: #576068;}
.vr_3 .result_box .img_file, .vr_3 .result_box .code_value{height: 325px; border: solid 1px #cfd5eb;box-sizing: border-box;background: #fff; padding: 15px 17px;}
.vr_3 .result_box .img_file .input_radio {width:200px;height:100px;margin: 0 auto ;overflow:hidden;border: solid 1px #cfd5eb;padding: 16px 32px 0; box-sizing: border-box;}
.vr_3 p.timer {float:left; color: #576068;font-size: 10px;border-bottom:none;}
.vr_3 p.timer_fr {float:right;color: #576068; font-size: 10px;border-bottom:none;}
.vr_3 .result_box .code_value > p.result_t {text-align: left; font-size: 14px;}
.vr_3 .result_box .code_value > p.face_id {text-align: left; padding:0 0 10px 0; border-bottom: dotted 1px #cfd5eb;}
.vr_3 .result_box .code_value > p.face_id span#faceId {color:#2c3f51;font-size: 14px;}
.vr_3 .result_box .code_value > p.face_id span {color:#f7778a;font-size: 14px;}
.vr_3 .result_box .code_value textarea {width:100%;height:230px;overflow: auto;border:none;letter-spacing: -0.2px; color: #2c3f51;font-size:15px;}
.vr_3 .btn_area button.reset_btn { background: #2c3f51}
.vr_3 .result_box .code_value > p.voice_id {text-align: left; padding:0 0 10px 0; border-bottom: dotted 1px #cfd5eb;}
.vr_3 .result_box .code_value > p.voice_id span#voiceId {color:#2c3f51;font-size: 14px;}
.vr_3 .result_box .code_value > p.voice_id span {color:#f7778a;font-size: 14px;}


/*이미지 업로드 실패 팝업*/
.pop_simple .pop_sr_noti {width:400px;margin: 270px auto !important;}
.pop_simple .pop_sr_noti .pop_bd {padding:0 40px;}
.pop_simple .pop_sr_noti .pop_bd em {color:#9cafd2; padding: 17px 0 8px;}
.pop_simple .pop_sr_noti .pop_bd h5{font-size: 20px; font-weight: 500; letter-spacing: -0.16px; color: #2c3f51; height: 30px;line-height: 30px;}
.pop_simple .pop_sr_noti .pop_bd p {font-size:14px;letter-spacing: -0.11px; text-align: center; color: #576068;line-height: 1.57;}
.pop_simple .pop_sr_noti .pop_bd span {display: block; text-align: left;background: #f3f5fb;padding:13px 20px; font-size:14px;letter-spacing: -0.11px; color: #2c3f51;line-height: normal;}
.pop_simple .pop_sr_noti .btn a {margin:20px 0 30px 0;width:72px; height:40px; background:#2575f9;color:#fff; padding: 0;}

