@charset "UTF-8";
/* MINDsLab. NBR. 20211028 */

/* ---------------------------------------- common ---------------------------------------- */
/* pc, mobile */
.mobile {display:none;}

/* hide */
.text_hide {overflow:hidden; font-size:0; line-height:0; text-indent:-999px;}

/* float */
.fl {float:left;}
.fr {float:right;}

/* button */
.btn_primary {display:inline-block; height:60px; padding:0 60px; border-radius:4px; background:#fff; color:#2e89ed; font-size:20px; font-weight:500; letter-spacing:-0.27px; line-height:60px;}
.btn_primary:hover, .btn_primary:active, .btn_primary:visited {color:#2e89ed;}
.btn_primary.blue {background:#318af1; color:#fff;}


/* ---------------------------------------- layout ---------------------------------------- */
#wrap {min-width:1220px;}
#container {width:100%;}
.stn {text-align:center;}
.content {display:inline-block; position:relative; width:1220px; padding:0 20px; box-sizing:border-box; text-align:left;}


/* ---------------------------------------- cloud API main page content ---------------------------------------- */
/* stn - common */
.stn:not(.visual) + .stn {border:none;}

.titArea {text-align:center;}
.titArea .tit {color:#318af1; font-size:40px; font-weight:500; letter-spacing:-0.3px; line-height:40px; text-transform:uppercase;}
.titArea .desc {margin:17px 0 0; color:#1d202a; font-size:16px; letter-spacing:-0.23px; line-height:24px; word-break:keep-all;}

.swiper-pagination {display:none;}
.swiper-pagination-bullet {width:24px; height:5px; border-radius:2px; background:#b3bed4; opacity:0.5;}
.swiper-pagination-bullet-active {background:#318af1; opacity:1;}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {margin:0 2px;}

/* stn - intro */
.stn.intro {height:640px; padding:0; background:url('../images/cloudApi_landing/bg_intro.png') 50% 50% no-repeat; background-size:cover;}
.stn.intro .content .svc_txt {margin:178px 0 0;}
.stn.intro .content .svc_txt .tit {color:#fff; font-size:80px; font-weight:900; letter-spacing:40px; line-height:100px;}
.stn.intro .content .svc_txt .desc {margin:24px 0 39px; color:rgba(255, 255, 255, 0.9); font-size:28px; letter-spacing:-0.4px; line-height:30px; word-break:keep-all;}

/* stn - service */
.stn.service {padding:0; background:#356fc9;}
.stn.service .content .service_list {display:table; table-layout:fixed; width:100%; height:160px;}
.stn.service .content .service_list li {display:table-cell; height:100%; padding:0 60px; border-left:1px solid #295fb3; box-sizing:border-box; vertical-align:middle;}
.stn.service .content .service_list li:last-child {border-right:1px solid #295fb3;}
.stn.service .content .service_list li p {margin:13px 0 0; color:#fff; font-size:20px; letter-spacing:-0.29px; line-height:28px;}
.stn.service .content .service_list li p strong {display:inline-block;}

/* stn - success */
.stn.success {padding:83px 0 100px;}
.stn.success .content .success_list_wrap {margin:43px 0 0;}
.stn.success .content .success_list_wrap .success_list {white-space:normal;}
/* .stn.success .content .success_list_wrap .success_list li {width:280px; height:230px;} */
/* .stn.success .content .success_list_wrap .success_list li:nth-child(4n+0) {margin-right:0;} */
.stn.success .content .success_list_wrap .success_list li:nth-child(n+5) {margin-top:30px !important;}
.stn.success .content .success_list_wrap .success_list li a {display:block; position:relative; width:280px; height:230px; padding:30px 20px; border:1px solid #d0d6e3; box-sizing:border-box; background:#fafbff; transition:all 0.2s ease-out;}
.stn.success .content .success_list_wrap .success_list li a:hover {box-shadow:4px 12px 16px 0 rgba(19, 28, 48, 0.1); cursor:default;}
.stn.success .content .success_list_wrap .success_list li a .logo img {height:30px;}
.stn.success .content .success_list_wrap .success_list li a .tit {margin:30px 0 14px; color:#1b2136; font-size:16px; font-weight:500; letter-spacing:-0.4px; line-height:1;}
.stn.success .content .success_list_wrap .success_list li a .desc {color:#1b2136; font-size:14px; letter-spacing:-0.6px; word-break:keep-all;}
.stn.success .content .success_list_wrap .success_list li a .svc_link {display:block; position:absolute; bottom:20px; left:20px; color:#318af1; font-size:14px; letter-spacing:-0.35px;}
.stn.success .content .success_list_wrap .success_list li a .svc_link em {margin:0 0 0 2px;}
.stn.success .content .success_list_wrap .success_list li.shortcut a:hover {border:1px solid #318af1; cursor:pointer;}

/* stn - engines */
.stn.engines {padding:83px 0 43px; background:#f7f9ff;}

.engines_list {margin:37px 0 0; text-align:center;}
.engines_list li {display:inline-block; overflow:hidden; position:relative; width:238px; height:360px; vertical-align:top; box-sizing:border-box; text-align:left; transition:all 0.3s ease-out;}
.engines_list li:before {content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:linear-gradient(180deg, rgba(216,227,241,0.8) 0%, rgba(242,243,248,1) 100%); z-index:1; opacity:0;}
.engines_list li span.point {position:absolute; top:5px; left:5px; width:40px; height:40px; transition:all 0.2s ease-out; z-index:10;    border-top: solid 1px rgba(221, 223, 237, 0.5);border-left: solid 1px rgba(221, 223, 237, 0.5);}
.engines_list li span.point:after {content: '';position: absolute;width: 58px;top: 19px;left: -8px;height: 1px;border-top: solid 1px rgba(221, 223, 237, 0.5);transform: rotate(-45deg);}
.engines_list li span.point em {position:absolute; width:40px; height:40px; font-size:11px; color: #ff8427;font-weight:bold; text-align:center; line-height:20px; transform:rotate(-45deg);}
.engines_list li span.point em.best{color:#407ae5;}
.engines_list li span.point:before {content:''; position:absolute; top:0; left:0; overflow:hidden; width:0; height:0; border-right:40px solid transparent; border-top:40px solid #fff;}
.engines_list li span.imgBox {display:inline-block; overflow:hidden; position:relative; width:100%; height:100%; padding:0; transform:translateZ(100px); text-indent:-999px;}
.engines_list li span.imgBox:before {content:''; position:absolute; left:0; width:100%; height:62%; opacity:1; transition:all 0.7s ease-out;}
.engines_list li span.imgBox:after {content:''; position:absolute; left:0; width:100%; height:100%; opacity:0; transition:all 0.4s ease-out;}
.engines_list li span.eg_info {position:absolute; top:0; left:0; width:100%; padding:175px 20px 0 20px; box-sizing:border-box; transition:all 0.3s cubic-bezier(0.18,0.89,0.32,1.28); z-index:10;}
.engines_list li span.eg_info em.ico {display:inline-block; width:37px; height:37px; text-align:center; line-height:32px; border-radius:3px; background:#002b49;}
.engines_list li span.eg_info em.ico img {width:20px; height:20px; vertical-align:middle;}
.engines_list li span.eg_info em.name {display:block; overflow:hidden; padding:10px 0 7px 0; color:#1f2e3b; font-size:13px; font-weight:500; line-height:20px; letter-spacing:0.25px; white-space:nowrap; text-overflow:ellipsis;}
.engines_list li span.eg_info em.name strong {display:block; overflow:hidden; font-size:18px; font-weight:700; line-height:24px; letter-spacing:0.25px; white-space:nowrap; text-overflow:ellipsis;}
.engines_list li span.eg_info em.desc {display:block; height:80px; overflow:hidden; color:#1f2e3b; font-size:13px; line-height:20px; word-break:keep-all; white-space:normal; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:4; -webkit-box-orient:vertical; opacity:0.9;}

.engines_list li.spe span.eg_info em.ico {background:#7c71e1;} /* 음성:spe */
.engines_list li.vis span.eg_info em.ico {background:#fc778e;} /* 시각:vis */
.engines_list li.lang span.eg_info em.ico {background:#00b0c2;} /* 언어:lang */
.engines_list li.ana span.eg_info em.ico {background:#5e77ff;} /* 분석:ana */
.engines_list li.talk span.eg_info em.ico {background:#2cace5;} /* 대화:talk */
.engines_list li.eng span.eg_info em.ico {background:#fe8a10;} /* 영어교육:eng */

.engines_list li span.imgBox.img_vis_lsa:before {background:url('../images/box/img_egVis_lsa_spin.png') 50% 11% no-repeat; background-size:contain;} /* LipSyncAvatar */
.engines_list li span.imgBox.img_spe_tts:before {background:url('../images/box/img_egSpe_tts_spin.png') 50% 11% no-repeat; background-size:contain;} /* 음성생성(TTS) */
.engines_list li span.imgBox.img_spe_stt:before {background:url('../images/box/img_egSpe_stt_spin.png') 50% 11% no-repeat; background-size:contain;} /* 음성인식(STT) */
.engines_list li span.imgBox.img_vis_litrDtc:before {background:url('../images/box/img_egVis_litrDetect_spin.png') 50% 11% no-repeat; background-size:contain;} /* 배회감지 */
.engines_list li span.imgBox.img_vis_fdDtc:before {background:url('../images/box/img_egVis_fdDetect_spin.png') 50% 11% no-repeat; background-size:contain;} /* 실신감지 */
.engines_list li span.imgBox.img_vis_itrsDtc:before {background:url('../images/box/img_egVis_itrsDetect_spin.png') 50% 11% no-repeat; background-size:contain;} /* 침입감지 */
.engines_list li span.imgBox.img_lang_sts:before {background:url('../images/box/img_egLang_tst_spin.png') 50% 11% no-repeat; background-size:contain;} /* 스타일 변환 */
.engines_list li span.imgBox.img_lang_itf:before {background:url('../images/box/img_egLang_itf_spin.png') 50% 11% no-repeat; background-size:contain;} /* 의도 분류 */

.engines_list_wrap_m {display:none;}

/* stn - human_builder */
.stn.human_builder {padding:52px 0 44px; background:url('../images/cloudApi_landing/bg_human_builder.png') 50% 50% no-repeat; background-size:cover;}
.stn.human_builder .content {width:1160px;}
.stn.human_builder .content .imgBox {margin:0 40px 0 0;}
.stn.human_builder .content .titArea {margin:31px 0 0; text-align:left;}
.stn.human_builder .content .titArea .tit {color:#fff;}
.stn.human_builder .content .titArea .desc {margin:17px 0 40px; color:#fff;}

/* stn - contact */
.stn.contact {padding:75px 0 106px; background:url('../images/cloudApi_landing/bg_contact.png') 50% 50% no-repeat; background-size:cover;}
.stn.contact .content .titArea .tit {color:#fff;}
.stn.contact .content .titArea .desc {color:#fff;}
.stn.contact .content .contactform {width:824px; margin:40px auto 0; text-align:center;}
.stn.contact .content .contactform dl {margin:0 0 20px; text-align:left;}
.stn.contact .content .contactform dl dt {color:#fff; font-size:16px; letter-spacing:-0.23px;}
.stn.contact .content .contactform dl dt span {margin:0 0 0 4px; color:rgba(255, 255, 255, 0.7); font-size:14px; letter-spacing:-0.2px;}
.stn.contact .content .contactform dl dd {margin:10px 0 0;}
.stn.contact .content .contactform dl dd textarea {width:100%; height:160px; padding:20px; box-sizing:border-box; color:#232f61; font-size:16px; letter-spacing:-0.23px;}
.stn.contact .content .contactform .required_group {display:flex; justify-content:space-between;}
.stn.contact .content .contactform .required_group dl {width:264px;}
.stn.contact .content .contactform .required_group dl dd input {width:100%; height:56px; padding:0 20px; box-sizing:border-box; color:#232f61; font-size:16px; letter-spacing:-0.23px;}
.stn.contact .content .contactform dl dd .assentBox {overflow:hidden; text-align:left;}
.stn.contact .content .contactform dl dd .assentBox .checkBox {float:left; width:auto; line-height:18px;}
.stn.contact .content .contactform dl dd .assentBox .checkBox input[type="checkbox"] + label {margin:0 17px 0 0; padding-left:22px; color:#fff; font-size:16px; letter-spacing:-0.23px; line-height:16px; transition:none;}
.stn.contact .content .contactform dl dd .assentBox .checkBox input[type="checkbox"] + label:before {width:15px; height:15px; margin:1px 5px 0 0; border:2px solid #fff; background:none; transition:none;}
.stn.contact .content .contactform dl dd .assentBox .checkBox input[type="checkbox"]:checked + label:before {color:#fff; font-size:12px; line-height:10px;}
.stn.contact .content .contactform dl dd .assentBox p {float:left; color:rgba(255, 255, 255, 0.6); font-size:12px; letter-spacing:-0.17px;}
.stn.contact .content .contactform dl dd > p {margin:16px 0 40px; color:#fff; font-size:14px; letter-spacing:-0.2px;}
.stn.contact .content .contactform #inquireBtn {color:#29346b;}

/* media query */
@media screen and (max-width:768px) {
    /* -------------------- layout -------------------- */
    #wrap {min-width:320px; width:auto;}
    #container {overflow:hidden;}
    .stn {height:auto !important;}
    .content {width:100% !important; padding:0 20px;}

    /* -------------------- common -------------------- */
    /* pc, mobile */
    .pc {display:none;}
    .mobile {display:block;}

    /* button */
    .btn_primary {height:48px; padding:0 48px; font-size:16px; letter-spacing:-0.21px; line-height:48px;}

    /* -------------------- cloud API main page content -------------------- */
    /* stn - common */
    .titArea .tit {font-size:30px; letter-spacing:-0.2px;}
    .titArea .desc {margin:10px 0 0; font-size:14px; letter-spacing:-0.2px;}

    .swiper-pagination {display:block;}
    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {bottom:auto;}

    /* stn - intro */
    .stn.intro {min-height:400px; padding:0 0 40px; background-position:100% 50%;}
    .stn.intro .content .svc_txt {margin:95px 0 0;}
    .stn.intro .content .svc_txt .tit {font-size:40px; letter-spacing:10px; line-height:50px;}
    .stn.intro .content .svc_txt .desc {margin:12px 0 16px; font-size:20px; letter-spacing:-0.29px;}

    /* stn - service */
    .stn.service {}
    .stn.service .content {padding:0;}
    .stn.service .content .service_list {display:flex; flex-direction:column; align-items:center; height:auto;}
    .stn.service .content .service_list li {display:flex; align-items:center; width:100%; padding:16px 20px; border:none;}
    .stn.service .content .service_list li + li {border-top:1px solid #295fb3;}
    .stn.service .content .service_list li img {width:50px;}
    .stn.service .content .service_list li p {display:inline-block; margin:0 0 0 20px; font-size:16px; letter-spacing:-0.23px; line-height:22.5px;}

    /* stn - success */
    .stn.success {padding:30px 0;}
    .stn.success .content .success_list_wrap {margin:0; padding:0 0 30px;}
    .stn.success .content .success_list_wrap .success_list {width:100%;}
    .stn.success .content .success_list_wrap .success_list li {width:100%; margin-top:20px !important;}
    .stn.success .content .success_list_wrap .success_list li:nth-child(n+5) {margin-top:20px !important;}
    .stn.success .content .success_list_wrap .success_list li a {width:100%;}
    .stn.success .content .success_list_wrap .success_list li a:hover {box-shadow:none;}
    .stn.success .content .success_list_wrap .success_list li.shortcut a:hover {border:1px solid #d0d6e3;}
    .stn.success .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {top:94%;}

    /* stn - engines */
    .stn.engines {padding:30px 0;}
    .engines_list {margin:20px 0 0;}
    .engines_list li {margin:0;}
    .stn.engines .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {top:94%;}

    /* stn - human_builder */
    .stn.human_builder {padding:30px 0;}
    .stn.human_builder .content {text-align:center;}
    .stn.human_builder .content > div {float:none;}
    .stn.human_builder .content .titArea {margin:0; text-align:center;}
    .stn.human_builder .content .titArea .desc {margin:10px 0 20px;}
    .stn.human_builder .content .imgBox {margin:0 0 20px;}
    .stn.human_builder .content .imgBox img {height:136px;}

    /* stn - contact */
    .stn.contact {padding:30px 0; background-position:0 50%;}
    .stn.contact .content .contactform {width:100%; margin:25px 0 0;}
    .stn.contact .content .contactform dl {display:table; width:100%; margin:0 0 10px;}
    .stn.contact .content .contactform dl dt {display:table-cell; width:84px; font-size:14px; line-height:40px; vertical-align:top;}
    .stn.contact .content .contactform dl dd {margin:0;}
    .stn.contact .content .contactform dl dd textarea {height:100px;}
    .stn.contact .content .contactform .required_group {display:block;}
    .stn.contact .content .contactform .required_group dl {width:100%;}
    .stn.contact .content .contactform .required_group dl dd input {height:40px;}
    .stn.contact .content .contactform dl dd .assentBox {margin:10px 0 0;}
    .stn.contact .content .contactform dl dd .assentBox .checkBox {line-height:24px;}
    .stn.contact .content .contactform dl dd .assentBox .checkBox input[type="checkbox"] + label {font-size:14px;}
    .stn.contact .content .contactform dl dd > p {margin:13px 0 10px;}
}


/* ---------------------------------------- footer ---------------------------------------- */
/* 공통 footer */
iframe[name="footerFrame"] {width:100%;}

/* footerLanding */
#footerLanding {background:#0c1329; text-align:center;}
#footerLanding .footer_inner {display:inline-block; overflow:hidden; width:1154px; padding:60px 0; text-align:left;}
#footerLanding .footer_inner .col {position:relative; float:right; width:50%; text-align:right;}
#footerLanding .footer_inner .col:last-child {text-align:left;}
#footerLanding .footer_inner .col .col_inner {overflow:hidden;}
#footerLanding .footer_inner .sns {float:right;}
#footerLanding .footer_inner address {position:absolute; top:0; color:#fff; font-size:13px; line-height:20px;}
#footerLanding .footer_inner .copyright {margin-top:10px; color:#fff; font-size:13px; line-height:20px; opacity:0.7;}
#footerLanding .footer_inner .contact a {display:inline-block; width:200px; padding:10px 0; border-radius:18px; background:rgba(144,156,255,0.1); color:#fff; font-size:14px; font-weight:500; text-align:center;}
#footerLanding .footer_inner .contact a + a {margin-left:5px;}
#footerLanding .footer_inner .contact a img,
#footerLanding .footer_inner .contact a span {vertical-align:middle;}
#footerLanding .footer_inner .contact a img {display:inline-block; margin-right:6px;}
#footerLanding .footer_inner .cs_info {margin:20px 0 0; color:#fff; font-size:14px; font-weight:400; line-height:20px; word-break:keep-all;}
#footerLanding .footer_inner .cs_info dt {display:inline-block;}
#footerLanding .footer_inner .cs_info dd {display:inline-block;}
#footerLanding .footer_inner .sns {margin-top:16px; margin-left:26px;}
#footerLanding .footer_inner .sns a {display:inline-block; width:33px; height:33px; border:1px solid #d2d8f7; border-radius:50%; box-sizing:border-box; text-align:center; vertical-align:baseline;}
#footerLanding .footer_inner .sns a + a {margin-left:15px;}
#footerLanding .footer_inner .links {margin-top:80px; line-height:13px;}
#footerLanding .footer_inner .links a {display:inline-block; margin-right:30px; color:#fff; font-size:13px; line-height:20px; opacity:0.8;}

/* media query */
@media screen and (max-width:768px) {
    #footerLanding {text-align:left;}
    #footerLanding .footer_inner {width:auto; padding:30px;}
    #footerLanding .footer_inner .col {float:none; width:auto; text-align:left;}
    #footerLanding .footer_inner .cs_info dt {vertical-align:top;}
    #footerLanding .footer_inner .cs_info dd {width:calc(100% - 60px);}
    #footerLanding .footer_inner .cs_info dd span {display:inline-block;}
    #footerLanding .footer_inner .sns {float:none; margin-top:20px; margin-left:0;}
    #footerLanding .footer_inner .links {float:none; margin:20px 0 17px;}
    #footerLanding .footer_inner .contact a {font-size:0.875rem;}
    #footerLanding .footer_inner .contact a + a {margin:15px 0 0 5px;}
    #footerLanding .footer_inner .links a {font-size:0.825rem;}
    #footerLanding .footer_inner address {position:static; margin-top:16px; font-size:0.825rem; line-height:1.25rem;}
    #footerLanding .footer_inner .copyright {margin-top:4px; font-size:0.75rem;}
}