header{height:80px;text-align: center; border-bottom: solid 1px #cfd5eb;}
header a{display: block;}
header a img {margin:17px 0 0 0;}
.content{height:calc(100% - 80px); padding:40px 0 0 0;box-sizing: border-box; background-color: #f5f6fa;text-align: center;}
.content .errorImg {margin: 30px 0 24px;}
.content p{ margin:34px auto 30px;font-size: 20px;font-weight: 300;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: -0.4px;text-align: center;color: #002b49;}
.content a{ display: inline-block; width: 160px;height: 50px;margin:0 auto;border-radius: 5px;background-color: #14b6cb;font-size: 16px;line-height: 50px;letter-spacing: -0.5px;text-align: center;color: #ffffff;}
.content a.homebtn { background-color: #002b49;margin:0 0 0 11px;}