html,body {-ms-overflow-style: none;}

/* wrap */
#wrap {min-width:1280px; height:100%;}

/* header */
.maumUI #header {position:fixed; border-bottom:1px solid #cfd5eb; box-shadow:5px 0 5px rgb(10 19 39); background:#fff;}

/* container */
#container {display:table; position:relative; width:100%; height:100%; background: #f5f6fa; }

/* contents */
.contents {display:table-cell; vertical-align:top;background: #f5f6fa;}

/* content*/
.content {display:block; padding:85px 30px 50px 30px;  min-height: calc(100vh - 135px);}
.content > h1 {display: none;font-size:25px; color:#192a39; line-height: 40px; font-weight: 500;margin: 0 0 18px 0;letter-spacing: -1px; font-family: 'Noto Sans KR', sans-serif;}
.content > p{color:#576068; font-size:20px; line-height: 20px;margin: 0 0 25px 0;letter-spacing: -1px;}
.content > span {color:#3f5569!important; font-size:15px !important;line-height: 24px;}
.content > p > em {color:#768088}

/* ----- demo (파일업로드) */
.demobox .rightBox .btnupload {width:128px; height:40px;margin: 0 auto; background-color: #697995;border-radius: 5px;text-align: center;cursor: pointer;}
.demobox .rightBox .btnupload label {width:100%; height:100%;cursor: pointer;}
.demobox .rightBox .btnupload label span {display:block; width:100%;height:100%; font-size:13px; font-weight: 500; color:#fff;line-height: 40px; }
.demobox .rightBox .btnupload label span em {font-size: 20px;margin: 0 10px 0 0; vertical-align: middle;}
.demobox .rightBox .btnBox span {position:absolute; width:100px; height:100px; padding:0; border-radius:100px;background: #7d71d1; cursor:pointer; z-index:100;color:#fff;font-weight:bold; text-align:center; border:none;}
.demobox .rightBox .btnBox span em{display: block;width:100px; height:100px;background:url(../images/ico_stt_record.png) 50% 40% no-repeat;line-height:140px;font-size:13px;font-style: normal; }
.demoFile {position:absolute; top:0; left:0; width:0; height:0; opacity:0;}
.demobox .rightBox .demo_recordTxt{display: none; clear:both; overflow:hidden; position:relative; padding:100px 75px 20px; color:#606a73; font-size:20px; font-weight:300; line-height:30px; letter-spacing:-1px; word-break:keep-all;text-align: center; }
.demobox .rightBox .demo_fileTxt {clear:both; overflow:hidden; position:relative; padding:40px 75px 20px; color:#606a73; font-size:15px; line-height:25px; letter-spacing:-1px; word-break:keep-all;text-align: center;animation-name:infoTxt; animation-duration:1s; opacity:1.0;}
.demobox .rightBox .errorTxt {clear:both; overflow:hidden; position:relative; margin:50px 0 0 0; padding:20px 75px; color:#fe227a; font-size:20px; font-weight:300; line-height:30px; letter-spacing:-1px; word-break:keep-all; animation-name:errorTxt; animation-duration:1s; opacity:1.0;}


.api_content {text-align: center;}
.api_content .api_tit {position: absolute; left:30px;}

/*이미지 업로드 실패 팝업*/
.pop_simple .pop_sr_noti {width:400px;margin: 270px auto !important;}
.pop_simple .pop_sr_noti .pop_bd {padding:0 40px;}
.pop_simple .pop_sr_noti .pop_bd em {color:#9cafd2; padding: 17px 0 8px;}
.pop_simple .pop_sr_noti .pop_bd h5{font-size: 20px; font-weight: 500; letter-spacing: -0.16px; color: #2c3f51; height: 30px;line-height: 30px;}
.pop_simple .pop_sr_noti .pop_bd p {font-size:14px;letter-spacing: -0.11px; text-align: center; color: #576068;line-height: 1.57;}
.pop_simple .pop_sr_noti .pop_bd span {display: block; text-align: left;background: #f3f5fb;padding:13px 20px; font-size:14px;letter-spacing: -0.11px; color: #2c3f51;line-height: normal;}
.pop_simple .pop_sr_noti .btn a {margin:20px 0 30px 0;width:72px; height:40px; background:#2575f9;color:#fff; padding: 0;}



.content .demobox {padding:30px; margin: 0 0 20px 0;background: #fff; border-radius: 5px; box-shadow: 0 0 5px rgba(61,70,92,0.1); overflow: hidden;}
.content .demobox > p {font-size:25px; color:#2c3f51;font-weight:400;line-height: 35px; text-align: center;}
.content .demobox > p em {color: #7d71d1;font-weight: 500;}
.content .demobox > p small {font-size:14px;}
.content .demobox > p span{color:#27c1c1;font-weight: normal;font-size:25px;}
.content .demobox span.sub {font-size:15px; color:#7d7d7d; line-height: 24px; font-weight:400;display: block; text-align: center; padding: 0 0 20px 0;border-bottom: 1px dotted #b1bed5;letter-spacing: -0.5px;}

/* radio */
.radio {display:inline-block; position:relative; min-width:14px; vertical-align:top;}
.radio label {padding-left:24px; font-size: 14px;}
.radio label:empty {padding-left:14px;}
.radio label:before,
.radio label:after {content:""; position:absolute; left:0; top:13px;}
.radio label:before {width:15px; height:15px; border:1px solid #27c1c1; border-radius:50%; background:#fff; cursor:pointer; -webkit-transition:background .3s ease; transition:background .3s ease; -webkit-box-shadow:inset 0 1px 0 0 rgba(0,0,0,.1); box-shadow:inset 0 1px 0 0 rgba(0,0,0,.1);box-sizing: border-box;}
.radio input[type="radio"] {position:absolute; left:0; width:0; height:0; opacity:0;}
.radio input[type="radio"]:checked + label:before {background:#fff;}
.radio input[type="radio"]:checked + label:after {top:17px; left:4px; width:7px; height:7px; border-radius:50%; background:#27c1c1;}
.radio + .radio {margin-left:16px;}


/*api menu list*/
.menu_lst {display: inline-block;  margin: 0 0 18px 0; }
.menu_lst li {float:left;width:152px; height:40px;border-radius: 5px; font-size:15px ;color:#74808b; text-align: center;line-height: 40px;background: #fff;margin: 0 10px 0 0;cursor: pointer;transition:all 0.3s ease-out; border: 1px solid #b1bed5;box-sizing: border-box;}
.menu_lst li button {color:#74808b;display: block; width: 100%; height: 100%; background-color: transparent; border: 1px solid transparent;transition:all 0.3s ease-out;cursor: pointer;font-size:15px;border-radius: 5px; }
.menu_lst li a {color:#74808b;display: block;transition:all 0.3s ease-out;}
.menu_lst li a:hover, .menu_lst li button:hover  {color:#27c1c1; transition:all 0.3s ease-out;}
.menu_lst li.active{border:none;}
.menu_lst li.active button{background:#27c1c1;color:#fff;transition:all 0.3s ease-out; }

.vision_lst li.active button{background: #f7778a;color:#fff; transition:all 0.3s ease-out;}
.vision_lst li.active button:hover {color:#fff;}
.vision_lst li:hover button, .vision_lst li a:hover {color:#f7778a;}
.vision_lst + .demobox > p > span {color:#f7778a; font-weight: 500;}

.fl_box {float:left;opacity: 1;}
.fr_box {float:right;}
.tr_1 p {color:#7d7d7d;font-size:15px;font-weight: 400; margin: 0 0 10px 0;}
.tr_1 p strong {color:#2c3f51; font-weight: 500;}
.tr_1 p em {font-size:17px;color:#576068;}
.sample_box {position: relative;width: 397px; height: 246px; border: solid 1px #cfd5eb; background-color: #f3f5fb;}
.sample_box:after {content: '또는'; position:absolute; font-size:14px; right:-34px;top:105px;color:#1f2e3b;font-weight:500;}
.uplode_box {width:320px;height: 246px; border: solid 1px #cfd5eb; background-color: #f3f5fb;}
.uplode_box .btn { color:#f7778a; font-size: 14px;margin:67px auto 45px; cursor: pointer; height: 40px;line-height: 40px;}
.uplode_box .btn label {cursor: pointer;padding:10px 20px; border-radius: 5px;box-shadow: 1px 1px 2px 0 rgba(110, 110, 110, 0.5); border: solid 1px #f7778a; background-color: #ffffff;font-weight:500;}
.uplode_box .btn .hidden {display: none;}
.uplode_box .btn_change {position:relative; padding: 0 20px; display: inline-block;height: 65px;max-width: calc(100% - 60px);margin: 58px auto 23px; border-radius: 5px;box-shadow: 1px 1px 2px -1px rgba(154, 154, 154, 0.5);border: solid 1px #cfd5eb;background-color: #ffffff;text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.uplode_box .btn_change em {display: block;margin:10px auto 8px; color:#2c3f51; font-size:17px;}
.uplode_box .btn_change em.close, .uplode_box .btn_change em.close2  {color:#2c3f51;opacity:0.5;font-size:13px; position:absolute;top:-6px;right:8px;cursor: pointer;}
.uplode_box .btn_change label {color:#7d7d7d;font-size:14px;}
.uplode_box ul {margin: 0 20px;border-top: dotted 1px #cfd5eb; padding: 10px 15px; text-align: left;}
.uplode_box ul li {color:#2c3f51;font-size:12px; letter-spacing: -0.17px;}
.sample_box .sample_1:after {content: ''; position:absolute;left:198px;border-left: 1px dotted #cfd5eb;top:32px; width:2px;height:150px;}
.sample_box .radio {width:50%;float:left;}
.sample_box .radio input[type="radio"] + label { float: left;position:relative; width:120px; height:120px; border-radius: 100px; color:#767f89; cursor:pointer; margin: 42px 0 0 40px;padding: 0;transition:all 0.2s ease-out;}
.sample_box .radio input[type="radio"] + label .img_area {width:120px; height:120px;}
.sample_box .radio input[type="radio"] + label img {width:100%;}
.sample_box .radio input[type="radio"] + label span {font-size:14px; color:#2c3f51;letter-spacing: -0.2px;margin:15px 0 10px 0;display: block;}
.sample_box .radio input[type="radio"] + label:before {width: 20px; height: 20px;top: 160px;left: 48px;border: 1px solid #f7778a;}
.sample_box .radio input[type="radio"] + label:after {width: 10px; height: 10px; top: 165px;left: 53px;transition:all 0.2s ease-out; }
.sample_box .radio input[type="radio"]:checked + label:after {background: #f7778a; border-radius: 10px;}


.demo_layout {width:820px; margin:30px auto 10px;border-radius: 5px;border: solid 1px #cfd5eb;}
.demo_layout p {margin:40px 0 7px 0;font-size: 15px;font-weight: 500;color:#2c3f51;}
.demo_layout p em {margin:0 6px 0 0;}
.demo_layout .btn_area{overflow:hidden; margin:auto;text-align:center;width:100%; position: relative;}
.demo_layout .btn_area button {width: 100px;height: 100px;border-radius: 100px;;border:1px solid #eee;background-color:#f7778a;margin: 30px auto;font-size:14px;font-weight: 500;transition:all 0.3s ease-out; color: #fff;cursor: pointer;}
.demo_layout .btn_area .btn_start{display: inline-block; width:100px ;height:100px; border-radius: 100px;font-size:14px; line-height: 100px; cursor: pointer;border:1px solid #f7778a;background-color:#f7778a; margin: 30px auto;color:#fff;transition:all 0.3s ease-out;}
.demo_layout .btn_area .btn_cancel {background-color: rgba(44, 63, 81, 0.5);border: 1px solid  #959fa8; margin:20px 20px 30px 0;}
.demo_layout .btn_area button em {font-size:24px; display:block;margin: 0 0 6px 0;}




/* guide_stn */
.guide_box  {width: 900px; margin: 0 auto;text-align: left;}
.guide_box .guide_group {margin: 0 20px 20px; }
.guide_box .guide_group {margin: 0;}
.guide_box .guide_common {margin:0 20px 20px; border-bottom: 1px solid #273047;}
.guide_box .guide_common .title {padding: 20px 0 ;font-weight: 600; font-size: 25px;border-bottom: 1px solid #273047; }
.guide_box .guide_common .sub_title {padding: 10px 0; color:#27c1c1; font-size: 15px ;font-weight: 400; }
.guide_box .guide_common .sub_title span {color:#f56318;}
.guide_box .guide_common .sub_txt {padding: 0 0 10px 30px ;color: #666;font-size: 14px ;}
.guide_box .guide_group .title {padding: 0 0 15px 30px;font-weight: 600; font-size: 25px; }
.guide_box .guide_group .sub_title {display: inline-block;margin: 10px 0 0 30px; background:#27c1c1; color:#fff; font-size: 14px;padding: 1px 5px 2px; }
.guide_box .guide_group .green_tit {display: inline-block;margin: 10px 0 0 30px; background:#27c1c1; color:#fff; font-size: 14px;padding: 1px 5px 2px; }
.guide_box .guide_group .sub_txt {padding: 10px 0 0 30px ;color: #666;font-size: 14px ; font-weight: 500;}
.guide_box .guide_group .table_tit {font-size:14px; font-weight: bold; margin: 8px 0 0 30px; color: #32394a;    display: inline-block;}
.guide_box .guide_group em {display: block; font-size: 15px; margin: 30px 0 0 30px;font-weight: 500;border-left: 4px solid #4c4c4c; padding: 0 8px;}
.guide_box .guide_group ul {margin: 10px 0 10px 30px ; padding: 0 0 10px 40px ; border:1px solid #eee; width: 756px;}
.guide_box .guide_group ul li {padding: 8px 0 0; font-size: 13px ;color: #777;list-style: circle;}
.guide_box .guide_group table {margin: 10px 0 10px 30px ; width: 798px; padding: 0 0 0 10px; }
.guide_box .guide_group table tr{text-align: left;height: 35px; border:1px solid #eee;}
.guide_box .guide_group table tr:first-child {background: #f3f3f3;}
.guide_box .guide_group table th  {padding: 0 0 0 10px; font-size: 12px;}
.guide_box .guide_group table th:nth-child(1) {width:15%;}
.guide_box .guide_group table th:nth-child(3) {width: 9%;}
.guide_box .guide_group table td {padding: 0 0 0 10px; font-size: 12px;}
.guide_box .guide_group .code_box {margin: 10px 0 10px 30px; padding:10px 10px 10px 20px ;width: 777px;border: 1px dotted #eee;color: #666;background: #f3f3f3;font-size: 13px;font-family: Menlo,Monaco,Consolas,"Courier New",monospace;}
.guide_box .guide_group .code_box span {padding: 0 0 0 30px; font-family: Menlo,Monaco,Consolas,"Courier New",monospace;}
.guide_box .guide_group .code_box span.twoD {padding: 0 0 0 60px;font-family: Menlo,Monaco,Consolas,"Courier New",monospace;}
.guide_box .guide_group .code_box span.thirD {padding: 0 0 0 90px;font-family: Menlo,Monaco,Consolas,"Courier New",monospace;}
.guide_box .guide_group .code_box span.fourD{padding: 0 0 0 120px;font-family: Menlo,Monaco,Consolas,"Courier New",monospace;}
.guide_box .guide_group .code_box span.fivD {padding: 0 0 0 150px;font-family: Menlo,Monaco,Consolas,"Courier New",monospace;}
.guide_box .guide_group .code_box span.sixD{padding: 0 0 0 180px;font-family: Menlo,Monaco,Consolas,"Courier New",monospace;}
.guide_box .guide_group .code_box span.savD{padding: 0 0 0 210px;font-family: Menlo,Monaco,Consolas,"Courier New",monospace;}
.guide_box .guide_group .code_box pre {font-size: 12px;font-family: Menlo,Monaco,Consolas,Courier New,monospace;color:#666;white-space: pre-wrap;}

.vision_menu .guide_box .guide_common .sub_title {color:#f7778a;}
.vision_menu .guide_box .guide_group .sub_title {background:#f7778a;}

/*진료비영수증 추가 수정 css 20200113*/
/* pattern */

.pattern_box .pattern_1 {padding:30px 30px 0; overflow: hidden;}
.pattern_box .pattern_1 p {color:#7d7d7d;font-size:15px;font-weight: 300; margin: 0 0 10px 0;}
.pattern_box .pattern_1 p strong {color:#2c3f51; font-weight: 500;}
.pattern_box .pattern_1 p em {font-size:17px;color:#576068;}
.pattern_box .pattern_1 .sample_box {height: 360px;}
.pattern_box .pattern_1 .sample_box .sample_1 {height:203px; position: relative;}
.pattern_box .pattern_1 .sample_box .sample_2 {height:182px; position:relative;}
.pattern_box .pattern_1 .sample_box .sample_3 {display:flex; align-items:center; width:100%; height:100%;}
.pattern_box .sample_box .sample_1:after {width:330px;height:1px;border-top:1px dotted #cfd5eb;left: 30px;top: auto; bottom: 0;}
.pattern_box .sample_box .sample_2:after {content:'';position: absolute; width:330px;height:1px;border-top:1px dotted #cfd5eb;left: 30px;top: auto; bottom: 0;}
.pattern_box .pattern_1 .sample_box .radio {float:none; width: 100%;height: 100%;}
.pattern_box .pattern_1 .sample_box .radio input[type="radio"] + label {width:240px;margin:22px 0 0 105px;}
.pattern_box .pattern_1 .sample_box .radio input[type="radio"] + label .img_area {position:relative; width:100%;display:inline-block;background: #000;text-align: center;line-height: 115px;}
.pattern_box .pattern_1 .sample_box .radio input[type="radio"] + label .img_area img {vertical-align: middle;width: 215px;}
.pattern_box .pattern_1 .sample_box .radio input[type="radio"] + label .img_area img.bill_img {width:100%; height:100%; object-fit:contain;}
.pattern_box .pattern_1 .sample_box .radio input[type="radio"] + label:before {top: 61px; left: -52px;}
.pattern_box .pattern_1 .sample_box .radio input[type="radio"] + label:after {top: 66px;left: -47px;}
.pattern_box .pattern_1 .sample_box .radio input[type="radio"] + label span {position: absolute; left: -63px; top: 34px;margin:0;width: 42px;text-align: center;}
.pattern_box .pattern_1 .sample_box .radio input[type="radio"] + label .bill_area strong {opacity:0;position:absolute;left:0;top:0;width:100%;height:100%;background:rgba(44, 63, 81, 0.6); color:#fff;line-height: 120px;font-weight:normal;transition:all 0.3s ease-out;}
.pattern_box .pattern_1 .sample_box .radio input[type="radio"] + label .bill_area:hover strong {opacity:1;transition:all 0.3s ease-out;}
.pattern_box .pattern_1 .sample_box .sample_3 .radio input[type="radio"] + label {height:200px;}
.pattern_box .pattern_1 .sample_box .sample_3 .radio input[type="radio"] + label:before {top:130px;}
.pattern_box .pattern_1 .sample_box .sample_3 .radio input[type="radio"] + label:after {top:135px;}
.pattern_box .pattern_1 .sample_box .sample_3 .radio input[type="radio"] + label .img_area {display:flex; align-items:center; height: 100%;line-height: 195px;}
.pattern_box .pattern_1 .sample_box .sample_3 .radio input[type="radio"] + label span { top: 50px; width: 54px; text-align: left;}
.pattern_box .pattern_1 .sample_box .sample_3 .radio input[type="radio"] + label .bill_area strong {line-height: 200px;}
.pattern_box .pattern_1 .sample_box button{width: 120px; height: 28px; margin: 8px 0 24px 63px;border-radius: 5px; box-shadow: 1px 1px 0 0 rgba(205, 205, 205, 0.5);  border: solid 1px #cfd5eb; background-color: #ffffff;color: #2c3f51;font-size:12px;font-weight:500;cursor: pointer;}
.pattern_box .pattern_1 .sample_box button em {font-size:13px;}
.pattern_box .pattern_1 .sample_box .radio span.bill_desc {display:block; clear: both;width: 240px;margin: 0 0 0 105px; padding: 4px 0 0 0; color: #576068;}
.pattern_box .pattern_1 .sample_box:after{top: 176px;}
.pattern_box .pattern_1 .uplode_box {height: 360px;position:relative;}
.pattern_box .pattern_1 .uplode_box .upload_pop{cursor: pointer;padding:10px 20px; margin:80px auto 64px;border-radius: 5px;box-shadow: 1px 1px 2px 0 rgba(110, 110, 110, 0.5); border: solid 1px #f7778a; background-color: #ffffff; letter-spacing: -0.22px; text-align: center;color: #f7778a;font-size:14px;}
.pattern_box .pattern_1 .uplode_box .img_desc { margin: 0 20px; border-top: dotted 1px #cfd5eb;color: #2c3f51; font-size: 12px;font-weight: 500;text-align: left; padding: 13px 0 6px 20px; letter-spacing: -0.17px; line-height: 18px; bottom: 81px;}
.pattern_box .pattern_1 .uplode_box .img_desc > em { margin: 0 2px 0 0;font-size:12px;}
.pattern_box .pattern_1 .uplode_box .img_desc + div {width: auto;margin:0 18px;text-align: left; display: block;padding: 10px 8px 3px 16px; box-sizing: border-box; border-radius: 5px; border: solid 1px #cfd5eb; background-color:rgba(255,255,255,.7);}
.pattern_box .pattern_1 .uplode_box .img_desc + div span {display: block;font-size:12px;margin:0 0 7px 0;letter-spacing: -0.17px; color: #2c3f51;}
.pattern_box .pattern_1 .uplode_box .img_desc + div span > em {font-weight:600;}
.pattern_box .pattern_1 .uplode_box ul {border-top:none;margin: 0 20px 21px;}
.pattern_box .pattern_1 .uplode_box .btn {margin:80px auto 80px;}
.pattern_box .pattern_1 .btn_area .btn_start {margin:30px auto;}
.pattern_box .pattern_1 .uplode_box .btn_change {margin:64px auto 69px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}

.sample_pop .popWrap {width:918px; max-width: inherit; height: 800px; overflow: hidden;margin: 150px auto 0;}
.sample_pop .pop_hd, .samplebill_pop .pop_hd{background-color: #f3f5fb;}
.sample_pop .pop_hd h3, .samplebill_pop .pop_hd h3  {font-size:15px; letter-spacing: -0.2px; color: #2c3f51;height: 54px;line-height: 54px;}
.sample_pop .pop_sample_close, .samplebill_pop .pop_sample_close {position: absolute;top: 18px;right: 15px; width: 22px;height: 22px;letter-spacing: -0.23px;color: #576068;font-size:17px;opacity: 0.5;cursor:pointer;transition:all 0.3s ease-out;}
.sample_pop .pop_sample_close:hover, .samplebill_pop .pop_sample_close:hover {opacity:1;transition:all 0.3s ease-out;}
.sample_pop .pop_bd {position: relative;max-height:inherit; box-sizing: border-box; height: 750px;}
.sample_pop .pop_2btn {position:absolute;}
.sample_pop .pop_2btn .pop_bg2 {position: absolute;top: 0;left: 0; width: 100%; height: 100%;background: #ffffff; opacity: 0.5;z-index: -10;}
.sample_pop .pop_2btn .popWrap {min-width: unset;width:268px;height: 268px;margin: 240px auto;box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1); border: solid 1px #cfd5eb;}
.sample_pop .pop_2btn .popWrap .minipop_close {position: absolute;top: 10px;right: 10px; width: 22px;height: 22px;letter-spacing: -0.23px;color: #576068;font-size:17px;opacity: 0.5;cursor:pointer;transition:all 0.3s ease-out;z-index: 1;}
.sample_pop .pop_2btn .popWrap .minipop_close:hover {opacity:1;transition:all 0.3s ease-out;}
.sample_pop .pop_2btn .popWrap .pop_bd {height:auto; text-align: center;}
.sample_pop .pop_2btn .popWrap .pop_bd p { color: #2c3f51;font-weight:500;}
.sample_pop .pop_2btn .popWrap .pop_bd span { color: #576068;line-height: 1.57;font-size: 14px; letter-spacing: -0.11px;}
.sample_pop .pop_2btn .popWrap .pop_bd span strong {font-weight:500;}
.sample_pop .pop_2btn .btn button {margin: 10px 0 30px 0;width:90px;}
.sample_pop .pop_2btn .btn button.btn_gray {margin:10px 10px 30px 0;}
.sample_pop .pop_bd .country {  border-bottom: dotted 1px #cfd5eb; overflow: hidden;}
.sample_pop .pop_bd .country:last-child {margin:0 0 25px 0;border-bottom:none;}
.sample_pop .pop_bd .country p {font-size:14px;letter-spacing: -0.11px;font-weight: 500; color: #1f2e3b;line-height: 40px;margin: 25px 0;}
.sample_pop .pop_bd .country p img {margin:0 14px 0 24px;}
.sample_pop .pop_bd .country p.p_kr {margin:0 0 25px 0;}
.sample_pop .pop_bd .country .option_box {width:760px;float:right; margin:10px 30px 0 0;}
.sample_pop .pop_bd .country .option_box .radio {float:left;margin:0 17px 45px 0;}
.sample_pop .pop_bd .country .option_box .radio label:before {border: 1px solid #f7778a;left: 105px;top:-27px;width: 20px;height: 20px;}
.sample_pop .pop_bd .country .option_box .radio label:after {border-radius:10px; left: 110px;top:-22px; width: 10px;height: 10px; cursor: pointer;}
.sample_pop .pop_bd .country .option_box .radio input[type="radio"]:checked + label:after {background: #f7778a;transition:all 0.3s ease-out;}
.sample_pop .pop_bd .country .option_box .radio:nth-child(3) {margin-right:0;}
.sample_pop .pop_bd .country .option_box .radio label {padding: 0;}
.sample_pop .pop_bd .country .option_box .radio label .img_area {display: block;width:240px; height:120px;line-height: 116px;background: #000;text-align: center; cursor: pointer;}
.sample_pop .pop_bd .country .option_box .radio label .img_area img {vertical-align: middle;width:215px}
.samplebill_pop .popWrap {margin: 158px auto 0 auto;}
.samplebill_pop .pop_bd {padding:0;}
.samplebill_pop .pop_bd img {width:100%;}
.upload_popup .popWrap {width:400px; margin: 215px auto 0;}
.upload_popup .pop_hd {height:76px;background: #fff;position:relative;}
.upload_popup .pop_hd h3 {font-size:20px;letter-spacing: -0.16px; color: #2c3f51;}
.upload_popup .pop_hd h3 > em {font-size:30px; color: #9cafd2;margin:30px 10px 0 0;}
.upload_popup .pop_hd h3 + em {position:absolute; right:18px;top:14px;font-size: 15px;cursor:pointer;}
.upload_popup .pop_bd {padding: 0 40px 30px 40px;text-align: center;}
.upload_popup .pop_bd p {color: #576068;font-size:14px;margin:0 0 8px 0;}
.upload_popup .pop_bd .option_box {padding:25px 20px;background-color: #f3f5fb;margin:0 0 10px 0;}
.upload_popup .pop_bd .option_box + .btn_area {display: none;}
.upload_popup .pop_bd .option_box + .btn_area .btn_start { width: 100px; height: 100px;margin:0 auto; border-radius: 100px;font-size: 14px; line-height: 100px; cursor: pointer; border: 1px solid #f7778a;background-color: #f7778a; color: #fff;}
.upload_popup .pop_bd .option_box .radio label {padding-left: 27px;}
.upload_popup .pop_bd .option_box .radio label:before, .radio label:after {top:2px;}
.upload_popup .pop_bd .option_box .radio label:before {width:20px;height:20px;border: solid 1px #f7778a;}
.upload_popup .pop_bd .option_box .radio input[type="radio"]:checked + label:after {width:10px;height:10px;background: #f7778a;}
.upload_popup .pop_bd .option_box .radio input[type="radio"]:checked + label:after {top: 7px;left: 5px;}
.upload_popup .pop_bd .option_box .btn { color:#f7778a; font-size: 14px;margin:22px auto 0; cursor: pointer; height: 40px;line-height: 40px;}
.upload_popup .pop_bd .option_box .btn label {cursor: pointer;padding:10px 20px; border-radius: 5px;box-shadow: 1px 1px 2px 0 rgba(110, 110, 110, 0.5); border: solid 1px #f7778a; background-color: #ffffff;}
.upload_popup .pop_bd .option_box .btn .hidden {display: none;}
.upload_popup .pop_bd .option_box .btn_change {position:relative; padding: 0 20px; display: inline-block;line-height:30px;max-width: calc(100% - 60px);margin: 24px auto 0;color: #2c3f51; border-radius: 5px;box-shadow: 1px 1px 2px -1px rgba(154, 154, 154, 0.5);border: solid 1px #cfd5eb;background-color: #ffffff;text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.upload_popup .pop_bd .option_box .btn_change em {display: block;margin:10px auto 8px; color:#2c3f51; font-size:17px;}
.upload_popup .pop_bd .option_box .btn_change em.close{color:#2c3f51;opacity:0.5;font-size:13px; position:absolute;top:-6px;right:8px;cursor: pointer;}
@media screen and (max-height:1080px) {
    .sample_pop .popWrap {height: 80%;}
    .sample_pop .pop_bd {height:calc(100% - 30px);}
}

.pattern_box .pattern_2 {display: none;position: relative;}
.pattern_box .pattern_2 + p {margin:20px auto;}
.pattern_box .pattern_2 p.desc {font-size:13px; position:absolute;left: 195px;top: 15px;color:#fff600;z-index: 10;}
.pattern_box .pattern_2 p.desc:after { position:absolute;content: ''; width:78px ;height:78px;left: -1px;top: 28px; border-top:6px solid #fff600;border-left:6px solid #fff600;}
.pattern_box .pattern_2 p.desc_3 { top: -2px;left: 124px;}
.pattern_box .pattern_2 .desctxt {letter-spacing: -0.17px;color: #576068;font-size: 13px;margin:10px 0 0 0 ;font-weight:400; line-height: normal;}
.pattern_box .pattern_2 .desctxt + span {display: block;color: #f7778a;margin:0 0 10px 0;font-size: 13px; line-height: normal;}
.pattern_box .pattern_2 .bill_sample {display:none;width:256px;position: relative;margin:0 auto;}
.pattern_box .pattern_2 .bill_sample img {width:100%;}
.pattern_box .pattern_2 .hospital_sample {display:none;width:183px;position: relative;margin:0 auto;}
.pattern_box .pattern_2 .hospital_sample img {width:100%;}
.pattern_box .pattern_2 .money_sample {display:none;width:257px;position: relative;margin:0 auto;}
.pattern_box .pattern_2 .money_sample img {width:100%;}
.pattern_box .pattern_2 .btn {text-align: center;margin:20px auto 30px;}
.pattern_box .pattern_2 .btn a {display: inline-block; width:100px; height:100px;line-height: 100px; border-radius: 100px;background-color: rgba(44, 63, 81, 0.5);color:#fff;font-size:15px;}
.pattern_box .pattern_2 .btn a.active {background: #f7778a;margin: 0 0 0 9px;}
.pattern_box .img_box {width:600px; margin: 10px auto 10px; background:#fff url(../images/bg_img.png) 50% 120px no-repeat; border: 1px solid #d3dceb; border-radius: 5px;text-align: center;overflow: hidden; position: relative;}
.pattern_box .img_box em.minus{position:absolute;bottom:25px;left:25px;color: #2c3f51; font-size: 15px;opacity: 0.7;}
.pattern_box .img_box em.plus{position:absolute;bottom:25px;right:90px;color: #2c3f51; font-size: 15px;opacity: 0.7;}

.pattern_box .loading_area {display: none;}
.pattern_box .loading_area .loading_box{ width: 750px;height: 246px;margin:0 auto;border: solid 1px #cfd5eb;background-color: #f3f5fb;border-radius: 4px;color:#7d7d7d;}
.pattern_box .loading_area .loading_box svg {margin:100px auto 0;}
.pattern_box .loading_area .loading_box p { color: #7d7d7d;font-size: 14px;margin:0;}
.pattern_box .pattern_3 {display: none; padding: 0;}
.pattern_box .pattern_3 p{margin: 35px 0 10px 0;}
.pattern_box .pattern_3 .img_box {width:100%;background: #f6f8fb url(../images/bg_img.png) 50% 175px no-repeat;}
.pattern_box .pattern_3 img {margin: 0 auto 65px;width:513px; }
.pattern_box .pattern_3 .resultBox {text-align: center;}
.pattern_box .pattern_3 .txtBox {display:inline-block; overflow:hidden;  width:100%; margin:0 auto; border:1px solid #cfd5eb; border-radius:5px; background:#fff;}
.pattern_box .pattern_3 .txtBox dl {display:table; width:100%; font-size:15px; font-weight:300; }
.pattern_box .pattern_3 .txtBox dl dt {display:table-cell; width:150px; padding:10px; color:#516884; border-bottom:1px solid #cfd5eb;font-weight: normal; border-right:1px solid #cfd5eb;background:#f5f8fb;}
.pattern_box .pattern_3 .txtBox dl dd {display:table-cell; padding:10px; border-bottom:1px solid #cfd5eb;font-weight: normal;color: #273c55;}
.pattern_box .pattern_3 .txtBox dl:last-child dt {border:none; border-right:1px solid #cfd5eb;}
.pattern_box .pattern_3 .txtBox dl:last-child dd {border:none;}
.pattern_box .pattern_3 .btn {text-align: center;margin:20px auto;}
.pattern_box .pattern_3 .btn a {display: inline-block; width:105px; height:40px;border-radius: 5px; background: #27c1c1;color:#fff;line-height: 40px;font-size:15px;}
.pattern_box .pattern_3 .result_hospital {display: none;padding:0 26px;}
.pattern_box .pattern_3 .result_hospital .table_hospital {width:100%;margin:0 auto; max-height: 407px;overflow: auto;}
.pattern_box .pattern_3 .result_hospital .table_hospital .tbl_view { border: solid 1px #cfd5eb; width: 100%;letter-spacing: -0.16px;color: #2c3f51;font-size:12px;}
.pattern_box .pattern_3 .result_hospital .table_hospital .tbl_view th {text-align: center;vertical-align: middle;}
.pattern_box .pattern_3 .result_hospital .table_hospital .tbl_view tbody {background-color: #f3f5fb;}
.pattern_box .pattern_3 .result_hospital .table_hospital .tbl_view tr {height:32px;}
.pattern_box .pattern_3 .result_hospital .table_hospital .tbl_view tr th, .pattern_box .pattern_3 .result_hospital .table_hospital .tbl_view tr td {border: solid 1px #cfd5eb;}
.pattern_3 .result_hospital .table_hospital .tbl_view tr td.bold_txt {font-weight:bold;}
.pattern_3 .result_hospital .table_hospital .tbl_view tr td.align_left {text-align:left;padding: 0 8px;}
.pattern_3 .result_hospital .table_hospital .tbl_view tr td.align_right {text-align:right;padding: 0 8px;}
.pattern_3 .result_hospital .table_hospital .tbl_view tr.sum {background: #fff;}

.pattern_3 .result_hospital a{float:right;padding:0 20px;height: 40px;line-height: 40px;margin:10px auto 0; border-radius: 5px; box-shadow: 1px 1px 2px 0 rgba(154, 154, 154, 0.5); border: solid 1px #f7778a;font-size: 14px; font-weight: 500;color:#f7778a;}
.pattern_3 .result_hospital a.img_pop {float:left;}
.pattern_3 .result_hospital a.dwn_link {float:right;}

.pattern_box .pattern_3 .text_area{width:100%;box-sizing:border-box;background-color:#f3f5fb;height:320px;margin-top:10px;}
.pattern_box .pattern_3 .text_area textarea{width:100%;height: calc(100% - 20px);border:0;background-color:transparent;vertical-align:top;padding:10px 20px;font-size:15px;line-height:25px;color:#222c44;letter-spacing: -0.5px;}
.pattern_box .pattern_3 .text_area textarea::placeholder {line-height: 23px;font-size:15px;color:#222c44; }

.pattern_box .pattern_3 .resultBox_fail {margin: 0 auto;  }
.pattern_box .pattern_3 .resultBox_fail .no_recog { height: 89px;background:#fff url(../images/bg_img.png) 50% 19px no-repeat;background-size: 24px; font-size:15px; color:#516884;line-height: 115px;border:1px solid #cfd5eb; border-radius: 5px;text-align: center;}
.pattern_box .pattern_3 .resultBox_fail .btn_back { display: inline-block; width:105px; height:40px;border-radius: 5px; color:#fff;line-height: 40px;font-size:15px;text-indent: 33px; background:#b1bed5 url(../images/ico_result_back.png) 18px 50% no-repeat;}
.pattern_box .pattern_3 .resultBox_fail .btn {display: inline-block;margin: 20px 0 0 250px;}



#loading_img{
    width: 30px;
    display: none;
}


.sample_pop .popWrap {width:918px; max-width: inherit; height: 800px; overflow: hidden;margin: 150px auto 0;}
.sample_pop .pop_hd, .samplebill_pop .pop_hd{background-color: #f3f5fb;}

.useCasesBox {position:relative; width:860px; margin:0 auto; padding:60px 0;}
.useCasesBox ul.lst_useCases {clear:both; overflow:hidden;}
.useCasesBox ul.lst_useCases > li {display:block; margin:0 0 40px 0; padding:0 0 30px 0; border-bottom:1px solid #f0f1f6;}
.useCasesBox ul.lst_useCases > li:last-child {margin:0;}
.useCasesBox ul.lst_useCases li dl {clear:both; overflow:hidden; width:100%; text-align:left; }
.useCasesBox ul.lst_useCases li dl dt {float:left; width:210px; vertical-align:top;}
.useCasesBox ul.lst_useCases li dl dt em {display:block; position:relative;margin:0; color:#7d7d7d; font-size:13px;}
.useCasesBox ul.lst_useCases li dl dt em:after {content:''; position:absolute; top:8px; left:60px; width:50px; height:1px; background:#cdcdcd;}
.useCasesBox ul.lst_useCases li dl dt span {display:block; color:#192a39; font-size:22px; line-height:28px; letter-spacing:-1px;}
.useCasesBox ul.lst_useCases li dl dt span strong {display:block; font-weight:normal;}
.useCasesBox ul.lst_useCases li dl dd {float:left; vertical-align:top;}
.useCasesBox ul.lst_useCases li dl dd.txt {width:400px; color:#666; font-size:15px; line-height:24px; word-break:keep-all;}
.useCasesBox ul.lst_useCases li dl dd.txt > span {display:block;width: 100%;height: 30px;line-height: 30px; padding:0 10px;margin: 10px 0 0 0;box-sizing:border-box; border-radius: 3px;background-color: #f5f6fa; letter-spacing: -0.26px;color: #192a39;}
.useCasesBox ul.lst_useCases li dl dd.txt > span em {font-size:16px;margin:0 5px 0 0;}
.useCasesBox ul.lst_useCases li dl dd.api_itemBox {float:right; padding:3px 0 0 0; text-align:right;}
.useCasesBox ul.lst_useCases li dl dd.api_itemBox ul {float:right;}
.useCasesBox ul.lst_useCases li dl dd.api_itemBox ul li {display:inline-block;overflow:hidden;position:relative;min-width: 40px;margin:0 3px;padding: 42px 0 0 0;line-height:14px;text-align:center;cursor: default;box-sizing:border-box;transition:all 0.3s ease-out;}
.useCasesBox ul.lst_useCases li dl dd.api_itemBox ul li span {display:table-cell;width: 40px;height:30px;padding:3px 5px;color:#fff;font-size:11px;line-height:12px;vertical-align:middle;word-break:keep-all;border-radius:5px;box-sizing: border-box;}

.useCasesBox ul.lst_useCases li dl dd.api_itemBox ul li.ico_dir {background:url("../images/ico_api_dir.png") center top no-repeat; background-size:90% auto;}
.useCasesBox ul.lst_useCases li dl dd.api_itemBox ul li.ico_dir span {background-color:#f7778a;}
