@charset "utf-8";
/* MINDsLab. UX/UI Team NBR 20210205 */

/* -------------------- import -------------------- */
@import url('reset.css');
@import url('font.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');

html, body {font-size:24px; line-height:1.4; letter-spacing:-0.4px;}

/* scrollbar */
::-webkit-scrollbar {width: 6px; height: 6px; border-radius: 3px;}  /* 스크롤바의 width */
::-webkit-scrollbar-track {background: transparent;}  /* 스크롤바의 전체 배경색 */
::-webkit-scrollbar-thumb {border-radius: 3px; background: rgba(25, 42, 57, 0.3);}  /* 스크롤바 색 */
::-webkit-scrollbar-button {display: none;}  /* 위 아래 버튼 (버튼 없애기를 함) */

/* page loading */
#pageldg {display:block; position:fixed; top:0px; left:0px; width:100%; height:100%; text-align:center; background-color:#fff; z-index:99999999; opacity:1.0;}
#pageldg:before {content:''; position:absolute; top:50%; left:50%; margin:0 0 0 -30px; border-radius:100%; background:radial-gradient(#e9edf3, #fff); opacity:0; width:60px; height:60px; -webkit-animation:pageldg_wave 1.7s 2.5s linear infinite; animation:pageldg_wave 1.7s 2.5s linear infinite; z-index:444;}
#pageldg span.out_bg {position:absolute; top:50%; width:180px; height:180px; margin:-90px 0 0 -90px; border-radius:300px; background:#fff; animation:out_bg 1s 0s ease-in-out both; z-index:555;}
#pageldg span em {overflow:hidden; position:absolute; top:50%; left:50%; width:200px; height:200px; margin:-100px 0 0 -100px; border-radius:300px; background:#fff; animation:em_opacity 3s 0.1s ease-in-out both;}
#pageldg span em strong:nth-child(1) {content:''; position:absolute; bottom:38%; left:12%; width:0%; height:30%; background:#00aebc; animation:st_move_01 1.5s 0.1s ease-in-out both;}
#pageldg span em strong:nth-child(2) {content:''; position:absolute; top:52%; left:28%; width:60%; height:18%; border-radius:0; background:#fff; animation:st_move_02 1.5s 1.2s ease-in-out both;}
#pageldg span em strong:nth-child(3) {content:''; position:absolute; bottom:48%; right:15%; width:20px; height:0%; background:#00aebc; animation:st_move_03 0.5s 2.0s ease-in-out both;}
#pageldg span em b {content:''; position:absolute; top:50%; left:50%; width:160px; height:160px; margin:-80px 0 0 -80px; background:url("../images/ico_pageldg_trans.svg") 50% 50% no-repeat; background-size:cover; z-index:999;}
.pageldg_hide {-webkit-animation-duration:1s; animation-duration:1s; -webkit-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-name:pageldg_hide; animation-name:pageldg_hide;}

/* page loading keyframes */
@-webkit-keyframes pageldg_wave {
    0%   {-webkit-transform:scale(0); transform:scale(0); opacity:0;}
    5%   {opacity:1;}
    100% {-webkit-transform:scale(1); transform:scale(50); opacity:0;}
}
@keyframes pageldg_wave {
    0%   {-webkit-transform:scale(0); transform:scale(0); opacity:0;}
    5%   {opacity:1;}
    100% {-webkit-transform:scale(1); transform:scale(50); opacity:0;}
}
@-webkit-keyframes out_bg {
    0%   {opacity:0; transform:scale(0);}
    80%  {opacity:0.3; transform:scale(1.2);}
    100% {opacity:1; transform:scale(1);}
}
@keyframes out_bg {
    0%   {opacity:0; transform:scale(0);}
    80%  {opacity:0.2; transform:scale(1.2);}
    100% {opacity:1; transform:scale(1);}
}
@-webkit-keyframes st_move_01 {
    0%   {width:0%;}
    100% {width:50%;}
}
@keyframes st_move_01 {
    0%   {width:0%;}
    100% {width:50%;}
}
@-webkit-keyframes st_move_02 {
    0%   {background:#fff;}
    0%   {background:#fff;}
    100% {background:#35384d;}
}
@keyframes st_move_02 {
    0%   {background:#fff;}
    100% {background:#35384d;}
}
@-webkit-keyframes st_move_03 {
    0%   {height:0%;}
    100% {height:6%;}
}
@keyframes st_move_03 {
    0%   {height:0%;}
    100% {height:6%;}
}
@-webkit-keyframes pageldg_hide {
    0%   {opacity:1;}
    100% {opacity:0;}
}
@keyframes pageldg_hide {
    0%   {opacity:1;}
    100% {opacity:0;}
}

/* -------------------- common -------------------- */
/* pc, mobile */
.mobile {display:none;}

/* hide */
.hide {display:inline-block; overflow:hidden; text-indent:-9999px; line-height:0; white-space:nowrap;}

/* float */
.fl {float:left;}
.fr {float:right;}

/* checkBox */
.checkBox{display:inline-block; position:relative; min-height:20px; font-size:24px; line-height:52px;}
.checkBox input[type="checkbox"]{position:absolute; overflow:hidden; width:1px; height:1px; padding:0; margin:-1px; clip:rect(0,0,0,0); border:0;}
.checkBox input[type="checkbox"] + label{display:inline-block; position:relative; margin:0 10px 0 0; padding-left:32px; font-size:16px; line-height:40px; word-break:keep-all; cursor:pointer; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none;}
.checkBox input[type="checkbox"] + label:before{content:''; position:absolute; top:50%; left:0; width:24px; height:24px; border:1px solid #707070; border-radius:4px; background:#fff; box-sizing:border-box; text-align:center; line-height:24px; transform:translate(0, -50%);}
.checkBox input[type="checkbox"]:checked + label:before{content:'\f00c'; font-family:'Font Awesome 5 Free'; color:#3d3e57; font-size:18px; font-weight:900; border:1px solid #3d3e57;}


/* -------------------- Layer Popup -------------------- */
.lyrWrap {display:block; position:fixed; top:0; left:0; width:100%; height:100%; z-index:8000;}
.lyrWrap .lyr_bg {position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.85);}
.lyrWrap .lyr_bg2 {position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.85);}
.lyrWrap .lyr_bg.ie9 {position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(255,255,255,1.0);}
.lyrBox {display:none; overflow:hidden; position:absolute; top:50%; left:50%; width:500px; margin:0; border-radius:7px; background:#eff1f7; box-shadow:0 0 15px rgba(11,42,74,0.3); transform:translate(-50%,-50%); -webkit-animation:lyr_show 0.3s 0s ease-out; animation:lyr_show 0.3s 0s ease-out;}
.lyrWrap .lyrBox {display:block;}

.lyr_bg_dim {position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.5); z-index:9999;}
.lyrPlayBox {display:none; position:fixed; top:50%; left:50%; width:1000px; min-height:150px; border-radius:3px; box-shadow:0 1px 4px 0 rgba(44, 63, 81, 0.1); transform:translate(-50%, -50%); z-index:9999;}
#lyr_video_player {display:block;}
#lyr_video_player .lyr_ct {position:relative; width:1000px; padding-bottom:56.25%;}
#lyr_video_player .lyr_ct video {width:100%;}
#lyr_video_player .lyr_ct iframe {position:absolute; top:0; left:0; width:100%; height:100%;}
#lyr_video_player .btn_lyr_close {display:inline-block; position:absolute; top:-40px; right:-10px; width:40px; height:40px;}
#lyr_video_player .btn_lyr_close em {color:#fff; font-size:30px;}

/* keyframes */
@-webkit-keyframes lyr_show {
    0% {top:45%; opacity:0;}
    100% {top:50%; opacity:1;}
}
@keyframes lyr_show {
    0% {top:45%; opacity:0;}
    100% {top:50%; opacity:1;}
}
.lyrBox .lyr_top {clear:both; overflow:hidden; position:relative; padding:10px 15px; background:#fff;}
.lyrBox .lyr_top h3 { display:block; padding:7px 5px; color:#394058; font-size:2em; font-weight:500; text-align:center;}
.lyrBox .lyr_top .btn_lyr_close { float:right; position:absolute; top:20px; right:20px; overflow:hidden; width:30px; height:30px; margin:3px 0 0 0; text-indent:-99px; border:none; background:none; transition:all 0.3s ease-out; opacity:0.7; cursor:pointer;}
.lyrBox .lyr_top .btn_lyr_close:hover, .lyrBox .lyr_top .btn_lyr_close:focus {opacity:1.0; transition:all 0.3s ease-out;}
.lyrBox .lyr_top .btn_lyr_close:before {content:''; position:absolute; top:50%; left:0%; width:100%; height:1px; background:#5f6680; border-radius:3px; transform:rotate(45deg);}
.lyrBox .lyr_top .btn_lyr_close:after {content:''; position:absolute; top:50%; left:0%; width:100%; height:1px; border-radius:3px; background:#5f6680; transform:rotate(-45deg);}

.lyrWrap .lyrBox .lyr_mid {display:block; overflow:auto; max-height:500px; padding:30px 20px 20px 20px;}

.lyrWrap .lyrBox .lyr_btm {display:block; padding:15px; text-align:center; border-top:1px solid #e4e6ef; background:#fff;}
.lyrWrap .lyrBox .lyr_btm .btnBox.sz_small button {height:32px; color:#fff; font-size:13px; border:none; background:#3599ff;}
.lyrWrap .lyrBox .lyr_btm .btnBox.sz_small button:disabled {cursor:default; opacity:0.4; border:1px solid #586c80; background:#586c80;}
.lyrWrap .lyrBox .lyr_btm .btnBox.sz_small button:first-child {background:#718292;}

.lyr_hide {-webkit-animation-duration:0.5s; animation-duration:0.5s; -webkit-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-name:lyr_hide; animation-name:lyr_hide;}
/* keyframes */
@-webkit-keyframes lyr_hide {
    0% {opacity:1;}
    100% {opacity:0;}
}
@keyframes lyr_hide {
    0% {opacity:1;}
    100% {opacity:0;}
}

/* -------------------- event -------------------- */
#wrap.event {position:relative; width:100%; min-width:1240px; height:100%; min-height:760px;}
#wrap.event #contents {position:relative; width:100%; height:100%;}
#wrap.event .stn {overflow:hidden; position:relative; width:100%; box-sizing:border-box;}
#wrap.event .stn .contWrap {position:absolute; top:0; left:0; width:100%; height:100%;}
#wrap.event .stn .cont {position:relative; width:1240px; height:100%; margin:0 auto; padding:0 20px; box-sizing:border-box; z-index:50;}
#wrap.event .stn .tit {width:1200px; margin:0 auto 48px; box-sizing:border-box; color:#3d3e57; font-size:1.75rem; font-weight:500; letter-spacing:-2.18px; line-height:1.43;}

/* 국민카드 올리스 배너 */
#wrap.event .float_banner {position:fixed; right:20px; bottom:50px; width:397px; height:84px; border-radius:4px; background:#645b4c; z-index:9999;}
#wrap.event .float_banner .banner_wrap {display:block; width:100%; height:100%; padding:16px 24px; box-sizing:border-box;}
#wrap.event .float_banner .imgArea {position:absolute; bottom:0; left:24px; width:94px;}
#wrap.event .float_banner .imgArea img {width:100%;}
#wrap.event .float_banner .txtArea {float:right; text-align:left;}
#wrap.event .float_banner .txtArea p {margin:0 0 4px; color:#fff; font-size:16px; letter-spacing:-0.72px;}
#wrap.event .float_banner .txtArea img {height:24px;}

/* 이벤트 페이지 본문 */
/*#wrap.event .stn:not(.intro) {display:none;}*/

/* intro */
#wrap.event .intro {height:100vh !important; background:radial-gradient(ellipse at 72% 30%, #4f5070 20%, #3d3e57 35%, #2e2e42); z-index:20;}
#wrap.event .intro .cont .txtArea {float:right; margin:120px 0 0;}
#wrap.event .intro .cont .txtArea img {display:block; margin:0 0 32px;}
#wrap.event .intro .cont .txtArea .msg_lead {color:#fff; font-size:0.8rem; letter-spacing:-0.4px; line-height:1.5;}
#wrap.event .intro .cont .svc_start {position:absolute; right:0; bottom:100px; width:488px;}
#wrap.event .intro .cont .svc_start .msg_start {margin:0 0 24px; color:#3d3e57; font-size:0.8rem; font-weight:500; letter-spacing:-0.8px; line-height:1.4;}
#wrap.event .intro .cont .svc_start .btnBox a {display:inline-block; height:61px; padding:0 60px; border-radius:4px; background:#f5f6fa; color:#626378; font-size:0.8rem; font-weight:500; letter-spacing:-0.7px; line-height:60px; text-align:center;}
#wrap.event .intro .cont .svc_start .btnBox a.btn_go_event {margin:0 0 0 16px; padding:0 64px; background:#3d3e57; color:#fff;}
#wrap.event .intro .cont .imgBox {position:absolute; bottom:0; left:20px; height:93%;}
#wrap.event .intro .cont .imgBox img {height:100%;}
#wrap.event .intro .diagonal_line {overflow:hidden; position:absolute; top:0; left:0; width:100%; height:100%;}
#wrap.event .intro .diagonal_line:before {content:''; display:block; position:absolute; right:0; bottom:-76%; width:100%; height:100%; background:#fff; transform:skewY(-14deg); -webkit-transform:skewY(-14deg);}

/* main */
#wrap.event .main {height:956px; background:radial-gradient(ellipse at 35% 36%, #4f5070 20%, #3d3e57 40%, #2e2e42);}
#wrap.event .main .cont {z-index:10;}
#wrap.event .main .cont .txtArea {float:right; margin:120px 0 0;}
/* [D] 21.10.12 NBR 수정 */
#wrap.event .main .cont .txtArea p {margin:15px 0 0; color:#fff; font-size:0.8rem; letter-spacing:-0.7px; line-height:1.45;}
#wrap.event .main .cont .txtArea .btn_link {display:inline-block; height:60px; margin:30px 0 0; padding:0 40px; border-radius:4px; background:#fff; color:#3d3e57; font-size:20px; font-weight:500; letter-spacing:-0.27px; line-height:60px;}
/* //[D] 21.10.12 NBR 수정 */
#wrap.event .main .cont .imgArea {float:left; width:72%; max-width:860px; margin:86px -16% 0 0;}
#wrap.event .main .cont .imgArea img {width:100%;}


/* innovation */
#wrap.event .innovation {overflow:visible; margin-top:-370px; background:#f5f6fa; transform:skewY(-16deg);}
#wrap.event .innovation .contWrap {position:relative; padding:370px 0; transform:skewY(16deg);}
#wrap.event .innovation .contWrap > .tit {display:none;}
#wrap.event .innovation .tit {position:absolute; text-align:center;}
#wrap.event .innovation .tit.pc {margin:60px 0 0; text-align:left;}
#wrap.event .innovation .scroll_container {position:relative;}
#wrap.event .innovation .scroll_container .scroll_area {overflow-x:hidden; position:sticky; top:0; width:100%; height:100vh; z-index:50;}
#wrap.event .innovation .scroll_container .scroll_area .scroll_item {position:absolute; top:0; left:0; width:100%; height:100%; background:#f5f6fa; transition:opacity 0.5s ease-out; opacity:0;}
#wrap.event .innovation .scroll_container .scroll_area .scroll_item .cont {display:flex; flex-direction:column; justify-content:flex-start; align-items:flex-start;}
#wrap.event .innovation .scroll_container .scroll_area .scroll_item .txtBox {margin:222px 0 0; transform:translateY(50px); transition:transform 0.5s ease-out;}
#wrap.event .innovation .scroll_container .scroll_area .scroll_item .txtBox dl {display:flex; align-items:flex-start}
#wrap.event .innovation .scroll_container .scroll_area .scroll_item .txtBox dl + dl {margin:40px 0 0;}
#wrap.event .innovation .scroll_container .scroll_area .scroll_item .txtBox dl dt {display:flex; align-items:flex-end; position:relative; width:446px;}
#wrap.event .innovation .scroll_container .scroll_area .scroll_item .txtBox dl dt span {margin:0 16px 0 0; color:#3d3e57; font-family:'Roboto', sans-serif; font-size:2rem; font-weight:700; line-height:50px; opacity:0.2;}
#wrap.event .innovation .scroll_container .scroll_area .scroll_item .txtBox dl dt p {color:#3d3e57; font-size:1rem; letter-spacing:-1.1px;}
#wrap.event .innovation .scroll_container .scroll_area .scroll_item .txtBox dl dt p strong {font-size:1.5rem; line-height:1.42;}
#wrap.event .innovation .scroll_container .scroll_area .scroll_item .txtBox dl dd {display:table-cell; color:#636478; font-size:0.75rem; letter-spacing:-0.81px; line-height:1.44; vertical-align:top;}

#wrap.event .innovation .scroll_container .scroll_area .scroll_item .cont .imgBox {position:absolute; right:20px; bottom:0; height:50vh;}
#wrap.event .innovation .scroll_container .scroll_area .scroll_item .cont .imgBox img {height:100%;}
#wrap.event .innovation .scroll_container .scroll_area .scroll_item.visible {opacity:1;}
#wrap.event .innovation .scroll_container .scroll_area .scroll_item.visible .txtBox {transform:translateY(0);}

#wrap.event .innovation .scroll_container .scroll_area .scroll_item:nth-child(-n+2) .cont .imgBox {height:69.5vh;}
#wrap.event .innovation .scroll_container .scroll_area .scroll_item:nth-child(n+3):nth-child(-n+5) .cont .imgBox {height:74.4vh;}
#wrap.event .innovation .scroll_container .scroll_area .scroll_item:nth-child(1) .cont .imgBox {width:39.1vw;}
#wrap.event .innovation .scroll_container .scroll_area .scroll_item:nth-child(1) .cont .imgBox img {display:block; position:absolute; top:0; right:0;}

#wrap.event .innovation .scroll_container .scroll_index {position:relative;}
#wrap.event .innovation .scroll_container .scroll_index .index_item {padding-bottom:600px; opacity:0;}

.loader {display:flex; align-items:center; position:absolute; top:197px; right:0; height:150px;}
.loader > span {flex:none; display:block; position:relative; width:8px; margin:0 4px; border-radius:4px;}
.loader .stroke {height:100%; animation:wave_animate 1.7s linear infinite;}
.loader .stroke_short {height:50%; animation:wave_animate_short 1.2s linear infinite;}
.loader .stroke_medium {height:60%; animation:wave_animate_medium 1.2s linear infinite;}
.loader .stroke_long {height:80%; animation:wave_animate_long 1.2s linear infinite;}

@keyframes wave_animate {
    50% {height:20%;}
    100% {height:100%;}
}

@keyframes wave_animate_short {
    50% {height:20%;}
    100% {height:50%;}
}

@keyframes wave_animate_medium {
    50% {height:20%;}
    100% {height:70%;}
}

@keyframes wave_animate_long {
    50% {height:20%;}
    100% {height:80%;}
}

.stroke:nth-child(1) {background:#ecbfe3; animation-delay:4s 0.25s;}
.stroke:nth-child(2) {background:#e6c2e5; animation-delay:0.8s;}
.stroke:nth-child(3) {background:#e0c4e6; animation-delay:1s;}
.stroke:nth-child(4) {background:#dcc7e7; animation-delay:0.6s;}
.stroke:nth-child(5) {background:#dbc8e8; animation-delay:0.4s;}
.stroke:nth-child(6) {background:#d8cae9; animation-delay:0.6s;}
.stroke:nth-child(7) {background:#d7cbe9; animation-delay:0s;}
.stroke:nth-child(8) {background:#d5ccea; animation-delay:0.3s;}
.stroke:nth-child(9) {background:#d5cdea; animation-delay:0.9s;}
.stroke:nth-child(10) {background:#d5cdea; animation-delay:0.5s;}
.stroke:nth-child(11) {background:#d4ceeb; animation-delay:0.2s;}
.stroke:nth-child(12) {background:#d2d0eb; animation-delay:0.2s;}
.stroke:nth-child(13) {background:#d1d2eb; animation-delay:0.1s;}
.stroke:nth-child(14) {background:#cfd3eb; animation-delay:0s;}
.stroke:nth-child(15) {background:#cdd5ec; animation-delay:0s;}
.stroke:nth-child(16) {background:#ccd7ec; animation-delay:0.3s;}
.stroke:nth-child(17) {background:#cad9ec; animation-delay:0.1s;}
.stroke:nth-child(18) {background:#c9dbeb; animation-delay:0.8s;}
.stroke:nth-child(19) {background:#c9dceb; animation-delay:0.6s;}
.stroke:nth-child(20) {background:#c7deec; animation-delay:0.3s;}
.stroke:nth-child(21) {background:#c7dfec; animation-delay:0s;}
.stroke:nth-child(22) {background:#c5e3ec; animation-delay:0.3s;}
.stroke:nth-child(23) {background:#c5e4ed; animation-delay:0.9s;}
.stroke:nth-child(24) {background:#c6e5ed; animation-delay:0.5s;}
.stroke:nth-child(25) {background:#c6e6ed; animation-delay:0.1s;}
.stroke:nth-child(26) {background:#c5e8ed; animation-delay:0s;}
.stroke:nth-child(27) {background:#c5e9ee; animation-delay:0.3s;}
.stroke:nth-child(28) {background:#c6eaee; animation-delay:0.6s;}
.stroke:nth-child(29) {background:#c5eced; animation-delay:0s;}
.stroke:nth-child(30) {background:#c5eced; animation-delay:0.2s;}

/* .loader > span:nth-child(1) {background:#ecbfe3; animation-delay:0.2s;}
.loader > span:nth-child(2) {background:#e6c2e5; animation-delay:0.3s;}
.loader > span:nth-child(3) {background:#e0c4e6; animation-delay:0.4s;}
.loader > span:nth-child(4) {background:#dcc7e7; animation-delay:0.5s;}
.loader > span:nth-child(5) {background:#dbc8e8; animation-delay:0.6s;}

.loader > span:nth-child(6) {background:#d8cae9; animation-delay:0.7s;}
.loader > span:nth-child(7) {background:#d7cbe9; animation-delay:0.8s;}
.loader > span:nth-child(8) {background:#d5ccea; animation-delay:1s;}

.loader > span:nth-child(9) {background:#d5cdea; animation-delay:1s;}
.loader > span:nth-child(10) {background:#d5cdea; animation-delay:1.1s;}
.loader > span:nth-child(11) {background:#d4ceeb; animation-delay:1.2s;}
.loader > span:nth-child(12) {background:#d2d0eb; animation-delay:1.3s;}
.loader > span:nth-child(13) {background:#d1d2eb; animation-delay:1.4s;}
.loader > span:nth-child(14) {background:#cfd3eb; animation-delay:1.5s;}
.loader > span:nth-child(15) {background:#cdd5ec; animation-delay:1.6s;}
.loader > span:nth-child(16) {background:#ccd7ec; animation-delay:1.6s;}
.loader > span:nth-child(17) {background:#cad9ec; animation-delay:1.5s;}
.loader > span:nth-child(18) {background:#c9dbeb; animation-delay:1.4s;}
.loader > span:nth-child(19) {background:#c9dceb; animation-delay:1.3s;}
.loader > span:nth-child(20) {background:#c7deec; animation-delay:1.2s;}
.loader > span:nth-child(21) {background:#c7dfec; animation-delay:1.1s;}
.loader > span:nth-child(22) {background:#c5e3ec; animation-delay:1s;}

.loader > span:nth-child(23) {background:#c5e4ed; animation-delay:1s;}
.loader > span:nth-child(24) {background:#c6e5ed; animation-delay:0.8s;}
.loader > span:nth-child(25) {background:#c6e6ed; animation-delay:0.7s;}
.loader > span:nth-child(26) {background:#c5e8ed; animation-delay:0.6s;}

.loader > span:nth-child(27) {background:#c5e9ee; animation-delay:0.5s;}
.loader > span:nth-child(28) {background:#c6eaee; animation-delay:0.4s;}
.loader > span:nth-child(29) {background:#c5eced; animation-delay:0.3s;}
.loader > span:nth-child(30) {background:#c5eced; animation-delay:0.2s;}  */

.scroll_area .scroll_item:nth-child(2) .cont .imgBox .speechBox {display:flex; flex-direction:column; justify-content:flex-end; position:absolute; bottom:20px; left:0; width:100%; height:100%; padding:0 0 100px; box-sizing:border-box;}
.scroll_area .scroll_item:nth-child(2) .cont .imgBox .speechBox .speech_bubble {position:relative; margin:0 0 40px; transform:translateY(20px); transition:all 0.5s ease-out; opacity:0;}
.scroll_area .scroll_item:nth-child(2) .cont .imgBox .speechBox .speech_bubble:nth-child(1) {text-align:right;}
.scroll_area .scroll_item:nth-child(2) .cont .imgBox .speechBox .speech_bubble:nth-child(2) {text-align:left;}
.scroll_area .scroll_item:nth-child(2) .cont .imgBox .speechBox .speech_bubble:nth-child(3) {text-align:right;}
.scroll_area .scroll_item:nth-child(2) .cont .imgBox .speechBox .speech_bubble p {display:inline-block; padding:12px 20px; border-radius:3px; background:#ddecff; color:#0d66cc; font-size:0.75rem; text-align:left;}
.scroll_area .scroll_item:nth-child(2) .cont .imgBox .speechBox .speech_bubble:nth-child(2) p {background:#fff; color:#3d3e57;}
.scroll_area .scroll_item:nth-child(2).visible .cont .imgBox .speechBox.active .speech_bubble {animation-name:speechAnimation; animation-iteration-count:1; animation-fill-mode:forwards;}
.scroll_area .scroll_item:nth-child(2) .cont .imgBox .speechBox .speech_bubble:nth-child(1) {animation-duration:7s; animation-delay:0.5s;}
.scroll_area .scroll_item:nth-child(2) .cont .imgBox .speechBox .speech_bubble:nth-child(2) {animation-duration:5.5s; animation-delay:2s;}
.scroll_area .scroll_item:nth-child(2) .cont .imgBox .speechBox .speech_bubble:nth-child(3) {animation-duration:4s; animation-delay:3.5s;}

@keyframes speechAnimation {
    0% {opacity:0;}
    5% {opacity:1; transform:translateY(0);}
    100% {opacity:1; transform:translateY(0);}
}

/* IE10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    #wrap.event .innovation {background:#fff;}
    #wrap.event .innovation .contWrap > .tit {display:block; top:300px;}
    #wrap.event .innovation .scroll_container .scroll_area.fixed {overflow:visible; position:fixed; transition:position 0.3s ease-out;}
    #wrap.event .innovation .scroll_container .scroll_area {overflow:visible; height:auto;}
    #wrap.event .innovation .scroll_container .scroll_area .scroll_item {position:static; height:570px; padding:40px 0; box-sizing:border-box; background:#fff; opacity:1;}
    #wrap.event .innovation .scroll_container .scroll_area .scroll_item:nth-child(even) {background:#f5f6fa;}
    #wrap.event .innovation .scroll_container .scroll_area .scroll_item:nth-child(odd) .imgBox {order:1;}
    #wrap.event .innovation .scroll_container .scroll_area .scroll_item:nth-child(even) .imgBox {order:0;}
    #wrap.event .innovation .scroll_container .scroll_area .scroll_item .tit {display:none;}
    #wrap.event .innovation .scroll_container .scroll_area .scroll_item .cont {flex-direction:row; justify-content:space-between; align-items:center;}
    #wrap.event .innovation .scroll_container .scroll_area .scroll_item .cont .imgBox {position:relative; height:490px !important;}
    #wrap.event .innovation .scroll_container .scroll_area .scroll_item .txtBox {margin:0; transform:translateY(0);}
    #wrap.event .innovation .scroll_container .scroll_index {display:none;}

    .loader {top:80px;}
    .loader .stroke:nth-child(-n+3) {display:none;}

    .scroll_area .scroll_item:nth-child(2) .cont .imgBox .speechBox {padding:0 0 40px;}
    .scroll_area .scroll_item:nth-child(2) .cont .imgBox .speechBox .speech_bubble {margin:20px 0 0;}
    .scroll_area .scroll_item:nth-child(2) .cont .imgBox .speechBox .speech_bubble p {padding:10px; font-size:0.7rem;}
    .scroll_area .scroll_item:nth-child(2) .cont .imgBox .speechBox.active .speech_bubble {animation-name:speechAnimation; animation-iteration-count:infinite; animation-fill-mode:forwards;}
}

/* use_cases */
#wrap.event .use_cases {overflow:hidden; height:1077px; z-index:10; transform:skewY(-16deg); z-index:100;}
#wrap.event .use_cases .contWrap {overflow:hidden;}
#wrap.event .use_cases .tit {position:absolute; top:27px; left:50%; color:#fff; text-align:right; transform:translate(-50%, 0) skewY(16deg); z-index:10;}
#wrap.event .use_cases .swiperBox {overflow:hidden; width:100%; height:100%;}
#wrap.event .use_cases .swiperBox .swiperCont {overflow:hidden; position:absolute; top:0; left:0; width:100%; height:100%; margin-top:-370px; padding:370px 0; transform:skewY(16deg);}
#wrap.event .use_cases .swiperBox.bank .swiperCont {background:url('../images/kiosk/bg_useCase_bank.png') 50% 50% no-repeat; background-size:cover;}
#wrap.event .use_cases .swiperBox.exhibition .swiperCont {background:url('../images/kiosk/bg_useCase_exhibition.png') 50% 50% no-repeat; background-size:cover;}
#wrap.event .use_cases .swiperBox.hotel .swiperCont {background:url('../images/kiosk/bg_useCase_hotel.png') 50% 50% no-repeat; background-size:cover;}
#wrap.event .use_cases .swiperBox.shoppingmall .swiperCont {background:url('../images/kiosk/bg_useCase_shoppingmall.png') 50% 50% no-repeat; background-size:cover;}
#wrap.event .use_cases .cont {display:flex; justify-content:space-around; align-items:center;}
#wrap.event .use_cases .cont .txtBox {width:465px; height:223px; margin:-60px 0 0; padding:42px 52px; box-sizing:border-box; background:rgba(255, 255, 255, 0.1); -webkit-backdrop-filter:blur(36px); backdrop-filter:blur(36px); text-align:left; vertical-align:middle;}
#wrap.event .use_cases .cont .txtBox dt {margin:0 0 12px; color:#fff; font-size:1.17rem; font-weight:500; letter-spacing:-1.12px; line-height:1.7;}
#wrap.event .use_cases .cont .txtBox dt span {color:#fff; font-size:0.83rem; font-weight:400; opacity:0.8;}
#wrap.event .use_cases .cont .txtBox dd {color:#fff; font-size:0.8rem; letter-spacing:-0.7px; line-height:1.45;}
#wrap.event .use_cases .cont .imgBox {order:1; position:relative; height:691px;}
#wrap.event .use_cases .cont .imgBox img {height:100%;}
#wrap.event .use_cases .cont .imgBox .btn_video_play {position:absolute; top:50%; left:50%; width:216px; height:216px; margin:-60px 0 0; background:url('../images/kiosk/ico_play.svg') 50% 50% no-repeat; transform:translate(-50%, -50%); background-size:contain; transition:background-image 0.3s ease-out;}
#wrap.event .use_cases .cont .imgBox .btn_video_play:hover {background:url('../images/kiosk/ico_play_hover.svg') 50% 50% no-repeat; background-size:contain;}

.swiper-button-next, .swiper-button-prev {width:128px; height:128px; margin:-30px 0 0; z-index:10; outline:none;}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {top:310px; left:calc(50% - 584px); background:url('../images/kiosk/ico_arw_left.svg') 50% 50% no-repeat; transform:translate(-50%, 0) skewY(16deg);}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next:focus {outline:none;}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {top:645px; right:calc(50% - 584px); background:url('../images/kiosk/ico_arw_right.svg') 50% 50% no-repeat; transform:translate(50%, 0) skewY(16deg);}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev:focus {outline:none;}
.pagination {position:absolute; bottom:180px; left:50%; width:324px; transform:translate(-50%, 0) skewY(16deg); z-index:50;}
.pagination button {display:none; position:relative; float:right; width:64px; height:64px; margin-top:-34px;}
.pagination button.on {display:block;}
.pagination button.btn_pause {background:url('../images/kiosk/ico_pause.svg') 50% 50% no-repeat;}
.pagination button.btn_play {background:url('../images/kiosk/ico_slide_play.svg') 50% 50% no-repeat;}
.pagination .swiper-pagination {display:flex; align-items:center; position:static;}
.pagination .swiper-pagination-bullet {width:62px; height:4px; border-radius:0; background:#fff; opacity:0.4; outline:none;}
.pagination .swiper-pagination-bullet:focus {outline:none;}
.pagination .swiper-pagination-bullet + .swiper-pagination-bullet {margin:0 0 0 4px;}
.pagination .swiper-pagination-bullet-active {opacity:1;}

/* IE10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    #wrap.event .use_cases .cont .txtBox {background:rgba(153, 153, 153, 0.92);}
}


/* contact */
#wrap.event .contact {height:1180px; margin-top:-370px; background:#3d3e57;}
#wrap.event .contact .cont {display:flex; justify-content:space-between; align-items:center; padding:250px 0 0;}
#wrap.event .contact .cont .txtArea .tit {width:auto; margin:0 0 12px; color:#fff;}
#wrap.event .contact .cont .txtArea .desc {color:#fff; font-size:0.75rem; letter-spacing:-0.81px;}
#wrap.event .contact .cont .contactform {margin:0; padding:120px 0 0; text-align:center;}
#wrap.event .contact .cont .contactform dl {clear:both; width:100%; text-align:left;}
#wrap.event .contact .cont .contactform dl + dl {margin:15px 0 0;}
#wrap.event .contact .cont .contactform dl dt {display:inline-block; width:197px; color:#fff; font-size:0.75rem; font-weight:500; letter-spacing:-0.81px; line-height:52px; vertical-align:top;}
#wrap.event .contact .cont .contactform dl dt span {display:inline-block; margin:0 0 0 5px; color:#d8d8dd;}
#wrap.event .contact .cont .contactform dl dt em {display:inline-block; margin:0 0 0 5px; font-weight:400; font-size:1rem;}
#wrap.event .contact .cont .contactform dl dd {display:inline-block; width:438px; line-height:52px;}
#wrap.event .contact .cont .contactform dl dd input[type="text"],
#wrap.event .contact .cont .contactform dl dd input[type="tel"] {width:100%; height:52px; padding:0 24px; border:1px solid #fff; border-radius:4px; box-sizing:border-box; color:#000; font-size:14px; letter-spacing:-0.49px;}
#wrap.event .contact .cont .contactform dl dd input::placeholder {color:#000; font-size:14px; letter-spacing:-0.49px; opacity:0.5;}
#wrap.event .contact .cont .contactform dl dd textarea {width:100%; height:200px; padding:15px 25px; border-radius:4px; box-sizing:border-box; color:#1f2f3b; font-size:0.8rem;}
#wrap.event .contact .cont .contactform dl dd textarea::placeholder {color:#808080; font-size:18px;}
#wrap.event .contact .cont .contactform dl dd .assentBox {color:#d8d8dd; font-size:0.8rem; line-height:1.5;}
#wrap.event .contact .cont .contactform dl dd .assentBox p {margin:15px 0 0; font-size:0.56rem;}
#wrap.event .contact .cont .contactform button {display:inline-block; width:184px; height:58px; margin:40px 0 0 -45px; border:1px solid #fff; border-radius:6px; box-sizing:border-box; background:#fff; color:#3d3e57; font-size:18px; font-weight:500; letter-spacing:-0.81px; transition:all 0.2s ease-out; cursor:pointer;}
#wrap.event .contact .cont .contactform button:disabled {opacity:0.5; cursor:default;}

/* -------------------- media query -------------------- */
@media screen and (max-width:768px){
    html, body {font-size:14px;}

    .pc {display:none;}
    .mobile {display:block;}

    .checkBox {line-height:24px;}
    .checkBox input[type="checkbox"] + label {padding-left:28px; font-size:14px;}
    .checkBox input[type="checkbox"] + label:before {width:20px; height:20px; line-height:20px;}
    .checkBox input[type="checkbox"]:checked + label:before {font-size:14px;}

    #lyr_video_player.lyrPlayBox {width:100%;}
    #lyr_video_player .lyr_ct {width:100%;}
    #lyr_video_player .btn_lyr_close {right:0;}

    #wrap.event .float_banner {right:0; bottom:0; width:100%; height:54px; border-radius:0;}
    #wrap.event .float_banner .banner_wrap {padding:8px 0; text-align:center;}
    #wrap.event .float_banner .imgArea {display:inline-block; position:relative; top:-33px; bottom:auto; left:auto; width:59px; margin:0 10px 0 0;}
    #wrap.event .float_banner .txtArea {display:inline-block; float:none;}
    #wrap.event .float_banner .txtArea p {font-size:12px;}
    #wrap.event .float_banner .txtArea img {height:17px;}

    #wrap.event {min-width:auto; min-height:auto;}
    #wrap.event .stn {min-width:320px; height:auto;}
    #wrap.event .stn .cont {width:100%; min-width:320px;}
    #wrap.event .stn .tit {width:100%; min-width:320px; margin:0 0 24px; padding:0 20px; font-size:1.57rem; letter-spacing:-0.88px; text-align:left;}

    #wrap.event .intro {background:radial-gradient(ellipse at 43% 30%, #4f5070 8%, #3d3e57 56%, #2e2e42);}
    #wrap.event .intro .cont {float:none;}
    #wrap.event .intro .cont .txtArea {float:none; margin:0; padding:40px 0 0;}
    #wrap.event .intro .cont .txtArea img {margin:0 0 12px;}
    #wrap.event .intro .cont .txtArea img:nth-child(1) {width:42%; height:24px; height:auto;}
    #wrap.event .intro .cont .txtArea img:nth-child(2) {width:81%; max-width:400px; height:80px; height:auto;}
    #wrap.event .intro .cont .txtArea .msg_lead {font-size:1.14rem; letter-spacing:-0.64px;}
    #wrap.event .intro .cont .svc_start {right:20px; bottom:0; left:auto; width:136px; height:100%;}
    #wrap.event .intro .cont .svc_start .msg_start {position:relative; top:57%; margin:0; color:#fff; font-size:1.14rem; letter-spacing:-0.64px;}
    #wrap.event .intro .cont .svc_start .btnBox {display:flex; flex-direction:column; position:absolute; bottom:40px; z-index:50;}
    #wrap.event .intro .cont .svc_start .btnBox a {display:block; width:136px; height:48px; margin:10px 0 0 !important; padding:0 !important; font-size:1.14rem; letter-spacing:-0.64px; line-height:48px;}
    #wrap.event .intro .cont .svc_start .btnBox a:nth-child(1) {order:1;}
    #wrap.event .intro .cont .imgBox {height:58.2%;}
    #wrap.event .intro .diagonal_line:before {bottom:-72%; transform:skewY(-14deg); -webkit-transform: skewY(-18deg);}

    #wrap.event .main {height:auto; min-height:350px; padding:0;}
    #wrap.event .main .contWrap {position:static;}
    #wrap.event .main .cont .txtArea {float:left; margin:40px 0 0;}
    #wrap.event .main .cont .txtArea img {width:72%;}
    #wrap.event .main .cont .txtArea p {margin:14px 0 0; font-size:1rem;}
    /* [D] 21.10.12 NBR 추가 */
    #wrap.event .main .cont .txtArea .btn_link {height:40px; margin:20px 0 0; padding:0 30px; border-radius:4px; background:#fff; color:#3d3e57; font-size:14px; font-weight:500; letter-spacing:-0.19px; line-height:40px;}
    /* //[D] 21.10.12 NBR 추가 */
    #wrap.event .main .cont .imgArea {float:right; width:100%; margin:-5% -24% 0 0;}

    #wrap.event .innovation {min-height:538px; margin:-23% 0 0; padding:30% 0 0; background:#fff; transform:skewY(-16deg);}
    #wrap.event .innovation .contWrap {position:static; padding:0;}
    #wrap.event .innovation .contWrap > .tit {display:block;}
    #wrap.event .innovation .tit {position:static; margin:0 0 16px; transform:none;}
    #wrap.event .innovation .scroll_container .scroll_area {overflow:visible; position:relative; height:auto;}
    #wrap.event .innovation .scroll_container .scroll_area .scroll_item {position:relative; padding:24px 0; opacity:1;}
    #wrap.event .innovation .scroll_container .scroll_area .scroll_item:nth-child(odd) {background:#fff;}
    #wrap.event .innovation .scroll_container .scroll_area .scroll_item:nth-child(even) {background:#f5f6fa;}
    #wrap.event .innovation .scroll_container .scroll_area .scroll_item:nth-child(5) {padding:24px 0 20%;}
    #wrap.event .innovation .scroll_container .scroll_area .scroll_item .cont .imgBox {display:block; position:relative; right:0; margin:0 auto;}
    #wrap.event .innovation .scroll_container .scroll_area .scroll_item .cont .imgBox img {position:relative !important; width:100%; height:auto;}
    #wrap.event .innovation .scroll_container .scroll_area .scroll_item:nth-child(1) .cont .imgBox {overflow:hidden;}
    #wrap.event .innovation .scroll_container .scroll_area .scroll_item:nth-child(-n+2) .cont .imgBox {width:62.8vw; height:auto;}
    #wrap.event .innovation .scroll_container .scroll_area .scroll_item:nth-child(n+3):nth-child(-n+5) .cont .imgBox {width:39.5vw; height:auto;}
    #wrap.event .innovation .scroll_container .scroll_area .scroll_item .txtBox {margin:0; transform:none;}
    #wrap.event .innovation .scroll_container .scroll_area .scroll_item .txtBox dl {display:block; margin:17px 0 0;}
    #wrap.event .innovation .scroll_container .scroll_area .scroll_item .txtBox dl + dl {margin:17px 0 0;}
    #wrap.event .innovation .scroll_container .scroll_area .scroll_item .txtBox dl dt {align-items:flex-start; width:100%;}
    #wrap.event .innovation .scroll_container .scroll_area .scroll_item .txtBox dl dt span {font-size:1.57rem; line-height:1.4;}
    #wrap.event .innovation .scroll_container .scroll_area .scroll_item .txtBox dl dt p {width:100%; font-size:1.28rem;  letter-spacing:-0.63px; line-height:1.62;}
    #wrap.event .innovation .scroll_container .scroll_area .scroll_item .txtBox dl dt p strong {font-size:1.43rem; letter-spacing:-0.8px;}
    #wrap.event .innovation .scroll_container .scroll_area .scroll_item .txtBox dl dd {display:block; margin:4px 0 0; padding:0 0 0 37px; font-size:1rem; letter-spacing:-0.49px; word-break:keep-all;}
    #wrap.event .innovation .scroll_container .scroll_area .scroll_item .txtBox dl dd br {display:none;}
    #wrap.event .innovation .scroll_container .scroll_index {display:none;}

    .loader {top:23%; right:auto; left:50%; height:10.3vw; transform:translate(-50%, 0);}
    .loader > span {width:1vw; margin:0 0.5vw;}

    .scroll_area .scroll_item:nth-child(2) .cont .imgBox .speechBox {bottom:0; padding:0;}
    .scroll_area .scroll_item:nth-child(2) .cont .imgBox .speechBox .speech_bubble {margin:0 0 20px;}
    .scroll_area .scroll_item:nth-child(2) .cont .imgBox .speechBox.active .speech_bubble {animation-name:speechAnimation; animation-iteration-count:infinite; animation-fill-mode:forwards;}
    .scroll_area .scroll_item:nth-child(2) .cont .imgBox .speechBox .speech_bubble p {padding:10px; font-size:1.4rem;}

    #wrap.event .use_cases {height:728px; background:#fff; transform:skewY(-16deg);}
    #wrap.event .use_cases .tit {top:110px;}
    #wrap.event .use_cases .swiperBox .swiperCont {margin-top:-150px; padding:150px 0;}
    #wrap.event .use_cases .swiperBox .swiperCont .cont .tit {top:125px; left:0; width:100%; box-sizing:border-box; text-align:left; transform:none;}
    #wrap.event .use_cases .swiperBox .swiperCont .cont {display:block; width:100%; height:auto; padding:0 10px; box-sizing:border-box;}
    #wrap.event .use_cases .swiperBox .swiperCont .cont > * {display:block; float:none; text-align:center;}
    #wrap.event .use_cases .swiperBox .swiperCont .cont .imgBox {height:423px; margin:165px auto 0;}
    #wrap.event .use_cases .swiperBox .swiperCont .cont .txtBox {position:relative; width:300px; height:auto; margin:-100px auto 0; padding:20px; text-align:left; z-index:10;}
    #wrap.event .use_cases .swiperBox .swiperCont .cont .txtBox dt {font-size:1.29rem; letter-spacing:-0.72px;}
    #wrap.event .use_cases .swiperBox .swiperCont .cont .txtBox dt span {margin:0 0 0 2px; font-size:1.14rem; letter-spacing:0;}
    #wrap.event .use_cases .swiperBox .swiperCont .cont .txtBox dd {font-size:1rem;}
    #wrap.event .use_cases .cont .imgBox .btn_video_play {width:116px; height:116px;}
    #wrap.event .use_cases .cont .imgBox .btn_video_play:hover {background:url('../images/kiosk/ico_play.svg') 50% 50% no-repeat; background-size:contain;}

    .swiper-button-next, .swiper-button-prev {display:none;}
    /* .swiper-button-next, .swiper-button-prev {width:52px; height:52px;}
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next {top:240px; left:40px; background-size:auto 22px;}
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev {top:349px; right:40px; background-size:auto 22px;} */
    .pagination {bottom:35px; width:224px;}
    .pagination .swiper-pagination-bullet {width:40px; height:3px;}
    .pagination button.btn_pause {width:52px; height:52px; margin-top:-28px; background-size:auto 22px;}
    .pagination button.btn_play {width:52px; height:52px; margin-top:-28px; background-size:auto 22px;}

    #wrap.event .contact {min-height:757px; margin-top:-110px;}
    #wrap.event .contact .contWrap {position:static;}
    #wrap.event .contact .cont {display:block; padding:230px 20px 84px;}
    #wrap.event .contact .cont .txtArea .tit {padding:0;}
    #wrap.event .contact .cont .txtArea .desc {font-size:1rem; letter-spacing:-0.49px;}
    #wrap.event .contact .cont .contactform {overflow:hidden; margin:24px 0 0; padding:0;}
    #wrap.event .contact .cont .contactform dl dt {width:100%; font-size:1rem; line-height:40px;}
    #wrap.event .contact .cont .contactform dl dd {width:100%; line-height:40px;}
    #wrap.event .contact .cont .contactform dl dd input[type="text"],
    #wrap.event .contact .cont .contactform dl dd input[type="tel"] {height:40px; padding:0 16px;}
    #wrap.event .contact .cont .contactform dl dd .assentBox p {margin:0; font-size:0.86rem; word-break:keep-all;}
    #wrap.event .contact .cont .contactform button {float:left; width:122px; height:44px; margin:24px 0 0; font-size:14px;}
}

@media screen and (max-width:480px){
    .scroll_area .scroll_item:nth-child(2) .cont .imgBox .speechBox .speech_bubble p {padding:8px; font-size:0.8rem;}
}
