@charset "utf-8";
/* MINDsLab UX/UI Team. NBR. 20201104 */

/* main-Service Title Area */
.maumUI .svc_sta {display:block; position:relative; top:0; width:100%; transform:translate(0,0); transition:all 0.3s ease-out;}

/* main-visual영역 */
.maumUI .svc_sta .svc_visual {display:block; overflow:hidden; position:relative; width:100%; height:300px; text-align:center;}
.maumUI .svc_sta .svc_visual:before {content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(25,42,57,0.7); z-index:10;}
.maumUI .svc_sta .svc_visual h3 {display:inline-block; position:relative; margin:100px 0 0; color:#fff; font-size:40px; font-weight:500; line-height:59px; letter-spacing:-0.5px; z-index:20;}
.maumUI .svc_sta .svc_visual .bg_img {position:absolute; top:0; left:0; width:100%; transition:all 0.5s ease-out;}
.maumUI .svc_sta .svc_visual .bg_img img {width:100%;}

/* header-lnb */
.maumUI .svc_sta .lnb {display:block; clear:both; overflow:hidden; position:absolute;  bottom:0;  width:100%; min-height:56px; padding:0 35px; text-align:center; border-top:1px solid rgba(245,246,250,0.2); background:rgba(25,42,57,0.5); box-sizing:border-box; transition:all 0.3s ease-out; z-index:10;}
.maumUI .svc_sta .lnb h2 {display:none; float:left; height:33px; margin:10px 0 0 0; color:#121f3e; font-size:18px; font-weight:700; line-height:31px;}
.maumUI .svc_sta .lnb ul.nav {display:inline-block; margin:0;}
.maumUI .svc_sta .lnb ul.nav li {display:inline-block; margin:0;}
.maumUI .svc_sta .lnb ul.nav li a {display:block; position:relative; width:200px; height:100%; padding:0; color:rgba(255,255,255,0.7); font-size:16px; font-weight:400; text-align:center; line-height:55px; border-radius:0; transition:all 0.3s ease-out;}
.maumUI .svc_sta .lnb ul.nav li a:hover {color:rgba(255,255,255,1.0); background:rgba(255,255,255,0.15); transition:all 0.3s ease-out;}
.maumUI .svc_sta .lnb ul.nav li a.active {color:#fff; font-weight:700; background:rgba(255,255,255,0.15); }
.maumUI .svc_sta .lnb ul.nav li a.active:before {content:''; position:absolute; top:0; left:0; width:100%; height:3px; background:#fff;}

.maumUI .svc_sta .lnb ul.nav_etc {display:inline-block; margin:0;}
.maumUI .svc_sta .lnb ul.nav_etc li {display:inline-block; margin:0;}
.maumUI .svc_sta .lnb ul.nav_etc li a {display:block; position:relative; height:100%; color:rgba(255,255,255,0.7); font-size:16px; font-weight:400; border-radius:0; background:rgba(255,255,255,0); transition:all 0.3s ease-out;}
.maumUI .svc_sta .lnb ul.nav_etc li a:hover {color:rgba(255,255,255,0.7); background:rgba(255,255,255,0.15); transition:all 0.3s ease-out;}
.maumUI .svc_sta .lnb ul.nav_etc li a.btn_rou_pstive {padding:0 15px; line-height:55px; transition:all 0.3s ease-out;}

/* header-scroll transform */
.maumUI.transform #header .maum_sta {position:fixed; top:0; left:0; width:100%; height:40px; background:rgba(17,29,39,1.0); transition:all 0.3s ease-out; z-index:50;}
.maumUI.transform #header .maum_sta h1 {width:50px; margin:2px 0 0 20px; background:url("../images/logo_maumAi_w.svg") 50% 50% no-repeat; background-size:100% auto;}
.maumUI.transform #header .maum_sta .maum_gnb {margin:0 0 0 40px;}
.maumUI.transform #header .maum_sta .maum_gnb .nav li {margin:0 20px 0 0;}
/*.maumUI.transform #header .maum_sta .maum_gnb .nav li a {height:40px; color:#fff; font-size:12px; font-weight:500; line-height:38px;}*/

.maumUI.transform #header .maum_sta .maum_etc {margin:5px 20px 0 0;}
.maumUI.transform #header .maum_sta .maum_etc .nav>li {margin:0 0 0 10px;}
.maumUI.transform #header .maum_sta .maum_etc .nav>li>a {height:30px; color:#fff; font-size:12px;}
.maumUI.transform #header .maum_sta .maum_etc .nav>li>a.btn_ico {width:30px; background-size:16px 16px !important;}
.maumUI.transform #header .maum_sta .maum_etc .nav>li.active>a.btn_ico {background-color:rgba(255,255,255,0.1) !important;}
.maumUI.transform #header .maum_sta .maum_etc .nav>li>a.btn_ico.user {background:url("../images/ico_user_w.svg") 50% 50% no-repeat;}
.maumUI.transform #header .maum_sta .maum_etc .nav>li>a.btn_ico.lang {background:url("../images/ico_lang_w.svg") 50% 50% no-repeat;}
.maumUI.transform #header .maum_sta .maum_etc .nav>li>a.btn_ico.app {background:url("../images/ico_app_w.svg") 50% 50% no-repeat;}
.maumUI.transform #header .maum_sta .maum_etc .nav>li>a.btn_ico.mindsLab {background:url("../images/ico_mindsLab_w.svg") 50% 50% no-repeat}

.maumUI.transform.trans #header .svc_sta {position:fixed; top:40px; width:100%; height:55px; transform:translate(0,0); transition:all 0.3s ease-out;}
.maumUI.transform.trans #header .svc_sta .svc_visual{position:absolute; top:-300px;}
.maumUI.transform.trans #header .svc_sta .lnb {min-width:1280px; background:#fff; box-shadow:0 0 12px rgba(25,42,57,0.25);}
.maumUI.transform.trans #header .svc_sta .lnb h2 {display:inline-block; position:absolute; left:35px;}
.maumUI.transform.trans #header .svc_sta .lnb h2 a {display:block; margin:0; color:#121f3e; font-size:18px; font-weight:700; line-height:31px; transition:all 0.3s ease-out;}
.maumUI.transform.trans #header .svc_sta .lnb h2 a:hover {color:#3599ff; transition:all 0.3s ease-out;}
.maumUI.transform.trans #header .svc_sta .lnb a {width:auto; margin:0 15px; color:#5b6875; font-size:14px;}
.maumUI.transform.trans #header .svc_sta .lnb a:hover {color:#121f3e;}
.maumUI.transform.trans #header .svc_sta .lnb a.active {color:#3599ff; font-weight:400;}
.maumUI.transform.trans #header .svc_sta .lnb a.active:before {top:auto; bottom:0; background:#3599ff;}
.maumUI.transform.trans #header .svc_sta .lnb ul.nav_etc {float:right; margin:10px 0 0 0;}
.maumUI.transform.trans #header .svc_sta .lnb ul.nav_etc a {height:36px; margin:0 0 0 20px; padding:0 15px; color:#fff; font-size:13px; line-height:34px; border-radius:4px; background:#3599ff;}

/* container */
.maumUI #container {display:table; width:100%; min-width:1280px; height:calc(100% - 95px); padding:0; background:#fff;}
.maumUI #container.view {padding:95px 0 0 0;}

/* content-div[common] */
.maumUI #container .content > div {display:block; position:relative; width:100%; padding:50px 0 60px; text-align:center;}
.maumUI #container .content > div > dl > dt {color:#192a39; font-size:20px; font-weight:700;}

/* main-서비스설명 */
.svc_disb {background:#f5f6fa;}
.svc_disb .disbBox {display:inline-block; position:relative; color:#121f3e;}
.svc_disb .disbBox p {display:block; font-size:16px; line-height:24px; letter-spacing:-0.2px;}
.svc_disb .disbBox p span {font-weight:500;}
.svc_disb .disbBox .svc_card_list {display:block; color:#5b6875; font-size:17px; line-height:28px;}
.svc_disb .disbBox .svc_card_list {margin:30px 0;}
.svc_disb .disbBox .svc_card_list li {display:inline-block; position:relative; width:300px; height:210px; margin:0 35px; padding:20px 35px 23px; border:1px solid #b0bed5; border-radius:5px; box-sizing:border-box; background:#fff;}
.svc_disb .disbBox .svc_card_list li + li:before {content:'\f067'; font-family:'Font Awesome 5 Free'; color:#192a39; font-size:20px; font-weight:900; position:absolute; top:50%; left:-48px; width:20px; transform:translate(0, -50%);}
.svc_disb .disbBox .svc_card_list li dt {margin:0 0 2px; color:#192a39; font-size:15px; font-weight:500; line-height:22px; letter-spacing:-0.2px;}
.svc_disb .disbBox .svc_card_list li dd {height:calc(100% - 24px); color:rgba(25, 42, 57, 0.7); font-size:14px; letter-spacing:-0.2px; line-height:20px;}
.svc_disb .disbBox .svc_card_list li:nth-child(1) dd {background:url(../images/img_edge_svc01.png) 50% 100% no-repeat; background-size:100%;}
.svc_disb .disbBox .svc_card_list li:nth-child(2) dd {background:url(../images/img_edge_svc02.png) 50% 100% no-repeat; background-size:100%;}
.svc_disb small {color:#192a39; font-size:13px; letter-spacing:-0.2px; opacity:0.8;}

/* main-디바이스 견적요청 */
.bg_whiteBox {background:#fff;}
.bg_whiteBox .dvc_card_list {margin:30px 0;}
.bg_whiteBox .dvc_card_list > li {display:inline-block; width:270px; height:215px; margin:0 17px; border:1px solid #b0bed5; border-radius:3px; box-sizing:border-box; background:#fff; vertical-align:middle; transition:all 0.3s ease-out;}
.bg_whiteBox .dvc_card_list > li:hover {border-color:#468afa;}
.bg_whiteBox .dvc_card_list > li .tit {display:block; margin:10px 0 0; color:#192a39; font-size:15px; font-weight:700; line-height:22px; letter-spacing:-0.2px;}
.bg_whiteBox .dvc_card_list > li .dvc_detail {position:relative; width:100%; height:calc(100% - 32px); margin:0;}
.bg_whiteBox .dvc_card_list > li:nth-child(1) .dvc_detail {background:url('../images/img_device01.png') 50% 15px no-repeat; background-size:auto 105px;}
.bg_whiteBox .dvc_card_list > li:nth-child(2) .dvc_detail {background:url('../images/img_device02.png') 50% 15px no-repeat; background-size:auto 105px;;}
.bg_whiteBox .dvc_card_list > li:nth-child(3) .dvc_detail {background:url('../images/img_device03.png') 50% 15px no-repeat; background-size:auto 105px;;}
.bg_whiteBox .dvc_card_list > li .dvc_detail .specify_list {display:none; position:absolute; top:50%; left:50%; min-width:170px; padding:10px; border:1px solid #b0bed5; border-radius:3px; box-sizing:border-box; background:rgba(255, 255, 255, 0.8); text-align:left; z-index:5; transition:border 0.2s ease-out;}
.bg_whiteBox .dvc_card_list > li .radioBox {display:block; width:100%; height:100%; margin:0;}
.bg_whiteBox .dvc_card_list > li .radioBox:before {content:''; display:inline-block; position:absolute; bottom:40px; width:100%; border-top:1px solid #b0bed5;}
.bg_whiteBox .dvc_card_list > li .radioBox input[type="radio"] + label {display:inline-block; width:100%; height:100%; padding:0; color:#192a39; font-size:14px; font-weight:500; line-height:40px; transition:all 0.3s ease-out;}
.bg_whiteBox .dvc_card_list > li .radioBox input[type="radio"] + label:before {top:auto; left:50%; bottom:10px; width:18px; height:18px; margin:-10px 0 0; border:1px solid #b0bed5; background:#fff; transform: translate(-50%, 0); transition:all 0.3s ease-out;}
.bg_whiteBox .dvc_card_list > li .radioBox input[type="radio"] + label:after {transition:all 0.3s ease-out;}
.bg_whiteBox .dvc_card_list > li .radioBox input[type="radio"]:checked + label:before {border:1px solid #468afa;}
.bg_whiteBox .dvc_card_list > li .radioBox input[type="radio"]:checked + label:after {top:auto; left:50%; bottom:15px; width:10px; height:10px; margin:-5px 0 0; background:#468afa; transform: translate(-50%, 0);}
.bg_whiteBox .dvc_card_list > li .radioBox input[type="radio"] + label img {display:inline-block; position:absolute; top:-140px; left:-50px; height:105px;}

/* main-cloud */
.svc_disb .disbBox > dl > dt {color:#192a39; font-size:20px; font-weight:700; letter-spacing:-0.2px;}
.svc_disb .disbBox > dl > dd {overflow:hidden; margin:30px 0 40px; padding:0 0 0 48px;}
.svc_disb .disbBox dd > ul {display:inline-block;}
.svc_disb .disbBox dd .img {display:inline-block; width:285px; margin:45px 40px 0; vertical-align:top;}
.svc_disb .disbBox dd .cloud_list > li {width:356px; height:110px; text-align:left;}
.svc_disb .disbBox dd .cloud_list > li + li {margin:30px 0 0;}
.svc_disb .disbBox dd .cloud_list > li .ico {display:inline-block; width:90px; height:90px; border:1px solid #b0bed5; border-radius:50%; vertical-align:top;}
.svc_disb .disbBox dd .cloud_list.fl > li {width:308px; padding:0 0 0 8px;}
.svc_disb .disbBox dd .cloud_list.fl > li .ico {float:right; margin:0 0 0 20px;}
.svc_disb .disbBox dd .cloud_list.fr > li .ico {margin:0 28px 0 0;}
.svc_disb .disbBox dd .cloud_list.fl li:nth-child(1) .ico {background:#fff url('../images/ico_edgeCloud01.svg') 50% 50% no-repeat;}
.svc_disb .disbBox dd .cloud_list.fl li:nth-child(2) .ico {background:#fff url('../images/ico_edgeCloud02.svg') 50% 50% no-repeat;}
.svc_disb .disbBox dd .cloud_list.fl li:nth-child(3) .ico {background:#fff url('../images/ico_edgeCloud03.svg') 50% 50% no-repeat;}
.svc_disb .disbBox dd .cloud_list.fr li:nth-child(1) .ico {background:#fff url('../images/ico_edgeCloud04.svg') 50% 50% no-repeat;}
.svc_disb .disbBox dd .cloud_list.fr li:nth-child(2) .ico {background:#fff url('../images/ico_edgeCloud05.svg') 50% 50% no-repeat;}
.svc_disb .disbBox dd .cloud_list.fr li:nth-child(3) .ico {background:#fff url('../images/ico_edgeCloud06.svg') 50% 50% no-repeat;}
.svc_disb .disbBox dd .cloud_list li dl {display:inline-block;}
.svc_disb .disbBox dd .cloud_list li dl dt {margin:0 0 10px -8px; color:#192a39; font-size:15px; font-weight:700; line-height:22px;}
.svc_disb .disbBox dd .cloud_list li dl dd li {position:relative; color:#697992; font-size:14px; font-weight:500; line-height:20px; letter-spacing:-0.2px;}
.svc_disb .disbBox dd .cloud_list li dl dd li:before {content:'\2023'; display:inline-block; position:absolute; top:-2px; left:-8px; font-size:20px;}

/* main-고객사례 */
.bg_navyBox {background:#1f2e3b;}
.bg_navyBox dt {color:#fff !important;}
.bg_navyBox .svc_case_list li {display:inline-block; margin:0 30px;}
.bg_navyBox .svc_case_list li .tit {display:block; margin:40px 0 26px; color:#fff; font-size:15px; font-weight:500; line-height:22px; letter-spacing:-0.2px;}
.bg_navyBox .svc_case_list li .img {display:inline-block; position:relative; width:230px; height:230px; border-radius:50%; transition:all 0.3s ease-out;}
.bg_navyBox .svc_case_list li:nth-child(1) .img {background:url('../images/img_svc_case01.png') 50% 50% no-repeat;}
.bg_navyBox .svc_case_list li:nth-child(2) .img {background:url('../images/img_svc_case02.png') 50% 50% no-repeat;}
.bg_navyBox .svc_case_list li:nth-child(3) .img {background:url('../images/img_svc_case03.png') 50% 50% no-repeat;}
.bg_navyBox .svc_case_list li:nth-child(1) .img:hover {background:url('../images/img_svc_case01_over.png') 50% 50% no-repeat;}
.bg_navyBox .svc_case_list li:nth-child(2) .img:hover {background:url('../images/img_svc_case02_over.png') 50% 50% no-repeat;}
.bg_navyBox .svc_case_list li:nth-child(3) .img:hover {background:url('../images/img_svc_case03_over.png') 50% 50% no-repeat;}
.bg_navyBox .svc_case_list li .img span {display:inline-block; position:absolute; bottom:0; left:50%; color:#fff; font-size:14px; line-height:50px; letter-spacing:-0.2px; transform:translate(-50%, 0);}
.bg_navyBox .svc_case_list li .img em {margin:0 0 0 5px;}

/* main-문의하기 */
#stn_info .disbBox {left:175px;}
.svc_disb .disbBox > div {display:inline-block; margin:0 30px; text-align:left; vertical-align:middle;}
.svc_disb .disbBox .img {width:190px;}
.svc_disb .disbBox .img img {width:100%;}
.svc_disb .disbBox .txt span {color:#192a39; font-size:20px; font-weight:700; letter-spacing:-0.2px;}
.svc_disb .disbBox .txt p {margin:20px 0 14px; color:#192a39; font-size:15px; letter-spacing:-0.2px;}

/* button */
.btnBox a {padding:8px 57px; border:1px solid #468afa; background:#468afa; color:#fff; font-size:17px; font-weight:500; letter-spacing:-0.2px;}

/* layerpopup */
#lyr_inquiry_estimate {width:318px; box-sizing:border-box; background:#fff;}
#lyr_inquiry_estimate .lyrBox {background:#fff;}
#lyr_inquiry_estimate .estimate_tit {padding:20px 40px; background:#f5f6fa;}
#lyr_inquiry_estimate .estimate_tit h3 {margin:0 0 16px; text-align:center;}
#lyr_inquiry_estimate .estimate_dvc {padding:15px; border:1px solid #468afa; border-radius:3px; background:#fff; text-align:center;}
#lyr_inquiry_estimate .estimate_dvc span {display:block; margin:0 0 10px; color:#192a39; font-size:14px; font-weight:500; letter-spacing:-0.2px;}
#lyr_inquiry_estimate .estimate_dvc img {height:60px;}
#lyr_inquiry_estimate .estimate_form {padding:20px 40px;}
#lyr_inquiry_estimate .estimate_form .contact_item + .contact_item {margin:10px 0 0;}
#lyr_inquiry_estimate .estimate_form .contact_item span {display:inline-block; width:50px; color:#192a39; font-size:14px; line-height:30px; letter-spacing:-0.2px;}
#lyr_inquiry_estimate .estimate_form .ipt_txt {width:calc(100% - 65px); height:30px; padding:0 5px; border:1px solid #d2dae7; border-radius:2px; background:#f5f6fa; transition:all 0.3s ease-out; vertical-align:top;}
#lyr_inquiry_estimate .estimate_form textarea.ipt_txt {height:80px; padding:5px;}
#lyr_inquiry_estimate .estimate_form .ipt_txt:focus {border:1px solid #468afa;}
#lyr_inquiry_estimate .estimate_btn {margin:0 0 30px; text-align:center;}
#lyr_inquiry_estimate .estimate_btn .btn_estimate {padding:7px 25px; border:1px solid #468afa; border-radius:3px; background:#468afa; color:#fff; font-size:13px; font-weight:500; letter-spacing:-0.2px;}
#lyr_inquiry_estimate .estimate_btn .btn_lyr_close {overflow:hidden; position:absolute; top:5px; right:10px; margin:0; text-indent:-99px; border:none; background:none; transition:all 0.3s ease-out;}
#lyr_inquiry_estimate .estimate_btn .btn_lyr_close:before {content:'\f00d'; display:inline-block; position:absolute; top:5px; left:5px; width:20px; height:20px; font-family:'Font Awesome 5 Free'; color:#697992; font-size:13px; font-weight:900; text-indent:0;}

/* footer */
#footer  {position:relative;}
.stn_inquiry .cont_box .inquiry_box input, .stn_inquiry .cont_box .inquiry_box textarea {height:30px;border:none; border-bottom:1px solid #b6c5d1;}
#footer .stn_inquiry .cont_box .info_box p a.co_link {color:#b6c5d1;}
