@charset "utf-8";
/* MINDsLab UX/UI. NBR. 20210915 */

/* ---------------------------------------- reset ---------------------------------------- */
html,body {font-size:16px; line-height:normal;}
body > * {font-family:'Noto Sans KR','Malgun Gothic','맑은 고딕','Apple SD Gothic Neo','돋움','dotum', sans-serif;}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, legend, em, span {font-family:'Noto Sans KR','Malgun Gothic','맑은 고딕','Apple SD Gothic Neo','돋움','dotum', sans-serif; letter-spacing:-0.6px;}


/* ---------------------------------------- common ---------------------------------------- */
/* pc, mobile */
.mobile {display:none;}

/* hide */
.text_hide {overflow:hidden; font-size:0; line-height:0; text-indent:-999px;}

/* float */
.fl {float:left;}
.fr {float:right;}

/* layer */
.lyr_bg_dim {position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0, 0, 0, 0.5); z-index:999;}
.lyrPlayBox {display:none; position:fixed; top:50%; left:50%; width:1000px; min-height:150px; border-radius:3px; box-shadow:0 1px 4px 0 rgba(44, 63, 81, 0.1); transform:translate(-50%, -50%); z-index:9999;}
#lyr_video_player {display:block;}
#lyr_video_player .lyr_ct {position:relative; width:1000px; padding-bottom:56.25%;}
#lyr_video_player .lyr_ct iframe {position:absolute; top:0; left:0; width:100%; height:100%;}
#lyr_video_player .btn_lyr_close {display:inline-block; position:absolute; top:-40px; right:0; width:40px; height:40px;}
#lyr_video_player .btn_lyr_close .html_code {display:block; height:100%; color:#fff; font-size:56px; line-height:28px;}

/* button */
.btnBox {overflow:inherit;}
.btnBox .btn_primary {margin:0; padding:0; border:none; border-radius:4px; box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.15); background:none; color:#fff; font-size:18px; font-weight:500;}


/* ---------------------------------------- layout ---------------------------------------- */
#wrap {min-width:1240px;}
#container {width:100%;}
.stn {padding:80px 0; text-align:center;}
.content {display:inline-block; position:relative; width:1240px; padding:0 20px; box-sizing:border-box; text-align:left;}


/* ---------------------------------------- event banner ---------------------------------------- */
.top_banner_area {position:relative; min-width:1240px; width:100%; height:50px; background:#2a3153; text-align:center; z-index:2000;}
.top_banner_area .banner_inner {display:flex; justify-content:center; align-items:center; height:100%;}
.top_banner_area .banner_inner img {height:100%;}
.top_banner_area .banner_inner .text_box {display:inline-block; font-size:16px; letter-spacing:-0.5px;}
.top_banner_area .banner_inner .text_box span:nth-child(1) {margin:0 9px 0 29px; color:#fff;}
.top_banner_area .banner_inner .text_box span:nth-child(2) {color:#9ca8ff; font-weight:500;}
.top_banner_area .banner_inner .btn_go_event {display:inline-block; margin:0 117px 0 29px; padding:0 30px; border-radius:21px; box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.15); background:#5b6ae2;}
.top_banner_area .banner_inner .btn_go_event span {color:#fff; font-size:13px; font-weight:500; line-height:32px;}
.top_banner_area .banner_inner .btn_banner_close {width:20px; height:20px; background:url('../images/landing/ico_x_wh_opacity.svg') 50% 50% no-repeat; background-size:20px;}
.top_banner_area .banner_inner .btn_banner_close span {color:rgba(255, 255, 255, 0.8); font-size:14px; letter-spacing:-0.35px;}
.maumUI.visual_header.transform .top_banner_area {position:fixed; top:0; left:0; z-index:2000;}


/* ---------------------------------------- main page content ---------------------------------------- */
/* stn - common */
.stn:not(.visual) + .stn {border-top:1px dotted #b6c5d1;}

.titArea {width:calc(50% - 40px); height:410px;}
.titArea.fl {text-align:left;}
.titArea.fr {text-align:right;}
.titArea .main_tit {font-family:'Roboto', sans-serif; font-size:80px; font-weight:900; letter-spacing:-1.14px; line-height:1;}
.titArea .main_tit span {font-size:64px; font-weight:700; letter-spacing:-0.91px;}
.titArea .sub_tit {margin:17px 0 10px; color:#1f2e3b; font-size:24px; font-weight:500; letter-spacing:-0.62px; line-height:1;}
.titArea .desc {color:rgba(51, 59, 96, 0.7); font-size:20px; letter-spacing:-0.51px; line-height:1.2; word-break:keep-all;}
.titArea .btnBox {margin:20px 0 0;}
.titArea .btnBox .btn_primary {width:150px; background:#333b60; line-height:56px;}
.titArea .btnBox .btn_primary + .btn_primary {margin:0 0 0 10px;}

.figureArea {width:50%;}
.figureArea .figureBox {display:flex; flex-wrap:wrap; justify-content:space-between;}
.figureArea .figureBox .item {display:flex; flex-direction:column; justify-content:center; position:relative; width:100%; height:120px; padding:20px; border-radius:8px; box-sizing:border-box; text-align:center;}
.figureArea .figureBox .item.dual {width:calc(50% - 8px);}
.figureArea .figureBox .item:not(:last-child) {margin:0 0 25px;}
.figureArea .figureBox .item dt {margin:0 0 8px; color:#1f2e3b; font-size:22px; font-weight:700; letter-spacing:-0.4px; line-height:1;}
.figureArea .figureBox .item dd {margin:8px 0 0;}
.figureArea .figureBox .item dd span {display:inline-block; color:#172638; font-size:18px; font-weight:500; letter-spacing:-0.32px; line-height:16px;}
.figureArea .figureBox .item dd .figure {margin:0 4px; font-family:'Roboto', 'Noto Sans KR', sans-serif; font-size:38px; font-weight:900; letter-spacing:-0.68px; line-height:1;}

/* stn - visual */
.stn.visual {position:relative; height:700px; padding:70px 0 0 0; box-sizing:border-box; background:linear-gradient(to bottom, #1B202E -29%, #323544 127%);}
.stn.visual .content {position:relative; height:100%; z-index:10;}
.stn.visual .content .logo {padding:30px 0 0; line-height:0;}
.stn.visual .content .svc_txt {position:absolute; top:calc(50% - 34px); transform:translate(0, -50%);}
.stn.visual .content .svc_txt .topBox .main_tit {color:#c1cff5; font-family:'Roboto', sans-serif; font-size:75px; font-weight:900; letter-spacing:46px; line-height:1; text-transform:uppercase;}
.stn.visual .content .svc_txt .topBox .sub_tit {margin:16px 0 45px; color:#8b97af; font-family:'Roboto', sans-serif; font-size:18.5px; font-weight:300; letter-spacing:14.1px; line-height:1; text-transform:uppercase;}
.stn.visual .content .svc_txt .btmBox .main_desc {color:#e4eef7; font-size:28px; font-weight:500; letter-spacing:-0.37px; line-height:1;}
.stn.visual .content .svc_txt .btmBox .sub_desc {margin:14px 0 30px; color:rgba(228, 238, 247, 0.8); font-size:16px; letter-spacing:-0.21px;}
.stn.visual .content .svc_txt .btmBox .btnBox {overflow:inherit;}
.stn.visual .content .svc_txt .btmBox .btnBox .btn_primary {width:190px; margin:0 12px 0 0; font-size:20px; line-height:60px;}
.stn.visual .content .svc_txt .btmBox .btnBox .btn_primary:nth-child(1) {background:#5678db;}
.stn.visual .content .svc_txt .btmBox .btnBox .btn_primary:nth-child(2) {background:#fff; color:#5678db;}
.stn.visual .videoBox {overflow:hidden; position:absolute; top:0; left:0; width:100%; height:100%;}
.stn.visual .videoBox video {display:block; position:absolute; top:50%; left:50%; width:100%; transform:translate(-50%, -50%);}

/* stn - AICC */
.stn.aicc .content .titArea {position:relative; width:calc(50% + 14px); background:url('../images/landing/img_aicc_titArea.png') right 0 bottom 0 no-repeat; background-size:367px auto; z-index:50;}
.stn.aicc .content .titArea .main_tit {color:#7d71d1;}
.stn.aicc .content .titArea .btnBox .btn_primary.point_color {background-color:#7d71d1; color:#fff;}
.stn.aicc .content .figureArea {position:absolute; top:0; right:0;}
.stn.aicc .content .figureArea .figureBox .item {background:rgba(241, 241, 252, 0.9);}
.stn.aicc .content .figureArea .figureBox .item dd .figure {color:#7d71d1;}
.stn.aicc .content .figureArea .figureBox .item:nth-child(1) {background-image:url('../images/landing/img_aicc_fgr01.svg'); background-position:right 0 bottom 0; background-repeat:no-repeat;}
.stn.aicc .content .figureArea .figureBox .item:nth-child(2) {background-image:url('../images/landing/img_aicc_fgr02.svg'); background-position:right 0 bottom 0; background-repeat:no-repeat;}
.stn.aicc .content .figureArea .figureBox .item:nth-child(3) {background-image:url('../images/landing/img_aicc_fgr03.svg'); background-position:bottom 0 left 19px; background-repeat:no-repeat;}
.stn.aicc .content .figureArea .figureBox .item:nth-child(3) dd {margin:0;}
.stn.aicc .content .figureArea .figureBox .item:nth-child(3) dd > div {display:inline-block; margin:8px 0 0; padding:0 25px;}
.stn.aicc .content .figureArea .figureBox .item:nth-child(3) dd > div + div {border-left:1px dotted rgba(31, 46, 59, 0.3);}
.stn.aicc .content .figureArea .figureBox .item:nth-child(3) dd .figure {font-weight:700;}
.stn.aicc .content .figureArea .figureBox .item:nth-child(3) dd img {margin:0 8px 0 0; vertical-align:bottom;}
.stn.aicc .content .figureArea .figureBox .item:nth-child(4) {background-image:url('../images/landing/img_aicc_fgr04.svg'); background-position:right 21px bottom 0; background-repeat:no-repeat;}

/* stn - smart X */
.stn.smartX .content .titArea {background:url('../images/landing/img_smartX_titArea.png') bottom -3px left 0 no-repeat; background-size:464px auto;}
.stn.smartX .content .titArea .main_tit {color:#2cace5;}
.stn.smartX .content .titArea .btnBox .btn_primary.point_color {background:#2cace5; color:#fff;}
.stn.smartX .content .figureArea .figureBox .item {background:rgba(44, 172, 229, 0.1); text-align:left;}
.stn.smartX .content .figureArea .figureBox .item dd span {font-size:14px; letter-spacing:-0.25px;}
.stn.smartX .content .figureArea .figureBox .item dd {margin:11px 0 0;}
.stn.smartX .content .figureArea .figureBox .item dd .figure {color:#2cace5; font-size:34px; font-weight:700;}
.stn.smartX .content .figureArea .figureBox .item dd img {position:absolute;}
.stn.smartX .content .figureArea .figureBox .item:nth-child(1) dd img {right:10px; bottom:-8px;}
.stn.smartX .content .figureArea .figureBox .item:nth-child(2) dd img {top:-21px; right:22px;}
.stn.smartX .content .figureArea .figureBox .item:nth-child(3) {padding:0 95px; text-align:right;}
.stn.smartX .content .figureArea .figureBox .item:nth-child(3) dd img {top:11px; left:69px;}
.stn.smartX .content .figureArea .figureBox .item:nth-child(4) {padding:0 45px;}
.stn.smartX .content .figureArea .figureBox .item:nth-child(4) dd img {top:18px; right:102px;}
.stn.smartX .content .figureArea .figureBox .item:not(:nth-child(3)) dt {margin:0;}
.stn.smartX .content .figureArea .figureBox .item:not(:nth-child(3)) dd span:nth-child(1) {display:block; margin:0 0 3px;}
.stn.smartX .content .figureArea .figureBox .item:not(:nth-child(3)) dd .figure {margin:0 4px 0 0;}

/* stn - maum minutes */
.stn.minutes .content .titArea {background:url('../images/landing/img_minutes_titArea.png') right 0 bottom 0 no-repeat; background-size:349px auto;}
.stn.minutes .content .titArea .main_tit {color:#27b9ba;}
.stn.minutes .content .titArea .btnBox .btn_primary.point_color {background:#27b9ba; color:#fff;}
.stn.minutes .content .figureArea .figureBox .item {background:rgba(39, 185, 186, 0.1);}
.stn.minutes .content .figureArea .figureBox .item dt {font-size:30px; letter-spacing:-0.54px; line-height:40px;}
.stn.minutes .content .figureArea .figureBox .item dd .figure {color:#27b9ba;}
.stn.minutes .content .figureArea .figureBox .item:nth-child(1) {height:218px; background-image:url('../images/landing/img_minutes_fgr01.svg'); background-position:50% 50%; background-repeat:no-repeat;}
.stn.minutes .content .figureArea .figureBox .item:nth-child(2) {height:218px; background-image:url('../images/landing/img_minutes_fgr02.svg'); background-position:50% 50%; background-repeat:no-repeat;}
.stn.minutes .content .figureArea .figureBox .item:nth-child(3) {height:167px; background-image:url('../images/landing/img_minutes_fgr03.svg'); background-position:bottom 0 left 0; background-repeat:no-repeat;}
.stn.minutes .content .figureArea .figureBox .item:not(:nth-child(3)) {justify-content:space-around;}
.stn.minutes .content .figureArea .figureBox .item:not(:nth-child(3)) dt {text-align:left;}
.stn.minutes .content .figureArea .figureBox .item:not(:nth-child(3)) dd {text-align:right;}
.stn.minutes .content .figureArea .figureBox .item:not(:nth-child(3)) dd .figure {margin:0 0 0 4px;}
.stn.minutes .content .figureArea .figureBox .item:not(:nth-child(3)) dd span:last-child {display:block; margin:4px 0 0;}

/* stn - Cloud API */
.stn.cloudApi .content .titArea {background:url('../images/landing/img_cloudApi_titArea.png') bottom 0 left 0 no-repeat; background-size:303px auto;}
.stn.cloudApi .content .titArea .main_tit {color:#fb8f23;}
.stn.cloudApi .content .titArea .btnBox .btn_primary.point_color {background:#fb8f23; color:#fff;}
.stn.cloudApi .content .figureArea .figureBox .item {background:rgba(251, 143, 35, 0.1);}
.stn.cloudApi .content .figureArea .figureBox .item dd .figure {color:#fb8f23;}
.stn.cloudApi .content .figureArea .figureBox .item:nth-child(1) dd {margin:16px 0 0;}
.stn.cloudApi .content .figureArea .figureBox .item:nth-child(2) dd {margin:0;}
.stn.cloudApi .content .figureArea .figureBox .item:nth-child(2) dd span:nth-child(1) {display:block; margin:0 0 8px; font-size:15px; letter-spacing:-0.29px;}
.stn.cloudApi .content .figureArea .figureBox .item:nth-child(2) dd .figure {font-weight:700;}
.stn.cloudApi .content .figureArea .figureBox .item:nth-child(5) {padding:0 40px; background-image:url('../images/landing/img_cloudApi_fgr05.svg'); background-position:top 50% left 40px; background-repeat:no-repeat; text-align:right;}

/* stn - maum DATA */
.stn.maumData .content .titArea {background:url('../images/landing/img_maumData_titArea.png') right 0 bottom 6px no-repeat; background-size:343px auto;}
.stn.maumData .content .titArea .main_tit {color:#506df5;}
.stn.maumData .content .titArea .btnBox .btn_primary.point_color {background:#506df5; color:#fff;}
.stn.maumData .content .figureArea .figureBox .item {height:218px; background:rgba(80, 109, 245, 0.1);}
.stn.maumData .content .figureArea .figureBox .item dt {font-size:30px; letter-spacing:-0.54px; line-height:40px; text-align:left;}
.stn.maumData .content .figureArea .figureBox .item dd {text-align:right;}
.stn.maumData .content .figureArea .figureBox .item dd .figure {color:#506df5;}
.stn.maumData .content .figureArea .figureBox .item:nth-child(3) {height:167px; padding:0 30px; background-image:url('../images/landing/img_maumData_fgr03.png'); background-position:bottom 0 left 30px; background-repeat:no-repeat; background-size:258px auto; text-align:right;}
.stn.maumData .content .figureArea .figureBox .item:nth-child(3) dt {text-align:right;}
.stn.maumData .content .figureArea .figureBox .item:not(:nth-child(3)) {justify-content:space-around;}
.stn.maumData .content .figureArea .figureBox .item:not(:nth-child(3)) dd .figure {margin:0 0 0 4px;}
.stn.maumData .content .figureArea .figureBox .item:not(:nth-child(3)) dd span:last-child {display:block; margin:4px 0 0;}

/* media query */
@media screen and (max-width:1920px) {
    .stn.visual .videoBox video {width:auto;}
}

@media screen and (max-width:768px) {
    /*
    10px - 0.6rem
    11px - 0.7rem
    12px - 0.75rem
    13px - 0.825rem
    14px - 0.875rem
    15px - 0.95rem
    16px - 1rem
    17px - 1.05rem
    20px - 1.25rem
    21px - 1.325rem
    22px - 1.375rem
    24px - 1.5rem
    30px - 1.875rem
    36px - 2.25rem
    */

    /* -------------------- layout -------------------- */
    #wrap {min-width:320px; width:auto;}
    #container {overflow:hidden;}
    .stn {padding:30px 0;}
    .content {width:100%; padding:0 16px;}

    /* -------------------- common -------------------- */
    /* font size */
    html,body {font-size:1rem;}

    /* pc, mobile */
    .pc {display:none;}
    .mobile {display:block;}

    /* button */
    .btn_primary {font-size:1rem; border-radius:26px;}
    .btn_primary.small {font-size:0.75rem; border-radius:22px;}
    .btn_primary.large {font-size:1.25rem; border-radius:30px;}

    /* layer */
    #lyr_video_player.lyrPlayBox {width:calc(100% - 40px);}
    #lyr_video_player .lyr_ct {width:100%;}

    /* -------------------- event banner -------------------- */
    .top_banner_area {min-width:320px; width:100%; height:50px;}
    .top_banner_area .banner_inner {width:auto;}
    .top_banner_area .banner_inner .text_box {line-height:14px;}
    .top_banner_area .banner_inner .text_box span:nth-child(1) {display:none;}
    .top_banner_area .banner_inner .text_box span:nth-child(2) {margin:0 0 0 9px; color:#fff; font-size:13px; letter-spacing:-0.19px; vertical-align:middle;}
    .top_banner_area .banner_inner .text_box span em {color:#a7b1ff; vertical-align:bottom;}
    .top_banner_area .banner_inner .btn_go_event {position:absolute; top:0; left:0; width:100%; height:100%; margin:0; padding:0; box-shadow:none; background:none; color:transparent;}
    .top_banner_area .banner_inner .btn_go_event span {display:none;}
    .top_banner_area .banner_inner .btn_banner_close {position:relative; width:40px; height:40px; margin:0 0 0 7px; padding:0; background-position:50% 50%; background-size:14px; z-index:2100;}
    .top_banner_area .banner_inner .btn_banner_close span {display:none;}

    /* -------------------- main page content -------------------- */
    /* stn - common */
    .titArea, .figureArea {float:none; width:100%; height:auto; background:none !important; text-align:left !important;}
    .titArea .main_tit {font-size:60px; letter-spacing:-0.86px;}
    .titArea .main_tit span {margin-left:-4px; font-size:40px; letter-spacing:-0.57px;}
    .titArea .sub_tit {margin:10px 0;}
    .titArea .desc {font-size:16px; letter-spacing:-0.41px;}
    .titArea .btnBox {margin:10px 0 20px;}
    .titArea .btnBox .btn_primary {width:138px; font-size:14px; line-height:40px;}
    .titArea .btnBox .btn_primary + .btn_primary {margin:0 0 0 8px;}

    .figureArea .figureBox .item {height:96px !important; padding:20px 0;}
    .figureArea .figureBox .item.dual {width:100%;}
    .figureArea .figureBox .item dt {font-size:16px; letter-spacing:-0.29px;}
    .figureArea .figureBox .item dd .figure {font-size:30px; letter-spacing:-0.54px;}
    .figureArea .figureBox .item dd span {font-size:15px; letter-spacing:-0.27px;}

    /* stn - visual */
    .stn.visual {height:592px; padding:0;}
    .stn.visual .content {width:100%;}
    .stn.visual .content .svc_txt {position:static; text-align:center; transform:none;}
    .stn.visual .content .svc_txt .topBox {margin:75px 0 0;}
    .stn.visual .content .svc_txt .topBox .main_tit {color:#fff; font-size:37.5px; letter-spacing:12px;}
    .stn.visual .content .svc_txt .topBox .sub_tit {margin:7px 0 0; color:#fff; font-size:10px; letter-spacing:4px;}
    .stn.visual .content .svc_txt .btmBox {position:absolute; bottom:0; left:0; width:100%; padding:30px 16px 40px; box-sizing:border-box; background:rgba(23, 26, 34, 0.4); text-align:left;}
    .stn.visual .content .svc_txt .btmBox .main_desc {color:#fff; font-size:16px; letter-spacing:-0.21px; line-height:1.38;}
    .stn.visual .content .svc_txt .btmBox .sub_desc {margin:10px 0 14px; color:#fff; font-size:0.875rem; letter-spacing:-0.19px; word-break:keep-all;}
    .stn.visual .content .svc_txt .btmBox .btnBox {text-align:center;}
    .stn.visual .content .svc_txt .btmBox .btnBox .btn_primary {width:138px; margin:0 8px 0 0; font-size:0.875rem; line-height:40px;}
    .stn.visual .content .svc_txt .btmBox .btnBox .btn_primary:nth-child(2) {margin:0;}
    .stn.visual .videoBox video {top:0; left:calc(50% - 248px); height:100%; transform:translate(-50%, 0);}

    /* stn - AICC */
    .stn.aicc .content .titArea {width:100%;}
    .stn.aicc .content .figureArea {position:static;}
    .stn.aicc .content .figureArea .figureBox .item:nth-child(1) {background-size:auto 50px;}
    .stn.aicc .content .figureArea .figureBox .item:nth-child(2) {background-size:auto 53px;}
    .stn.aicc .content .figureArea .figureBox .item:nth-child(3) {padding:0; background-position:bottom 0 left 0; background-size:auto 77px;}
    .stn.aicc .content .figureArea .figureBox .item:nth-child(3) dd > div {padding:0 5px;}
    .stn.aicc .content .figureArea .figureBox .item:nth-child(3) dd span {font-size:11px;}
    .stn.aicc .content .figureArea .figureBox .item:nth-child(3) dd .figure {margin:0; font-size:24px;}
    .stn.aicc .content .figureArea .figureBox .item:nth-child(3) dd img {width:36px; margin:0 3px 0 0;}
    .stn.aicc .content .figureArea .figureBox .item:nth-child(4) {background-position:right 0 bottom 0; background-size:auto 60px;}

    /* stn - smart X */
    .stn.smartX .content .figureArea .figureBox .item {text-align:center;}
    .stn.smartX .content .figureArea .figureBox .item dt {text-align:center;}
    .stn.smartX .content .figureArea .figureBox .item dd {display:inline-block; width:275px; margin:5px auto 0; text-align:left;}
    .stn.smartX .content .figureArea .figureBox .item dd span {font-size:15px; vertical-align:bottom;}
    .stn.smartX .content .figureArea .figureBox .item dd span:nth-child(1) {display:block;}
    .stn.smartX .content .figureArea .figureBox .item dd .figure {font-size:30px;}
    .stn.smartX .content .figureArea .figureBox .item:nth-child(1) dd img {right:20px; bottom:0; width:58px;}
    .stn.smartX .content .figureArea .figureBox .item:nth-child(2) dd img {top:10px; right:20px; width:39px;}
    .stn.smartX .content .figureArea .figureBox .item:nth-child(3) {padding:0 20px; text-align:left;}
    .stn.smartX .content .figureArea .figureBox .item:nth-child(3) dd img {top:10px; right:20px; left:auto; width:52px;}
    .stn.smartX .content .figureArea .figureBox .item:nth-child(4) {padding:0 0 0 20px;}
    .stn.smartX .content .figureArea .figureBox .item:nth-child(4) dd img {top:10px; right:20px; width:46px;}

    /* stn - maum minutes */
    .stn.minutes .content .figureArea .figureBox .item {background-position:right 0 bottom 0 !important; background-size:auto 58px;}
    .stn.minutes .content .figureArea .figureBox .item dt {font-size:16px; line-height:1;}
    .stn.minutes .content .figureArea .figureBox .item:not(:nth-child(3)) {justify-content:center;}
    .stn.minutes .content .figureArea .figureBox .item:not(:nth-child(3)) dt,
    .stn.minutes .content .figureArea .figureBox .item:not(:nth-child(3)) dd {text-align:center;}
    .stn.minutes .content .figureArea .figureBox .item:not(:nth-child(3)) dd span:last-child {display:inline-block; margin:0;}

    /* stn - Cloud API */
    .stn.cloudApi .content .figureArea .figureBox .item:nth-child(1) dt {margin:0 0 4px;}
    .stn.cloudApi .content .figureArea .figureBox .item:nth-child(2) dd span:nth-child(1) {margin:0 0 7px;}
    .stn.cloudApi .content .figureArea .figureBox .item:nth-child(5) {padding:0 20px; background-position:bottom 0 left 20px; background-size:auto 42px; text-align:center;}
    .stn.cloudApi .content .figureArea .figureBox .item:nth-child(5) dd {width:248px; margin:8px auto 0; text-align:right;}

    /* stn - maum DATA */
    .stn.maumData .content .titArea .main_tit {font-size:50px;}
    .stn.maumData .content .figureArea .figureBox .item dt {font-size:16px; letter-spacing:-0.29px; line-height:1; text-align:center;}
    .stn.maumData .content .figureArea .figureBox .item:nth-child(3) {padding:0 20px; background-position:bottom 0 left 20px; background-size:103px auto;}
    .stn.maumData .content .figureArea .figureBox .item:nth-child(3) dt {text-align:center;}
    .stn.maumData .content .figureArea .figureBox .item:nth-child(3) dd {width:248px; margin:8px auto 0;}
    .stn.maumData .content .figureArea .figureBox .item:not(:nth-child(3)) dd {text-align:center;}
    .stn.maumData .content .figureArea .figureBox .item:not(:nth-child(3)) dd span:last-child {display:inline-block; margin:0;}
}


/* ---------------------------------------- inquiry page content ---------------------------------------- */
.stn.inquiry {padding-bottom:135px;}
.stn.inquiry .content {text-align:center;}
.stn.inquiry .content .content_tit .tit {font-size:45px; line-height:45px; letter-spacing:-1px; color:#fff;}
.stn.inquiry .content .content_tit .desc {margin-top:20px; font-size:17px; line-height:normal; color:#fff;}
.stn.inquiry .inquiry_box {overflow:hidden; display:inline-block; width:810px; margin-top:30px; border-radius:10px; background:rgba(51,59,96,0.3); box-shadow:0 2px 50px 0 rgba(0, 0, 0, 0.1); text-align:left;}
.stn.inquiry .inquiry_box .inner {padding:20px 80px 40px 80px;}
.stn.inquiry .inquiry_box .dual {overflow:hidden;}
.stn.inquiry .inquiry_box .dual .my_info {width:calc(50% - 25px);}
.stn.inquiry .inquiry_box .dual .my_info:first-child {float:left;}
.stn.inquiry .inquiry_box .dual .my_info:last-child {float:right;}
.stn.inquiry .inquiry_box .my_info {overflow:hidden; margin-top:20px;}
.stn.inquiry .inquiry_box .my_info label,
.stn.inquiry .inquiry_box .my_info input[type="text"],
.stn.inquiry .inquiry_box .my_info input[type="tel"],
.stn.inquiry .inquiry_box .my_info input[type="email"],
.stn.inquiry .inquiry_box .my_info textarea {display:block; font-size:14px; line-height:20px;}
.stn.inquiry .inquiry_box .my_info label {float:left; width:50px; color:#fff; line-height:40px;}
.stn.inquiry .inquiry_box .my_info input[type="text"],
.stn.inquiry .inquiry_box .my_info input[type="tel"],
.stn.inquiry .inquiry_box .my_info input[type="email"],
.stn.inquiry .inquiry_box .my_info textarea {float:left; width:calc(100% - 50px); padding:0 10px; border-radius:5px; box-sizing:border-box; background-color:rgba(255,255,255,0.9); color:#333b60;}
.stn.inquiry .inquiry_box .my_info input[type="text"],
.stn.inquiry .inquiry_box .my_info input[type="tel"],
.stn.inquiry .inquiry_box .my_info input[type="email"] {height:40px;}
.stn.inquiry .inquiry_box .my_info textarea {height:160px; padding:10px;}
.stn.inquiry .inquiry_box .my_info input::placeholder,
.stn.inquiry .inquiry_box .my_info textarea::placeholder {color:rgba(51,59,96,0.5);}
.stn.inquiry .submit_agree {margin:5px 0 30px 0; line-height:0;}
.stn.inquiry .submit_agree input[type="checkbox"] + label {display:block; position:relative; padding-left:78px; color:#fff; font-size:13px; line-height:18px; cursor:pointer; user-select:none;}
.stn.inquiry .submit_agree input[type="checkbox"] + label:before {content:''; display:block; position:absolute; top:0; left:50px; width:18px; height:18px; border-radius:2px; background:rgba(255,255,255,0.9);}
.stn.inquiry .submit_agree input[type="checkbox"]:checked + label:after {content:''; display:block; position:absolute; top:0; left:50px; width:18px; height:18px; background:url('../images/landing/ico_check.svg') 0 0 no-repeat; background-size:cover;}
.stn.inquiry .submit_agree .agree_contents {margin-top:4px; padding-left:78px; color:#fff; font-size:11px; line-height:15px;}
.stn.inquiry .btn_box {text-align:center;}
.stn.inquiry .btn_box .btn_primary.large {display:inline-block; margin:0 auto; padding:10px 62px; border-radius:24px; box-shadow:1px 2px 4px 0 rgb(0 0 0 / 15%); background-color:rgba(255,255,255,0.9); color:#333b60; font-size:20px;}
.stn.inquiry .contact {overflow:hidden; background-color:rgba(51,59,96,0.6);}
.stn.inquiry .contact a {display:block; float:left; width:50%; height:48px; color:#fff; font-size:14px; font-weight:500; line-height:48px; text-align:center;}
.stn.inquiry .contact a img {display:inline-block; margin-right:10px; vertical-align:middle;}
.stn.inquiry .contact a span {vertical-align:middle;}

/* media query */
@media screen and (max-width:768px) {
    .stn.inquiry {padding:30px 0 0 0;}
    .stn.inquiry .content_tit .desc {width:300px;}
    .stn.inquiry .inquiry_box {width:auto; margin:0; border-radius:0; box-shadow:none; background:0;}
    .stn.inquiry .inquiry_box .inner {padding:5px 30px 40px 30px;}
    .stn.inquiry .inquiry_box .dual .my_info:first-child {float:none; width:auto;}
    .stn.inquiry .inquiry_box .dual .my_info:last-child {float:none; width:auto;}
    .stn.inquiry .inquiry_box .my_info {margin-top:15px;}
    .stn.inquiry .inquiry_box .my_info label,
    .stn.inquiry .inquiry_box .my_info input[type="text"],
    .stn.inquiry .inquiry_box .my_info input[type="tel"],
    .stn.inquiry .inquiry_box .my_info input[type="email"],
    .stn.inquiry .inquiry_box .my_info textarea {font-size:0.825rem;}
    .stn.inquiry .submit_agree {margin:10px 0 20px 0;}
    .stn.inquiry .submit_agree input[type="checkbox"] + label {padding-left:78px; font-size:0.825rem;}
    .stn.inquiry .submit_agree input[type="checkbox"] + label:before {left:50px;}
    .stn.inquiry .submit_agree input[type="checkbox"]:checked + label:after {left:50px;}
    .stn.inquiry .submit_agree .agree_contents {line-height:0.95rem; font-size:0.7rem;}
    .stn.inquiry .btn_box .btn_primary.large {padding:10px 44px;}
    .stn.inquiry .contact {display:none;}
}


/* ---------------------------------------- footer ---------------------------------------- */
/* 공통 footer */
iframe[name="footerFrame"] {width:100%;}

/* footerLanding */
#footerLanding {background:#0c1329; text-align:center;}
#footerLanding .footer_inner {display:inline-block; overflow:hidden; width:1154px; padding:60px 0; text-align:left;}
#footerLanding .footer_inner .col {position:relative; float:right; width:50%; text-align:right;}
#footerLanding .footer_inner .col:last-child {text-align:left;}
#footerLanding .footer_inner .col .col_inner {overflow:hidden;}
#footerLanding .footer_inner .sns {float:right;}
#footerLanding .footer_inner address {position:absolute; top:0; color:#fff; font-size:13px; line-height:20px;}
#footerLanding .footer_inner .copyright {margin-top:10px; color:#fff; font-size:13px; line-height:20px; opacity:0.7;}
#footerLanding .footer_inner .contact a {display:inline-block; width:200px; padding:10px 0; border-radius:18px; background:rgba(144,156,255,0.1); color:#fff; font-size:14px; font-weight:500; text-align:center;}
#footerLanding .footer_inner .contact a + a {margin-left:5px;}
#footerLanding .footer_inner .contact a img,
#footerLanding .footer_inner .contact a span {vertical-align:middle;}
#footerLanding .footer_inner .contact a img {display:inline-block; margin-right:6px;}
#footerLanding .footer_inner .cs_info {margin:20px 0 0; color:#fff; font-size:14px; font-weight:400; line-height:20px; word-break:keep-all;}
#footerLanding .footer_inner .cs_info dt {display:inline-block;}
#footerLanding .footer_inner .cs_info dd {display:inline-block;}
#footerLanding .footer_inner .sns {margin-top:16px; margin-left:26px;}
#footerLanding .footer_inner .sns a {display:inline-block; width:33px; height:33px; border:1px solid #d2d8f7; border-radius:50%; box-sizing:border-box; text-align:center; vertical-align:baseline;}
#footerLanding .footer_inner .sns a + a {margin-left:15px;}
#footerLanding .footer_inner .links {margin-top:80px; line-height:13px;}
#footerLanding .footer_inner .links a {display:inline-block; margin-right:30px; color:#fff; font-size:13px; line-height:20px; opacity:0.8;}

/* media query */
@media screen and (max-width:768px) {
    #footerLanding {text-align:left;}
    #footerLanding .footer_inner {width:auto; padding:30px;}
    #footerLanding .footer_inner .col {float:none; width:auto; text-align:left;}
    #footerLanding .footer_inner .cs_info dt {vertical-align:top;}
    #footerLanding .footer_inner .cs_info dd {width:calc(100% - 60px);}
    #footerLanding .footer_inner .cs_info dd span {display:inline-block;}
    #footerLanding .footer_inner .sns {float:none; margin-top:20px; margin-left:0;}
    #footerLanding .footer_inner .links {float:none; margin:20px 0 17px;}
    #footerLanding .footer_inner .contact a {font-size:0.875rem;}
    #footerLanding .footer_inner .contact a + a {margin:15px 0 0 5px;}
    #footerLanding .footer_inner .links a {font-size:0.825rem;}
    #footerLanding .footer_inner address {position:static; margin-top:16px; font-size:0.825rem; line-height:1.25rem;}
    #footerLanding .footer_inner .copyright {margin-top:4px; font-size:0.75rem;}
}