@charset "utf-8"; /* MINDsLab. UX/UI 2020.04.22 mrs

/* Pricing(리뉴얼) */
.pricingWrap {height:100%;}
.priceBox {box-sizing:border-box; padding:100px 0 232px; background-color:#f7f8fc; text-align:center; border-top:1px solid #cfd5eb;}
.priceBox h1 {height:25px; margin:0 0 20px 0; font-size:25px; font-weight:500; line-height:25px; letter-spacing:-0.78px; text-align:center; color:#002b49;}
.priceBox span {display:block; margin:0 0 30px 0; height:15px; font-size:15px; font-weight:normal; line-height:15px; letter-spacing:-0.47px; text-align:center; color:#002b49;}
.priceBox .price_stn {position:relative; display:inline-block; margin:0 auto;}
.priceBox .price_stn .cardBox {float:left; height:530px; border-radius:5px; border:1px solid #cfd5eb; background-color:#ffffff;}
.priceBox .price_stn .cardBox.business {width:370px; margin:0 15px 0 0;}

.priceBox .price_stn .cardBox h4 {font-size:20px; font-weight:500; line-height:50px; letter-spacing:-0.63px; text-align:center; color:#14b6cb; border-bottom:1px solid #cfd5eb;}
.priceBox .price_stn .cardBox .inner_area {width:100%; padding:0 30px; box-sizing:border-box;}
.priceBox .price_stn .cardBox .inner_area p {height:53px; font-size:22px; font-weight:bold; line-height:53px; letter-spacing:-0.69px; color:#14b6cb; border-bottom:1px dotted #cfd5eb; box-sizing:border-box;}
.priceBox .price_stn .cardBox .inner_area p small{font-size:15px; font-weight:normal; letter-spacing:-0.47px;}
.priceBox .price_stn .cardBox .inner_area p strong{display:inline-block; vertical-align:middle; width:74px; height:24px; border-radius:12px; background-color:#14b6cb; font-size:12px; font-weight:500; line-height:24px; letter-spacing:-0.38px; text-align:center; color:#ffffff;}
.priceBox .price_stn .cardBox .inner_area div{text-align:center; padding:10px 0; border-bottom:1px dotted #cfd5eb;}
.priceBox .price_stn .cardBox .inner_area div span{display:inline-block; height:50px; margin:0 56px 0 0; font-size:14px; font-weight:normal; line-height:25px; letter-spacing:-0.44px; color:#002b49; text-align:left;}
.priceBox .price_stn .cardBox .inner_area div span:last-child{margin:0 ;}
.priceBox .price_stn .cardBox .inner_area ul{padding:15px 0 16px 45px; text-align:left;}
.priceBox .price_stn .cardBox .inner_area ul li{font-size:14px; font-weight:normal; line-height:2.14; letter-spacing:-0.44px; color:#002b49;}
.priceBox .price_stn .cardBox .inner_area ul li em{margin:0 13px 0 0; color:#14b6cb;}
.priceBox .price_stn .cardBox .inner_area ul li small{display:block; padding:0 0 7px 27px; font-size:13px; letter-spacing:-0.41px; line-height:15px;}
.priceBox .price_stn .cardBox .inner_area button{float:left; width:137px; margin:0 8px 25px 0; height:30px; border-radius:3px; border:1px solid #14b6cb; font-size:13px; font-weight:normal; line-height:26px; letter-spacing:-0.41px; color:#14b6cb;}
.priceBox .price_stn .cardBox .inner_area button.minutes{width:165px; margin:0 0 25px 0;}
.priceBox .price_stn .cardBox .inner_area a{clear:both; display:block; width:100%; height:45px; border-radius:5px; border:1px solid #14b6cb; background-color:#14b6cb; font-size:18px; font-weight:500; line-height:45px; letter-spacing:-0.56px; text-align:center; color:#ffffff;}

.priceBox .price_stn .cardBox.enterprise {width:495px;}
.priceBox .price_stn .cardBox.enterprise h4 {color:#2575f9;}
.priceBox .price_stn .cardBox.enterprise .inner_area p {color:#2575f9; font-weight:500;}
.priceBox .price_stn .cardBox.enterprise .inner_area div span {line-height:50px;}
.priceBox .price_stn .cardBox.enterprise .inner_area ul {float:left; padding:15px 0 69px 10px;}
.priceBox .price_stn .cardBox.enterprise .inner_area ul.list {padding:15px 0 0 37px;}
.priceBox .price_stn .cardBox.enterprise .inner_area ul li em {color:#2575f9;}
.priceBox .price_stn .cardBox.enterprise .inner_area a{background:#2575f9; border:1px solid #2575f9;}

/* 팝업 API*/
.price_detail {display:none; overflow:hidden; position:fixed; bottom:0; left:0; width:100%; height:100%; text-align:center; z-index:1000;}
.price_detail .lyr_bg {display:none; position:absolute; top:0; left:0; width:100%; height:100%; background:#101113; opacity:0.4; z-index:-10;}
.price_detail .lyrBox {position:relative; display:block; width:484px; height:539px; letter-spacing:-0.5px; font-weight:500; border-radius:5px; box-shadow:0 2px 20px 0 rgba(0,43,73,0.2); border:1px solid #cfd5eb; background-color:#ffffff; -webkit-animation:lyr_show 0.3s 0s ease-out; animation:lyr_show 0.3s 0s ease-out;}
.price_detail .lyrBox .lyr_top {position:relative; display:block; text-align:center; padding:0;}
.price_detail .lyrBox .lyr_top h3 {float:none; font-size:15px; font-weight:500; line-height:42px; letter-spacing:-0.47px; color:#002b49;}
.price_detail .lyrBox .lyr_top em {position:absolute; top:12px; right:15px; color:#97a2bc; font-size:15px; cursor:pointer;}
.price_detail .lyrBox .lyr_mid {height:476px; overflow:auto; padding:0 10px 0 13px; box-sizing:border-box; margin:10px 7px;}
.price_detail .lyrBox .lyr_mid .tbl_view {width:100%;}
.price_detail .lyrBox .lyr_mid .tbl_view tr {border-bottom:1px solid #cfd5eb;}
.price_detail .lyrBox .lyr_mid .tbl_view th {text-align:left; font-size:13px; padding:0 16px; box-sizing:border-box; height:30px; font-weight:500; letter-spacing:-0.41px; color:#002b49;}
.price_detail .lyrBox .lyr_mid .tbl_view td {height:22px; padding:0 16px; box-sizing:border-box; font-size:13px; text-align:left; font-weight:400; letter-spacing:-0.41px; color:rgba(0,43,73,0.7);}
.price_detail .lyrBox .lyr_mid .tbl_view tbody th{font-size:14px;}
.price_detail .lyrBox .lyr_mid .tbl_view tbody tr {border-bottom:1px dotted #cfd5eb;}
.price_detail .lyrBox .lyr_mid .tbl_view tbody tr .col_1 {width:160px;}
.price_detail .lyrBox .lyr_mid .tbl_view tbody tr .col_2 {width:110px;}

.minutes_month .lyrBox {position:relative; display:block; width:639px; height:278px; -webkit-animation:lyr_show 0.3s 0s ease-out; animation:lyr_show 0.3s 0s ease-out;}
.minutes_month .lyrBox .lyr_top {padding:0;}
.minutes_month .lyrBox .lyr_top h3 {text-align:center; float:none; padding:0;}
.minutes_month .lyrBox .lyr_mid {position:relative; padding:44px 30px 30px; margin:0; height:auto; background-color:#f7f8fc; border-radius:5px;}
.minutes_month .lyrBox .lyr_mid h4 {position:absolute; top:16px; right:146px; font-size:13px; font-weight:normal; letter-spacing:-0.41px; text-align:center; color:#5e4df8;}
.minutes_month .lyrBox .lyr_mid h4:before {content:''; position:absolute; display:inline-block; top:9px; left:-114px; width:100px; height:1px; border-top:1px dotted #cfd5eb;}
.minutes_month .lyrBox .lyr_mid h4:after {content:''; position:absolute; display:inline-block; top:9px; right:-114px; width:100px; height:1px; border-top:1px dotted #cfd5eb;}
.minutes_month .lyrBox .lyr_mid .subbox {float:left;}
.minutes_month .lyrBox .lyr_mid .subbox ul {padding:50px 19px 10px 0;}
.minutes_month .lyrBox .lyr_mid .subbox ul li {height:25px; font-size:13px; font-weight:normal; line-height:25px; letter-spacing:-0.41px; text-align:right; color:#002b49;}
.minutes_month .lyrBox .lyr_mid .minibox {float:left; width:228px; height:162px; box-sizing:border-box; margin:0 34px 0 0; border-radius:3px; border:1px solid #cfd5eb; background-color:#ffffff;}
.minutes_month .lyrBox .lyr_mid .minibox h5{font-size:15px; border-bottom:1px solid #cfd5eb; font-weight:bold; line-height:37px; letter-spacing:-0.47px; text-align:center; color:#14b6cb;}
.minutes_month .lyrBox .lyr_mid .minibox h5 strong {display:inline-block; padding:0 6px; vertical-align:middle; height:19px; line-height:19px; border-radius:9.6px; background-color:#f3f5fb; font-size:10px; font-weight:500; letter-spacing:-0.31px; text-align:center; color:#1eb9cd;}
.minutes_month .lyrBox .lyr_mid .minibox .dlBox {display:block;}
.minutes_month .lyrBox .lyr_mid .minibox .dlBox dl {display:table; width:100%; color:#002b49; font-size:13px; font-weight:400; line-height:29px; letter-spacing:-0.5px; border-bottom:1px dotted #cfd5eb;}
.minutes_month .lyrBox .lyr_mid .minibox .dlBox dl:last-child {border:none;}
.minutes_month .lyrBox .lyr_mid .minibox .dlBox dl dt {display:table-cell; width:56px; padding:0 15px; font-size:12px; text-align:right; border-right:1px solid #cfd5eb;}
.minutes_month .lyrBox .lyr_mid .minibox .dlBox dl dd {display:table-cell; padding:0 15px; text-align:left;}
.minutes_month .lyrBox .lyr_mid .minibox ul {padding:11px 0 0 0;}
.minutes_month .lyrBox .lyr_mid .minibox ul li {height:25px; font-size:13px; font-weight:normal; line-height:25px; letter-spacing:-0.41px; text-align:center; color:#002b49;}
.minutes_month .lyrBox .lyr_mid .minibox ul li small{display:none;}
.minutes_month .lyrBox .lyr_mid .enterprise {width:150px; margin:0 16px 0 0; box-sizing:border-box;}
.minutes_month .lyrBox .lyr_mid .enterprise:last-child {margin:0;}
.minutes_month .lyrBox .lyr_mid .enterprise p {padding:15px 0 0 0; color:#002b49; font-size:13px; font-weight:normal; text-align:center; line-height:1.54; letter-spacing:-0.41px;}
.minutes_month .lyrBox .lyr_mid .enterprise h5 {color:#5e4df8;}

.price_contact .lyrBox{width:390px; height:350px; margin:291px auto 0; -webkit-animation:lyr_show 0.3s 0s ease-out; animation:lyr_show 0.3s 0s ease-out;}
.price_contact .lyrBox .lyr_mid {height:calc(100% - 43px); border-radius:5px; padding:20px 40px 0; margin:0; background-color:#f7f8fc;}
.price_contact .lyrBox .lyr_mid ul {width:100%;}
.price_contact .lyrBox .lyr_mid ul li {width:100%; margin:0 0 10px 0;}
.price_contact .lyrBox .lyr_mid ul li.half_box {width:50%; float:left;}
.price_contact .lyrBox .lyr_mid ul li label{display:none;}
.price_contact .lyrBox .lyr_mid ul li input{width:100%; height:40px; padding:0 10px; box-sizing:border-box; border-radius:3px; border:1px solid #cfd5eb; background-color:#ffffff; font-size:14px; color:#002b49;}
.price_contact .lyrBox .lyr_mid ul li input::placeholder,.price_contact .lyrBox .lyr_mid ul li textarea::placeholder {font-size:14px; font-weight:normal; letter-spacing:-0.44px; color:rgba(0,43,73,0.7);}
.price_contact .lyrBox .lyr_mid ul li.half_box input {float:left; width:150px;}
.price_contact .lyrBox .lyr_mid ul li.half_box:nth-child(2) input {float:right;}
.price_contact .lyrBox .lyr_mid ul li textarea {width:100%; height:100px; padding:12px 10px; box-sizing:border-box; border-radius:3px; border:1px solid #cfd5eb; background-color:#ffffff; font-size:14px; color:#002b49;}
.price_contact .lyrBox .lyr_mid button {width:100%; height:40px; border-radius:3px; background-color:#2575f9; color:#fff; font-size:14px; font-weight:500; line-height:40px; letter-spacing:-0.44px;}

/* keyframes */
/*@-webkit-keyframes lyr_show{*/
/*	0%  {margin:250px auto 0 auto; opacity:0;}*/
/*	100%{margin:200px auto 0 auto; opacity:1;}*/
/*}*/
/*@keyframes lyr_show{*/
/*	0%  {margin:250px auto 0 auto; opacity:0;}*/
/*	100%{margin:200px auto 0 auto; opacity:1;}*/
/*}*/

/*!* keyframes *!*/
/*@-webkit-keyframes lyr_show2{*/
/*	0%  {margin:377px auto 0 auto; opacity:0;}*/
/*	100%{margin:327px auto 0 auto; opacity:1;}*/
/*}*/
/*@keyframes lyr_show2{*/
/*	0%  {margin:377px auto 0 auto; opacity:0;}*/
/*	100%{margin:327px auto 0 auto; opacity:1;}*/
/*}*/

/*!* keyframes *!*/
/*@-webkit-keyframes lyr_show3{*/
/*	0%  {margin:341px auto 0 auto; opacity:0;}*/
/*	100%{margin:291px auto 0 auto; opacity:1;}*/
/*}*/
/*@keyframes lyr_show3{*/
/*	0%  {margin:341px auto 0 auto; opacity:0;}*/
/*	100%{margin:291px auto 0 auto; opacity:1;}*/
/*}*/

#mail_success .popWrap {width:296px; box-shadow:0 2px 4px 0 rgba(0,0,0,0.5); margin:25% 0;}
#mail_success .pop_bd p{color:#002b49; font-size:15px; line-height:1.47; margin:30px 0;}
#mail_success .btn {padding:0 20px;}
#mail_success .btn button {width:100%; background-color:#002b49; font-size:14px; border-radius:4px; height:40px; color:#fff; margin:0 0 20px 0;}

/* Mobile Layout */
@media screen and (max-width:768px) {/*pricing*/
	.priceBox {height:auto; padding:100px 0;}
	.priceBox h1 {font-size:20px;}
	.priceBox span {font-size:12px;}
	.priceBox span em {display:block;}

	.priceBox .price_stn {display:block; overflow:hidden;}
	.priceBox .price_stn .cardBox.business,.priceBox .price_stn .cardBox.enterprise {width:90%; margin:0 auto 10px; float:unset; height:auto; max-width:400px;}
	.priceBox .price_stn .cardBox .inner_area {padding:0 30px 20px;}
	.priceBox .price_stn .cardBox .inner_area ul {padding:15px 0 15px 15px;}
	.priceBox .price_stn .cardBox .inner_area button {width:100%; margin:0 0 10px 0;}
	.priceBox .price_stn .cardBox .inner_area button.minutes {width:100%;}
	.priceBox .price_stn .cardBox.enterprise .inner_area ul {float:unset; width:100%; padding:15px 0 0 10px;}
	.priceBox .price_stn .cardBox.enterprise .inner_area ul.list {float:unset; width:100%; padding:15px 0 30px 10px;}


	/*팝업 */

	.price_detail .lyr_bg {display:block;}
	.price_detail .lyrBox {width:95%; height:auto; max-height:400px; margin:0; animation:none; position:absolute; left:50%; top:50%; transform:translate(-50%,-50%);}
	.price_detail .lyrBox .lyr_mid {height:335px;}
	.price_detail .lyrBox .lyr_mid .tbl_view {position:relative; margin:40px 0 0 0;}
	.price_detail .lyrBox .lyr_mid .tbl_view tbody {border-top:1px solid #9da4b4; border-bottom:1px solid #cfd5eb;}
	.price_detail .lyrBox .lyr_mid .tbl_view:before {content:''; position:absolute; top:-26px; left:0; width:100%; margin:0 0 10px 0; font-size:14px; font-weight:500; letter-spacing:-0.44px;}
	.price_detail .lyrBox .lyr_mid .tbl_view:first-child:before {content:'음성'}
	.price_detail .lyrBox .lyr_mid .tbl_view:nth-child(2):before {content:'시각'}
	.price_detail .lyrBox .lyr_mid .tbl_view:nth-child(3):before {content:'언어'}
	.price_detail .lyrBox .lyr_mid .tbl_view:nth-child(4):before {content:'분석'}
	.price_detail .lyrBox .lyr_mid .tbl_view:nth-child(5):before {content:'챗봇'}
	.price_detail .lyrBox .lyr_mid .tbl_view:nth-child(6):before {content:'영어교육'}


	.price_detail .lyrBox .lyr_mid .tbl_view thead{display:none;}
	.price_detail .lyrBox .lyr_mid .tbl_view tbody th {display:none;}
	.price_detail .lyrBox .lyr_mid .tbl_view tbody tr th {display:none;}
	.price_detail .lyrBox .lyr_mid .tbl_view td {padding:0}
	.price_detail .lyrBox .lyr_mid .tbl_view tbody tr .col_1 {width:110px;}
	.price_detail .lyrBox .lyr_mid .tbl_view tbody tr .col_2 {width:80px;}

	.minutes_month .lyrBox {animation:none;}
	.minutes_month .lyrBox .lyr_mid {overflow-x:scroll;}
	.minutes_month .lyrBox .lyr_mid .mid_area {position:relative; width:604px;}
	.minutes_month .lyrBox .lyr_mid h4 {top:-30px; right:142px;}

	.price_contact .lyrBox .lyr_mid {padding:20px 40px;}
	.price_contact .lyrBox .lyr_mid ul li.half_box {width:100%;}
	.price_contact .lyrBox .lyr_mid ul li.half_box input {width:100%;}


	/*.minutes_month .lyrBox .lyr_mid {overflow:hidden;}*/
	/*.minutes_month .lyrBox .lyr_mid .subbox {display:none;}*/
	/*.minutes_month .lyrBox .lyr_mid .minibox {float:unset; width:80%; margin:0 auto 30px;}*/
	/*.minutes_month .lyrBox .lyr_mid .enterprise_user,.minutes_month .lyrBox .lyr_mid .enterprise_user.premium {margin:0 auto 10px;}*/
	/*.minutes_month .lyrBox .lyr_mid .minibox ul li small{display:inline;}*/
	/*.minutes_month .lyrBox .lyr_mid h4 {top:209px; right:0; left:50%; transform:translateX(-50%);}*/
	/*.minutes_month .lyrBox .lyr_mid h4:before {left:-135px;}*/
	/*.minutes_month .lyrBox .lyr_mid h4:after {right:-135px;}*/


}



@media all and (max-height:937px) {
	.pricingWrap {height:auto;}
}


/* 메인 푸터 */
#footerLanding {background: #0c1329; text-align: center;}
#footerLanding .footer_inner {overflow: hidden; display: inline-block; width: 1154px; padding: 60px 0; text-align: left;}
#footerLanding .footer_inner .col {position:relative; float: right; width: 50%; text-align: right;}
#footerLanding .footer_inner .col:last-child {text-align: left;}
#footerLanding .footer_inner .col .col_inner {overflow: hidden;}
#footerLanding .footer_inner .sns {float: right;}
#footerLanding .footer_inner address {position:absolute; top:0; line-height: 20px; font-size: 13px; color: #fff;}
#footerLanding .footer_inner .copyright {margin-top: 10px; line-height: 20px; font-size: 13px; color: #fff; opacity: 0.7;}
#footerLanding .footer_inner .contact a {display: inline-block; width: 200px; padding: 10px 0; border-radius: 18px; background: rgba(144,156,255,0.1); font-size: 14px; font-weight: 500; color: #fff; text-align: center;}
#footerLanding .footer_inner .contact a + a {margin-left: 5px;}
#footerLanding .footer_inner .contact a img,
#footerLanding .footer_inner .contact a span {vertical-align: middle;}
#footerLanding .footer_inner .contact a img {display: inline-block; margin-right: 6px;}
#footerLanding .footer_inner .cs_info {margin:20px 0 0; color:#fff; font-size:14px; font-weight:400; line-height:20px; word-break:keep-all;}
#footerLanding .footer_inner .cs_info dt {display:inline-block;}
#footerLanding .footer_inner .cs_info dd {display:inline-block;}
#footerLanding .footer_inner .sns {margin-left: 26px;margin-top:16px;}
#footerLanding .footer_inner .sns a {display: inline-block; width: 33px; height: 33px; border: 1px solid #d2d8f7; border-radius: 50%; box-sizing: border-box; vertical-align: baseline; text-align: center;}
#footerLanding .footer_inner .sns a + a {margin-left: 15px;}
#footerLanding .footer_inner .links {margin-top: 80px; line-height:13px;}
#footerLanding .footer_inner .links a {display: inline-block; margin-right: 30px; line-height: 20px; font-size: 13px; color: #fff; opacity: 0.8;}
/*#footerLanding .footer_inner .links a + a {margin-right: 30px;}*/
/* -------------------- mobile -------------------- */
@media screen and (max-width:768px) {
	html, body {font-size:16px;}
	#footerLanding .footer_inner {width: auto; padding: 30px;}
	#footerLanding .footer_inner .col {float: none; width: auto; text-align: left;}
	#footerLanding .footer_inner .cs_info dt {height:40px; vertical-align:top;}
	#footerLanding .footer_inner .cs_info dd {width:calc(100% - 60px);}
	#footerLanding .footer_inner .cs_info dd span {display:block;}
	#footerLanding .footer_inner .sns {float: none; margin-left: 0; margin-top: 20px;}
	#footerLanding .footer_inner .links {float: none; margin:20px 0 17px;}
	#footerLanding .footer_inner .contact a {display: block; font-size: 0.875rem;}
	#footerLanding .footer_inner .contact a + a {margin: 15px 0 0 0;}
	#footerLanding .footer_inner .links a {font-size: 0.825rem;}
	#footerLanding .footer_inner address {position:static; margin-top: 16px; line-height: 1.25rem; font-size: 0.825rem;}
	#footerLanding .footer_inner .copyright {margin-top: 4px; font-size: 0.75rem;}
}
/* //메인 푸터 */
/* 공통 푸터 */