
/* pattern */
.pattern_box{}
.pattern_box .img_box {width:600px; height:378px;margin: 50px auto 10px; background:#f5f8fb url(../../images/bg_img.png) 50% 120px no-repeat; border: 1px dashed #d3dceb; border-radius: 5px;text-align: center;overflow: hidden;}
.pattern_box .pattern_1 p {padding:167px 0 10px 0; font-size: 15px; color: #667582;}
.pattern_box .pattern_1 span {font-size: 15px; color: #667582;margin: 0 6px 0 0;}
.pattern_box .pattern_1 .upload-btn-wrapper { position: relative; display: inline-block;}
.pattern_box .pattern_1 .btn_upload { color: #fff; background-color: #27c1c1;width:200px; height:40px; border-radius:5px; font-size: 15px; border:none;}
.pattern_box .pattern_1 .upload-btn-wrapper input[type=file] { position: absolute;  left: 0;  top: 0;  opacity: 0; width: 100%; height: 100%;}
.pattern_box .pattern_2 {width:600px; margin: 50px auto; text-align: center;}

.pattern_box .pattern_2 {display: none;position: relative;}
.pattern_box .pattern_2 p.desc {font-size:14px; position:absolute; left:60px; top:7px;color:#fff600;z-index: 10;}
.pattern_box .pattern_2 p.desc:after { position:absolute;content: ''; width:78px ;height:78px; left: -10px;top: 23px; border-top:9px solid #fff600;border-left:9px solid #fff600;}
.pattern_box .pattern_2 .img_box{border-radius: 0;}
.pattern_box .pattern_2 .img_box img { margin: 65px auto;}
.pattern_box .pattern_2 p {text-align: center; color:#78879b;font-size:14px;}
.pattern_box .pattern_2 img {margin:8px 0 0 0;}
.pattern_box .pattern_2 .btn {text-align: center;margin:20px auto;}
.pattern_box .pattern_2 .btn a {display: inline-block; width:105px; height:105px;border-radius: 5px; background: #b1bed5;color:#fff;line-height: 40px;font-size:15px;}
.pattern_box .pattern_2 .btn a.active {background: #27c1c1;margin: 0 0 0 9px;}

.pattern_box .pattern_3 {display: none; min-height: 550px;}
.pattern_box .pattern_3 img {margin: 65px auto;width:513px; height:249px;}
.pattern_box .pattern_3 .resultBox {text-align: center;}
.pattern_box .pattern_3 .txtBox {display:inline-block; overflow:hidden;  width:600px; margin:0 auto; border:1px solid #cfd5eb; border-radius:5px; background:#fff;}
.pattern_box .pattern_3 .txtBox dl {display:table; width:100%; font-size:15px; font-weight:300; }
.pattern_box .pattern_3 .txtBox dl dt {display:table-cell; width:150px; padding:10px; color:#666; border-bottom:1px solid #cfd5eb;  border-right:1px solid #cfd5eb;background:#f5f8fb;}
.pattern_box .pattern_3 .txtBox dl dd {display:table-cell; padding:10px; border-bottom:1px solid #cfd5eb;}
.pattern_box .pattern_3 .txtBox dl:last-child dt {border:none; border-right:1px solid #cfd5eb;}
.pattern_box .pattern_3 .txtBox dl:last-child dd {border:none;}
.pattern_box .pattern_3 .btn {text-align: center;margin:20px auto;}
.pattern_box .pattern_3 .btn a {display: inline-block; width:105px; height:40px;border-radius: 5px; background: #27c1c1;color:#fff;line-height: 40px;font-size:15px;}

.pattern_box .pattern_3 .resultBox_fail {width: 601px; height:89px;margin: 0 auto;  }
.pattern_box .pattern_3 .resultBox_fail .no_recog {width: 601px; height: 89px;background:#fff url(../../images/bg_img.png) 50% 19px no-repeat;background-size: 24px; font-size:15px; color:#516884;line-height: 115px;border:1px solid #cfd5eb; border-radius: 5px;text-align: center;}
.pattern_box .pattern_3 .resultBox_fail .btn_back { display: inline-block; width:105px; height:40px;border-radius: 5px; color:#fff;line-height: 40px;font-size:15px;text-indent: 33px; background:#b1bed5 url(../../images/ico_result_back.png) 18px 50% no-repeat;}
.pattern_box .pattern_3 .resultBox_fail .btn {display: inline-block;margin: 20px 0 0 143px;}


#loading_img{
    width: 30px;
    display: none;
}




	
	
	
	
	