@charset "utf-8"; /* MINDsLab. mrs*/
/*Scroll Bar Style*/
::-webkit-scrollbar{width:5px; height:6px; border-radius:3px;}/* 스크롤바의 width */
::-webkit-scrollbar-track{background-color:transparent;}/* 스크롤바의 전체 배경색 */
::-webkit-scrollbar-thumb{border-radius:3px; background-color:rgba(25,42,57,0.3);}/* 스크롤바 색 */
::-webkit-scrollbar-button{display:none;}/* 위 아래 버튼 (버튼 없애기를 함) */
#wrap {display:table; position:relative; width:100%; min-height:100%; background-color:#f7f8fc;}
header{display:block; width:100%; height:80px; text-align:center; border-bottom:1px solid #cfd5eb; box-sizing: border-box; background:#fff;}
header a{display:block;}
header a img {margin:17px 0 0 0;}

#container {display:table-row; height:100%;}
.content{padding:0 0 50px 0; text-align:center; box-sizing:border-box;}
.content .errorImg {margin:30px 0 24px;}
.content p{margin:34px auto 30px; color:#002b49; font-size:20px; font-weight:300; font-stretch:normal; font-style:normal; line-height:normal; text-align:center; letter-spacing:-0.4px;}

/* Login */
.loginWrap {position:relative; padding:50px 0 0 0;}
.loginWrap fieldset {display:block; width:100%;}
.loginWrap .loginBox {width:400px; margin:0 auto 22px; padding:0 0 27px 0; border-bottom:1px dotted #b6c5d1;}
.loginWrap span.or {position:absolute; bottom:15px; left:50%; padding:0 15px; color:#34424e; font-size:12px; text-align:center; letter-spacing:-0.17px; background:#f7f8fc; transform:translateX(-50%); z-index:100;}
.loginWrap span {display:block; position:relative;}
.loginWrap span .ipt_txt {display:block; width:100%; height:48px; margin:0 auto 15px; padding:16px 20px; line-height:48px; border:1px solid #cfd5eb; border-radius:3px; box-sizing:border-box; background:#fff; transition:all 0.3s ease-out;}
.loginWrap span .ipt_txt#ipt_pw {margin:0 0 7px 0;}
.loginWrap span .txt_error {display:none; color:#fe2d35; font-size:12px; text-align:left; letter-spacing:-0.22px;}
.loginWrap span a.homebtn{display:inline-block; width:100%; height:50px; margin:0 auto; color:#fff; font-size:15px; font-weight:500; text-align:center; line-height:48px; letter-spacing:-0.21px; border-radius:2px; background-color:#14b6cb; }
.btn_box {width:400px; margin:0 auto;}
.btn_box:before {}
.btn_box a{display:block; width:100%; height:48px; margin:0 0 15px 0; color:#34424e; font-size:15px; font-weight:500; text-align:center; line-height:48px; letter-spacing:-0.21px; border:1px solid rgba(128,138,171,0.4); border-radius:2px; background-color:#fff;}
.btn_box a.google_login {background:#fff url(../../kr/images/logo_google.png) 18px 12px no-repeat; background-size:22px;}
.btn_box a.facebook_login {background:#fff url(../../kr/images/logo_facebook.png) 21px 12px no-repeat; background-size:15px;}
.btn {position:relative; width:400px; margin:0 auto;}
.btn a{color:#34424e; font-size:12px; text-align:center; letter-spacing:-0.22px; opacity:0.8;}
.btn span {color:rgba(52,66,78,0.3); font-size:12px;}
.checks {display:inline-block; padding:0 0 0 2px; text-align:left;}
.checks input[type="checkbox"] {overflow:hidden; position:absolute; width:1px; height:1px; margin:-1px; padding:0; border:0; clip:rect(0,0,0,0); transition:all 0.3s ease-out;}
.checks input[type="checkbox"] + label {display:inline-block; position:relative; color:#363a44; cursor:pointer; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; opacity:0.8; transition:all 0.3s ease-out;}
.checks input[type="checkbox"] + label em {font-size:13px; transition:all 0.2s ease-out;}
.checks input[type="checkbox"]:checked + label {opacity:1;}
.checks input[type="checkbox"]:checked + label em {color:#14b6cb; transition:all 0.2s ease-out;}

/*툴팁*/
.tooltip {}
.tooltip .tooltip_box{position:absolute; top:24px; left:44px; width:230px; height:39px; margin-top:4px; color:#002b49; font-size:14px; font-weight:normal; line-height:40px; letter-spacing:-0.2px; border:1px solid #c7cbdc; border-radius:20px; background-color:#fff; animation:motion 0.5s linear 0s infinite alternate;}
.tooltip .tooltip_box:after,.tooltip .tooltip_box:before {content:''; position:absolute; bottom:100%; left:50%; width:0; height:0; border:solid transparent; pointer-events:none;}
.tooltip .tooltip_box:after {margin-left:-5px; border-width:5px; border-color:rgba(255,255,255,0); border-bottom-color:#fff;}
.tooltip .tooltip_box:before {margin-left:-6px; border-width:6px; border-color:rgba(135,194,245,0); border-bottom-color:#b5b8c3;}
.tooltip .tooltip_box img {margin:6px 0 0 0;}
.tooltip .tooltip_box span {color:#ff5418; font-size:14px; font-weight:500;}
@keyframes motion {
    0%   {margin-top:4px;}
    100% {margin-top:0;}
}
/*sign Up*/
.agreeWrap {padding:50px 0 0 0;}
.agreeBox{width:400px; margin:0 auto; text-align:left;}
.agreeBox .checks input[type="checkbox"] + label {color:#34424e; font-size:14px; letter-spacing:-0.2px;}
.agreeBox .checks input[type="checkbox"] + label em {float:left; margin:0 7px 0 0; font-size:20px; vertical-align:middle;}
.agreeBox span strong {color:#14b6cb; font-weight:400;}
.agreeBox .scroll_box {overflow:auto; width:100%; height:122px; margin:8px 0 30px 0; padding:10px; color:#2c3f51; font-size:12px; text-align:left; line-height:18px; white-space:pre-wrap; border-radius:3px; border:1px solid #cfd5eb; background-color:#fff; box-sizing:border-box;}
.agreeBox a {display:inline-block; width:195px; height:48px; margin:30px 0 0 0; color:#fff; font-size:15px; font-weight:500; text-align:center; line-height:48px; letter-spacing:-0.21px; border-radius:2px; background-color:#9faeba;}
.agreeBox a + a {background-color:#14b6cb; margin:30px 0 0 5px;}
.agreeBox a.link { width: auto; height:auto; margin:0 0 0 5px;; color:#3599ff; font-size:12px; text-align:left; line-height:16px; letter-spacing:0; background:#fff;}
.agreeBox a.link:hover {color:#3599ff; text-decoration:underline;}

.signUpWrap {padding:50px 0 ;}
.signUpBox {width:400px; margin:0 auto; text-align:left;}
.signUpBox .input_box .input_txt {margin:0 0 20px 0;}
.signUpBox .input_box .input_txt label {font-size:13px; font-weight:500; letter-spacing:-0.19px; color:#34424e;}
.signUpBox .input_box .input_txt input {width:100%; height:48px; margin:5px 0 0 0; padding:10px; border-radius:3px; box-sizing:border-box; border:1px solid #cfd5eb; background-color:#fff;}
.signUpBox .input_box .input_txt input.error {border:1px solid #14b6cb;}
.signUpBox .input_box .input_txt span {display:none; padding:5px 0 0 0; color:#34424e; font-size:12px; letter-spacing:-0.22px; opacity:0.8;}
.signUpBox .input_box .input_txt span.noti{display:block;}
.signUpBox .input_box .input_txt span.email{display:none; color:#14b6cb; font-size:12px; letter-spacing:-0.22px; opacity:0.8;}
.signUpBox .input_box .input_txt span.error {color:#fe2d35;}
.signUpBox .input_box .input_txt div {position:relative;}
.signUpBox .input_box .input_txt div button {position:absolute; top:23px; right:0; width:113px; height:48px; color:#fff; font-size:15px; text-align:center; line-height:48px; letter-spacing:-0.21px; border-radius:0 3px 3px 0; background-color:#14b6cb; box-sizing:border-box;}
.signUpBox .input_box .input_txt div.code_box {display:none; margin:9px 0 0 0;}
.signUpBox .input_box .input_txt div.code_box::placeholder {color:#2c3f51; opacity:0.6;}
.signUpBox .input_box .input_txt div.code_box .count {position:absolute; top:20px; right:122px; color:#ff1d49; font-size:14px; font-weight:500; opacity:0.6;}
.signUpBox .input_box .input_txt div.code_box button {top:6px;}
.signUpBox .select_form > span {display:block; margin:0 0 16px 0; color:#34424e; font-size:13px; font-weight:500; letter-spacing:-0.19px;}
.signUpBox .checks {}
.signUpBox .checks input[type="checkbox"] + label {font-size:14px;}
.signUpBox .checks input[type="checkbox"] + label em {float:left; margin:0 7px 0 0; font-size:20px; vertical-align:middle;}
.signUpBox .checks:first-child {min-width:120px;}
.signUpBox .checks:nth-child(2) {min-width:150px;}
/*.signUpBox a {display:block; height:48px; margin:40px 0 0; color:#fff; font-size:15px; font-weight:500; text-align:center; line-height:48px; letter-spacing:-0.21px; border-radius:2px; background-color:#14b6cb;}*/
.signUpBox a {display:inline-block;width: 195px;height: 48px;margin:30px 0 0 0;border-radius: 2px;background-color: #9faeba;font-size: 15px;font-weight: 500;line-height: 48px;letter-spacing: -0.21px;text-align: center;color: #ffffff;}
.signUpBox a + a {background-color: #14b6cb;margin:30px 0 0 5px;}

.signUpCompleteWrap {display:none; padding:50px 0;}
.signUpCompleteWrap span{display:block; margin:5px 0 0; opacity:0.7; font-size:13px; line-height:1; letter-spacing:-0.19px; color:#34424e;}
.signUpConfirmBox{width:400px; height:232px; margin:0 auto; border-radius:3px; border:1px solid #cfd5eb; background:#fff url("../images/img_welcome.png") 50% 23px no-repeat; background-size:113px;}
.signUpConfirmBox p {padding:106px 0 20px; margin:0; font-size:15px; font-weight:500; letter-spacing:-0.21px; text-align:center; color:#14b6cb;}
.signUpConfirmBox ul {}
.signUpConfirmBox ul li{height:30px; line-height:30px; padding:0 22px; text-align:left; font-size:13px; font-weight:normal; letter-spacing:-0.19px; color:#34424e;}
.signUpConfirmBox ul li span {float:left; font-weight:500; width:62px; opacity:1;}
.signUpConfirmBox ul li span em {margin:0 6px 0 0; font-size:10px; letter-spacing:-0.14px; color:#34424e; opacity:.5;}
.signUpConfirmBox ul li span.user{font-weight:400;}

.signUpCompleteBox {width:400px; margin:0 auto; border-radius:3px; border:1px solid #cfd5eb; background:#fff url("../images/img_singupComplete.png") 50% 23px no-repeat; background-size:177px;}
.signUpCompleteBox h1 {padding:114px 0 0; font-size:17px; font-weight:500; letter-spacing:-0.29px; color:#14b6cb;}
.signUpCompleteBox p {margin:5px 0 15px; font-size:14px; font-weight:400; line-height:1.79; letter-spacing:-0.2px; text-align:center; color:#34424e;}
.signUpCompleteBox p span {opacity:1;}
.signUpCompleteBox p.note { display:block; margin:10px 0 17px 0;; color: #34424e; font-size:13px; font-weight:400; line-height:13px; letter-spacing:-0.2px;}
.signUpCompleteBox p.note a {text-decoration:underline;}
.signUpCompleteBox >a {display:block; width:350px; height:48px; margin:0 auto 30px; border-radius:2px; background-color:#14b6cb; font-size:15px; font-weight:500; line-height:48px; letter-spacing:-0.21px; text-align:center; color:#fff;}

/* UX/UI Team NBR 201117 추가 */
.paymentCompleteBox {width:400px; margin:0 auto; border-radius:3px; border:1px solid #cfd5eb; background:#fff url("../images/img_paymentComplete.png") 50% 23px no-repeat; background-size:177px;}
.paymentCompleteBox h1 {padding:122px 0 0; color:#14b6cb; font-size:17px; font-weight:500; letter-spacing:-0.29px;}
.paymentCompleteBox p {margin:10px 0 15px; color:#34424e; font-size:13px; font-weight:400; line-height:1.49; letter-spacing:-0.2px; text-align:center;}
.paymentCompleteBox p em {color:#ff760d; font-size:13px; font-weight:500; letter-spacing:-0.2px;}
.paymentCompleteBox p span {opacity:1;}
.paymentCompleteBox p.note { display:block; margin:10px 0 17px 0;; color: #34424e; font-size:13px; font-weight:400; line-height:13px; letter-spacing:-0.2px;}
.paymentCompleteBox p.note a {text-decoration:underline;}
.paymentCompleteBox > a {display:block; width:350px; height:48px; margin:0 auto 30px; border-radius:2px; background-color:#14b6cb; font-size:15px; font-weight:500; line-height:48px; letter-spacing:-0.21px; text-align:center; color:#fff;}
.paymentCompleteBox ul {width:100%; padding:10px 0; border-top:1px solid #cfd5eb; box-sizing: border-box; background:#f7f8fc; text-align:center;}
.paymentCompleteBox ul li {width:165px; margin:0 auto; line-height:30px; text-align:left;}
.paymentCompleteBox ul li span {display:inline-block; color:#34424e; font-size:13px; opacity:1;}
.paymentCompleteBox ul li span:nth-child(1) {width:80px; font-weight:500;}
.paymentCompleteBox ul li span:nth-child(2) {margin:0 0 0 14px;}
.paymentCompleteBox ul li span em {margin:0 6px 0 0; color:#34424e; font-size:10px; opacity:0.5;}

.paymentCompleteBox.en ul li {width:215px;}
.paymentCompleteBox.en ul li span:nth-child(1) {width:100px;}

.paymentCompleteBox.failed {background:#fff url("../images/img_paymentFail.png") 50% 15px no-repeat; background-size:65px;}
.paymentCompleteBox.failed h1 {padding:106px 0 0; color:#ff760d; font-size:15px;}
.paymentCompleteBox.failed p a:hover {color:inherit;}
.paymentCompleteBox.failed ul li {width:calc(100% - 70px);}
.paymentCompleteBox.failed ul li span:nth-child(1) {width:60px;}
.paymentCompleteBox.failed ul li span:nth-child(2) {margin:0 0 0 14px;}

.repaymentCompleteBox h1 {padding:122px 0 20px;} /*mrs 추가*/

.detailList {display:inline-block; padding:20px; border:1px dashed #cfd5eb; background:#fff; opacity:0.8;}
.detailList li {position:relative; padding:0 0 0 17px; color:#34424e; font-size:13px; letter-spacing:-0.2px; line-height:20px; text-align:left;}
.detailList li + li {margin:10px 0 0;}
.detailList li:before {content:'\f054'; font-family:'Font Awesome 5 Free'; color:#002b49; font-size:10px; font-weight:900; position:absolute; top:0; left:0;}
/* //UX/UI Team NBR 201117 추가 */

.ft_point_orange {color:#ff622c;}
.ft_point_orange:hover {color:#ff622c;}

.signUpCompleteWrap .txt {margin:30px 0 15px; font-size:13px; font-weight:normal; line-height:1.92; letter-spacing:-0.19px; text-align:center; color:#34424e;}
.signUpCompleteWrap .txt strong{font-weight:bold; color:#14b6cb;}
.signUpCompleteWrap .btn {margin:20px auto 0;}
.signUpCompleteWrap .btn a ,.paymentConfirmWrap .btn a {display:inline-block; opacity:1; width:195px; height:48px; line-height:48px; border-radius:2px; background-color:#14b6cb; font-size:15px; font-weight:500; letter-spacing:-0.21px; text-align:center; color:#fff;}
.signUpCompleteWrap .btn a + a,.paymentConfirmWrap .btn a + a {margin:0 0 0 7px; background-color:#002b49;}
.signUpCompleteWrap .btn a {width:100%; background:#002b49;}
.repaymentCompleteBox + .btn {width:410px;margin: 20px auto 60px;} /*mrs 추가*/
.repaymentCompleteBox + .btn a, .signUpCompleteWrap .btn.refailed a {width: 195px;} /*mrs 추가*/
.repaymentCompleteBox + .btn a:first-child, .signUpCompleteWrap .btn.refailed a:first-child {background-color:#14b6cb;} /*mrs 추가*/

.paymentConfirmWrap {display:none; padding:50px 0 0 0;}
.paymentConfirmWrap .paymentConfirmBox {width:400px; height:189px; margin:0 auto; border-radius:3px; border:1px solid #cfd5eb; background:#fff url(../images/img_welcome.png) 50% 15px no-repeat; background-size:113px;}
.paymentConfirmWrap .paymentConfirmBox h5 {padding:106px 0 13px; font-size:15px; font-weight:500; letter-spacing:-0.21px; text-align:center; color:#14b6cb;}
.paymentConfirmWrap .paymentConfirmBox p {margin:0; font-size:14px; letter-spacing:-0.2px; text-align:center; color:#002b49;}
.paymentConfirmWrap .btn {margin:20px auto 0;}

.registrationContent .signUpCompleteWrap {display:block; padding:33px 0 0 0;}
.registrationContent p.regist_noti {margin:0 0 13px 0; font-size:13px; line-height:1.92; letter-spacing:-0.19px; text-align:center; color:#34424e;}
.registrationContent p.regist_noti strong {font-weight:bold; color:#14b6cb;}

.passwordWrap {padding:50px 0 0 0;}
.passwordBox {width:400px; margin:0 auto; padding:0 20px 0; box-sizing:border-box; border-radius:3px; border:1px solid #cfd5eb; background:#fff url(../images/img_email_check.png) 50% 38px no-repeat; background-size:189px;}
.passwordBox h5 {padding:105px 0 10px 0; font-size:15px; font-weight:500; letter-spacing:-0.21px; text-align:center; color:#14b6cb;}
.passwordBox p {margin:0 0 15px 0; font-size:14px; letter-spacing:-0.4px; text-align:center; color:#34424e;}
.passwordBox .email_type {}
.passwordBox .email_type input {width:100%; height:48px; margin:0 0 10px 0; padding:0 10px; border-radius:3px; border:1px solid #cfd5eb; background-color:#f7f8fc; box-sizing:border-box;}
.passwordBox .email_type a,.passwordChangeBox a,.passwordBox .login_btn a {display:block; margin:0 0 30px 0; width:100%; height:48px; border-radius:2px; background-color:#14b6cb; font-size:15px; font-weight:500; line-height:48px; letter-spacing:-0.21px; text-align:center; color:#fff;}
.passwordBox div.code_box {position:relative; display:none; margin:20px 0 40px;}
.passwordBox div.code_box input {width:100%; height:48px; box-sizing:border-box; margin:0; padding:0 10px; border-radius:3px; border:1px solid #cfd5eb;}
.passwordBox div.code_box::placeholder {color:#2c3f51; opacity:0.6;}
.passwordBox div.code_box .count {position:absolute; top:15px; right:122px; font-weight:500; opacity:0.6; font-size:14px; color:#ff1d49;}
.passwordBox div.code_box button {position:absolute; right:0; top:0; width:113px; height:48px; color:#fff; font-size:15px; text-align:center; line-height:48px; letter-spacing:-0.21px; border-radius:0 3px 3px 0; background-color:#14b6cb;}
.passwordBox div.code_box span {display:none; position:absolute; top:51px; left:0; color:#14b6cb; font-size:12px; letter-spacing:-0.22px; opacity:0.8;}
.passwordBox div.code_box span.error {display:none; color:#fe2d35;}
.passwordBox .login_btn {display:none; margin:20px 0 0 0;}

.passwordChangeBox {display:none; text-align:left; border-top:1px dotted #979797;}
.passwordChangeBox h5 {padding:20px 0 10px 0; color:#14b6cb;font-size:15px; font-weight:500; letter-spacing:-0.21px; text-align:center;}
.passwordChangeBox span {display:none; margin:0 0 20px 0; color:#34424e; font-size:12px; letter-spacing:-0.22px;}
.passwordChangeBox span.noti {display:block;}
.passwordChangeBox span.error {color:#fe2d35}
.passwordChangeBox label {display:block; margin:0 0 5px 0; color:#34424e; font-size:13px; font-weight:500; letter-spacing:-0.19px;}
.passwordChangeBox input {width:100%; height:48px; margin:0 0 5px 0; padding:0 10px; border:1px solid #cfd5eb; border-radius:3px; background-color:#f7f8fc; box-sizing:border-box;}
.passwordChangeBox a {margin:25px auto 30px;}
.passwordChangeWrap {padding:50px 0 0 0;}
.passwordChangeWrap .passwordChangeBox {display:block;}

.btnBox {clear:both; overflow:hidden; width: 400px; margin:0 auto; padding:20px 0 60px; text-align:center;}
.btnBox a {height:48px; color:#fff; font-size:15px; font-weight:500; text-align:center; line-height:46px; letter-spacing:-0.21px; border:none; border-radius:2px; background:#14b6cb;}
.btnBox a:first-child:nth-last-child(1) {display:inline-block; width:195px;}
.btnBox a:first-child:nth-last-child(2), .btnBox a:first-child:nth-last-child(2) ~ a {display:inline-block; width:195px; background:#002b49;margin:0;}
.btnBox a:first-child:nth-last-child(2), .btnBox a:first-child:nth-last-child(2) {margin: 0 10px 0 0; background:#14b6cb;}

#footer { display: block;}
footer {position:relative; bottom:0; left:0; width:100%; padding:20px 0; text-align:center; border-top:1px solid rgba(182,197,209,0.7); box-sizing:border-box;}
footer .footer,footer .footer a + span {color:rgba(52,66,78,0.3)}
footer .footer a,footer .footer span{color:#34424e; font-size:13px; text-align:center; letter-spacing:-0.24px; opacity:0.8;}
footer .footer em {font-size:11px;}
footer .lang {display:inline; position:relative; cursor:pointer;}
footer .lang ul {display:none; position:absolute; top:-40px; right:0; width:60px; border:1px solid #b6c5d1; border-radius:3px;}
footer .lang ul.active{display:block;}
footer .lang ul li {width:100%; height:30px; color:#34424e; font-size:13px; text-align:center; line-height:30px; letter-spacing:-0.24px; background:#fff;}
footer .lang ul li.active {background-color:#dee3f7;}
footer p {margin:10px 0 0 0;}
footer .m_lang {display:none;}

@media screen and (max-height:910px) {
    .registrationContent .signUpCompleteWrap {padding:33px 0 50px;}
    footer {position:relative;}
}
/* Mobile Layout */
@media screen and (max-width:768px) {
    .btn {width:100%;}
    .btn_box {width:90%;}
    .loginWrap {padding:50px 15px 0;}
    .loginWrap .loginBox {width:100%;}
    .tooltip {height:50px; margin:0 0 30px;}
    .tooltip .tooltip_box:before {display:none;}
    .tooltip .tooltip_box:after {display:none;}
    .agreeBox{width:100%; padding:0 15px 30px; box-sizing:border-box;}
    .checks {padding:0 0 5px 2px;}
    .agreeBox a {width:calc(50% - 5px);}
    .agreeBox a + a {width:calc(50% - 5px);}

    .signUpBox {width:100%; padding:0 15px 30px; box-sizing:border-box;}
    .signUpBox .select_form .selectarea {margin:0 0 20px 0;}
    .signUpBox .checks:first-child {min-width:90px;}
    .signUpBox .checks:nth-child(2) {min-width:107px;}
    .signUpBox .checks input[type="checkbox"] + label em {margin:0 2px 0 0; font-size:16px;}
    .signUpCompleteWrap {padding:50px 15px 30px;}
    .signUpConfirmBox,.signUpCompleteBox {width:100%; padding:0 15px; box-sizing:border-box;}
    .signUpCompleteBox a {width:100%; margin:0 auto 20px;}
    .signUpCompleteWrap .btn a,.paymentConfirmWrap .btn a {width:calc(50% - 5px);}

    .paymentConfirmWrap {padding:50px 15px 30px;}
    .paymentConfirmWrap .paymentConfirmBox {width:100%; padding:0 15px 30px; box-sizing:border-box;}

    .passwordWrap {padding:50px 15px 30px;}
    .passwordBox {width:100%;}

    footer {position:relative;}
    footer .lang {display:none;}
    footer .footer a + span {display:none;}
    footer .m_lang{display:block; margin:20px 0 0; color:#34424e; font-size:13px; font-weight:bold; text-align:center; letter-spacing:-0.24px;}
    footer .m_lang a {margin:0 0 0 50px; color:#34424e; font-size:13px; font-weight:normal; text-align:center; letter-spacing:-0.24px;opacity:0.8;}
}
